{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('user') }}">Personas</a></li>
    <li><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</a></li>
    <li class="current"><a href="{{ path('user_drop', { 'id': entity.id }) }}" title="">Eliminar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Personas: {{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataDelete">

    <div class="widget fluid clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Eliminar Persona{% endfilter %}</h6>
        </div>
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                <span class="name"><strong>{{ app.user.names ~ ' ' ~ app.user.surname ~ ' ' ~ app.user.lastname }}</strong>:</span>
            </div>
            ¿Está seguro de querer eliminar al usuario <strong>{{ entity.names }} {{ entity.surname }} {{ entity.lastname }}</strong> con id <strong>{{ entity.id}}?</strong>
        </div>

        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('user') }}" class="sideB bGreyish mt10">Cancelar</a>
                </li>
                <li>
                    <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit" class="sideB bRed mt10">Eliminar</button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
    </div>
    
</div>
<!-- /.dataView -->

{% endblock %}
