{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('user') }}">Personas</a></li>
    <li><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname  }}</a></li>
    <li class="current"><a href="{{ path('user_edit', { 'id': entity.id }) }}">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Personas: {{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

    <form action="{{ path('user_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="formControl crud main">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Persona{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">
                
                <div class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.surname, 'Apellido Paterno') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.surname) }}
                            {% if form_errors(edit_form.surname) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.surname) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.lastname, 'Apellido Materno') }}</div>
                        <div class="grid9">
                            {{ form_widget(edit_form.lastname) }}
                            {% if form_errors(edit_form.lastname) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.lastname) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.names, 'Nombres') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.names) }}
                            {% if form_errors(edit_form.names) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.names) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.identity, 'Tipo de Documento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.identity, {'empty_value': 'SELECCIONE UNA OPCIÓN'} ) }}
                            {% if form_errors(edit_form.identity) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.identity) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.numberidentity, 'Número de Documento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.numberidentity) }}
                            {% if form_errors(edit_form.numberidentity) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.numberidentity) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.birthday, 'Fecha de Nacimiento') }}</div>
                        <div class="grid9">
                            {{ form_widget(edit_form.birthday, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(edit_form.birthday) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.birthday) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.birthplace, 'Lugar de Nacimiento') }}</div>
                        <div class="grid9">
                            {{ form_widget(edit_form.birthplace) }}
                            {% if form_errors(edit_form.birthplace) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.birthplace) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.marital_status, 'Estado Civil') }}</div>
                        <div class="grid9">
                            {{ form_widget(edit_form.marital_status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.marital_status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.marital_status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.sex, 'Sexo') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.sex, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.sex) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.sex) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.email, 'Correo Personal') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.email) }}
                            {% if form_errors(edit_form.email) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.email) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.phone, 'Teléfono(s)') }}</div>
                        <div class="grid4">
                            {{ form_widget(edit_form.phone) }}
                            {% if form_errors(edit_form.phone) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.phone) }}</div>
                            {% endif %}
                        </div>
                        <div class="grid5"></div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.enabled, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.enabled, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.enabled) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.enabled) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% if edit_form.roles is defined %}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.roles, 'Roles') }}</div>
                        <div class="grid9 checker">
                            {{ form_widget(edit_form.roles, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.roles) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.roles) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="hide">
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
        
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('user') }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('user_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            <li>
                <a href="{{ path('user_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
