{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('user') }}">Personas</a></li>
    <li class="current"><a href="{{ path('user_import') }}">Importar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Personas</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget crud tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Importar Personas{% endfilter %}</h6>
        </div>
        
        <form action="{{ path('user_import') }}" method="post" {{ form_enctype(form) }} class="formImport main importFile">

            <div>
                <div class="formRow clearfix">
                    <div class="grid3"><label>Plantilla</label></div>
                    <div class="grid9">
                        <p><a href="{{ path('user_downloadtemplate', { 'type': 'working' }) }}">importar-personas-laboral.xlsx</a></p>
                        <p><a href="{{ path('user_downloadtemplate', { 'type': 'school' }) }}">importar-personas-colegio.xlsx</a></p>
                        <p><a href="{{ path('user_downloadtemplate', { 'type': 'university' }) }}">importar-personas-universidad.xlsx</a></p>
                    </div>
                </div>
                <div class="formRow clearfix">
                    <div class="grid3">{{ form_label(form.file, 'Archivo') }}<span class="req">*</span></div>
                    <div class="grid3">{{ form_widget(form.file) }}</div>
                </div>
                <div class="formRow clearfix">
                    <div class="grid3">{{ form_label(form.type, 'Tipo') }}<span class="req">*</span></div>
                    <div class="grid9">{{ form_widget(form.type, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}</div>
                </div>
            </div>
            
            <div class="hide">
                {{ form_rest(form) }}
            </div>
            
            <div class="menuCrud clearfix">
                <ul>
                    <li>
                        <button name="import" type="submit" class="sideB bGreyish mt10 buttonImport">Importar</button>
                    </li>
                    <li>
                        <a href="{{ path('user') }}" class="sideB bGreyish mt10">
                           Cerrar 
                        </a>
                    </li>
                    <li>
                </ul>
            </div>
            <!-- /.menuCrud -->

        </form>
        
        {% if people %}
        <div class="dataListTable insideTable importTable importTableUser">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Código</th>
                        <th>Ape. Paterno</th>
                        <th>Ape. Materno</th>
                        <th>Nombres</th>
                        <th>Email</th>
                        {% if data.type == 'working' %}
                        <th>Unidad</th>
                        <th>Cargo</th>
                        {% elseif data.type == 'school' %}
                        <th>Grado</th>
                        <th>Año de Estudio</th>
                        {% elseif data.type == 'university' %}
                        <th>Facultad</th>
                        <th>Carrera</th>
                        <th>Ciclo Académico</th>
                        {% endif %}
                        <th>Mensajes</th>
                        <th>Válido</th>
                    </tr>
                </thead>
                <tbody>
                {% for person in people %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ person.code }}</td>
                        <td>{{ person.surname }}</td>
                        <td>{{ person.lastname }}</td>
                        <td>{{ person.names }}</td>
                        <td>{{ person.email }}</td>
                        {% if data.type == 'working' %}
                        <td>{{ person.ou_name}}</td>
                        <td>{{ person.charge_name }}</td>
                        {% elseif data.type == 'school' %}
                        <td>{{ person.grade_code|gradeName }}</td>
                        <td>{{ person.study_year }}</td>
                        {% elseif data.type == 'university' %}
                        <td>{{ person.faculty_name }}</td>
                        <td>{{ person.career_name }}</td>
                        <td>{{ person.academic_year }}</td>
                        {% endif %}
                        <td>{{ person.message|raw}}</td>
                        <td>{{ person.valid|validToString}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
            
        </div>
        <!-- /.dataListTable -->
        {% endif %}
    </div>
    <!-- /.tableDefault -->
        
    {%if form2 %}
    <form action="{{ path('user_import') }}" method="post" {{ form_enctype(form2) }} class="main formControl">

        <div class="menuCrud clearfix">

            <div class="hide clearfix">
                <div>{{ form_label(form2.temporalimportdata_id, 'Id') }}</div>
                <div>{{ form_widget(form2.temporalimportdata_id) }}</div>
            </div>

            <ul>
            {# disabled if not complete records #}
            {% if disabled_valid == 0 %}
                <li>
                    <button name="save" disabled value="1" type="submit" class="sideB bGreyish mt10">Guardar</button>
                </li>
                <li>
                    <button name="buttonsac" value="0" type="submit" class="buttonSaveAndClose sideB bRed mt10">>Guardar y Cerrar</button>
                </li>
            {% else %}
                <li>
                    <button name="save" value="1" type="submit" class="sideB bGreyish mt10">Guardar</button>
                </li>
                <li>
                    <input type="hidden" name="saveandclose" value="0" class="saveAndClose" />
                    <button name="buttonsac" value="1" type="submit" class="buttonSaveAndClose sideB bRed mt10">Guardar y Cerrar</button>
                </li>
            {% endif %}
                <li>
                    <a id="close-button" href="#confirmation-box" class="sideB bGreyish mt10">Cerrar</a>
                    <div class="hide">
                        <div id="confirmation-box" class="clearfix">
                            <p>Aún no ha guardado los datos de importación. Si presiona continuar perderá esta información ¿Desea continuar?</p>
                            <div class="confirmationButton clearfix">
                                <a href="{{ path('user') }}" class="sideB bRed mt10 mb10 submit f-left">
                                    Continuar 
                                </a>
                                <a href="#" class="fancybox-close sideB bGreyish mt10 mb10 submit f-left" >
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
    
    </form> 
{% endif %}
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/confirmation_message.js') }}"></script>
{% endblock %}
