{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('user') }}">Personas</a></li>
    <li class="current"><a href="{{ path('user_new') }}" title="">Crear</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Personas</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }} class="formControl crud main">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Crear Persona{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">
                
                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.surname, 'Apellido Paterno') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.surname) }}
                            {% if form_errors(form.surname) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.surname) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.lastname, 'Apellido Materno') }}</div>
                        <div class="grid9">
                            {{ form_widget(form.lastname) }}
                            {% if form_errors(form.lastname) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.lastname) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.names, 'Nombres') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.names) }}
                            {% if form_errors(form.names) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.names) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.identity, 'Tipo de Documento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.identity, {'empty_value': 'SELECCIONE UNA OPCIÓN'} ) }}
                            {% if form_errors(form.identity) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.identity) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.numberidentity, 'Número de Documento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.numberidentity) }}
                            {% if form_errors(form.numberidentity) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.numberidentity) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.birthday, 'Fecha de Nacimiento') }}</div>
                        <div class="grid9">
                            {{ form_widget(form.birthday, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(form.birthday) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.birthday) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.birthplace, 'Lugar de Nacimiento') }}</div>
                        <div class="grid9">
                            {{ form_widget(form.birthplace) }}
                            {% if form_errors(form.birthplace) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.birthplace) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.marital_status, 'Estado Civil') }}</div>
                        <div class="grid9">
                            {{ form_widget(form.marital_status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.marital_status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.marital_status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.sex, 'Sexo') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.sex, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.sex) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.sex) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.email, 'Correo Personal') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.email) }}
                            {% if form_errors(form.email) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.email) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.phone, 'Teléfono(s)') }}</div>
                        <div class="grid4">
                            {{ form_widget(form.phone) }}
                            {% if form_errors(form.phone) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.phone) }}</div>
                            {% endif %}
                        </div>
                        <div class="grid5"></div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.enabled, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.enabled, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.enabled) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.enabled) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% if form.roles is defined %}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.roles, 'Roles') }}</div>
                        <div class="grid9 checker">
                            {{ form_widget(form.roles, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.roles) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.roles) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('user') }}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
        
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
