{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('user') }}">Personas</a></li>
    <li class="current"><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Personas: {{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('user_import') }}" class="sideB bGreyish mt10">
                    Importar Personas
                </a>
            </li>
            <li>
                <a href="{{ path('user_new') }}" class="sideB bGreyish mt10">
                    Crear Persona
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de Persona{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li class="activeTab"><a href="{{ path('user_show', { 'id': entity.id }) }}">General</a></li>
                    <li><a href="{{ path('workinginformation', { 'userid': entity.id }) }}">Laboral</a></li>
                    <li><a href="{{ path('schoolinformation', { 'userid': entity.id }) }}">Colegio</a></li>
                    <li><a href="{{ path('universityinformation', { 'userid': entity.id }) }}">Universidad</a></li>
                    <li><a href="{{ path('permission', { 'userid': entity.id }) }}">Permisos</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Usuario</th>
                            <td>{{ entity.username }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Apellido Paterno</th>
                            <td>{{ entity.surname }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Apellido Materno</th>
                            <td>{{ entity.lastname }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Nombres</th>
                            <td>{{ entity.names }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Tipo de Documento</th>
                            <td>{{ entity.identity|identityName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Número de Documento</th>
                            <td>{{ entity.numberidentity }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Fecha de Nacimiento</th>
                            <td>{% if entity.birthday %}{{ entity.birthday|date('d/m/Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th class="textL">Lugar de Nacimiento</th>
                            <td>{{ entity.birthplace }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado Civil</th>
                            <td>{{ entity.maritalstatus|maritalstatusName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Sexo</th>
                            <td>{{ entity.sex|sexName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Correo Personal</th>
                            <td>{{ entity.email }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Teléfono(s)</th>
                            <td>{{ entity.phone }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Rol</th>
                            <td>{% for rol in entity.roles %} {{ rol|rolName ~ ', ' }} {% endfor %} Participante</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.enabled|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('user') }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('user_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            <li>
                <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
