{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('company') }}">Empresas</a></li>
    <li><a href="{{ path('company_show', { 'id': entity.company.id }) }}">{{ entity.company.name }}</a></li>
    <li><a href="{{ path('headquarter', { 'companyid': entity.company.id }) }}">Sedes</a></li>
    <li><a href="{{ path('headquarter_show', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
    <li class="current"><a href="{{ path('headquarter_edit', { 'id': entity.id }) }}">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Empresas: {{ entity.company.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

    <form action="{{ path('headquarter_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Sede{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.code, 'Código') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.code) }}
                            {% if form_errors(edit_form.code) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.code) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.name, 'Nombre') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.name) }}
                            {% if form_errors(edit_form.name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTwoField clearfix">
                        <div class="grid3"><label>Dirección</label><span class="req">*</span></div>
                        <div class="grid9">
                            <div class="grid4 formVia">
                                {{ form_widget(edit_form.via, { 'empty_value': 'SELECCIONE' }) }}
                                {% if form_errors(edit_form.via) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.via) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid8 formAddress">
                                {{ form_widget(edit_form.address) }}
                                {% if form_errors(edit_form.address) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.address) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.urbanization, 'Urbanización') }}</div>
                        <div class="grid9">
                            {{ form_widget(edit_form.urbanization) }}
                            {% if form_errors(edit_form.urbanization) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.urbanization) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.country, 'País') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.country, { 'empty_value': 'SELECCIONE UNA OPCIÓN', 'attr': { 'class': 'countryselect' } }) }}
                            {% if form_errors(edit_form.country) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.country) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formDepartment clearfix">
                        <div class="grid3"><label for="ubigeo_department" class="required">Departamento</label><span class="req">*</span></div>
                        <div class="grid9 select_department">
                           {{ selectDepartment|raw }}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formProvince clearfix">
                        <div class="grid3"><label for="ubigeo_province" class="required">Provincia</label><span class="req">*</span></div>
                        <div class="grid9 select_province">
                           {{ selectProvince|raw }}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formDistrict clearfix">
                        <div class="grid3"><label for="ubigeo_district" class="required">Distrito</label><span class="req">*</span></div>
                        <div class="grid9 select_district">
                           {{ selectDistrict|raw }}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formCity clearfix">
                        <div class="grid3">{{ form_label(edit_form.city, 'Ciudad') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.city) }}
                            {% if form_errors(edit_form.city) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.city) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.phone_station, 'Central Telefónica') }}</div>
                        <div class="grid3">
                            {{ form_widget(edit_form.phone_station) }}
                            {% if form_errors(edit_form.phone_station) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.phone_station) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_widget(edit_form.department, { 'attr': { 'class' : 'departmentvalue' }, 'value' : entity.department }) }}
                        {{ form_widget(edit_form.province, { 'attr': { 'class' : 'provincevalue' }, 'value' : entity.province }) }}
                        {{ form_widget(edit_form.district, { 'attr': { 'class' : 'districtvalue' }, 'value' : entity.district }) }}
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
        
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('headquarter', { 'companyid': entity.company.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('headquarter_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            <li>
                <a href="{{ path('headquarter_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{{globaljavascript|raw}}
<script type="text/javascript" src="{{ asset('js/ubigeo_ajax.js') }}"></script>
{% endblock %}
