{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('company') }}">Empresas</a></li>
    <li><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.name }}</a></li>
    <li class="current"><a href="{{ path('headquarter', { 'companyid': company.id }) }}">Sedes</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Empresas: {{ company.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('headquarter_new', { 'companyid': company.id }) }}" class="sideB bGreyish mt10">
                    Crear Sede
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de Sede{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('company_show', { 'id': company.id }) }}">General</a></li>
                    <li class="activeTab"><a href="{{ path('headquarter', { 'companyid': company.id }) }}">Sedes</a></li>
                    <li><a href="{{ path('companyorganizationalunit', { 'companyid': company.id }) }}">Unidades Organizativas</a></li>
                    <li><a href="{{ path('companycharge', { 'companyid': company.id }) }}">Cargos</a></li>
                    {% if company.companytype == 'university' %}
                        <li><a href="{{ path('companyfaculty', { 'companyid': company.id }) }}">Facultades</a></li>
                        <li><a href="{{ path('companycareer', { 'companyid': company.id }) }}">Carreras</a></li>
                    {% endif %}
                    {% if company.companytype != 'working' %}
                        <li><a href="{{ path('companycourse', { 'companyid': company.id }) }}">Cursos</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formRowWord formRowWordOnly clearfix">
                        {{ form_label(form.word, 'Id / Código / Nombre') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow formSequence clearfix">
                        {{ form_label(form.via, 'Vía') }}
                        <div>{{ form_widget(form.via, { 'empty_value': 'Todas' }) }}</div>
                    </div>
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.address, 'Dirección') }}
                        <div>{{ form_widget(form.address) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.country, 'País') }}
                        <div>{{ form_widget(form.country, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow formDepartment formActiveOff clearfix">
                        <label for="ubigeo_department">Departamento</label>
                        <div class="select_department">{{ selectDepartment|raw }}</div>
                    </div>
                    <div class="formRow formProvince formActiveOff clearfix">
                        <label for="ubigeo_province">Provincia</label>
                        <div class="select_province">{{ selectProvince|raw }}</div>
                    </div>
                    <div class="formRow formDistrict formActiveOff clearfix">
                        <label for="ubigeo_district">Distrito</label>
                        <div class="select_district">{{ selectDistrict|raw }}</div>
                    </div>
                    <div class="formRow formCity formActiveOff clearfix">
                        {{ form_label(form.city, 'Ciudad') }}
                        <div>{{ form_widget(form.city) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.status, 'Estado') }}
                        <div>{{ form_widget(form.status, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->
        
        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>País</th>
                        <th>Departamento</th>
                        <th>Provincia</th>
                        <th>Distrito</th>
                        <th>Ciudad</th>
                        <th>Modificado por</th>
                        <th>Última modificación</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('headquarter_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td><a href="{{ path('headquarter_show', { 'id': entity.id }) }}">{{ entity.code }}</a></td>
                        <td><a href="{{ path('headquarter_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                        <td>{{ entity.via|viaName ~ ' ' ~ entity.address }}</td>
                        <td>{{ entity.country }}</td>
                        <td>{{ entity.department }}</td>
                        <td>{{ entity.province }}</td>
                        <td>{{ entity.district }}</td>
                        <td>{{ entity.city }}</td>
                        <td>{{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</td>
                        <td>{% if entity.changed %}{{ entity.changed|date('d/m/Y - H:i') }}{% endif %}</td>
                        <td>{{ entity.status|statusName }}</td>
                        <td class="actionsButtons">
                            <ul>
                                <li>
                                    <a href="{{ path('headquarter_show', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('headquarter_edit', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Editar"><span class="icos-pencil"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('headquarter_drop', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Eliminar"><span class="icos-cross"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'headquarter', 'rparams': { 'companyid': company.id, 'form': form_data }, 'id': 'headquarter' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{{globaljavascript|raw}}
<script type="text/javascript" src="{{ asset('js/ubigeo_ajax.js') }}"></script>
{% endblock %}
