{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('company') }}">Empresas</a></li>
    <li><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.name }}</a></li>
    <li><a href="{{ path('headquarter', { 'companyid': company.id }) }}">Sedes</a></li>
    <li class="current"><a href="{{ path('headquarter_new', { 'companyid': company.id }) }}">Crear</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Empresas: {{ company.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <form action="{{ path('headquarter_create', { 'companyid': company.id }) }}" method="post" {{ form_enctype(form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Crear Sede{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.code, 'Código') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.code) }}
                            {% if form_errors(form.code) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.code) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.name, 'Nombre') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.name) }}
                            {% if form_errors(form.name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTwoField clearfix">
                        <div class="grid3"><label>Dirección</label><span class="req">*</span></div>
                        <div class="grid9">
                            <div class="grid4 formVia">
                                {{ form_widget(form.via, { 'empty_value': 'SELECCIONE' }) }}
                                {% if form_errors(form.via) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.via) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid8 formAddress">
                                {{ form_widget(form.address) }}
                                {% if form_errors(form.address) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.address) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.urbanization, 'Urbanización') }}</div>
                        <div class="grid9">
                            {{ form_widget(form.urbanization) }}
                            {% if form_errors(form.urbanization) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.urbanization) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.country, 'País') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.country, { 'empty_value': 'SELECCIONE UNA OPCIÓN', 'attr': { 'class': 'countryselect' } }) }}
                            {% if form_errors(form.country) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.country) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow {#formActiveOff#} formDepartment clearfix">
                        <div class="grid3"><label for="ubigeo_department" class="required">Departamento</label><span class="req">*</span></div>
                        <div class="grid9 select_department">
                           {{ selectDepartment|raw }}
                        </div>
                    </div>
                    <div class="formRow {#formActiveOff#} formProvince clearfix">
                        <div class="grid3"><label for="ubigeo_province" class="required">Provincia</label><span class="req">*</span></div>
                        <div class="grid9 select_province">
                           {{ selectProvince|raw }}
                        </div>
                    </div>
                    <div class="formRow {#formActiveOff#} formDistrict clearfix">
                        <div class="grid3"><label for="ubigeo_district" class="required">Distrito</label><span class="req">*</span></div>
                        <div class="grid9 select_district">
                           {{ selectDistrict|raw }}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formCity clearfix">
                        <div class="grid3">{{ form_label(form.city, 'Ciudad') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.city) }}
                            {% if form_errors(form.city) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.city) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.phone_station, 'Central Telefónica') }}</div>
                        <div class="grid3">
                            {{ form_widget(form.phone_station) }}
                            {% if form_errors(form.phone_station) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.phone_station) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.status, { 'empty_value': 'SELECCIONE UNA OPCIÓN', 'value': '1' }) }}
                            {% if form_errors(form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_widget(form.department, { 'attr': { 'class' : 'departmentvalue' } }) }}
                        {{ form_widget(form.province, { 'attr': { 'class' : 'provincevalue' } }) }}
                        {{ form_widget(form.district, { 'attr': { 'class' : 'districtvalue' } }) }}
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('headquarter', { 'companyid': company.id }) }}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
                
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{{globaljavascript|raw}}
<script type="text/javascript" src="{{ asset('js/ubigeo_ajax.js') }}"></script>
{% endblock %}
