{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
<span class="icon-screen"></span>Taller : {{ workshopscheduling.name }}
{% else %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endif %}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
    <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_admin_report_poll_follow', { 'workshopschedulingid': workshopscheduling.id }) }}">Reportes : Seguimiento de Encuestas</a></li>
    {% else %}
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_report_poll_follow') }}">Reportes : Seguimiento de Encuestas</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Reportes</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="menuCrud clearfix">
        <ul>
            {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
            <li><a href="{{ path('fishman_front_end_workshop_admin_report_poll_follow_export', { 'workshopschedulingid': workshopscheduling.id })}}" class="sideB bGreyish mt10">Exportar a Excel</a></li>
            <li><a href="{{ path('fishman_front_end_workshop_admin_report_poll_follow_print', { 'workshopschedulingid': workshopscheduling.id })}}" class="sideB bGreyish mt10" target="_blank">Versión de impresión</a></li>
            {% else %}
            <li><a href="{{ path('fishman_front_end_workshop_report_poll_follow_export')}}" class="sideB bGreyish mt10">Exportar a Excel</a></li>
            <li><a href="{{ path('fishman_front_end_workshop_report_poll_follow_print')}}" class="sideB bGreyish mt10" target="_blank">Versión de impresión</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Seguimiento de Encuestas{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formSequence clearfix">
                        {{ form_label(form.sequence, 'Orden') }}
                        <div>{{ form_widget(form.sequence, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Nombre') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow formText clearfix">
                        {{ form_label(form.resolved, 'Resuelto') }}
                        <div>{{ form_widget(form.resolved) }}</div>
                    </div>
                    <div class="formRow formDuration clearfix">
                        {{ form_label(form.duration, 'Duración') }}
                        <div>
                            {{ form_widget(form.duration) }}
                            {{ form_widget(form.period, { 'empty_value': 'Todos' }) }}
                        </div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.initdate, 'Inicio') }}
                        <div>{{ form_widget(form.initdate, { 'attr': { 'class': 'datepicker', 'value': form.initdate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.enddate, 'Fin') }}
                        <div>{{ form_widget(form.enddate, { 'attr': { 'class': 'datepicker', 'value': form.enddate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Nombre</th>
                        <th>Resuelto</th>
                        <th>Duración</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Avance</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for poll in polls %}
                    <tr>
                        <td>{{ poll.sequence }}</td>
                        {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
                        <td><a href="{{ path('fishman_front_end_workshop_admin_report_poll_follow_show', { 'workshopschedulingid': workshopscheduling.id, 'pollid': poll.id }) }}">{{ poll.title }}</a></td>
                        {% else %}
                        <td><a href="{{ path('fishman_front_end_workshop_report_poll_follow_show', { 'pollid': poll.id }) }}">{{ poll.title }}</a></td>
                        {% endif %}
                        <td>{{ poll.time_number }}</td>
                        <td>{{ poll.duration ~ ' ' ~ poll.period|periodName }}</td>
                        <td>{% if poll.initdate %}{{ poll.initdate|date('j/n/Y') }}{% endif %}</td>
                        <td>{% if poll.enddate %}{{ poll.enddate|date('j/n/Y') }}{% endif %}</td>
                        <td>{{ poll.percentaje|number_format(0) }}%</td>
                        <td class="actionsButtons actionsButtonsView">
                            <ul>
                                <li>
                                    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
                                    <a href="{{ path('fishman_front_end_workshop_admin_report_poll_follow_show', { 'workshopschedulingid': workshopscheduling.id, 'pollid': poll.id }) }}" title ="detalle" class="tablectrl_small bDefault"><span class="icos-preview"></span></a>
                                    {% else %}
                                    <a href="{{ path('fishman_front_end_workshop_report_poll_follow_show', { 'pollid': poll.id }) }}" title ="detalle" class="tablectrl_small bDefault"><span class="icos-preview"></span></a>
                                    {% endif %}
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
              <div class="dataTables_info">{{ info_paginator }}</div>
              {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
              {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_workshop_admin_report_poll_follow', 'rparams': { 'workshopschedulingid': workshopscheduling.id, 'form': form_data }, 'id': 'workshoppolls' } %}
              {% else %}
              {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_workshop_report_poll_follow', 'rparams': { 'form': form_data }, 'id': 'workshoppolls' } %}
              {% endif %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}
