{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
<span class="icon-screen"></span>Taller : {{ workshopscheduling.name }}
{% else %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endif %}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
    <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_admin_report_poll_result', { 'workshopschedulingid': workshopscheduling.id }) }}">Resultado</a></li>
    {% else %}
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_report_poll_result') }}">Reportes : Resultado de Encuestas</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Reportes</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dashboard dataList">

    <div class="widget tableDefault containerReport clearfix">
  
        <div class="whead clearfix">
            <h6>{% filter upper %}Resultado de Encuestas{% endfilter %}</h6>
        </div>
          
        <div class="formCrudCreate">
            
            <form action="" method="post"  class="crud main">
            
                <div class="fluid tableDefault clearfix">
                        
                    <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">
                        
                        <div class="grid12">
                          
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Encuesta</label><span class="req">*</span></div>
                                <div class="grid6">
                                    <select name="options_poll" id="options_poll" required >
                                        <option value>SELECCIONE UNA OPCIÓN</option>
                                        {% for poll in polls %}
                                            {% if poll.id != pollData %}
                                                <option value="{{ poll.id }}">{{ poll.title }}</option>
                                            {% else %}
                                                <option selected value="{{ poll.id }}">{{ poll.title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
    
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Periodo</label><span class="req">*</span></div>
                                <div class="grid6 pollschedulingsByPoll">
                                    <div class="leftBox">
                                        <select name="asigned_options[data1][]" class="multiple selectOptionsData1" multiple="multiple">
                                        {% for pollscheduling in pollschedulings %}
                                            {% if pollschedulingsData is not null %}
                                                {% if pollscheduling.id not in pollschedulingsData['data2'] %}
                                                <option value="{{ pollscheduling.id }}">
                                                    {{ pollscheduling.key ~ ' - ' ~ pollscheduling.period }}
                                                </option>
                                                {% endif %}
                                            {% else %}
                                                <option value="{{ pollscheduling.id }}">
                                                    {{ pollscheduling.key ~ ' - ' ~ pollscheduling.period }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>
                                    </div>
                                    <div class="dualControl">
                                        <button id="moveToRightOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&gt;&nbsp;</button>
                                        <button id="moveToAllRightOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&gt;&gt;&nbsp;</button>
                                        <button id="moveToLeftOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&lt;&nbsp;</button>
                                        <button id="moveToAllLeftOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&lt;&lt;&nbsp;</button>
                                    </div>  
                                    <div class="rightBox">
                                        <select name="asigned_options[data2][]" class="multiple selectOptionsData2" multiple="multiple">
                                        {% if pollschedulingsData is not null %}
                                            {% for pollscheduling in pollschedulings %}
                                                {% if pollscheduling.id in pollschedulingsData['data2'] %}
                                                <option selected value="{{ pollscheduling.id }}">
                                                    {{ pollscheduling.key ~ ' - ' ~ pollscheduling.initdate|date('d/m/Y') ~ ' - ' ~ pollscheduling.enddate|date('d/m/Y') }}
                                                </option>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Evaluado</label><span class="req">*</span></div>
                                <div class="grid6 evaluatedsByPollschedulings">
                                    <select name="options_evaluated" id="options_evaluated" required >
                                        <option value>SELECCIONE UNA OPCIÓN</option>
                                        {% for evaluated in evaluateds %}
                                            {% if evaluated.id != evaluatedData %}
                                            <option value="{{ evaluated.id }}">
                                                {{ evaluated.surname ~ ' ' ~ evaluated.lastname ~ ', ' ~ evaluated.names }}
                                            </option>
                                            {% else %}
                                            <option selected value="{{ evaluated.id }}">
                                                {{ evaluated.surname ~ ' ' ~ evaluated.lastname ~ ', ' ~ evaluated.names }}
                                            </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Agrupado por</label><span class="req">*</span></div>
                                <div class="grid6">
                                    <select name="options_level" id="options_level" required>
                                        <option value>SELECCIONE UNA OPCIÓN</option>
                                        {% for key, value in levels %}
                                            {% if key != levelData %}
                                            <option value="{{ key }}">{{ value }}</option>
                                            {% else %}
                                            <option selected value="{{ key }}">{{ value }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                          
                        </div>
      
                    </fieldset>
                    
                </div>
                <!-- /.tableDefault -->
                
                <div class="reportDashboardButton menuCrud clearfix">
                    <ul class="record_actions">
                        <li><button type="submit" name="gerate_report" value="1" class="autoselectOptionData2 sideB bGreyish mt10">Generar Reporte</button></li>
                        {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' or profile == 'company' %}
                            {% if pollschedulingids != '' and evaluatedData != '' %}
                                {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
                                <li><a href="{{ path('fishman_front_end_workshop_admin_report_poll_result_export', { 'workshopschedulingid': workshopscheduling.id, 'pollschedulingids': pollschedulingids, 'evaluatedid': evaluatedData })}}" class="sideB bRed mt10">Exportar a Excel</a></li>
                                {% elseif profile == 'company'%}
                                <li><a href="{{ path('fishman_front_end_workshop_report_poll_result_export', { 'pollschedulingids': pollschedulingids, 'evaluatedid': evaluatedData })}}" class="sideB bRed mt10">Exportar a Excel</a></li>
                                {% endif %}
                            {% else %}
                            <li><span class="sideB bRed mt10 spanButton">Exportar a Excel</span></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="javascript:window.print()" class="sideB bRed mt10">Imprimir</a></li>
                    </ul>
                </div>
                <!-- /.menuCrud -->
                
            </form>
        
        </div>
        <!-- /.formCrudCreate -->

    </div>
    <!-- /.tableDefault -->
    
    {% if report_results is defined %}
    
    <div class="widget tableDefault clearfix">
        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th></th>
                        {% for header in header_results %}
                            <th>{{ header }}</th>
                        {% endfor %}
                        <th><strong>Total empresa</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mandatory">Top 25%</td>
                        {% for i in range(0, count_horizontal - 1) %}
                            <td>{{ ranking_top[i]|number_format(2) }}%</td>
                        {% endfor %}
                        <td><strong>{{ ranking_top_total|number_format(2) }}%</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="widget tableDefault clearfix">
        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Sección / Pregunta</th>
                        {% set i = 0 %}
                    {% for header in header_results %}
                        <th>{{ header }}</th>
                    {% endfor %}
                        <th><strong>Promedio Total</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    <tr>
                        <td class="mandatory">Número de Evaluadores</td>
                        {% for j in range(0, count_horizontal - 1) %}
                            <td>{{ number_evaluators[j] }}</td>
                        {% endfor %}
                        <td></td>
                    </tr>
                    {% for i in range(0, count_vertical - 1) %}
                    <tr>
                        {% set j = 0 %}
                        <td>{{ title_results[i].title|raw }}</td>
                        {% for j in range(0, count_horizontal - 1) %}
                            <td>{{ report_results[j][i].percentage|number_format(2) }}%</td>
                            {% set j = j + 1 %}
                        {% endfor %}
                        <td><strong>{{ report_rows[i]|number_format(2) }}%</strong></td>
                    </tr>
                    {% set i = i + 1 %}
                    {% endfor %}
                    <tr>
                        <td><strong>Promedio Total</strong></td>
                        {% for total in total_results %}
                            <td><strong>{{ total.percentage|number_format(2) }}%</strong></td>
                        {% endfor %}
                        <td><strong>{{ row_results|number_format(2) }}%</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    {% endif %}
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_options_move.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{{ globaljavascript|raw }}
<script type="text/javascript">
  var workshopschedulingid = {{ workshopschedulingid }};
  var companyid = {{ workshopscheduling.company.id }};
  var ids = '{{ ids }}';
</script>
<script type="text/javascript" src="{{ asset('js/report_result_ajax.js') }}"></script>
{% endblock %}
