<select class="allCategories">
    {% for category in categories %}
        {% if category.id == current_category %}
            <option selected="selected" value="{{ category.id }}">{{ category.name }}</option>
        {% else %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endif %}
    {% endfor %}
</select>
