{% extends '::base_error.html.twig' %}

{% block title %}A ocurrido un error: {{ status_text }}{% endblock %}

{% block body %}
{{ parent() }}

<span class="errorNum">{{ status_code }}</span>
<div class="errorContent">
    <span class="errorDesc"><span class="icon-warning"></span>A ocurrido un error: {{ status_text }}</span>
</div>

{% endblock %}