{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    <li><a href="{{ path('workshopschedulingpoll', { 'workshopschedulingid': workshopscheduling.id }) }}">Encuestas</a></li>
    <li><a href="{{ path('workshopschedulingpoll_show', { 'id': entity.id }) }}">{{ entity.title ~ ' ' ~ entity.version }}</a></li>
    <li class="current"><a href="{{ path('workshopschedulingpoll_preview', { 'id': entity.id }) }}">Previsualizar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ workshopscheduling.name ~ ': ' ~ entity.title ~ ' ' ~ entity.version ~ ' : Previsualizar' }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="resolvePoll">

    <div class="dashboard widget fluid clearfix">
        <div class="whead clearfix">
            <h6>{% filter upper %}Mensaje: Agradecimiento{% endfilter %}</h6>
        </div>
        <div class="messageArea">
            {{ message|raw }}
        </div>
    </div>
    
</div>
<!-- /.dataList -->

{% endblock %}
