{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    <li><a href="{{ path('workshopschedulingpoll', { 'workshopschedulingid': workshopscheduling.id }) }}">Encuestas</a></li>
    <li><a href="{{ path('workshopschedulingpoll_show', { 'id': entity.id }) }}">{{ entity.title ~ ' ' ~ entity.version }}</a></li>
    <li class="current"><a href="{{ path('workshopschedulingpoll_preview', { 'id': entity.id }) }}">Previsualizar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ workshopscheduling.name ~ ': ' ~ entity.title ~ ' ' ~ entity.version ~ ' : Previsualizar' }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

{% if page == 1 %}
<p class="mainDescription">{{ entity.description|raw }}</p>
{% endif %}

<div class="resolvePoll">
    
    <div class="widget advanceBarPoll clearfix"> 
        <div class="formRow clearfix">
            <div class="grid2">
                <strong><label>Avance de la Encuesta</label></strong>
            </div>
            <div class="grid10">
              <div id="pai-progress" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">
                  <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 0%; "></div>
              </div>
              <div class="containerCountText"><label class="countText"><strong>0%</strong> | Has respondido 0 preguntas de 100</label></div>
            </div>
        </div>
    </div>
    <!-- /.advancedBarPoll -->

    <div class="dashboard fluid clearfix">
        
        <form action="{{ path('workshopschedulingpoll_preview' , { 'id' : entity.id, 'page': page }) }}" method="post" accept-charset="utf-8">
            
            {{ paginator|raw }}
            
            {{ pollQuestions(questions, 1, preview_multiple)|raw }}
            
            {{ paginator|raw }}
            
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    {% if lastpage != page %}
                    <li>
                        <button type="submit" name="savedraft" value="1" class="sideB bGreyish mt10 spanButton">Guardar en Borrador</button>
                    </li>
                    {% else %}
                    <li>
                        <button type="submit" name="send" value="1" class="sideB bGreyish mt10 spanButton">Enviar Encuesta</button>
                    </li>
                    {% endif %}
                </ul>
            </div>
        
        </form>
        
    </div>
    
</div>
<!-- /.dataList -->

{% endblock %}
