{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('user') }}">Personas</a></li>
    <li><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.names ~ ' ' ~ user.surname ~ ' ' ~ user.lastname }}</a></li>
    <li class="current"><a href="{{ path('permission', { 'userid': user.id }) }}">Permisos</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Personas: {{ user.names ~ ' ' ~ user.surname ~ ' ' ~ user.lastname }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('permission_new', { 'userid': user.id }) }}" class="sideB bGreyish mt10">
                    Asignar Permisos
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Permisos a Reportes{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('user_show', { 'id': user.id }) }}">General</a></li>
                    <li><a href="{{ path('workinginformation', { 'userid': user.id }) }}">Laboral</a></li>
                    <li><a href="{{ path('schoolinformation', { 'userid': user.id }) }}">Colegio</a></li>
                    <li><a href="{{ path('universityinformation', { 'userid': user.id }) }}">Universidad</a></li>
                    <li class="activeTab"><a href="{{ path('permission', { 'userid': user.id }) }}">Permisos</a></li>
                </ul>
            </div>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formText clearfix">
                        {{ form_label(form.word, 'Id') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.company, 'Empresa') }}
                        <div>{{ form_widget(form.company, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.poll, 'Encuesta') }}
                        <div>{{ form_widget(form.poll, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.initdate, 'Inicio') }}
                        <div>{{ form_widget(form.initdate, { 'attr': { 'class': 'datepicker', 'value': form.initdate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.enddate, 'Fin') }}
                        <div>{{ form_widget(form.enddate, { 'attr': { 'class': 'datepicker', 'value': form.enddate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.status, 'Estado') }}
                        <div>{{ form_widget(form.status, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->
        
        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Empresa</th>
                        <th>Encuesta</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Modificado por</th>
                        <th>Última modificación</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('permission_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td><a href="{{ path('company_show', { 'id': entity.company_id }) }}">{{ entity.company }}</a></td>
                        <td><a href="{{ path('poll_show', { 'id': entity.poll_id }) }}">{{ entity.poll }}</a></td>
                        <td>{% if entity.initdate %}{{ entity.initdate|date('d/m/Y') }}{% endif %}</td>
                        <td>{% if entity.enddate %}{{ entity.enddate|date('d/m/Y') }}{% endif %}</td>
                        <td>{{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</td>
                        <td>{% if entity.changed %}{{ entity.changed|date('d/m/Y - H:i') }}{% endif %}</td>
                        <td>{{ entity.status|statusName }}</td>
                        <td class="actionsButtons">
                            <ul>
                                <li>
                                    <a href="{{ path('permission_show', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('permission_edit', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Editar"><span class="icos-pencil"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('permission_drop', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Eliminar"><span class="icos-cross"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'permission', 'rparams': { 'userid': user.id, 'form': form_data }, 'id': 'permission' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
