{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('user') }}">Personas</a></li>
    <li><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.names ~ ' ' ~ user.surname ~ ' ' ~ user.lastname }}</a></li>
    <li><a href="{{ path('permission', { 'userid': user.id }) }}">Permisos</a></li>
    <li class="current"><a href="{{ path('permission_new', { 'userid': user.id }) }}">Crear</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Personas: {{ user.names ~ ' ' ~ user.surname ~ ' ' ~ user.lastname }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate crud">

    <form action="{{ path('permission_create', { 'userid': user.id }) }}" method="post" {{ form_enctype(form) }} class="crudPermission main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Asignar Permisos a Reportes{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.company_id, 'Empresa') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.company_id, { 'empty_value': 'SELECCIONE UNA OPCIÓN', 'attr': { 'class': 'permission_companyselect' } }) }}
                            {% if form_errors(form.company_id) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.company_id) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label for="poll_id" class="required">Encuesta</label><span class="req">*</span></div>
                        <div class="grid9 pollsByCompany">
                            {{ selectPolls|raw }}
                        </div>
                    </div>
                    <div class="formRow formSelectMultiple clearfix">
                        <div class="grid3"><label>Periodo(s)</label><span class="req">*</span></div>
                        <div class="grid9 pollschedulingsByPoll" id="pollschedulings_options">
                            {{ selectPollschedulings|raw }}
                        </div>
                    </div>
                    <div class="formRow formBenchmarkingInternal clearfix">
                        <div class="grid3">{{ form_label(form.benchmarking_internal, 'Benchmarking Interno') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.benchmarking_internal, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.benchmarking_internal) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.benchmarking_internal) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formBenchmarkingExternal clearfix">
                        <div class="grid3">{{ form_label(form.benchmarking_external, 'Benchmarking Externo') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.benchmarking_external, { 'empty_value': 'SELECCIONE UNA OPCIÓN', 'attr': { 'class': 'permission_beselect' } }) }}
                            {% if form_errors(form.benchmarking_external) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.benchmarking_external) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formFilters formSelectMultiple sformActiveOff clearfix">
                        <div class="grid3"><label>Filtros</label></div>
                        <div class="grid9 filtersByCompany" id="filters_options">
                            {{ selectFilters|raw }}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.initdate, 'Fecha de Inicio') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.initdate, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(form.initdate) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.initdate) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.enddate, 'Fecha de Fin') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.enddate, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(form.enddate) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.enddate) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_widget(form.poll_id, { 'attr': { 'class': 'pollId' }}) }}
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('permission', { 'userid': user.id }) }}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10 autoselectOptionData">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
                
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_options_move_v2.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{{ globaljavascript|raw }}
<script type="text/javascript">
    var userid = {{ user.id }};
    var permissionid = '';
</script>
<script type="text/javascript" src="{{ asset('js/permission_ajax.js') }}"></script>
{% endblock %}
