{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-user-2"></span>Usuario{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'all'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'all'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fos_user_profile_show') }}">Perfil</a></li>
    <li class="current"><a href="{{ path('fos_user_profile_edit') }}">Editar</a></li>
</ul>
{% endblock %}

{% block content %}

{% if app.session.hasFlash('status') %}
    <div class="nNote nSuccess"><p>{{ app.session.flash('status')|raw }}</p></div>
    {{ app.session.removeFlash('status') }}
{% endif %}

{% if app.session.hasFlash('error') %}
    <div class="nNote nFailure"><p>{{ app.session.flash('error')|raw }}</p></div>
    {{ app.session.removeFlash('error') }}
{% endif %}

<div class="formCrudEdit">

    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="crudUser main">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Usuario{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">
                
                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.username, 'Usuario') }}<span class="req">*</span></div>
                        <div class="grid9">{{ form_widget(form.username, { 'disabled': TRUE }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.email, 'Correo electrónico') }}<span class="req">*</span></div>
                        <div class="grid9">{{ form_widget(form.email) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.current_password, 'Contraseña Actual') }}<span class="req">*</span></div>
                        <div class="grid9">{{ form_widget(form.current_password) }}</div>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                        {{ form_rest(form) }}
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
        
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('fos_user_profile_show') }}" class="sideB bGreyish mt10">Regresar al Perfil</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}