{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-user-2"></span>Usuario{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'all'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'all'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li class="current"><a href="{{ path('fos_user_profile_show') }}">Perfil</a></li>
</ul>
{% endblock %}

{% block content %}

<div class="dataView">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Perfil de Usuario{% endfilter %}</h6>
        </div>
        
        <div class="showUser">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Usuario</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Apellido Paterno</th>
                            <td>{{ user.surname }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Apellido Materno</th>
                            <td>{{ user.lastname }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Nombres</th>
                            <td>{{ user.names }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Sexo</th>
                            <td>{{ user.sex|sexName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Correo Personal</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ user.enabled|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
        
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('fos_user_profile_edit') }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}