{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': entity.workshopscheduling.id }) }}">{{ entity.workshopscheduling.name }}</a></li>
    <li><a href="{{ path('workshopschedulingdocument' , { 'workshopschedulingid': entity.workshopscheduling.id }) }}">Documentos</a></li>
    <li><a href="{{ path('workshopschedulingdocument_show', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
    <li class="current"><a href="{{ path('workshopschedulingdocument_edit' , { 'id': entity.workshopscheduling.id }) }}" title="">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ entity.workshopscheduling.name ~ ': ' ~ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

    <form action="{{ path('workshopschedulingdocument_update', { 'id': entity.id}) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
        
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Persona asignada{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.name, 'Nombre') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.name) }}
                            {% if form_errors(edit_form.name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.category, 'Categoría') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.category, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.category) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.category) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix descriptionContainer">
                        <div class="grid3">{{ form_label(edit_form.description, 'Descripción') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.description) }}
                            {% if form_errors(edit_form.description) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.description) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.type, 'Tipo') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.type, { 'attr': { 'class': 'documentType' }}) }}
                            {% if form_errors(edit_form.type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formTypeVideo clearfix">
                        <div class="grid3">{{ form_label(edit_form.video, 'Video') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.video) }}
                            {% if form_errors(edit_form.video) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.video) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formTypeEmbed clearfix">
                        <div class="grid3">{{ form_label(edit_form.embed, 'Embed') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.embed) }}
                            {% if form_errors(edit_form.embed) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.embed) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formTypeDocument clearfix">
                        <div class="grid3">{{ form_label(edit_form.file, 'Documento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.file) }}
                            {% if form_errors(edit_form.file) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.file) }}</div>
                            {% endif %}
                        </div>
                        <div class="valueDocument">{{ entity.document }}</div>
                    </div>
                    <div class="formRow formActiveOff formTypeWebsite clearfix">
                        <div class="grid3">{{ form_label(edit_form.website, 'Página web') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.website) }}
                            {% if form_errors(edit_form.website) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.website) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.sequence, 'Orden') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.sequence, { 'empty_value': 'Elige el orden' }) }}
                            {% if form_errors(edit_form.sequence) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.sequence) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('workshopschedulingdocument', { 'workshopschedulingid': entity.workshopscheduling.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('workshopschedulingdocument_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            {% if (entity.own == 1) %}
            <li>
                <a href="{{ path('workshopschedulingdocument_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block tinymce %}
{{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
