{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': entity.workshopscheduling.id }) }}">{{ entity.workshopscheduling.name }}</a></li>
    <li><a href="{{ path('workshopschedulingdocument' , { 'workshopschedulingid': workshopschedulingid }) }}">Documentos</a></li>
    <li class="current"><a href="{{ path('workshopschedulingdocument_new' , { 'workshopschedulingid': workshopschedulingid }) }}">Crear</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <form action="{{ path('workshopschedulingdocument_create', { 'workshopschedulingid': workshopschedulingid }) }}" method="post" {{ form_enctype(form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Crear Documento{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.name, 'Nombre') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.name) }}
                            {% if form_errors(form.name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.category, 'Categoría') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.category, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.category) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.category) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix descriptionContainer">
                        <div class="grid3">{{ form_label(form.description, 'Descripción') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.description) }}
                            {% if form_errors(form.description) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.description) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.type, 'Tipo') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.type, { 'attr': { 'class': 'documentType'}, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formTypeEmbed clearfix">
                        <div class="grid3">{{ form_label(form.embed, 'Embed') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.embed) }}
                            {% if form_errors(form.embed) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.embed) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formTypeVideo clearfix">
                        <div class="grid3">{{ form_label(form.video, 'Video') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.video) }}
                            {% if form_errors(form.video) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.video) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formTypeDocument clearfix">
                        <div class="grid3">{{ form_label(form.file, 'Documento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.file) }}
                            {% if form_errors(form.file) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.file) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formTypeWebsite clearfix">
                        <div class="grid3">{{ form_label(form.website, 'Página web') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.website) }}
                            {% if form_errors(form.website) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.website) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.sequence, 'Orden') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.sequence, { 'empty_value': 'Elige el orden' }) }}
                            {% if form_errors(form.sequence) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.sequence) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                               <tr>
                                    <th class="textL">Id</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{path('workshopschedulingdocument', { 'workshopschedulingid': workshopschedulingid })}}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
                
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block tinymce %}
{{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
