{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': entity.workshopscheduling.id }) }}">{{ entity.workshopscheduling.name }}</a></li>
    <li><a href="{{ path('workshopschedulingdocument', { workshopschedulingid : entity.workshopscheduling.id }) }}">Documentos</a></li>
    <li class="current"><a href="{{ path('workshopschedulingdocument_show' , { 'id' : entity.id }) }}" title="">{{ entity.name }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ entity.workshopscheduling.name ~ ': ' ~ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('workshopschedulingdocument_new', {'workshopschedulingid' : entity.workshopscheduling.id }) }}" class="sideB bGreyish mt10">
                   Crear Documento 
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle del Documento{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('workshopscheduling_show', { 'id': entity.workshopscheduling.id }) }}">General</a></li>
                    <li><a href="{{ path('workshopapplication', {'workshopschedulingid' : entity.workshopscheduling.id }) }}">Personas</a></li>
                    <li class="activeTab"><a href="{{ path('workshopschedulingdocument', {'workshopschedulingid' : entity.workshopscheduling.id }) }}">Documentos</a></li>
                    <li><a href="{{ path('workshopschedulingactivity', {'workshopschedulingid' : entity.workshopscheduling.id }) }}">Actividades</a></li>
                    <li><a href="{{ path('workshopschedulingpoll', {'workshopschedulingid' : entity.workshopscheduling.id }) }}">Encuestas</a></li>
                    <li><a href="{{ path('workshopschedulingnotification', {'workshopschedulingid' : entity.workshopscheduling.id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Nombre</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Categoría</th>
                            <td>{{ entity.category }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Descripción</th>
                            <td>{{ entity.description|raw }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Tipo</th>
                            <td>{{ entity.type|typedocumentName }}</td>
                        </tr>
                        <tr>
                        {% if entity.type == 'video' %}
                            <td colspan="2">{{ entity.video|raw }}</td>
                        {% elseif entity.type == 'embed' %}
                            <td colspan="2">{{ entity.embed|raw }}</td>
                        {% elseif entity.type == 'document' %}
                            <th class="textL">Documento</th>
                            {% if entity.document == 'jpg' or entity.document == 'png' or entity.document == 'gif' %}
                            <td>
                              <div class="clearfix fileContainer">
                                <a class="downloadFile imageFile" href="{{ path('workshopschedulingdocument_download' , { 'id': entity.id }) }}">
                                  <img src="{{ path('workshopschedulingdocument_download' , { 'id': entity.id }) }}" alt="" />
                                </a>
                              </div>
                            </td>
                            {% else %}
                            <td><a class="downloadFile" href="{{ path('workshopschedulingdocument_download' , { 'id': entity.id }) }}">Descargar Archivo {{ entity.document }}</a></td>
                            {% endif %}
                        {% elseif entity.type == 'website' %}
                            <th class="textL">Página web</th>
                            <td><a href="{{ entity.website }}" target="_blank">{{ entity.website }}</a></td>
                        {% endif %}
                        </tr>
                        <tr>
                            <th class="textL">Orden</th>
                            <td>{{ entity.sequence }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('workshopschedulingdocument', {'workshopschedulingid' : entity.workshopscheduling.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            {% if entity.own == 1 %}
            <li>
                <a href="{{ path('workshopschedulingdocument_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ path('workshopschedulingdocument_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
