{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('poll') }}">Encuestas</a></li>
    <li><a href="{{ path('poll_show', { 'id': poll.id }) }}">{{ poll.title }}</a></li>
    <li><a href="{{ path('pollnotification', { 'pollid': poll.id }) }}">Notificaciones</a></li>
    <li class="current"><a href="{{ path('pollnotification_new', { 'pollid': poll.id }) }}">Crear</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Mantenimiento de Encuestas: {{ poll.title }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <form action="{{ path('pollnotification_create', { 'pollid': poll.id }) }}" method="post" {{ form_enctype(form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Crear Notificación{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.head, 'Cabecera') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.head) }}
                            {% if form_errors(form.head) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.head) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.name, 'Nombre') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.name) }}
                            {% if form_errors(form.name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.notification_type, 'Tipo') }}<span class="req">*</span></div>
                        <div class="grid9 notificationType">
                            {{ form_widget(form.notification_type, { 'attr': { 'class': 'notificationType' }, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.notification_type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.notification_type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formNotificationTypeStatus">
                        <div class="grid3 formNotificationTypeStatusLabel">{{ form_label(form.notification_type_status, 'Estado de Encuesta') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.notification_type_status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.notification_type_status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.notification_type_status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formCheckboxs formNotificationOnePerEvaluator">
                        <div class="grid3">Enviar</div>
                        <div class="grid9">
                            {{ form_widget(form.one_per_evaluator) }}{{ form_label(form.one_per_evaluator, 'Solo una notificación por evaluador') }}
                            {% if form_errors(form.one_per_evaluator) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.one_per_evaluator) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.subject, 'Asunto') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.subject) }}
                            {% if form_errors(form.subject) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.subject) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.message, 'Mensaje') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.message) }}
                            {% if form_errors(form.message) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.message) }}</div>
                            {% endif %}
                            {% include "FishmanNotificationBundle:Notification:token.html.twig" with { type: poll.type } %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.ejecution_type, 'Ejecución') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.ejecution_type, { 'attr': { 'class': 'ejecutionType' }} ) }}
                            {% if form_errors(form.ejecution_type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.ejecution_type) }}</div>
                            {% endif %}
                            <fieldset class="clearfix formActiveOff formSelectedTrigger">
                                <legend>Con Disparador</legend>
                                <div class="clearfix">
                                    <div class="grid12 formOptions">
                                        {{ form_widget(form.selected_trigger) }}
                                        {% if form_errors(form.selected_trigger) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.selected_trigger) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formPredecessor">
                        <div class="grid3">{{ form_label(form.predecessor, 'Notificación Predecesora') }}</div>
                        <div class="grid9">
                            {{ form_widget(form.predecessor, { 'empty_value': 'NINGUNO' }) }}
                            {% if form_errors(form.predecessor) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.predecessor) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTwoField clearfix formActiveOff formEjecutionSince">
                        <div class="grid3">{{ form_label(form.since, 'Cuando') }}<span class="req">*</span></div>
                        <div class="grid9">
                            <div class="grid2">
                                {{ form_widget(form.since) }}
                                {% if form_errors(form.since) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.since) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid10">Días después</div>
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formEjecutionReplay">
                        <div class="grid3">{{ form_label(form.replay, 'Repetir') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.replay, { 'attr': { 'class': 'replayFieldset' }}) }}
                            {% if form_errors(form.replay) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.replay) }}</div>
                            {% endif %}
                            <fieldset class="clearfix formActiveOff formReplayFieldset">
                                <legend>Repetir</legend>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(form.repeat_period, 'Se repite') }}<span class="req">*</span></div>
                                    <div class="grid9">
                                        {{ form_widget(form.repeat_period, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                        {% if form_errors(form.repeat_period) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.repeat_period) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(form.repeat_range, 'Repetir cada') }}<span class="req">*</span></div>
                                    <div class="grid9">
                                        {{ form_widget(form.repeat_range, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                        {% if form_errors(form.repeat_range) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.repeat_range) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(form.finish, 'Finaliza') }}<span class="req">*</span></div>
                                    <div class="grid9 formOptions">
                                        {{ form_widget(form.finish, { 'attr': { 'class': 'repetitionNumber' }}) }}
                                        {% if form_errors(form.finish) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.finish) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix formActiveOff formRepetitionNumber">
                                    <div class="grid3">{{ form_label(form.repetition_number, 'Repeticiones') }}<span class="req">*</span></div>
                                    <div class="grid2">
                                        {{ form_widget(form.repetition_number) }}
                                        {% if form_errors(form.repetition_number) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.repetition_number) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="formRow clear clearfix formSelectMultiple formSelectPerfil">
                        <div class="grid3">Perfil<span class="req">*</span></div>
                        <div class="grid9">
                            <div class="leftBox">
                                <select name="asigned_options[data1][]" class="multiple selectOptionsData1" multiple="multiple"></select>
                            </div>
                            <div class="dualControl">
                                <button id="moveToRightOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&gt;&nbsp;</button>
                                <button id="moveToAllRightOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&gt;&gt;&nbsp;</button>
                                <button id="moveToLeftOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&lt;&nbsp;</button>
                                <button id="moveToAllLeftOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&lt;&lt;&nbsp;</button>
                            </div>  
                            <div class="rightBox">
                                <select name="asigned_options[data2][]" class="multiple selectOptionsData2" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="formRow clear clearfix">
                        <div class="grid3">{{ form_label(form.sequence, 'Orden') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.sequence, { 'empty_value': 'Elige el orden' }) }}
                            {% if form_errors(form.sequence) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.sequence) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Código</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('pollnotification' , { pollid : poll.id }) }}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10 notificationCrud autoselectOptionData2">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
                
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block tinymce %}
{{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{globaljavascript|raw}}
<script type="text/javascript" charset="utf-8">
  var pollid = {{ poll.id }};
</script>
<script type="text/javascript" src="{{ asset('js/type_notification_poll_ajax.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_options_move.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
