{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('poll') }}">Encuestas</a></li>
    <li><a href="{{ path('poll_show', { 'id': entity.id }) }}" title="">{{ entity.title }}</a></li>
    <li class="current"><a href="{{ path('poll_edit', {'id': entity.id}) }}" title="">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create"></span><h5>Mantenimiento de Encuestas: {{ entity.title }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

  <form action="{{ path('poll_update', {'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Encuesta{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.category, 'Categoría') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.category, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.category) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.category) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.title, 'Titulo') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.title) }}
                            {% if form_errors(edit_form.title) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.title) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formVersion clearfix">
                        <div class="grid3">{{ form_label(edit_form.version, 'Versión') }}<span class="req">*</span></div>
                        <div class="grid2">
                            {{ form_widget(edit_form.version, { 'attr': { 'class': 'formTextNumber' }}) }}
                            {% if form_errors(edit_form.version) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.version) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix descriptionContainer">
                        <div class="grid3">{{ form_label(edit_form.description, 'Descripción') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.description) }}
                            {% if form_errors(edit_form.description) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.description) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.type, 'Tipo de evaluación') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.type, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTwoField clearfix">
                        <div class="grid3">{{ form_label(edit_form.duration, 'Duración') }}<span class="req">*</span></div>
                        <div class="grid9">
                            <div class="grid2">
                                {{ form_widget(edit_form.duration, { 'attr': { 'class': 'formTextNumber' }}) }}
                                {% if form_errors(edit_form.duration) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.duration) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid10">
                                {{ form_widget(edit_form.period, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                {% if form_errors(edit_form.period) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.period) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.alignment, 'Alineamiento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.alignment) }}
                            {% if form_errors(edit_form.alignment) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.alignment) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.level, 'Mostrar sección a') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.level, { 'attr': { 'class': 'levelPoll'}, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.level) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.level) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.sequence_question, 'Orden de preguntas') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.sequence_question, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.sequence_question) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.sequence_question) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTwoField clearfix">
                        <div class="grid3">{{ form_label(edit_form.divide, 'Dividir encuesta por') }}<span class="req">*</span></div>
                        <div class="grid9">
                            <div class="grid5">
                                {{ form_widget(edit_form.divide, { 'attr': { 'class': 'dividePoll'}, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                {% if form_errors(edit_form.divide) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.divide) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid2 formActiveOff formNumberQuestion">
                                {{ form_widget(edit_form.number_question, { 'attr': { 'class': 'formTextNumber' }}) }}
                                {% if form_errors(edit_form.number_question) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.number_question) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>

            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('poll') }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('poll_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            <li>
                <a href="{{ path('poll_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block tinymce %}
{{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
