{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li class="current"><a href="{{ path('poll') }}">Encuestas</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create"></span><h5>Mantenimiento de Encuestas</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('poll_new') }}" class="sideB bGreyish mt10">
                    Crear Encuesta
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->
    
    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Encuestas{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Id / Título') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow formText clearfix">
                        {{ form_label(form.version, 'Versión') }}
                        <div>{{ form_widget(form.version) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.category, 'Categoría') }}
                        <div>{{ form_widget(form.category, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.type, 'Tipo') }}
                        <div>{{ form_widget(form.type, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow formText clearfix">
                        {{ form_label(form.origin, 'Origen') }}
                        <div>{{ form_widget(form.origin) }}</div>
                    </div>
                    <div class="formRow formSequence clearfix">
                        {{ form_label(form.active, 'Activo') }}
                        <div>{{ form_widget(form.active, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.status, 'Estado') }}
                        <div>{{ form_widget(form.status, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Versión</th>
                        <th>Categoría</th>
                        <th>Tipo</th>
                        <th>Modificado por</th>
                        <th>Última modificación</th>
                        <th>Origen</th>
                        <th>Activar</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('poll_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td><a href="{{ path('poll_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                        <td>{{ entity.version }}</td>
                        <td>{{ entity.category }}</td>
                        <td>{{ entity.type|typeevaluationName }}</td>
                        <td>{{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</td>
                        <td>{% if entity.changed %}{{ entity.changed|date('d/m/Y - H:i') }}{% endif %}</td>
                        <td>{{ entity.original_id }}</td>
                        <td>
                        {% if entity.current_version == 0 %}
                            <a href="{{ path('poll_active_version', { 'id': entity.id }) }}" class="tablectrl_small bDefault">Activar</a>
                        {% else %}
                            Activo
                        {% endif %}
                        </td>
                        <td>{{ entity.status|statusName }}</td>
                        <td class="actionsButtons">
                            <ul>
                                <li>
                                    <a href="{{ path('poll_show', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('poll_edit', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Editar"><span class="icos-pencil"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('poll_drop', { 'id': entity.id }) }}" class="tablectrl_small bDefault"title="Eliminar"><span class="icos-cross"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'poll', 'rparams': { 'form': form_data }, 'id': 'poll' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
