{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('poll') }}">Encuestas</a></li>
    <li class="current"><a href="{{ path('poll_new') }}" title="">Crear</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create"></span><h5>Mantenimiento de Encuestas</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <form action="{{ path('poll_create') }}" method="post" {{ form_enctype(form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Crear Encuesta{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.category, 'Categoría') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.category, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.category) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.category) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.title, 'Titulo') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.title) }}
                            {% if form_errors(form.title) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.title) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formVersion clearfix">
                        <div class="grid3">{{ form_label(form.version, 'Versión') }}<span class="req">*</span></div>
                        <div class="grid2">
                            {{ form_widget(form.version, { 'attr': { 'class': 'formTextNumber' }}) }}
                            {% if form_errors(form.version) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.version) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix descriptionContainer">
                        <div class="grid3">{{ form_label(form.description, 'Descripción') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.description) }}
                            {% if form_errors(form.description) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.description) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.type, 'Tipo de evaluación') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.type, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTwoField clearfix">
                        <div class="grid3">{{ form_label(form.duration, 'Duración') }}<span class="req">*</span></div>
                        <div class="grid9">
                            <div class="grid2">
                                {{ form_widget(form.duration, { 'attr': { 'class': 'formTextNumber' }}) }}
                                {% if form_errors(form.duration) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.duration) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid10">
                                {{ form_widget(form.period, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                {% if form_errors(form.period) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.period) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.alignment, 'Alineamiento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.alignment) }}
                            {% if form_errors(form.alignment) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.alignment) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.level, 'Mostrar sección a') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.level, { 'attr': { 'class': 'levelPoll'}, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.level) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.level) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.sequence_question, 'Orden de preguntas') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.sequence_question, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.sequence_question) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.sequence_question) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTwoField clearfix">
                        <div class="grid3">{{ form_label(form.divide, 'Dividir encuesta por') }}<span class="req">*</span></div>
                        <div class="grid9">
                            <div class="grid5">
                                {{ form_widget(form.divide, { 'attr': { 'class': 'dividePoll'}, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                {% if form_errors(form.divide) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.divide) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid2 formActiveOff formNumberQuestion">
                                {{ form_widget(form.number_question, { 'attr': { 'class': 'formTextNumber' }}) }}
                                {% if form_errors(form.number_question) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.number_question) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('poll') }}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
                
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block tinymce %}
{{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
