{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('poll') }}">Encuestas</a></li>
    <li class="current"><a href="{{ path('poll_show', { 'id': entity.id }) }}" title="">{{ entity.title }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create"></span><h5>Mantenimiento de Encuestas: {{ entity.title }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('poll_new') }}" class="sideB bGreyish mt10">
                    Crear Encuesta
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de Encuesta{% endfilter %}</h6>
            <div class="navTabs">
                <ul class="">
                    <li class="activeTab"><a href="{{ path('poll_show', { 'id': entity.id }) }}">General</a></li>
                    <li><a href="{{ path('pollsection', { 'pollid': entity.id }) }}">Secciones</a></li>
                    <li><a href="{{ path('pollquestion', { 'pollid': entity.id }) }}">Preguntas</a></li>
                    <li><a href="{{ path('pollnotification', { 'pollid': entity.id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Categoría</th>
                            <td>{{ entity.category }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Titulo</th>
                            <td>{{ entity.title }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Versión</th>
                            <td>{{ entity.version }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Descripción</th>
                            <td>{{ entity.description|raw }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Tipo de evaluación</th>
                            <td>{{ entity.type|typeevaluationName}}</td>
                        </tr>
                        <tr>
                            <th class="textL">Duración</th>
                            <td>{{ entity.duration ~ ' ' ~ entity.period|periodName}}</td>
                        </tr>
                        <tr>
                            <th class="textL">Alineamiento</th>
                            <td>{{ entity.alignment|alignmentName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Mostrar sección a</th>
                            <td>{{ entity.level|levelName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Orden de preguntas</th>
                            <td>{{ entity.sequencequestion|orderName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Dividir encuesta por</th>
                            <td>
                                {{ entity.divide|divideName }}
                                {% if entity.divide == 'number_questions' %}
                                    ({{ entity.numberquestion }})
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('poll') }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('poll_preview', { 'id': entity.id }) }}" class="sideB bRed mt10">Previsualizar</a>
            </li>
            <li>
                <a href="{{ path('poll_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            <li>
                <a href="{{ path('poll_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
