<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Fischman</title>
        <meta charset="utf-8" />
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="color: #575757;">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
              <tr>
                    <td align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateContainer" style="border: 1px #e1e1e1 solid; background: #e9e9e9;">
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Header \\ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                                        <tr>
                                            <td class="headerContent">
                                                <div class="wrapper" style="background: #f2900c;">
                                                    <h1 style="font-size: 16px; margin: 0; display: block; color: #FFF; padding: 10px; font-weight: normal; text-align: center">
                                                        <span style="display: block; font-size: 23px; padding: 10px 3%;">{{ head }}</span>
                                                        <div style="clear: both;"></div>
                                                    </h1>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \\ -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Body \\ -->
                                    <table border="0" cellpadding="0" cellspacing="0" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContent">
                                                <!-- // Begin Module: Standard Postcard Content \\ -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr mc:repeatable>
                                                        <td valign="top">
                                                            <div mc:edit="postcard_heading00"></div>
                                                            <div mc:edit="std_content00" style="margin-top: -21px; padding:40px 35px; font-family: helvetica, arial, sans-serif">
                                                                {{ message|raw }}
                                                            </div>     
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Postcard Content \\ -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                        </table>{# End second table #}
                        <br />
                    </td>
                </tr>
            </table>{# End main table #}
        </center>
    </body>
</html>
