{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Ejecutar Notificación: {{ notificationexecution.notificationscheduling.name }}</h5>
{% endblock %}

{% block content %}

<div class="dataDelete">

    <div class="widget fluid clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Ejecutar Notificación{% endfilter %}</h6>
        </div>
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                <span class="name"><strong>{{ app.user.names ~ ' ' ~ app.user.surname ~ ' ' ~ app.user.lastname }}</strong>:</span>
            </div>
            ¿Está seguro de querer ejecutar manualmente la notificación <strong>{{ notificationexecution.notificationscheduling.name }}</strong> para el usuario <strong>{{ workinginformation.user.names ~ ' ' ~ workinginformation.user.surname ~ ' ' ~ workinginformation.user.lastname   }}?</strong>
        </div>

        <div class="menuCrud sendOneMessage clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('notificationscheduling_manual_send_one_by_one', { 'id': notificationexecution.notificationscheduling.id  }) }}" class="sideB bGreyish mt10">Cancelar</a>
                </li>
                <li>
                    <a href="{{ path('notificationexecution_send_one', { 'nxid': notificationexecution.id , 'nmdid': notificationmanualdetails.id, 'status': true }) }}" class="sideB bRed mt10">Ejecutar</a>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
    </div>
    
</div>
<!-- /.dataDelete -->

{% endblock %}
