{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': activity.workshopapplication.workshopscheduling.customheadertitle, 
      'customheadertitletext': activity.workshopapplication.workshopscheduling.customheadertitletext, 
      'customheadertitledescription': activity.workshopapplication.workshopscheduling.customheadertitledescription, 
      'customheaderlogo': activity.workshopapplication.workshopscheduling.customheaderlogo, 
      'companyid': activity.workshopapplication.workshopscheduling.company.id, 
      'companyname': activity.workshopapplication.workshopscheduling.company.name,
      'companyimage': activity.workshopapplication.workshopscheduling.company.image
   }
%}
{% if activity.workshopapplication.workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li class=""><a href="{{ path('fishman_front_end_workshop_activities') }}">Actividades</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_activities_individualplan' , { activityid : activity.id }) }}">Plan Individual</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Actividades : Plan Individual : {{ activity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<p class="mainDescription">Debe definir los objetivos por cada persona de su grupo o área a cargo, en las secciones de la "Encuesta de Motivacion" en las que considera que deben mejorar. Asimismo, ingrese sus comentario o apreciación sobre los objetivos definidos.</p>

<div class="dataList">

    {% if activity.finished == 0 %}
    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('fishman_front_end_workshop_activities_individualplan_plangoal_edit', {planid: plan.id, plangoalid: 0}) }}" class="edit-personal-plangoal sideB bGreyish mt10">
                    Nuevo Objetivo
                </a>
            </li>
        </ul>
    </div>
    {% endif %}

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Objetivos{% endfilter %}</h6>
        </div>

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Num</th>
                        <th>Sección</th>
                        <th>Objetivo</th>
                        <th>Asignado a</th>
                        <th>Responsable</th>
                        <th>Plazo</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for pg in plangoals %}
                   <tr>
                       <td>{{ loop.index }}</td>
                       <td>{{ pg.section }}</td>
                       <td>{{ pg.goal }}</td>
                       <td>{{ pg.tonames }} {{ pg.tolastname }} {{ pg.tosurname }}</td>
                       <td>{{ pg.names }} {{ pg.lastname }} {{ pg.surname }}</td>
                       <td>{{ pg.deadline|date('d/m/Y') }}</td>
                       <td class="actionsButtons actionsButtonsTwo">
                           {% if activity.finished == 0 %}
                           <ul>
                               <li>
                                   <a href="{{ path('fishman_front_end_workshop_activities_individualplan_plangoal_edit', {planid: plan.id, plangoalid: pg.id}) }}" class="edit-personal-plangoal tablectrl_small bDefault" title="Editar"><span class="icos-pencil"></span></a>
                               </li>
                               <li>
                                   <a href="{{ path('fishman_front_end_workshop_activities_individualplan_plangoal_drop', {plangoalid: pg.id}) }}" class="tablectrl_small bDefault" title="Eliminar"><span class="icos-cross"></span></a>
                               </li>
                           </ul>
                           {% endif %}
                       </td>
                   </tr>
                {% endfor %}
                </tbody>
            </table>
            
        </div>
        <!-- /.dataListTable -->

    </div>
    <!-- /.tableDefault -->

    {% if activity.finished == 0 %}
    <form action="" method="post">        
        <div class="dashboard">
            <div class="widget by_user">
                <div class="whead clearfix">
                    <h6>Comentario</h6>
                </div>
                <div class="clearfix commentArea">
                    <textarea name="plancomment"  class="tinymce" data-theme="simple">{{ plan.comments }}</textarea> 
                </div>
            </div>
        </div>
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <button type="submit" name="sendcomment" value="sendcomment" class="sideB bRed mt10">Guardar Comentario</button>
                </li>
                <li>
                    <button type="submit" name="sendplan" value="sendplan" class="sideB bRed mt10">Enviar Actividad</button>
                </li>
            </ul>
        </div>
    </form>
    {% else %}
    <div class="dashboard">
            <div class="widget by_user">
              <div class="whead clearfix">
                <h6>Comentario</h6>
              </div>
              <div class="clearfix commentArea">
                <p>{{ plan.comments|raw }}</p> 
              </div>
            </div>
    </div>
    {% endif %}

</div>
<!-- /.dataList -->

{% endblock %}

{% block tinymce %}
{{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/activities.js') }}"></script>
{% endblock %}
