{% extends '::base_fishman.html.twig' %}
{% block body%}

  <div class="wrapper">
    <form action="" method="post" class="formIframe formSpecial">
        <h6>Objetivo</h6>
        <div class="widget fluid tableDefault clearfix">
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid">

                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.section, 'Sección') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.section, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.section) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.section) }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.goal, 'Objetivo') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.goal) }}
                            {% if form_errors(form.goal) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.goal) }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.goal_to, 'Para') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.goal_to, { 'empty_value': 'Elige para quien será el objetivo' }) }}
                            {% if form_errors(form.goal_to) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.goal_to) }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.in_charge, 'Responsable') }}<span class="req">*</span></div>
                        <div class="grid4">
                            {{ form_widget(form.in_charge, { 'empty_value': 'Elige un responsable' }) }}
                            {% if form_errors(form.in_charge) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.in_charge) }}</div>
                            {% endif %}
                        </div>
                        <div class="grid5">(de hacer el seguimiento)</div>
                    </div>
    
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.deadline, 'Plazo') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.deadline, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(form.deadline) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.deadline) }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.section, 'Completo') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.completed, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.completed) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.completed) }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="menuCrudIframe menuCrud clearfix">
                        <div>{{ form_rest(form) }}</div>
                        <ul class="record_actions">
                            <li>
                                <button type="submit" class="sideB bRed mt10">Guardar</button>
                            </li>
                            <li>
                                <a href="#" class="close-button sideB bGreyish mt10">
                                    Cerrar
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                </div>

            </fieldset>
        </div>
    </form>
  </div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/activities.js') }}"></script>
<script type="text/javascript">{{ js }}</script>
{% endblock %}