{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': activity.workshopapplication.workshopscheduling.customheadertitle, 
      'customheadertitletext': activity.workshopapplication.workshopscheduling.customheadertitletext, 
      'customheadertitledescription': activity.workshopapplication.workshopscheduling.customheadertitledescription, 
      'customheaderlogo': activity.workshopapplication.workshopscheduling.customheaderlogo, 
      'companyid': activity.workshopapplication.workshopscheduling.company.id, 
      'companyname': activity.workshopapplication.workshopscheduling.company.name,
      'companyimage': activity.workshopapplication.workshopscheduling.company.image
   }
%}
{% if activity.workshopapplication.workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li class=""><a href="{{ path('fishman_front_end_workshop_activities') }}">Actividades</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_activities_question' , { activityid : activity.id }) }}">{{ activity.name }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Actividades : Pregunta</h5>{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="dashboard fluid clearfix">

        <form action="{{ path('fishman_front_end_workshop_activities_question' , { activityid : activity.id }) }}" method="post" class="" accept-charset="utf-8">
      
            <div class="grid12">
                <div class="check cCheck widget by_user">
                    <div class="whead clearfix">
                        <h6>{% filter upper %}{{ activity.name }}{% endfilter %}</h6>
                    </div>
                    <div class="formRow clearfix">
                        {{ questionWidgets(activity.id, answer_type, options, alignment, answer)|raw }}
                    </div>
                </div>
            </div>
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" name="savedraft" value="1" class="sideB bGreyish mt10">Guardar en borrador</button>
                    </li>
                    <li>
                        <button type="submit" name="send" value="1" class="sideB bGreyish mt10">Enviar actividad</button>
                    </li>
                </ul>
            </div>
        
        </form>
    
    </div>
    
</div>
<!-- /.dataList -->

{% endblock %}
