{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_activities') }}">Actividades</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Actividades</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Actividades{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formSequence clearfix">
                        {{ form_label(form.sequence, 'Orden') }}
                        <div>{{ form_widget(form.sequence, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Nombre') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow formDuration clearfix">
                        {{ form_label(form.duration, 'Duración') }}
                        <div>
                            {{ form_widget(form.duration) }}
                            {{ form_widget(form.period, { 'empty_value': 'Todos' }) }}
                        </div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.initdate, 'Inicio') }}
                        <div>{{ form_widget(form.initdate, { 'attr': { 'class': 'datepicker', 'value': form.initdate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.enddate, 'Fin') }}
                        <div>{{ form_widget(form.enddate, { 'attr': { 'class': 'datepicker', 'value': form.enddate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.finished, 'Estado') }}
                        <div>{{ form_widget(form.finished, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Nombre</th>
                        <th>Duración</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for activity in activities %}
                    <tr>
                        <td>{{ activity.sequence }}</td>
                        {% if (activity.predecessor == -1 and not activity.finished) or (activity.waap_finished and not activity.finished) %}
                            {% if activity.type == 1 %}
                                <td><a href="{{ path('fishman_front_end_workshop_activities_workbook', { 'activityid': activity.id } ) }}">{{ activity.name }}</a></td>
                            {% elseif activity.type == 2 %}
                                <td><a href="{{ path('fishman_front_end_workshop_activities_groupplan', { 'activityid': activity.id } ) }}">{{ activity.name }}</a></td>
                            {% elseif activity.type == 3 %}
                                <td><a href="{{ path('fishman_front_end_workshop_activities_individualplan', { 'activityid': activity.id } ) }}">{{ activity.name }}</a></td>
                            {% elseif activity.type == 4 %}
                                <td><a href="{{ path('fishman_front_end_workshop_activities_question', { 'activityid': activity.id } ) }}">{{ activity.name }}</a></td>
                            {% endif %}
                        {% else %}
                            <td>{{ activity.name }}</td>
                        {% endif %}
                        <td>{{ activity.duration ~ ' ' ~ activity.period|periodName }}</td>
                        <td>{% if activity.initdate %}{{ activity.initdate|date('d/m/Y') }}{% endif %}</td>
                        <td>{% if activity.enddate %}{{ activity.enddate|date('d/m/Y') }}{% endif %}</td>
                        <td>{{ activity.finished|finishedName }}</td>
                        <td class="actionsButtons actionsButtonsView">
                        {% if (activity.predecessor == -1 and not activity.finished) or (activity.waap_finished and not activity.finished) %}
                            <ul>
                                <li>
                                {% if activity.type == 1 %}
                                    <a href="{{ path('fishman_front_end_workshop_activities_workbook', { 'activityid': activity.id } ) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                {% elseif activity.type == 2 %}
                                    <a href="{{ path('fishman_front_end_workshop_activities_groupplan', { 'activityid': activity.id } ) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                {% elseif activity.type == 3 %}
                                    <a href="{{ path('fishman_front_end_workshop_activities_individualplan', { 'activityid': activity.id } ) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                {% elseif activity.type == 4 %}
                                    <a href="{{ path('fishman_front_end_workshop_activities_question', { 'activityid': activity.id } ) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                {% endif %}
                                </li>
                            </ul>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_workshop_activities', 'rparams': { 'form': form_data }, 'id': 'workshopactivities' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
