<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sistema de Centralizado de Gestión Humana{% endblock %}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/custom_fischman.css') }}"/>
        {% endblock %}

        {% block ie7style %}
        <!--[if IE]> <link href="{{ asset('css/ie.css') }}" rel="stylesheet" type="text/css"> <![endif]-->
        {% endblock %}

        <!--[if lt IE 9]>
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js') }}"></script>
          <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js') }}"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        {% block body %}
 
        <!-- Top line begins -->
        <div id="top" class="clearfix">
            <div class="wrapper">
                {% block customheader %}
                <h1>
                    <a href="{{ path('fishman_front_end_homepage') }}" title="Sistema de Encuestas" class="logo-header"></a>
                    <a href="{{ path('fishman_front_end_homepage') }}" title="Sistema de Encuestas" class="title-header">
                        <span>David Fischman </span>Sistema de Desarrollo de Capital Humano - <strong> Beta </strong>
                    </a>
                </h1>
                {% endblock %}
            </div>
        </div>
        <!-- Top line ends -->
      
        <!-- Anonymous begins -->
        <div class="anonymousWrapper clearfix">
            
            <div class="contentTop clearfix">
                  <span class="pageTitle">
                      {% block subtitle %}{% endblock %}
                  </span>
            </div>
            <!-- contentTop -->
            
            <!-- Main content -->
            <div class="wrapper">
                <div class="fluid">

                    <div class="titleTwoLevel">
                    {% block subtitle2 %}{% endblock %}
                    </div>  

                    {% block content %}
                    
                    {% if app.session.hasFlash('error') %}
                        <div class="nNote nFailure"><p>{{ app.session.flash('error')|raw }}</p></div>
                        {{ app.session.removeFlash('error') }}
                    {% endif %}
                    {% if app.session.hasFlash('status') %}
                        <div class="nNote nSuccess"><p>{{ app.session.flash('status')|raw }}</p></div>
                        {{ app.session.removeFlash('status') }}
                    {% endif %}
                    
                    {% endblock %}
                </div>
            </div>
            <!-- Main content ends -->
        
        </div>
        <!-- Anonymous ends -->
    
        {% endblock %}

        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/plugins/forms/ui.spinner.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.mousewheel.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/plugins/charts/excanvas.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/charts/jquery.flot.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/charts/jquery.flot.orderBars.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/charts/jquery.flot.pie.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/charts/jquery.flot.resize.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/charts/jquery.sparkline.min.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/plugins/tables/jquery.dataTables.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/tables/jquery.sortable.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/tables/jquery.resizable.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/plugins/forms/autogrowtextarea.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.uniform.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.inputlimiter.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.tagsinput.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.maskedinput.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.autotab.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.chosen.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.dualListBox.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.cleditor.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.ibutton.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.validationEngine-en.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/forms/jquery.validationEngine.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/plugins/uploader/plupload.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/uploader/plupload.html4.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/uploader/plupload.html5.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/uploader/jquery.plupload.queue.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/plugins/wizards/jquery.form.wizard.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/wizards/jquery.validate.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/wizards/jquery.form.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/plugins/ui/jquery.collapsible.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/ui/jquery.breadcrumbs.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/ui/jquery.tipsy.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/ui/jquery.progress.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/ui/jquery.timeentry.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/ui/jquery.colorpicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/ui/jquery.jgrowl.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/ui/jquery.fancybox.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/ui/jquery.fileTree.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/ui/jquery.sourcerer.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/plugins/others/jquery.fullcalendar.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/plugins/others/jquery.elfinder.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/plugins/ui/jquery.easytabs.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/files/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/files/functions.js') }}"></script>
        
        <script type="text/javascript" src="{{ asset('js/charts/chart.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/charts/hBar_side.js') }}"></script>
        {% endblock %}
    </body>
    
</html>
