{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': poll.customheadertitle, 
      'customheadertitletext': poll.customheadertitletext, 
      'customheadertitledescription': poll.customheadertitledescription, 
      'customheaderlogo': poll.customheaderlogo, 
      'companyid': company.id, 
      'companyname': company.name, 
      'companyimage': company.image
   }
%}
{% if poll.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Encuesta : {{ poll.title ~ ' | V ' ~ poll.version ~ ' | ' ~ company.name ~ ' | ' ~ poll.pollschedulingperiod }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'pollid': poll.id, 'type': poll.type } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'pollid': poll.id, 'type': poll.type } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_poll', { 'pollid': poll.id }) }}">{{ poll.title }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Dashboard - Encuesta</h5>{% endblock %}

{% block content %}
{{ parent() }}

<div class="dashboard">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Notificaciones{% endfilter %}</h6>
            <a href="{{ path('fishman_front_end_workshop_notifications') }}" class="buttonH bBlack" title="">Ver todos</a>
        </div>

        {% for notification in notifications %}
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                {% if notification.type == 'message' %}
                    <span class="title"><strong><span class="uDone"></span>{{ notification.type|notificationtypeName }}</strong></span>
                {% else %}
                    <span class="title"><strong><span class="uDone"></span>{{ notification.type|notificationtypeName ~ ': ' ~ notification.type_name }}</strong></span>
                {% endif %}
                <span class="date"><label>Recibido el:</label> {{ notification.sended|date('j/n/Y H:i a') }}</span>
            </div>
            <div class="clearfix"><label>Asunto:</label> {{ notification.subject }}</div>
            <div class="clearfix"><p>{{ notification.message|cut(300)|raw }}</p></div>
            <div class="textR clearfix"><a href="{{ path('fishman_front_end_workshop_notifications_show', { 'id': notification.id }) }}" title="Ver más">Ver más</a></div>
        </div>

        {% endfor %}
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}
