{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Dashboard{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'all'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'all'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li class="current"><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
</ul>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dashboard">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Notificaciones{% endfilter %}</h6>
            <a href="{{ path('fishman_front_end_notifications') }}" class="buttonH bBlack" title="">Ver todos</a>
        </div>

        {% for notification in notifications %}
        
        <div class="messageArea clearfix">
            <div class="clearfix name">
                <label>{{ notification.name|upper }}</label>
            </div>
            <div class="infoRow clearfix">
                {% if notification.type == 'message' %}
                    <span class="title"><strong><span class="uDone"></span>{{ notification.type|notificationtypeName }}</strong></span>
                {% else %}
                    <span class="title"><strong><span class="uDone"></span>{{ notification.type|notificationtypeName ~ ': ' ~ notification.type_name }}</strong></span>
                {% endif %}
                <span class="date"><label>Recibido el:</label> {{ notification.sended|date('j/n/Y H:i a') }}</span>
            </div>
            <div class="clearfix"><label>Asunto:</label> {{ notification.subject }}</div>
            <div class="clearfix"><p>{{ notification.message|cut(300)|raw }}</p></div>
            <div class="textR clearfix"><a href="{{ path('fishman_front_end_notifications_show', { 'id': notification.id }) }}" title="Ver más">Ver más</a></div>
        </div>

        {% endfor %}

    </div>
    <!-- /.tableDefault -->
    
    <div class="clearfix">
        
        <div class="widget grid6 tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Talleres{% endfilter %}</h6>
                <a href="{{ path('fishman_front_end_workshops') }}" class="buttonH bBlack" title="">Ver todos</a>
            </div>
            
            <div class="dataListTable">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for workshopapplication in workshopapplications %}
                        <tr>
                            <td>{{ workshopapplication.id }}</td>
                            <td><a href="{{ path('fishman_front_end_workshop', { 'wa': workshopapplication.id }) }}">{{ workshopapplication.name }}</a></td>
                            <td>{% if workshopapplication.initdate %}{{ workshopapplication.initdate|date('d/m/Y') }}{% endif %}</td>
                            <td>{% if workshopapplication.enddate %}{{ workshopapplication.enddate|date('d/m/Y') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.dataListTable -->
       
        </div>

        <div class="widget grid6 tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Encuestas{% endfilter %}</h6>
                <a href="{{ path('fishman_front_end_polls') }}" class="buttonH bBlack" title="">Ver todos</a>
            </div>
            
            <div class="dataListTable">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for poll in polls %}
                        <tr>
                            <td>{{ poll.id }}</td>
                            {% if dateIsBefore(poll.initdate) and dateIsAfter(poll.enddate) %}
                            <td><a href="{{ path('fishman_front_end_poll', { 'pollid': poll.id } ) }}">{{ poll.title }}</a></td>
                            {% else %}
                            <td>{{ poll.title }}</td>
                            {% endif %}
                            <td>{% if poll.initdate %}{{ poll.initdate|date('d/m/Y') }}{% endif %}</td>
                            <td>{% if poll.enddate %}{{ poll.enddate|date('d/m/Y') }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.dataListTable -->
            
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}
