{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Taller : {{ workshopscheduling.name }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Dashboard - Taller</h5>{% endblock %}

{% block content %}
{{ parent() }}

<div class="dashboard">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Notificaciones{% endfilter %}</h6>
            <a href="{{ path('fishman_front_end_workshop_admin_notifications', { 'workshopid': workshopscheduling.id }) }}" class="buttonH bBlack" title="">Ver todos</a>
        </div>

        {% for notification in notifications %}
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                {% if notification.type == 'message' %}
                    <span class="title"><strong><span class="uDone"></span>{{ notification.type|notificationtypeName }}</strong></span>
                {% else %}
                    <span class="title"><strong><span class="uDone"></span>{{ notification.type|notificationtypeName ~ ': ' ~ notification.type_name }}</strong></span>
                {% endif %}
                <span class="date"><label>Recibido el:</label> {{ notification.sended|date('j/n/Y H:i a') }}</span>
            </div>
            <div class="clearfix"><label>Asunto:</label> {{ notification.subject }}</div>
            <div class="clearfix"><p>{{ notification.message|cut(300)|raw }}</p></div>
            <div class="textR clearfix"><a href="{{ path('fishman_front_end_workshop_admin_notifications_show', { 'workshopid': workshopscheduling.id, 'id': notification.id }) }}" title="Ver más">Ver más</a></div>
        </div>

        {% endfor %}
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}
