{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Dashboard - Taller</h5>{% endblock %}

{% block content %}
{{ parent() }}

<div class="dashboard">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Notificaciones{% endfilter %}</h6>
            <a href="{{ path('fishman_front_end_workshop_notifications') }}" class="buttonH bBlack" title="">Ver todos</a>
        </div>

        {% for notification in notifications %}
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                {% if notification.type == 'message' %}
                    <span class="title"><strong><span class="uDone"></span>{{ notification.type|notificationtypeName }}</strong></span>
                {% else %}
                    <span class="title"><strong><span class="uDone"></span>{{ notification.type|notificationtypeName ~ ': ' ~ notification.type_name }}</strong></span>
                {% endif %}
                <span class="date"><label>Recibido el:</label> {{ notification.sended|date('j/n/Y H:i a') }}</span>
            </div>
            <div class="clearfix"><label>Asunto:</label> {{ notification.subject }}</div>
            <div class="clearfix"><p>{{ notification.message|cut(300)|raw }}</p></div>
            <div class="textR clearfix"><a href="{{ path('fishman_front_end_workshop_notifications_show', { 'id': notification.id }) }}" title="Ver más">Ver más</a></div>
        </div>

        {% endfor %}
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="clearfix">
        
        <div class="widget grid6 tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Actividades{% endfilter %}</h6>
                <a href="{{ path('fishman_front_end_workshop_activities') }}" class="buttonH bBlack" title="">Ver todos</a>
            </div>
            
            <div class="dataListTable">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Orden</th>
                            <th>Nombre</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in activities %}
                        <tr>
                            <td>{{ activity.sequence }}</td>
                            {% if (activity.predecessor == -1 and not activity.finished) or (activity.waap_finished and not activity.finished) %}
                                {% if activity.type == 1 %}
                                    <td><a href="{{ path('fishman_front_end_workshop_activities_workbook', { 'activityid': activity.id } ) }}">{{ activity.name }}</a></td>
                                {% elseif activity.type == 2 %}
                                    <td><a href="{{ path('fishman_front_end_workshop_activities_groupplan', { 'activityid': activity.id } ) }}">{{ activity.name }}</a></td>
                                {% elseif activity.type == 3 %}
                                    <td><a href="{{ path('fishman_front_end_workshop_activities_individualplan', { 'activityid': activity.id } ) }}">{{ activity.name }}</a></td>
                                {% elseif activity.type == 4 %}
                                    <td><a href="{{ path('fishman_front_end_workshop_activities_question', { 'activityid': activity.id } ) }}">{{ activity.name }}</a></td>
                                {% endif %}
                            {% else %}
                                <td>{{ activity.name }}</td>
                            {% endif %}
                            <td>{% if activity.initdate %}{{ activity.initdate|date('d/m/Y') }}{% endif %}</td>
                            <td>{% if activity.enddate %}{{ activity.enddate|date('d/m/Y') }}{% endif %}</td>
                            <td>{{ activity.finished|finishedName }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.dataListTable -->
       
        </div>

        <div class="widget grid6 tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Encuestas{% endfilter %}</h6>
                <a href="{{ path('fishman_front_end_workshop_polls') }}" class="buttonH bBlack" title="">Ver todos</a>
            </div>
            
            <div class="dataListTable">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Orden</th>
                            <th>Nombre</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for poll in polls %}
                        <tr>
                            <td>{{ poll.sequence }}</td>
                            {% if dateIsBefore(poll.initdate) and dateIsAfter(poll.enddate) %}
                            <td><a href="{{ path('fishman_front_end_poll', { 'pollid': poll.id } ) }}">{{ poll.title }}</a></td>
                            {% else %}
                            <td>{{ poll.title }}</td>
                            {% endif %}
                            <td>{% if poll.initdate %}{{ poll.initdate|date('d/m/Y') }}{% endif %}</td>
                            <td>{% if poll.enddate %}{{ poll.enddate|date('d/m/Y') }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.dataListTable -->
            
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}
