{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshop') }}">Talleres</a></li>
    <li><a href="{{ path('workshop_show', { 'id': workshop.id }) }}">{{ workshop.name }}</a></li>
    <li><a href="{{ path('workshopnotification', { 'workshopid': workshop.id }) }}">Notificaciones</a></li>
    <li><a href="{{ path('workshopnotification_show', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
    <li class="current"><a href="{{ path('workshopnotification_edit', { 'id': entity.id }) }}">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Mantenimiento de Talleres: {{ workshop.name ~ ': ' ~ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

    <form action="{{ path('workshopnotification_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Notificación{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div id="notificationCrud" class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.head, 'Cabecera') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.head) }}
                            {% if form_errors(edit_form.head) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.head) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.name, 'Nombre') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.name) }}
                            {% if form_errors(edit_form.name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.notification_type, 'Tipo') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.notification_type, { 'attr': { 'class': 'notificationType', 'disabled': true }}) }}
                            {% if form_errors(edit_form.notification_type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.notification_type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formNotificationTypeActivity">
                        <div class="grid3 typeNotificationCurrent">{{ form_label(edit_form.notification_type_id, 'Actividad') }}<span class="req">*</span></div>
                        <div class="grid9 notificationTypeSelected">
                            {% if combo is defined %}
                                {{ combo|raw }}
                            {% endif %}
                            {% if form_errors(edit_form.notification_type_id) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.notification_type_id) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formNotificationTypeStatus">
                        <div class="grid3 formNotificationTypeStatusLabel">{{ form_label(edit_form.notification_type_status, 'Estado de Actividad') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.notification_type_status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.notification_type_status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.notification_type_status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formCheckboxs formActiveOff formNotificationOnePerEvaluator">
                        <div class="grid3">Enviar</div>
                        <div class="grid9">
                            {{ form_widget(edit_form.one_per_evaluator) }}{{ form_label(edit_form.one_per_evaluator, 'Solo una notificación por evaluador') }}
                            {% if form_errors(edit_form.one_per_evaluator) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.one_per_evaluator) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.subject, 'Asunto') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.subject) }}
                            {% if form_errors(edit_form.subject) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.subject) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix descriptionContainer">
                        <div class="grid3">{{ form_label(edit_form.message, 'Mensaje') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.message) }}
                            {% if form_errors(edit_form.message) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.message) }}</div>
                            {% endif %}
                            {% include "FishmanNotificationBundle:Notification:token.html.twig" %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.ejecution_type, 'Ejecución') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.ejecution_type, { 'attr': { 'class': 'ejecutionType' }}) }}
                            {% if form_errors(edit_form.ejecution_type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.ejecution_type) }}</div>
                            {% endif %}
                            <fieldset class="clearfix formActiveOff formSelectedTrigger">
                                <legend>Con Disparador</legend>
                                <div class="clearfix">
                                    <div class="grid12 formOptions">
                                        {{ form_widget(edit_form.selected_trigger) }}
                                        {% if form_errors(edit_form.selected_trigger) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.selected_trigger) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formPredecessor">
                        <div class="grid3">{{ form_label(edit_form.predecessor, 'Notificación Predecesora') }}</div>
                        <div class="grid9">
                            {{ form_widget(edit_form.predecessor, { 'empty_value': 'NINGUNO' }) }}
                            {% if form_errors(edit_form.predecessor) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.predecessor) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTwoField clearfix formActiveOff formEjecutionSince">
                        <div class="grid3">{{ form_label(edit_form.since, 'Cuando') }}<span class="req">*</span></div>
                        <div class="grid9">
                            <div class="grid2">
                                {{ form_widget(edit_form.since) }}
                                {% if form_errors(edit_form.since) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.since) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid10">Días después</div>
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formEjecutionReplay">
                        <div class="grid3">{{ form_label(edit_form.replay, 'Repetir') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.replay, { 'attr': { 'class': 'replayFieldset' }}) }}
                            {% if form_errors(edit_form.replay) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.replay) }}</div>
                            {% endif %}
                            <fieldset class="clearfix formActiveOff formReplayFieldset">
                                <legend>Repetir</legend>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(edit_form.repeat_period, 'Se repite') }}<span class="req">*</span></div>
                                    <div class="grid9">
                                        {{ form_widget(edit_form.repeat_period, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                        {% if form_errors(edit_form.repeat_period) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.repeat_period) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(edit_form.repeat_range, 'Repetir cada') }}<span class="req">*</span></div>
                                    <div class="grid9">
                                        {{ form_widget(edit_form.repeat_range, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                        {% if form_errors(edit_form.repeat_range) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.repeat_range) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(edit_form.finish, 'Finaliza') }}<span class="req">*</span></div>
                                    <div class="grid9 formOptions">
                                        {{ form_widget(edit_form.finish, { 'attr': { 'class': 'repetitionNumber' }}) }}
                                        {% if form_errors(edit_form.finish) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.finish) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix formActiveOff formRepetitionNumber">
                                    <div class="grid3">{{ form_label(edit_form.repetition_number, 'Repeticiones') }}<span class="req">*</span></div>
                                    <div class="grid2">
                                        {{ form_widget(edit_form.repetition_number) }}
                                        {% if form_errors(edit_form.repetition_number) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.repetition_number) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="formRow clear clearfix formSelectMultiple formSelectPerfil {% if edit_form.one_per_evaluator.vars.checked %}formActiveOff{% endif %}">
                        <div class="grid3">Perfil<span class="req">*</span></div>
                        <div class="grid9">
                            <div class="leftBox">
                                <select name="asigned_options[data1][]" class="multiple selectOptionsData1" multiple="multiple">
                                {% if entity.notificationtype == 'poll' %}
                                    {{ asignedUnselectedOptionsPoll(entity.asigned)|raw }}
                                {% else %}
                                    {{ asignedUnselectedOptions(entity.asigned)|raw }}
                                {% endif %}
                                </select>
                            </div>  
                            <div class="dualControl">
                                <button id="moveToRightOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&gt;&nbsp;</button>
                                <button id="moveToAllRightOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&gt;&gt;&nbsp;</button>
                                <button id="moveToLeftOptions" type="button" class="dualBtn mb15 mr5">&nbsp;&lt;&nbsp;</button>
                                <button id="moveToAllLeftOptions" type="button" class="dualBtn mb15 mr5">&nbsp;&lt;&lt;&nbsp;</button>
                            </div>  
                            <div class="rightBox">
                                <select name="asigned_options[data2][]" class="multiple selectOptionsData2" multiple="multiple">
                                {% for asigned in entity.asigned %} 
                                    <option value="{{ asigned }}">{{ asigned|profileName }}</option>
                                {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="formRow clear clearfix">
                        <div class="grid3">{{ form_label(edit_form.sequence, 'Orden') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.sequence, { 'empty_value': 'Elige el orden' }) }}
                            {% if form_errors(edit_form.sequence) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.sequence) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10 autoselectOptionData2">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
        
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('workshopnotification', { 'workshopid': workshop.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('workshopnotification_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            <li>
                <a href="{{ path('workshopnotification_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block tinymce %}
{{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{globaljavascript|raw}}
<script type="text/javascript" charset="utf-8">
  var workshopid = {{ workshop.id }};
</script>
<script type="text/javascript" src="{{ asset('js/type_notification_ajax.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_options_move.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
