{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshop') }}">Talleres</a></li>
    <li><a href="{{ path('workshop_show', { 'id': workshop.id }) }}">{{ workshop.name }}</a></li>
    <li><a href="{{ path('workshopnotification', { 'workshopid': workshop.id }) }}">Notificaciones</a></li>
    <li class="current"><a href="{{ path('workshopnotification_show', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Mantenimiento de Talleres: {{ workshop.name ~ ': ' ~ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('workshopnotification_new', { 'workshopid': workshop.id }) }}" class="sideB bGreyish mt10">
                    Crear Notificación
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de Notificación{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('workshop_show', { 'id': workshop.id }) }}">General</a></li>
                    <li><a href="{{ path('workshopdocument', { 'workshopid': workshop.id }) }}">Documentos</a></li>
                    <li><a href="{{ path('workshopactivity', { 'workshopid': workshop.id }) }}">Actividades</a></li>
                    <li><a href="{{ path('workshoppoll', { 'workshopid': workshop.id }) }}">Encuestas</a></li>
                    <li class="activeTab"><a href="{{ path('workshopnotification', { 'workshopid': workshop.id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Cabecera</th>
                            <td>{{ entity.head }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Nombre</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Tipo</th>
                            {% if entity.type == 'activity' %}
                            <td>{{ entity.type|notificationtypeName ~ ': ' ~ entity.type_name }}</td>
                            {% else %}
                            <td>{{ entity.type|notificationtypeName }}</td>
                            {% endif %}
                        </tr>
                        {% if entityTypeName != '' %}
                        <tr>
                            {% if entity.type == 'activity' %}
                            <th class="textL">Actividad</th>
                            {% else %}
                            <th class="textL">Encuesta</th>
                            {% endif %}
                            <td>{{ entityTypeName }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.type != 'message' %}
                        <tr>
                            {% if entity.type == 'activity' %}
                            <th class="textL">Estado de Actividad</th>
                            {% else %}
                            <th class="textL">Estado de Encuesta</th>
                            {% endif %}
                            <td>{{ entity.type_status|finishedName }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.type == 'poll' %}
                            {% if entity.one_per_evaluator == 1 %}
                            <tr>
                                <th class="textL">Enviar</th>
                                <td>{{ entity.one_per_evaluator|onePerEvaluator }}</td>
                            </tr>
                            {% endif %}
                        {% endif %}
                        <tr>
                            <th class="textL">Asunto</th>
                            <td>{{ entity.subject }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Mensaje</th>
                            <td>{{ entity.message|raw }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Ejecución</th>
                            <td>{{ entity.ejecution_type|ejecutiontypeName }}</td>
                        </tr>
                        {% if entity.ejecution_type == 'automatic' %}
                            <tr>
                                <th class="textL">Notificación Predecesora</th>
                                <td>{{ entity.predecessor }}</td>
                            </tr>
                            <tr>
                                <th class="textL">Cuando</th>
                                <td>{{ entity.since }} Días después</td>
                            </tr>
                            <tr>
                                <th class="textL">Repetir</th>
                                <td>{{ entity.replay|replayName }}</td>
                            </tr>
                            {% if entity.replay == 1 %}
                                <tr>
                                    <th class="textL">Se repite</th>
                                    <td>{{ entity.repeat_period|repeatperiodName ~ ' (' ~ entity.repeat_range ~ ')' }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Finaliza</th>
                                    <td>
                                        {{ entity.finish|finishName }}
                                        {% if entity.finish == 'after' %}
                                            {{ entity.repetition_number }} repeticiones
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% elseif entity.ejecution_type == 'trigger' %}
                            <tr>
                                <th class="textL">Disparadores</th>
                                <td>
                                    {{ entity.selected_trigger|triggerName }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th class="textL">Perfil</th>
                            <td>
                            {% set i = 1 %}
                            {% for asigned in entity.asigned %} 
                                {{ asigned|profileName }}
                                {% if entity.asigned|length > i %}
                                    {% set i = i + 1 %}
                                    {{ ', ' }}
                                {% endif %}
                            {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th class="textL">Orden</th>
                            <td>{{ entity.sequence }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('workshopnotification', { 'workshopid': workshop.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('workshopnotification_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            <li>
                <a href="{{ path('workshopnotification_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
