{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('charge') }}">Cargos</a></li>
    <li class="current"><a href="{{ path('charge_new') }}" title="">Crear</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-admin2"></span><h5>Mantenimiento de Cargos</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <form action="{{ path('charge_create') }}" method="post" {{ form_enctype(form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Crear Cargo{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">
                
                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.name, 'Nombre') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.name) }}
                            {% if form_errors(form.name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('charge') }}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
        
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
