{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('charge') }}">Cargos</a></li>
    <li class="current"><a href="{{ path('charge_show', { 'id': entity.id }) }}" title="">{{ entity.name }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-admin2"></span><h5>Mantenimiento de Cargos: {{ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('charge_new') }}" class="sideB bGreyish mt10">
                    Crear Cargo
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de Cargo{% endfilter %}</h6>
        </div>
    
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Nombre</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('charge') }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('charge_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            <li>
                <a href="{{ path('charge_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
