{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('company') }}">Empresas</a></li>
    <li><a href="{{ path('company_show', { 'id': company.id }) }}">{{ company.name }}</a></li>
    <li><a href="{{ path('companycourse', { 'companyid': company.id }) }}">Cursos</a></li>
    <li class="current"><a href="{{ path('companycourse_import', { 'companyid': company.id }) }}">Importar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-companies"></span><h5>Mantenimiento de Empresas: {{ company.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget crud tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Importar Cursos{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('company_show', { 'id': company.id }) }}">General</a></li>
                    <li><a href="{{ path('headquarter', { 'companyid': company.id }) }}">Sedes</a></li>
                    <li><a href="{{ path('companyorganizationalunit', { 'companyid': company.id }) }}">Unidades Organizativas</a></li>
                    <li><a href="{{ path('companycharge', { 'companyid': company.id }) }}">Cargos</a></li>
                    {% if company.companytype == 'university' %}
                        <li><a href="{{ path('companyfaculty', { 'companyid': company.id }) }}">Facultades</a></li>
                        <li><a href="{{ path('companycareer', { 'companyid': company.id }) }}">Carreras</a></li>
                    {% endif %}
                    {% if company.companytype != 'working' %}
                        <li class="activeTab"><a href="{{ path('companycourse', { 'companyid': company.id }) }}">Cursos</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        <form action="{{ path('companycourse_import', { 'companyid': company.id }) }}" method="post" {{ form_enctype(form) }} class="formImport main importFile">

            <div class="">
                <div class="formRow clearfix">
                    <div class="grid3"><label>Plantilla</label></div>
                    <div class="grid9"><a href="{{ path('companycourse_downloadtemplate', { 'companyid': company.id }) }}">importar-empresa-cursos.xlsx</a></div>
                </div>
                <div class="formRow clearfix">
                    <div class="grid3">{{ form_label(form.file, 'Archivo') }}<span class="req">*</span></div>
                    <div class="grid9">
                        {{ form_widget(form.file) }}
                        {% if form_errors(form.file) %}
                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.file) }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="hide">
                {{ form_rest(form) }}
            </div>

            <div class="menuCrud clearfix">
                <ul>
                    <li>
                        <button name="import" type="submit" class="sideB bGreyish mt10 buttonImport">Importar</button>
                    </li>
                    <li>
                        <a href="{{ path('companycourse', { 'companyid': company.id }) }}" class="sideB bGreyish mt10">
                           Cerrar 
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.menuCrud -->

        </form>

       {%if courses %}
        <div class="dataListTable insideTable importTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                      <th>Orden</th>
                      <th>Código</th>
                      <th>Nombre</th>
                      <th>Mensajes</th>
                      <th>Válido</th>
                    </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ course.code }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.message|raw }}</td>
                        <td>{{ course.valid|validToString}}</td>
                    </tr>
                  {% endfor %} 
                </tbody>
            </table>
                
        </div>
        <!-- /.dataListTable -->
        {% endif %}
    </div>
    <!-- /.tableDefault -->
        
    {%if form2 %}
    <form action="{{ path('companycourse_import', { 'companyid': company.id }) }}" method="post" {{ form_enctype(form2) }} class="main formControl">
        <div class="menuCrud clearfix">

            <div class="hide clearfix">
                <div>{{ form_label(form2.temporalimportdata_id, 'Id') }}</div>
                <div>{{ form_widget(form2.temporalimportdata_id) }}</div>
            </div>

            <ul>
                <li>
                    <button name="save" value="1" type="submit" class="sideB bGreyish mt10">Guardar</button>
                </li>
                <li>
                    <input type="hidden" name="saveandclose" value="0" class="saveAndClose" />
                    <button name="buttonsac" value="0" type="submit" class="buttonSaveAndClose sideB bRed mt10">Guardar y Cerrar</button>
                </li>
                <li>
                    <a id="close-button" href="#confirmation-box" class="sideB bGreyish mt10">Cerrar</a>
                    <div class="hide">
                        <div id="confirmation-box" class="clearfix">
                            <p>Aún no ha guardado los datos de importación. Si presiona continuar perderá esta información ¿Desea continuar?</p>
                            <div class="confirmationButton clearfix">
                                <a href="{{ path('companycourse', { 'companyid': company.id }) }}" class="sideB bRed mt10 mb10 submit f-left">
                                    Continuar 
                                </a>
                                <a href="#" class="fancybox-close sideB bGreyish mt10 mb10 submit f-left" >
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
    </form>
    {% endif %}
</div>
<!-- /.dataList -->


{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/confirmation_message.js') }}"></script>
{% endblock %}
