{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('pollscheduling') }}">Programación de Encuestas</a></li>
    <li><a href="{{ path('pollscheduling_show', { 'id': pollscheduling.id }) }}" >{{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</a></li>
    <li><a href="{{ path('pollschedulingevaluator_notevaluateds', { 'pollschedulingid': pollscheduling.id }) }}" >Evaluaciones</a></li>
    <li class="current"><a href="{{ path('pollschedulingevaluator_notevaluateds_dropall', { 'pollschedulingid': pollscheduling.id }) }}">Eliminar todas las Evaluaciones</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create2"></span><h5>Programación de Encuestas: {{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}: Evaluaciones</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataDelete">

    <div class="widget fluid clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Eliminar todas las Evaluaciones{% endfilter %}</h6>
        </div>
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                <span class="name"><strong>{{ app.user.names ~ ' ' ~ app.user.surname ~ ' ' ~ app.user.lastname }}</strong>:</span>
            </div>
            <div class="dataDescription">
                ¿Está seguro de querer eliminar todas las evaluaciones asignadas a la encuesta <strong>{{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</strong>?
            </div>
        </div>

        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('pollschedulingevaluator_notevaluateds', { 'pollschedulingid': pollscheduling.id }) }}" class="sideB bGreyish mt10">Cancelar</a>
                </li>
                <li>
                    <form action="{{ path('pollschedulingevaluator_notevaluateds_deleteall', { 'pollschedulingid': pollscheduling.id }) }}" method="post">
                        {{ form_widget(delete_all_form) }}
                        <button type="submit" class="sideB bRed mt10">Eliminar</button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
    </div>
    
</div>
<!-- /.dataDelete -->

{% endblock %}