{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('pollscheduling') }}">Programación de Encuestas</a></li>
    <li><a href="{{ path('pollscheduling_show', { 'id': pollscheduling.id }) }}">{{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</a></li>
    <li><a href="{{ path('pollschedulingevaluator_notevaluateds', { 'pollschedulingid': pollscheduling.id }) }}">Evaluaciones</a></li>
    <li class="current"><a href="{{ path('pollschedulingevaluator_notevaluateds_import', { 'pollschedulingid': pollscheduling.id }) }}" title="">Importar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create2"></span><h5>Programación de Encuestas: {{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget crud fluid tableDefault clearfix">
        
        <div class="whead clearfix">
            <h6>{% filter upper %}Importar Evaluaciones{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('pollscheduling_show', { 'id': pollscheduling.id }) }}">General</a></li>
                    {% if pollscheduling.entitytype == 'pollscheduling' %}
                    <li><a href="{{ path('pollschedulingpeople', { 'pollschedulingid': pollscheduling.id }) }}">Personas</a></li>
                    {% endif %}
                    <li class="activeTab"><a href="{{ path('pollschedulingevaluator_notevaluateds', { 'pollschedulingid': pollscheduling.id }) }}">Evaluaciones</a></li>
                    {% if pollscheduling.level != 0 %}
                        <li><a href="{{ path('pollschedulingsection', { 'pollschedulingid': pollscheduling.id }) }}">Secciones</a></li>
                    {% endif %}
                    <li><a href="{{ path('pollschedulingquestion', { 'pollschedulingid': pollscheduling.id }) }}">Preguntas</a></li>
                    <li><a href="{{ path('pollschedulingnotification', { 'pollschedulingid': pollscheduling.id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        {% if pollapplicationimport %}
        <div class="menuCrud menuCrudImport clearfix">
            <ul class="record_actions clearfix">
                <li>
                    <a href="{{ path('pollapplication_import_one_by_one', { 'pollschedulingid' : pollscheduling.id }) }}" class="sideB bGreyish mt10" target="_blank">Importar pendientes</a>
                </li>
            </ul>
        </div>
        {% else %}
            <form action="{{ path('pollschedulingevaluator_notevaluateds_import',{ pollschedulingid : pollscheduling.id }) }}" method="post" {{ form_enctype(form) }} class="formImport main importFile">
    
                <div class="">
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Plantilla</label></div>
                        <div class="grid9">
                        {% if companytype == 'working' %}
                            <a href="{{ path('pollschedulingevaluator_notevaluateds_downloadtemplate', { 'pollschedulingid' : pollscheduling.id, 'type': 'working' }) }}">importar-evaluaciones-laboral-sin-evaluados.xlsx</a>
                        {% elseif companytype == 'school' %}
                            <a href="{{ path('pollschedulingevaluator_notevaluateds_downloadtemplate', { 'pollschedulingid' : pollscheduling.id, 'type': 'school' }) }}">importar-evaluaciones-colegio-sin-evaluados.xlsx</a>
                        {% elseif companytype == 'university' %}
                            <a href="{{ path('pollschedulingevaluator_notevaluateds_downloadtemplate', { 'pollschedulingid' : pollscheduling.id, 'type': 'university' }) }}">importar-evaluaciones-universidad-sin-evaluados.xlsx</a>
                        {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.file, 'Archivo') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.file) }}
                            {% if form_errors(form.file) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.file) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="menuCrud clearfix">
                    <ul>
                        <li>
                            <button name="import" type="submit" class="sideB bGreyish mt10 buttonImport">Importar</button>
                        </li>
                        <li>
                            <a href="{{ path('pollschedulingevaluator_notevaluateds',{ pollschedulingid : pollscheduling.id }) }}" class="sideB bGreyish mt10">
                               Cerrar 
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.menuCrud -->
    
            </form>
    
            {% if evaluations %}
            <div class="dataListTable insideTable importTable">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Código Evaluador</th>
                            <th>Nombre Evaluador</th>
                            {% if companytype == 'school' or companytype == 'university' %}
                            <th>Curso</th>
                            <th>Sección</th>
                            {% endif %}
                            <th>Mensajes</th>
                            <th>Válido</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for evaluation in evaluations %} 
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ evaluation.evaluator.code }}</td>
                            <td>{{ evaluation.evaluator.names ~ ' ' ~ evaluation.evaluator.surname ~ ' ' ~ evaluation.evaluator.lastname }}</td>
                            {% if companytype == 'school' or companytype == 'university' %}
                            <td>{{ evaluation.evaluator.course_code }}</td>
                            <td>{{ evaluation.evaluator.section }}</td>
                            {% endif %}
                            <td>{{ evaluation.evaluator.message|raw }}</td>
                            {% if evaluation.evaluator.valid == 1 %}
                            <td>Si</td>
                            {% else %}
                            <td>No</td>
                            {% endif %}
                        </tr>
                    {% endfor %} 
                    </tbody>
                </table>
                
            </div>
            <!-- /.dataListTable -->
            {% endif %}
        {% endif %}
        
    </div>
    <!-- /.tableDefault -->
    
    {% if pollapplicationimport == FALSE %}
        {% if form2 %}
        <form action="{{ path('pollschedulingevaluator_notevaluateds_import',{ pollschedulingid : pollscheduling.id }) }}" method="post" {{ form_enctype(form2) }} class="main formControl">
            
            <div class="menuCrud clearfix">
    
                <div class="hide clearfix">
                    <div>{{ form_label(form2.temporalimportdata_id, 'Id') }}</div>
                    <div>{{ form_widget(form2.temporalimportdata_id) }}</div>
                </div>
    
                <ul>
                    <li>
                        <button name="save" value="1" type="submit" class="sideB bGreyish mt10">Guardar</button>
                    </li>
                    <li>
                        <a id="close-button" href="#confirmation-box" class="sideB bGreyish mt10">Cerrar</a>
                        <div class="hide">
                            <div id="confirmation-box" class="clearfix">
                                <p>Aún no ha guardado los datos de importación. Si presiona continuar perderá esta información ¿Desea continuar?</p>
                                <div class="confirmationButton clearfix">
                                    <a href="{{ path('pollschedulingevaluator_notevaluateds',{ pollschedulingid : pollscheduling.id }) }}" class="sideB bRed mt10 mb10 submit f-left">
                                        Continuar 
                                    </a>
                                    <a href="#" class="fancybox-close sideB bGreyish mt10 mb10 submit f-left" >
                                        Cancelar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.menuCrud -->
        </form> 
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block tinymce %}
{{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/confirmation_message.js') }}"></script>
{% endblock %}
