{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('pollscheduling') }}">Programación de Encuestas</a></li>
    <li><a href="{{ path('pollscheduling_show', { 'id': pollscheduling.id }) }}">{{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</a></li>
    <li><a href="{{ path('pollschedulingevaluator_notevaluateds', { pollschedulingid : pollscheduling.id }) }}">Evaluaciones</a></li>
    <li class="current"><a href="{{ path('pollschedulingevaluator_notevaluateds_new', { pollschedulingid : pollscheduling.id }) }}">Asignar Evaluadores</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create2"></span><h5>Programación de Encuestas: {{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <div class="widget fluid tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Asignar Evaluaciones{% endfilter %}</h6>
        </div>

        <form action="{{ path('pollschedulingevaluator_notevaluateds_asigneds', { 'pollschedulingid': pollscheduling.id }) }}" method="post" {{ form_enctype(form) }} class="crudForm main formSearchEvaluators formControl">
                    
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid12">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid2">{{ form_label(form.evaluator_name, 'Evaluador') }}<span class="req">*</span></div>
                        <div class="grid6">
                            {{ form_widget(form.evaluator_name, { 'attr': { 'value': form.evaluator_name.vars.value }}) }}
                            {% if form_errors(form.evaluator_name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.evaluator_name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% if pollscheduling.company_type != 'working' %}
                    <div class="formRow clearfix formAttrib">
                        <fieldset class="clearfix">
                            <div class="formRow clearfix">
                                <div class="grid2 deletedPaddingLeft">
                                   {{form_label(form.attrib, 'Atributos Adicionales')  }}
                                </div>
                                <div class="grid6 deletedPaddingLeft">
                                {{ form_widget(form.attrib, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                {% if form_errors(form.attrib) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.attrib) }}</div>
                                {% endif %}
                                </div>
                            </div>
                            <div class="additionalAttributes formActiveOff">
                                <div class="formRow clearfix">
                                    <div class="grid2">{{ form_label(form.course, 'Cursos') }}</div>
                                    <div class="grid6">
                                        {{ form_widget(form.course, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                        {% if form_errors(form.course) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.course) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="formRow clearfix">
                                    <div class="grid2">{{ form_label(form.section, 'Sección') }}</div>
                                    <div class="grid6">
                                        {{ form_widget(form.section) }}
                                        {% if form_errors(form.section) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.section) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    {% endif %}
                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </div>
                
            </fieldset>
            
            <div class="menuCrud clearfix menuCrudsecundary">
                <ul class="record_actions">
                    <li class="buttonSaveEva">
                        <button type="submit" name="reset" class="sideB bRed mt10">Asignar</button>
                    </li>
                    <li class="buttonSaveEva">
                        <input type="hidden" name="saveandclose" value="0" class="saveAndClose" />
                        <button name="buttonsac" value="0" type="submit" class="buttonSaveAndClose sideB bRed mt10">Asignar y Cerrar</button>
                    </li>
                    <li class="buttonSaveEva">
                        <a href="{{path('pollschedulingevaluator_notevaluateds' ,{ 'pollschedulingid' : pollscheduling.id }) }}" class="sideB bGreyish mt10">
                            Regresar a la lista
                        </a>
                    </li>
                    <li>
                        <button type="reset" name="reset" class="sideB bGreyish mt10 buttonResetEvaluators">Limpiar</button>
                    </li>
                </ul>
            </div>
            <!-- /.menuCrud -->
            
        </form>
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{{ globaljavascript|raw }}
<script type="text/javascript" charset="utf-8">
  {{ jsonworkinginformations|raw }}
  var pollscheduling = {{ pollscheduling.id }}
</script>
<script type="text/javascript" src="{{ asset('js/pollschedulingevaluator_notevaluateds.js') }}"></script>
{% endblock %}
