<div class="tokenBlock">
    <p>Puede usar los siguientes patrones para que se reemplacen por los datos correspondientes</p>
    
    <dl class="clearfix">
        <dt>[user][names]</dt><dd>Nombres</dd> 
        <dt>[user][primarylastname]</dt><dd>Apellido Paterno</dd> 
        <dt>[user][secondarylastname]</dt><dd>Apellido Materno</dd> 
        <dt>[user][username]</dt><dd>Nombre de Usuario</dd> 
        <dt>[user][resetpasswordlink]</dt><dd>Enlace para cambiar la clave</dd>
        <dt>[user][sexidentified][oa]</dt><dd>El identificador de sexo, hombre(o), mujer(a)</dd>
        <dt>[pollapplication][internal][link]</dt><dd>Ruta a la encuesta estando autenticado.
            Solo se aplica si el tipo de notificación es encuesta</dd>
        <dt>[pollapplication][external][link]</dt><dd>Ruta a la encuesta sin estar autenticado.
            Solo se aplica si el tipo de notificación es encuesta</dd>
        {% if type is defined %}
            {% if type != 'not_evaluateds' %}
                <dt>[pollapplication][evaluated][fullname]</dt><dd>Nombre completo del evaluado de una encuesta.
                    Solo se aplica si el tipo de notificación es encuesta</dd>
            {% endif %}
        {% else %}
            <dt>[pollapplication][evaluated][fullname]</dt><dd>Nombre completo del evaluado de una encuesta.
                Solo se aplica si el tipo de notificación es encuesta</dd>
        {% endif %}
        <dt>[pollapplication][oneperevaluator][external][link]</dt><dd>Ruta a la lista de evaluados de un evaluador
            sin estar autenticado. Solo se aplica si el tipo de notificación es encuesta y se ha seleccionado 
            Enviar "Solo una notificación por evaluado"</dd>
        <dt>[talent][external][link]</dt><dd>Ruta a la evaluación de talentos. Solo funciona para 
            encuestas con "Reporte de Consejero"</dd>
        <dt>[pollapplication][report][link]</dt><dd>Ruta al reporte de evaluación. Solo funciona para 
            encuestas con "Reporte de Consejero"</dd>

        <dt>[pollapplication][report][temperament][link]</dt><dd>Ruta al reporte de evaluación. Solo funciona para 
            encuestas con "Reporte de Temperamentos"</dd>
            
    </dl>
</div>
