{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('company') }}">Empresas</a></li>
    <li><a href="{{ path('company_show', { 'id': entity.id }) }}" title="">{{ entity.name }}</a></li>
    <li class="current"><a href="{{ path('company_edit', { 'id': entity.id }) }}" title="">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-companies"></span><h5>Mantenimiento de Empresas: {{ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

    <form action="{{ path('company_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Empresa{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">
                
                <div class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.code, 'Código') }}<span class="req">*</span></div>
                        <div class="grid3">
                            {{ form_widget(edit_form.code) }}
                            {% if form_errors(edit_form.code) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.code) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.document, 'Logo') }}</div>
                        <div class="grid9">
                            {{ form_widget(edit_form.document) }}
                            {% if form_errors(edit_form.document) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.document) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.document_type, 'Tipo de Documento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.document_type, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.document_type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.document_type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.ruc, 'Número de Documento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.ruc) }}
                            {% if form_errors(edit_form.ruc) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.ruc) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.industry, 'Industria') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.industry, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.industry) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.industry) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.nature, 'Naturaleza') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.nature, { 'empty_value': 'SELECCIONE UNA OPCIÓN', 'attr': { 'class': 'natureFieldset' } }) }}
                            {% if form_errors(edit_form.nature) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.nature) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formContact">
                        <h6>Contacto</h6>
                        <fieldset class="clearfix">
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(edit_form.contact, 'Contacto') }}<span class="req">*</span></div>
                                <div class="grid9">
                                    {{ form_widget(edit_form.contact) }}
                                    {% if form_errors(edit_form.contact) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.contact) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow formTwoField clearfix">
                                <div class="grid3">{{ form_label(edit_form.phone, 'Teléfono') }}<span class="req">*</span></div>
                                <div class="grid5">
                                    {{ form_widget(edit_form.phone) }}
                                    {% if form_errors(edit_form.phone) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.phone) }}</div>
                                    {% endif %}
                                </div>
                                <div class="grid1">{{ form_label(edit_form.annex, 'Anexo') }}</div>
                                <div class="grid3">
                                    {{ form_widget(edit_form.annex) }}
                                    {% if form_errors(edit_form.annex) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.annex) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow formTwoField clearfix">
                                <div class="grid3">{{ form_label(edit_form.celphone, 'Celular') }}</div>
                                <div class="grid5">
                                    {{ form_widget(edit_form.celphone) }}
                                    {% if form_errors(edit_form.celphone) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.celphone) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(edit_form.email, 'Correo Contacto') }}<span class="req">*</span></div>
                                <div class="grid9">
                                    {{ form_widget(edit_form.email) }}
                                    {% if form_errors(edit_form.email) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.email) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="formRow clearfix formSize">
                        <h6>Tamaño</h6>
                        <fieldset class="clearfix">
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(edit_form.volume_business, 'Volumen de Ventas') }}</div>
                                <div class="grid9">
                                    {{ form_widget(edit_form.volume_business, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                    {% if form_errors(edit_form.volume_business) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.volume_business) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(edit_form.number_employees, 'Número Empleados') }}</div>
                                <div class="grid9">
                                    {{ form_widget(edit_form.number_employees, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                    {% if form_errors(edit_form.number_employees) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.number_employees) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="formRow clearfix formActiveOff formFieldsetSchool">
                        <h6>Colegio</h6>
                        <fieldset class="clearfix">
                            <div class="formRow clearfix">
                                <div class="grid3"><label>Rango de Pensión</label></div>
                                <div class="grid9">
                                    <select id="companydata_range_pension_school" name="company_data[range_pension_school]">
                                        <option value="">SELECCIONE UNA OPCIÓN</option>
                                        {% for pension in pensionsSchool %}
                                            {% if pension.id == current_pension %}
                                                <option selected="selected" value="{{ pension.id }}">{{ pension.rank }}</option>
                                            {% else %}
                                                <option value="{{ pension.id }}">{{ pension.rank }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3"><label>Tipo</label><span class="req">*</span></div>
                                <div class="grid9">
                                    <select id="companydata_type_school" name="company_data[type_school]">
                                        <option value="">SELECCIONE UNA OPCIÓN</option>
                                        {% for typeId, typeName in typesSchool %}
                                            {% if entity.companytype == 'school' and typeId == current_type %}
                                                <option selected="selected" value="{{ typeId }}">{{ typeName }}</option>
                                            {% else %}
                                                <option value="{{ typeId }}">{{ typeName }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(edit_form.gender, 'Género') }}<span class="req">*</span></div>
                                <div class="grid9">
                                    {{ form_widget(edit_form.gender, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                    {% if form_errors(edit_form.gender) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.gender) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3"><label>Número de Alumnos</label></div>
                                <div class="grid9">
                                    <select id="companydata_number_students_school" name="company_data[number_students_school]">
                                        <option value="">SELECCIONE UNA OPCIÓN</option>
                                        {% for numberstudents in numberstudentsSchool %}
                                            {% if numberstudents.id == current_numberstudents %}
                                                <option selected="selected" value="{{ numberstudents.id }}">{{ numberstudents.rank }}</option>
                                            {% else %}
                                                <option value="{{ numberstudents.id }}">{{ numberstudents.rank }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(edit_form.religious_affiliation_on, 'Afiliación Religiosa') }}<span class="req">*</span></div>
                                <div class="grid2">
                                    {{ form_widget(edit_form.religious_affiliation_on, { 'attr': { 'class': 'religiousAffiliationOn' } }) }}
                                    {% if form_errors(edit_form.religious_affiliation_on) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.religious_affiliation_on) }}</div>
                                    {% endif %}
                                </div>
                                <div class="grid6 formReligiousAffiliation formActiveOff">
                                    {{ form_widget(edit_form.religious_affiliation, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                    {% if form_errors(edit_form.religious_affiliation) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.religious_affiliation) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow formSelectMultiple clearfix">
                                <div class="grid3">{{ form_label(edit_form.institutional_affiliation, 'Afiliación Institucional') }}</div>
                                <div class="grid9">
                                    {{ form_widget(edit_form.institutional_affiliation, { 'attr': { 'class': 'multiple' } }) }}
                                    {% if form_errors(edit_form.institutional_affiliation) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.institutional_affiliation) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(edit_form.education_system, 'Sistema Educativo') }}<span class="req">*</span></div>
                                <div class="grid9">
                                    {{ form_widget(edit_form.education_system, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                    {% if form_errors(edit_form.education_system) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.education_system) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(edit_form.internal_school, 'Bachillerato Intern.') }}<span class="req">*</span></div>
                                <div class="grid9">
                                    {{ form_widget(edit_form.internal_school) }}
                                    {% if form_errors(edit_form.internal_school) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.internal_school) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="formRow clearfix formActiveOff formFieldsetUniversity">
                        <h6>Universidad / Instituto Superior</h6>
                        <fieldset class="clearfix">
                            <div class="formRow clearfix">
                                <div class="grid3"><label>Pensión Promedio</label></div>
                                <div class="grid9">
                                    <select id="companydata_range_pension_university" name="company_data[range_pension_university]">
                                        <option value="">SELECCIONE UNA OPCIÓN</option>
                                        {% for pension in pensionsUniversity %}
                                            {% if pension.id == current_pension %}
                                                <option selected="selected" value="{{ pension.id }}">{{ pension.rank }}</option>
                                            {% else %}
                                                <option value="{{ pension.id }}">{{ pension.rank }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3"><label>Tipo</label><span class="req">*</span></div>
                                <div class="grid9">
                                    <select id="companydata_type_university" name="company_data[type_university]">
                                        <option value="">SELECCIONE UNA OPCIÓN</option>
                                        {% for typeId, typeName in typesUniversity %}
                                            {% if entity.companytype == 'university' and typeId == current_type %}
                                                <option selected="selected" value="{{ typeId }}">{{ typeName }}</option>
                                            {% else %}
                                                <option value="{{ typeId }}">{{ typeName }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3"><label>Número de Alumnos</label></div>
                                <div class="grid9">
                                    <select id="companydata_number_students_university" name="company_data[number_students_university]">
                                        <option value="">SELECCIONE UNA OPCIÓN</option>
                                        {% for numberstudents in numberstudentsUniversity %}
                                            {% if numberstudents.id == current_numberstudents %}
                                                <option selected="selected" value="{{ numberstudents.id }}">{{ numberstudents.rank }}</option>
                                            {% else %}
                                                <option value="{{ numberstudents.id }}">{{ numberstudents.rank }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
        
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('company') }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('company_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            <li>
                <a href="{{ path('company_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script> var nature = eval({{ json_nature|raw }}); </script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
