{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('company') }}">Empresas</a></li>
    <li class="current"><a href="{{ path('company_new') }}" title="">Crear</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-companies"></span><h5>Mantenimiento de Empresas</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <form action="{{ path('company_create') }}" method="post" {{ form_enctype(form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Crear Empresa{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">
                
                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.code, 'Código') }}<span class="req">*</span></div>
                        <div class="grid3">
                            {{ form_widget(form.code) }}
                            {% if form_errors(form.code) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.code) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.name, 'Razón Social') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.name) }}
                            {% if form_errors(form.name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.document, 'Logo') }}</div>
                        <div class="grid9">
                            {{ form_widget(form.document) }}
                            {% if form_errors(form.document) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.document) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.document_type, 'Tipo de Documento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.document_type, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.document_type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.document_type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.ruc, 'Número de Documento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.ruc) }}
                            {% if form_errors(form.ruc) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.ruc) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.industry, 'Industria') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.industry, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.industry) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.industry) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.nature, 'Naturaleza') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.nature, { 'empty_value': 'SELECCIONE UNA OPCIÓN', 'attr': { 'class': 'natureFieldset' } }) }}
                            {% if form_errors(form.nature) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.nature) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formContact">
                        <h6>Contacto</h6>
                        <fieldset class="clearfix">
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(form.contact, 'Contacto') }}<span class="req">*</span></div>
                                <div class="grid9">
                                    {{ form_widget(form.contact) }}
                                    {% if form_errors(form.contact) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.contact) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow formTwoField clearfix">
                                <div class="grid3">{{ form_label(form.phone, 'Teléfono') }}<span class="req">*</span></div>
                                <div class="grid5">
                                    {{ form_widget(form.phone) }}
                                    {% if form_errors(form.phone) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.phone) }}</div>
                                    {% endif %}
                                </div>
                                <div class="grid1">{{ form_label(form.annex, 'Anexo') }}</div>
                                <div class="grid3">
                                    {{ form_widget(form.annex) }}
                                    {% if form_errors(form.annex) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.annex) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow formTwoField clearfix">
                                <div class="grid3">{{ form_label(form.celphone, 'Celular') }}</div>
                                <div class="grid5">
                                    {{ form_widget(form.celphone) }}
                                    {% if form_errors(form.celphone) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.celphone) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(form.email, 'Correo Contacto') }}<span class="req">*</span></div>
                                <div class="grid9">
                                    {{ form_widget(form.email) }}
                                    {% if form_errors(form.email) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.email) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="formRow clearfix formSize">
                        <h6>Tamaño</h6>
                        <fieldset class="clearfix">
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(form.volume_business, 'Volumen de Ventas') }}</div>
                                <div class="grid9">
                                    {{ form_widget(form.volume_business, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                    {% if form_errors(form.volume_business) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.volume_business) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(form.number_employees, 'Número Empleados') }}</div>
                                <div class="grid9">
                                    {{ form_widget(form.number_employees, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                    {% if form_errors(form.number_employees) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.number_employees) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="formRow clearfix formActiveOff formFieldsetSchool">
                        <h6>Colegio</h6>
                        <fieldset class="clearfix">
                            <div class="formRow clearfix">
                                <div class="grid3"><label>Rango de Pensión</label></div>
                                <div class="grid9">
                                    <select id="companydata_range_pension_school" name="company_data[range_pension_school]">
                                        <option value="">SELECCIONE UNA OPCIÓN</option>
                                        {% for pension in pensionsSchool %}
                                            <option value="{{ pension.id }}">{{ pension.rank }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3"><label>Tipo</label><span class="req">*</span></div>
                                <div class="grid9">
                                    <select id="companydata_type_school" name="company_data[type_school]">
                                        <option value="">SELECCIONE UNA OPCIÓN</option>
                                        {% for typeId, typeName in typesSchool %}
                                            <option value="{{ typeId }}">{{ typeName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(form.gender, 'Género') }}<span class="req">*</span></div>
                                <div class="grid9">
                                    {{ form_widget(form.gender, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                    {% if form_errors(form.gender) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.gender) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3"><label>Número de Alumnos</label></div>
                                <div class="grid9">
                                    <select id="companydata_number_students_school" name="company_data[number_students_school]">
                                        <option value="">SELECCIONE UNA OPCIÓN</option>
                                        {% for numberstudents in numberstudentsSchool %}
                                            <option value="{{ numberstudents.id }}">{{ numberstudents.rank }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(form.religious_affiliation_on, 'Afiliación Religiosa') }}<span class="req">*</span></div>
                                <div class="grid2">
                                    {{ form_widget(form.religious_affiliation_on, { 'attr': { 'class': 'religiousAffiliationOn' } }) }}
                                    {% if form_errors(form.religious_affiliation_on) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.religious_affiliation_on) }}</div>
                                    {% endif %}
                                </div>
                                <div class="grid6 formReligiousAffiliation formActiveOff">
                                    {{ form_widget(form.religious_affiliation, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                    {% if form_errors(form.religious_affiliation) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.religious_affiliation) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow formSelectMultiple clearfix">
                                <div class="grid3">{{ form_label(form.institutional_affiliation, 'Afiliación Institucional') }}</div>
                                <div class="grid9">
                                    {{ form_widget(form.institutional_affiliation, { 'attr': { 'class': 'multiple' } }) }}
                                    {% if form_errors(form.institutional_affiliation) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.institutional_affiliation) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(form.education_system, 'Sistema Educativo') }}<span class="req">*</span></div>
                                <div class="grid9">
                                    {{ form_widget(form.education_system, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                    {% if form_errors(form.education_system) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.education_system) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3">{{ form_label(form.internal_school, 'Bachillerato Intern.') }}<span class="req">*</span></div>
                                <div class="grid9">
                                    {{ form_widget(form.internal_school) }}
                                    {% if form_errors(form.internal_school) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.internal_school) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="formRow clearfix formActiveOff formFieldsetUniversity">
                        <h6>Universidad / Instituto Superior</h6>
                        <fieldset class="clearfix">
                            <div class="formRow clearfix">
                                <div class="grid3">Pensión Promedio</label></div>
                                <div class="grid9">
                                    <select id="companydata_range_pension_university" name="company_data[range_pension_university]">
                                        <option value="">SELECCIONE UNA OPCIÓN</option>
                                        {% for pension in pensionsUniversity %}
                                            <option value="{{ pension.id }}">{{ pension.rank }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3"><label>Tipo</label><span class="req">*</span></div>
                                <div class="grid9">
                                    <select id="companydata_type_university" name="company_data[type_university]">
                                        <option value="">SELECCIONE UNA OPCIÓN</option>
                                        {% for typeId, typeName in typesUniversity %}
                                            <option value="{{ typeId }}">{{ typeName }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid3"><label>Número de Alumnos</label></div>
                                <div class="grid9">
                                    <select id="companydata_number_students_university" name="company_data[number_students_university]">
                                        <option value="">SELECCIONE UNA OPCIÓN</option>
                                        {% for numberstudents in numberstudentsUniversity %}
                                            <option value="{{ numberstudents.id }}">{{ numberstudents.rank }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('company') }}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
        
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script> var nature = eval({{ json_nature|raw }}); </script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
