{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('company') }}">Empresas</a></li>
    <li class="current"><a href="{{ path('company_show', { 'id': entity.id }) }}" title="">{{ entity.name }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-companies"></span><h5>Mantenimiento de Empresas: {{ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('company_new') }}" class="sideB bGreyish mt10">
                    Crear Empresa
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de Empresa{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li class="activeTab"><a href="{{ path('company_show', { 'id': entity.id }) }}">General</a></li>
                    <li><a href="{{ path('headquarter', { 'companyid': entity.id }) }}">Sedes</a></li>
                    <li><a href="{{ path('companyorganizationalunit', { 'companyid': entity.id }) }}">Unidades Organizativas</a></li>
                    <li><a href="{{ path('companycharge', { 'companyid': entity.id }) }}">Cargos</a></li>
                    {% if entity.company_type == 'university' %}
                        <li><a href="{{ path('companyfaculty', { 'companyid': entity.id }) }}">Facultades</a></li>
                        <li><a href="{{ path('companycareer', { 'companyid': entity.id }) }}">Carreras</a></li>
                    {% endif %}
                    {% if entity.company_type != 'working' %}
                        <li><a href="{{ path('companycourse', { 'companyid': entity.id }) }}">Cursos</a></li>
                    {% endif %} 
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Código</th>
                            <td>{{ entity.code }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Razón social</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        {% if entity.image is not null %}
                        <tr>
                            <th class="textL">Logo</th>
                            <td>
                              <img class="logoCompany" src="{{ path('company_download' , { 'id': entity.id }) }}" alt="{{ entity.image }}" />
</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th class="textL">RUC / NIT</th>
                            <td>{{ entity.ruc }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Tipo de Empresa</th>
                            <td>{{ entity.company_type|companyType }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Industria</th>
                            <td>{{ entity.industry }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Naturaleza</th>
                            <td>{{ entity.nature }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Contacto</th>
                            <td>{{ entity.contact }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Teléfono</th>
                            <td>{{ entity.phone }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Anexo</th>
                            <td>{{ entity.annex }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Celular</th>
                            <td>{{ entity.celphone }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Correo Contacto</th>
                            <td>{{ entity.email }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Volumen de Ventas</th>
                            <td>{{ entity.volume_business }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Número de Empleados</th>
                            <td>{{ entity.number_employees }}</td>
                        </tr>
                        {% if entity.company_type == 'school' %}
                        <tr>
                            <th class="textL">Rango de Pensión</th>
                            <td>{{ entity.range_pension }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Tipo</th>
                            <td>{{ entity.type|companyTypeName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Género</th>
                            <td>{{ entity.gender|genderName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Número de Alumnos</th>
                            <td>{{ entity.number_students }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Afiliación Religiosa</th>
                            <td>{{ entity.religious_affiliation }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Afiliación Institucional</th>
                            <td>
                                <ul>
                                {% for ia in entity.institutional_affiliation %} 
                                    <li>{{ ia.name }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th class="textL">Sistema Educativo</th>
                            <td>{{ entity.education_system|educationSystemName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Bachillerato Intern. (IB)</th>
                            <td>{{ entity.internal_school|booleanName }}</td>
                        </tr>
                        {% elseif entity.company_type == 'university' %}
                        <tr>
                            <th class="textL">Rango de Pensión</th>
                            <td>{{ entity.range_pension }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Tipo</th>
                            <td>{{ entity.type }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Número de Alumnos</th>
                            <td>{{ entity.number_students }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('company') }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('company_export', { 'id': entity.id }) }}" class="sideB bRed mt10">Exportar</a>
            </li>
            <li>
                <a href="{{ path('company_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            <li>
                <a href="{{ path('company_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
