{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    <li><a href="{{ path('workshopschedulingpoll', { 'workshopschedulingid': workshopscheduling.id }) }}">Encuestas</a></li>
    <li><a href="{{ path('workshopschedulingpoll_show', { 'id': entity.pollscheduling_id }) }}">{{ entity.pollscheduling_title ~ ' ' ~ entity.pollscheduling_version }}</a></li>
    <li><a href="{{ path('workshopschedulingpollsection', { 'workshopschedulingid': workshopscheduling.id, 'pollschedulingid': entity.pollscheduling_id }) }}">Secciones</a></li>
    <li class="current"><a href="{{ path('workshopschedulingpollsection_show', { 'workshopschedulingid': workshopscheduling.id, 'id': entity.id }) }}">{{ entity.name }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ workshopscheduling.name ~ ': ' ~ entity.pollscheduling_title ~ ': ' ~ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('workshopschedulingpollsection_new', { 'workshopschedulingid': workshopscheduling.id, 'pollschedulingid': entity.pollscheduling_id }) }}" class="sideB bGreyish mt10">
                    Crear Sección
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de la Sección{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('workshopscheduling_show', { 'id': workshopscheduling.id }) }}">General</a></li>
                    <li><a href="{{ path('workshopapplication', { 'workshopschedulingid': workshopscheduling.id }) }}">Personas</a></li>
                    <li><a href="{{ path('workshopschedulingdocument', { 'workshopschedulingid': workshopscheduling.id }) }}">Documentos</a></li>
                    <li><a href="{{ path('workshopschedulingactivity', { 'workshopschedulingid': workshopscheduling.id }) }}">Actividades</a></li>
                    <li class="activeTab"><a href="{{ path('workshopschedulingpoll', { 'workshopschedulingid': workshopscheduling.id }) }}">Encuestas</a></li>
                    <li><a href="{{ path('workshopschedulingnotification', { 'workshopschedulingid': workshopscheduling.id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Nombre</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Descripción</th>
                            <td>{{ entity.description|raw }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Padre</th>
                            <td>{{ entity.parent }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Orden</th>
                            <td>{{ entity.sequence }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('workshopschedulingpollsection', { 'workshopschedulingid': workshopscheduling.id, 'pollschedulingid': entity.pollscheduling_id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('workshopschedulingpollsection_drop', { 'workshopschedulingid': workshopscheduling.id, 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            <li>
                <a href="{{ path('workshopschedulingpollsection_edit', { 'workshopschedulingid': workshopscheduling.id, 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
