{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('pollscheduling') }}">Programación de Encuestas</a></li>
    <li><a href="{{ path('pollscheduling_show', { 'id': entity.pollscheduling_id }) }}">{{ entity.pollscheduling_title ~ ' ' ~ entity.pollscheduling_version }}</a></li>
    <li><a href="{{ path('pollschedulingevaluator', { 'pollschedulingid': entity.pollscheduling_id }) }}">Evaluaciones</a></li>
    <li class="current"><a href="{{ path('pollschedulingevaluator_drop', { 'id': entity.id }) }}">Eliminar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create2"></span><h5>Programación de Encuestas: {{ entity.pollscheduling_title ~ ' ' ~ entity.pollscheduling_version ~ ': Eliminar' }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataDelete">

    <div class="widget fluid clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Eliminar Evaluaciones Asignadas{% endfilter %}</h6>
        </div>
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                <span class="name"><strong>{{ app.user.names ~ ' ' ~ app.user.surname ~ ' ' ~ app.user.lastname }}</strong>:</span>
            </div>
            ¿Está seguro de querer eliminar la evaluación del evaluador <strong>{{ entity.evaluator_names ~ ' ' ~ entity.evaluator_surname ~ ' ' ~ entity.evaluator_lastname }}</strong> para el evaluado <strong>{{ entity.evaluated_names ~ ' ' ~ entity.evaluated_surname ~ ' ' ~ entity.evaluated_lastname }}</strong> en la encuesta <strong>{{ entity.pollscheduling_title ~ ' ' ~ entity.pollscheduling_version }}</strong>?
        </div>

        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('pollschedulingevaluator', { 'pollschedulingid': entity.pollscheduling_id }) }}" class="sideB bGreyish mt10">Cancelar</a>
                </li>
                <li>
                    <form action="{{ path('pollschedulingevaluator_delete', { 'pollschedulingid': entity.pollscheduling_id, 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit" class="sideB bRed mt10">Eliminar</button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
    </div>
    
</div>
<!-- /.dataDelete -->

{% endblock %}