{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('pollscheduling') }}">Programación de Encuestas</a></li>
    <li><a href="{{ path('pollscheduling_show', { 'id': entity.pollscheduling_id }) }}">{{ entity.pollscheduling_title ~ ' ' ~ entity.pollscheduling_version }}</a></li>
    <li><a href="{{ path('pollschedulingevaluator', { 'pollschedulingid': entity.pollscheduling_id }) }}">Evaluaciones</a></li>
    <li class="current"><a href="{{ path('pollschedulingevaluator_edit', { 'id': entity.id }) }}" title="">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create2"></span><h5>Programación de Encuestas: {{ entity.pollscheduling_title ~ ' ' ~ entity.pollscheduling_version ~ ': Editar' }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

    <div class="widget fluid tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Editar Evaluación Asignada{% endfilter %}</h6>
        </div>

        <form action="{{ path('pollschedulingevaluator_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crudForm main formSearchEvaluators formControl">
                    
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid12">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid2"><label>Evaluado</label></div>
                        <div class="grid6">{{ entity.evaluated_names ~ ' ' ~ entity.evaluated_surname ~ ' ' ~ entity.evaluated_lastname ~ ' (' ~ entity.evaluated_type|workinginformationType ~ ')' }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid2">{{ form_label(edit_form.evaluator, 'Evaluador') }}</div>
                        <div class="grid6">
                            {% if entity.type == 'self_evaluation' %}
                                {{ form_widget(edit_form.evaluator, { 'attr': { 'value': edit_form.evaluator.vars.value , 'disabled': 'disabled' }}) }}
                              {% else %}
                                {{ form_widget(edit_form.evaluator, { 'attr': { 'value': edit_form.evaluator.vars.value }}) }}
                            {% endif %}
                            {% if form_errors(edit_form.evaluator) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.evaluator) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid2">{{ form_label(edit_form.evaluator_rol, 'Rol de Evaluador') }}</div>
                        <div class="grid6">
                            {{ form_widget(edit_form.evaluator_rol, { 'empty_value': 'Elija el Rol' }) }}
                            {% if form_errors(edit_form.evaluator_rol) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.evaluator_rol) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% if entity.company_type != 'working' %}
                    <div class="formRow clearfix">
                      <div class="grid2">
                        <label for="form_attrib">Atributos Adicionales</label>
                      </div>
                        <div class="grid6">
                          <select id="form_attrib" name="form[attrib]">
                            <option value="">Elige una opción</option>
                            {% if entity.course != null or entity.section != null %}
                                <option value="0">No</option>
                                <option value="1" selected >Si</option>
                            {% else %}
                                <option value="0" selected >No</option>
                                <option value="1">Si</option>
                            {% endif %}
                          </select>
                        </div>
                    </div>
                    <div class="additionalAttributes ">
                        <div class="formRow clearfix">
                            <div class="grid2">{{ form_label(edit_form.course, 'Cursos') }}</div>
                            <div class="grid6 courseSelect">
                                {{ form_widget(edit_form.course, { 'empty_value': 'Elige una opción' }) }}
                                {% if form_errors(edit_form.course) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.course) }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="formRow clearfix">
                            <div class="grid2">{{ form_label(edit_form.section, 'Sección') }}</div>
                            <div class="grid6">
                                {{ form_widget(edit_form.section) }}
                                {% if form_errors(edit_form.section) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.section) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="hide">
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </form>
            
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{path('pollschedulingevaluator' ,{ 'pollschedulingid' : entity.pollscheduling_id }) }}" class="sideB bGreyish mt10">
                    Regresar a la lista
                </a>
            </li>
            <li>
                <a href="{{ path('pollschedulingevaluator_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
<script type="text/javascript">{{ jsonworkinginformations|raw }}</script>
<script type="text/javascript" src="{{ asset('js/pollschedulingevaluator.js') }}"></script>
{% endblock %}
