{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('pollscheduling') }}">Programación de Encuestas</a></li>
    <li><a href="{{ path('pollscheduling_show', { 'id': pollscheduling.id }) }}">{{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</a></li>
    <li class="current"><a href="{{ path('pollschedulingevaluator', { 'pollschedulingid': pollscheduling.id }) }}">Evaluaciones</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create2"></span><h5>Programación de Encuestas: {{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList dataListDelete dataListDeleteEvaluators">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('pollschedulingevaluator_dropall', { 'pollschedulingid': pollscheduling.id }) }}" class="sideB bRed mt10">
                    Eliminar todos 
                </a>
            </li>
            <li>
                <a href="{{ path('pollschedulingevaluator_import', { 'pollschedulingid': pollscheduling.id }) }}" class="sideB bGreyish mt10">
                    Importar 
                </a>
            </li>
            <li>
                <a href="{{ path('pollschedulingevaluator_new', { 'pollschedulingid': pollscheduling.id }) }}" class="sideB bGreyish mt10">
                    Asignar 
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->
    
    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Evaluaciones{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('pollscheduling_show', { 'id': pollscheduling.id }) }}">General</a></li>
                    {% if pollscheduling.entitytype == 'pollscheduling' %}
                    <li><a href="{{ path('pollschedulingpeople', { 'pollschedulingid': pollscheduling.id }) }}">Personas</a></li>
                    {% endif %}
                    <li class="activeTab"><a href="{{ path('pollschedulingevaluator', { 'pollschedulingid': pollscheduling.id }) }}">Evaluaciones</a></li>
                    {% if pollscheduling.level != 0 %}
                        <li><a href="{{ path('pollschedulingsection', { 'pollschedulingid': pollscheduling.id }) }}">Secciones</a></li>
                    {% endif %}
                    <li><a href="{{ path('pollschedulingquestion', { 'pollschedulingid': pollscheduling.id }) }}">Preguntas</a></li>
                    <li><a href="{{ path('pollschedulingnotification', { 'pollschedulingid': pollscheduling.id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formBlockFloat formLine clearfix">
                        <div class="formBlock clearfix">
                            <h6>Evaluado</h6>
                            <div class="grid11">
                                <div class="formRow formCode clearfix">
                                    {{ form_label(form.evaluated_code, 'Código') }}
                                    <div>{{ form_widget(form.evaluated_code) }}</div>
                                </div>
                                <div class="formRow clearfix">
                                    {{ form_label(form.evaluated_names, 'Nombres') }}
                                    <div>{{ form_widget(form.evaluated_names) }}</div>
                                </div>
                                <div class="formRow clearfix">
                                    {{ form_label(form.evaluated_surname, 'Ape. Paterno') }}
                                    <div>{{ form_widget(form.evaluated_surname) }}</div>
                                </div>
                                <div class="formRow clearfix">
                                    {{ form_label(form.evaluated_lastname, 'Ape. Materno') }}
                                    <div>{{ form_widget(form.evaluated_lastname) }}</div>
                                </div>
                                <div class="formRow clearfix">
                                    <button type="submit" class="buttonSearch sideB"></button>
                                </div>
                            </div>
                        </div>
                        <div class="formBlock formLine clearfix">
                            <h6>Evaluador</h6>
                            <div class="grid11">
                                <div class="formRow formCode clearfix">
                                    {{ form_label(form.evaluator_code, 'Código') }}
                                    <div>{{ form_widget(form.evaluator_code) }}</div>
                                </div>
                                <div class="formRow clearfix">
                                    {{ form_label(form.evaluator_names, 'Nombres') }}
                                    <div>{{ form_widget(form.evaluator_names) }}</div>
                                </div>
                                <div class="formRow clearfix">
                                    {{ form_label(form.evaluator_surname, 'Ape. Paterno') }}
                                    <div>{{ form_widget(form.evaluator_surname) }}</div>
                                </div>
                                <div class="formRow clearfix">
                                    {{ form_label(form.evaluator_lastname, 'Ape. Materno') }}
                                    <div>{{ form_widget(form.evaluator_lastname) }}</div>
                                </div>
                                <div class="formRow clearfix">
                                    {{ form_label(form.evaluator_rol, 'Rol') }}
                                    <div>{{ form_widget(form.evaluator_rol, { 'empty_value': 'Todos' }) }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <form action="{{ path('pollschedulingevaluator_dropmultiple', { 'pollschedulingid': pollscheduling.id }) }}" method="post" {{ form_enctype(deletes_form) }} class="formDeletes">
        
            {{ form_errors(deletes_form) }}
            
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bGreyish mt10">Eliminar</button>
                    </li>
                </ul>
            </div>

            <div class="dataListTable">
                <table class="records_list dataTable check_all">
                    <thead>
                        <tr>
                            <th class="check"><input type="checkbox" id="form_deletes_check_all" name="form_deletes[check_all]" value="1"></th>
                            <th>Evaluado - Código</th>
                            <th>Evaluado - Nombre</th>
                            <th>Evaluador - Código</th>
                            <th>Evaluador - Nombre</th>
                            <th>Evaluador - Rol</th>
                            <th>Modificado por</th>
                            <th>Última modificación</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td class="check"><input type="checkbox" id="form_deletes_registers_{{ entity.id }}" name="form_deletes[registers][]" value="{{ entity.id }}"></td>
                            <td>{{ entity.evaluated_code }}</td>
                            <td>{{ entity.evaluated_names ~ ' ' ~ entity.evaluated_surname ~ ' ' ~ entity.evaluated_lastname }}</td>
                            <td>{{ entity.evaluator_code }}</td>
                            <td>{{ entity.evaluator_names ~ ' ' ~ entity.evaluator_surname ~ ' ' ~ entity.evaluator_lastname }}</td>
                            <td>{{ entity.evaluator_rol|evaluationRolName }}</td>
                            <td>{{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</td>
                            <td>{% if entity.changed %}{{ entity.changed|date('d/m/Y - H:i') }}{% endif %}</td>
                            <td class="actionsButtons actionsButtonsTwo">
                                <ul>
                                    <li>
                                        <a href="{{ path('pollschedulingevaluator_edit', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Editar"><span class="icos-pencil"></span></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('pollschedulingevaluator_drop', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Eliminar"><span class="icos-cross"></span></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
                <div class="fg-toolbar tableFooter">
                    <div class="dataTables_info">{{ info_paginator }}</div>
                    {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'pollschedulingevaluator', 'rparams': { 'pollschedulingid': pollscheduling.id, 'form': form_data }, 'id': 'pollapplication' } %}
                </div>
                
            </div>
            <!-- /.dataListTable -->
            
            <div class="hide">
                {{ form_rest(deletes_form) }}
            </div>
            
        </form>
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
