{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('pollscheduling') }}">Programación de Encuestas</a></li>
    <li><a href="{{ path('pollscheduling_show', { 'id': pollscheduling.id }) }}">{{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</a></li>
    <li><a href="{{ path('pollschedulingevaluator', { pollschedulingid : pollscheduling.id }) }}">Evaluaciones</a></li>
    <li class="current"><a href="{{ path('pollschedulingevaluator_new', { pollschedulingid : pollscheduling.id }) }}">Asignar Evaluadores</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create2"></span><h5>Programación de Encuestas: {{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <div class="widget fluid tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Asignar Evaluación{% endfilter %}</h6>
        </div>

        <form action="" method="post" {{ form_enctype(form) }} class="crudForm main formSearchEvaluators formControl">
            
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid12">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid2">{{ form_label(form.evaluated, 'Evaluado') }}<span class="req">*</span></div>
                        <div class="grid6">
                            {{ form_widget(form.evaluated, { 'attr': { 'value': form.evaluated.vars.value }}) }}
                            {% if form_errors(form.evaluated) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.evaluated) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid2">{{ form_label(form.type, 'Tipo de Evaluación') }}<span class="req">*</span></div>
                        <div class="grid6">
                            {{ form_widget(form.type, { 'attr': { 'class': 'evaluatorType' }, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formActiveOff formEvaluator360">
                        <div class="formRow clearfix">
                            <h6>Buscar Evaluadores</h6>
                        </div>
                        <div class="formRow clearfix">
                            <div class="grid2">{{ form_label(form.code, 'Código') }}</div>
                            <div class="grid6">
                                {{ form_widget(form.code, { 'attr': { 'value': form.code.vars.value }}) }}
                                {% if form_errors(form.code) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.code) }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="formRow clearfix">
                            <div class="grid2">{{ form_label(form.surname, 'Apellido Paterno') }}</div>
                            <div class="grid2">
                                {{ form_widget(form.surname, { 'attr': { 'value': form.surname.vars.value }}) }}
                                {% if form_errors(form.surname) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.surname) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid2 textR">{{ form_label(form.lastname, 'Apellido Materno') }}</div>
                            <div class="grid2">
                                {{ form_widget(form.lastname, { 'attr': { 'value': form.lastname.vars.value }}) }}
                                {% if form_errors(form.lastname) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.lastname) }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="formRow clearfix">
                            <div class="grid2">{{ form_label(form.names, 'Nombres') }}</div>
                            <div class="grid6">
                                {{ form_widget(form.names, { 'attr': { 'value': form.names.vars.value }}) }}
                                {% if form_errors(form.names) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.names) }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="formRow clearfix">
                            <div class="grid2">{{ form_label(form.data_type, 'Tipo de Datos') }}</div>
                            <div class="grid6">
                                {{ form_widget(form.data_type, { 'empty_value': 'Elige una opción' }) }}
                                {% if form_errors(form.data_type) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.data_type) }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="workingFields">
                            <div class="formRow clearfix">
                                <div class="grid2">{{ form_label(form.initdate, 'Fecha de Ingreso') }}</div>
                                <div class="grid6">
                                    {{ form_widget(form.initdate, { 'attr': { 'class': 'datepicker', 'value': form.initdate.vars.value }}) }}
                                    {% if form_errors(form.initdate) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.initdate) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid2">{{ form_label(form.organizationalunit, 'Unidad Organizativa') }}</div>
                                <div class="grid6">
                                    {{ form_widget(form.organizationalunit, { 'empty_value': 'Elige la unidad organizativa' }) }}
                                    {% if form_errors(form.organizationalunit) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.organizationalunit) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid2">{{ form_label(form.charge, 'Cargo') }}</div>
                                <div class="grid6">
                                    {{ form_widget(form.charge, { 'empty_value': 'Elige el cargo' }) }}
                                    {% if form_errors(form.charge) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.charge) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div><!--/.workingFields -->
                        <div class="schoolFields">
                            <div class="formRow clearfix">
                                <div class="grid2">{{ form_label(form.grade, 'Grado') }}</div>
                                <div class="grid6">
                                    {{ form_widget(form.grade, { 'empty_value': 'Elige el grado' }) }}
                                    {% if form_errors(form.grade) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.grade) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="formRow clearfix">
                                <div class="grid2">{{ form_label(form.study_year, 'Año de Estudios') }}</div>
                                <div class="grid6">
                                    {{ form_widget(form.study_year) }}
                                    {% if form_errors(form.study_year) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.study_year) }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div><!-- /.schoolFields -->
                    </div><!-- /.formEvaluator360 -->
                    <div class="formActiveOff2 formEvaluator1to1">
                        <div class="formRow clearfix">
                            <div class="grid2">{{ form_label(form.evaluator_name, 'Evaluador') }}</div>
                            <div class="grid6">
                                {{ form_widget(form.evaluator_name) }}
                                {% if form_errors(form.evaluator_name) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.evaluator_name) }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="formRow clearfix">
                            <div class="grid2">{{ form_label(form.evaluator_rol, 'Rol de Evaluador') }}</div>
                            <div class="grid6">
                                {{ form_widget(form.evaluator_rol, { 'empty_value': 'Elija el Rol' }) }}
                                {% if form_errors(form.evaluator_rol) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.evaluator_rol) }}</div>
                                {% endif %}
                            </div>
                        </div>
                        {% if pollscheduling.company_type != 'working' %}
                        <div class="formRow clearfix formAttrib">
                            <fieldset class="clearfix">
                                <div class="formRow clearfix">
                                    <div class="grid2 deletedPaddingLeft">
                                       {{form_label(form.attrib, 'Atributos Adicionales')  }}
                                    </div>
                                    <div class="grid6 deletedPaddingLeft">
                                    {{ form_widget(form.attrib, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                    {% if form_errors(form.attrib) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.attrib) }}</div>
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="additionalAttributes formActiveOff">
                                    <div class="formRow clearfix">
                                        <div class="grid2">{{ form_label(form.course, 'Cursos') }}</div>
                                        <div class="grid6">
                                            {{ form_widget(form.course, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                            {% if form_errors(form.course) %}
                                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.course) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="formRow clearfix">
                                        <div class="grid2">{{ form_label(form.section, 'Sección') }}</div>
                                        <div class="grid6">
                                            {{ form_widget(form.section) }}
                                            {% if form_errors(form.section) %}
                                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.section) }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        {% endif %}
                    </div>
                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </div>
                
            </fieldset>
            
            <div class="menuCrud clearfix menuCrudsecundary">
                <ul class="record_actions">
                    <li class="buttonSaveEva formActiveOff2">
                        <button type="submit" name="reset" class="sideB bRed mt10">Asignar Evaluador</button>
                    </li>
                    <li class="buttonSaveEva formActiveOff2">
                        <button name="saveandclose" value="1" type="submit" class="sideB bRed mt10">Asignar Evaluadores y Cerrar</button>
                    </li>
                    <li class="buttonFindEva" >
                        <button type="submit" name="reset" class="sideB bGreyish mt10">Buscar</button>
                    </li>
                    <li class="buttonSaveEva formActiveOff2">
                        <a href="{{path('pollschedulingevaluator' ,{ 'pollschedulingid' : pollscheduling.id }) }}" class="sideB bGreyish mt10">
                            Regresar a la lista
                        </a>
                    </li>
                    <li>
                        <button type="reset" name="reset" class="sideB bGreyish mt10 {% if pollscheduling.type != 'self_evaluation' %}buttonResetEvaluators {% else %} buttonResetSelf{% endif %}">Limpiar</button>
                    </li>
                </ul>
            </div>
            <!-- /.menuCrud -->
            
        </form>
        {% if asigneds_form is defined  %}
            <form action="{{ path('pollschedulingevaluator_asigneds', { 'pollschedulingid': pollscheduling.id }) }}" method="post" {{ form_enctype(asigneds_form) }} class="crud formAsignedsEvaluators  menuFilter">
                
                {{ form_errors(asigneds_form) }}

                <div class="dataListTable insideTable">
                    <table class="records_list dataTable check_all">
                        <thead>
                            <tr>
                                <th class="check"><input type="checkbox" id="form_deletes_check_all" name="form_deletes[check_all]" value="1"></th>
                                <th>Código</th>
                                <th>Ape. Peterno</th>
                                <th>Ape. Materno</th>
                                <th>Nombres</th>
                                <th>Unidad</th>
                                <th>Cargo</th>
                                <th>Ingreso</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td class="check"><input type="checkbox" id="form_asigneds_registers_{{ entity.id }}" name="form[evaluators][]" value="{{ entity.id }}"></td>
                                <td>{{ entity.code }}</td>
                                <td>{{ entity.surname }}</td>
                                <td>{{ entity.lastname }}</td>
                                <td>{{ entity.names }}</td>
                                <td>{{ entity.companyorganizationalunit }}</td>
                                <td>{{ entity.companycharge }}</td>
                                <td>{{ entity.datein|date('d/m/Y') }}</td>
                                <td>{{ entity.status|statusName }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    
                    <div class="fg-toolbar tableFooter">
                        <div class="dataTables_info">{{ info_paginator }}</div>
                        {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'pollschedulingevaluator_new', 'rparams': { 'pollschedulingid': pollscheduling.id }, 'id': 'workinginformationevaluator' } %}
                    </div>
                    
                </div>
                <!-- /.dataListTable -->
        
                <div class="menuCrud clearfix menuCrudsecundary">
                    <ul class="record_actions">
                        <li class="marginCombo">
                            <fieldset class="step ui-formwizard-content clearfix">
                                {{ form_label(asigneds_form.evaluators_rol, 'Rol de Evaluador') }}
                                {{ form_widget(asigneds_form.evaluators_rol, { 'empty_value': 'Escoja el rol' }) }}
                            </fieldset>
                        </li>
                        <li>
                            <button name="save" value="1" type="submit" class="sideB bRed mt10">Asignar Evaluadores</button>
                        </li>
                        <li>
                            <input type="hidden" name="saveandclose" value="0" class="saveAndClose" />
                            <button name="buttonsac" value="0" type="submit" class="buttonSaveAndClose sideB bRed mt10">Asignar Evaluadores y Cerrar</button>
                        </li>
                        <li>
                            <a href="{{path('pollschedulingevaluator' ,{ 'pollschedulingid' : pollscheduling.id }) }}" class="sideB bGreyish mt10">
                                Regresar a la lista
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.menuCrud -->
                
                <div class="hide">
                    {{ form_rest(asigneds_form) }}
                </div>
                
            </form>
            
          
        {% endif %}
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
<script type="text/javascript">{{ jsonworkinginformations|raw }}</script>
<script type="text/javascript" src="{{ asset('js/pollschedulingevaluator.js') }}"></script>
{{ globaljavascript|raw }}
<script type="text/javascript" charset="utf-8">
  var pollscheduling = {{ pollscheduling.id }}
</script>
<script type="text/javascript" src="{{ asset('js/wipollschedulingevaluator.js') }}"></script>
{% endblock %}
