{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Talleres : {{ app.session.get('workinginformation').company_name }}{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'all'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'all'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_workshops') }}">Talleres</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshops') }}">Talleres</a></li>
</ul>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Talleres{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Id / Nombre') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.initdate, 'Inicio') }}
                        <div>{{ form_widget(form.initdate, { 'attr': { 'class': 'datepicker', 'value': form.initdate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.enddate, 'Fin') }}
                        <div>{{ form_widget(form.enddate, { 'attr': { 'class': 'datepicker', 'value': form.enddate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for workshopapplication in workshopapplications %}
                    <tr>
                        <td>{{ workshopapplication.id }}</td>
                        <td><a href="{{ path('fishman_front_end_workshop', { 'wa' : workshopapplication.id }) }}">{{ workshopapplication.name }}</a></td>
                        <td>{% if workshopapplication.initdate %}{{ workshopapplication.initdate|date('d/m/Y') }}{% endif %}</td>
                        <td>{% if workshopapplication.enddate %}{{ workshopapplication.enddate|date('d/m/Y') }}{% endif %}</td>
                        <td class="actionsButtons actionsButtonsView">
                            <ul>
                                <li>
                                    <a href="{{ path('fishman_front_end_workshop', { 'wa': workshopapplication.id }) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_workshops', 'rparams': { 'form': form_data }, 'id': 'workshops' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
