{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshop.custom_header_title, 
      'customheadertitletext': workshop.custom_header_title_text, 
      'customheadertitledescription': workshop.custom_header_title_description, 
      'customheaderlogo': workshop.custom_header_logo, 
      'companyid': workshop.company_id, 
      'companyname': workshop.company_name,
      'companyimage': workshop.company_image
   }
%}
{% if workshop.custom_header_title == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
<span class="icon-screen"></span>Taller : {{ workshop.name }}
{% else %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endif %}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshop.id } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshop.id } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_workshops') }}">Talleres</a></li>
    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
    <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshop.id }) }}">{{ workshop.name }}</a></li>
    {% else %}
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    {% endif %}
    <li class="current"><a href="{{ path('fishman_front_end_workshop_integrants', { 'workshopid': workshop.id } ) }}">Participantes</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Participante</h5>{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Participantes{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formCode clearfix">
                        {{ form_label(form.word, 'Código') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.user_names, 'Nombres') }}
                        <div>{{ form_widget(form.user_names) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.user_surname, 'Ape. Paterno') }}
                        <div>{{ form_widget(form.user_surname) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.user_lastname, 'Ape. Materno') }}
                        <div>{{ form_widget(form.user_lastname) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.organizationalunit, 'Unidad') }}
                        <div>{{ form_widget(form.organizationalunit, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.charge, 'Cargo') }}
                        <div>{{ form_widget(form.charge, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Nombres</th>
                        <th>Unidad</th>
                        <th>Cargo</th>
                        <th>Reporte</th>
                    </tr>
                </thead>
                <tbody>
                {% for workshopapplication in workshopapplications %}
                    <tr>
                        <td>{{ workshopapplication.code }}</td>
                        <td>{{ workshopapplication.surname }}</td>
                        <td>{{ workshopapplication.lastname }}</td>
                        <td>{{ workshopapplication.names }}</td>
                        <td>{{ workshopapplication.organizationalunit }}</td>
                        <td>{{ workshopapplication.charge }}</td>
                        <td class="actionsButtons actionsButtonsView">
                            <ul>
                                <li>
                                    <a href="{{ path('fishman_front_end_workshop_report_activity', { 'workshopschedulingid': workshopapplication.ws_id }) }}" title="Actividades" class="tablectrl_small bDefault"><span class="icos-digg2"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
              <div class="dataTables_info">{{ info_paginator }}</div>
              {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_workshop_integrants', 'rparams': { 'workshopid': workshop.id, 'form': form_data }, 'id': 'workshopapplications' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
