{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': activity.workshopapplication.workshopscheduling.customheadertitle, 
      'customheadertitletext': activity.workshopapplication.workshopscheduling.customheadertitletext, 
      'customheadertitledescription': activity.workshopapplication.workshopscheduling.customheadertitledescription, 
      'customheaderlogo': activity.workshopapplication.workshopscheduling.customheaderlogo, 
      'companyid': activity.workshopapplication.workshopscheduling.company.id, 
      'companyname': activity.workshopapplication.workshopscheduling.company.name,
      'companyimage': activity.workshopapplication.workshopscheduling.company.image
   }
%}
{% if activity.workshopapplication.workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li><a href="{{ path('fishman_front_end_workshop_activities') }}">Actividades</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_activities_workbook' , { 'activityid' : activity.id }) }}">Worbook</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Actividades : Workbook : {{ activity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<p class="mainDescription">
    Debe definir el Myer Briggs y los Talentos (los 12 más desarrollados y 12 menos desarrollados) por cada persona.
</p>

<div class="dataList">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Myers Briggs y Talentos{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Id / Persona') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.organizationalunit, 'Unidad Organizativa') }}
                        <div>{{ form_widget(form.organizationalunit, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.charge, 'Cargo') }}
                        <div>{{ form_widget(form.charge, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.myerbriggs_status, 'Myers-Briggs') }}
                        <div>{{ form_widget(form.myerbriggs_status, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.talents_status, 'Talentos') }}
                        <div>{{ form_widget(form.talents_status, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Ape. Paterno</th>
                        <th>Ape. Materno</th>
                        <th>Nombres</th>
                        <th>Unidad</th>
                        <th>Cargo</th>
                        <th>Myers-Briggs</th>
                        <th>Talentos</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for workbook in workbooks %}
                    <tr>
                        <td>{{ workbook.code }}</td>
                        <td>{{ workbook.surname }}</td>
                        <td>{{ workbook.lastname }}</td>
                        <td>{{ workbook.names }}</td>
                        <td>{{ workbook.unit }}</td>
                        <td>{{ workbook.charge }}</td>
                        <td>{{ workbook.myerbriggs_status|completeName }}</td>
                        <td>{{ workbook.talents_status|completeName }}</td>
                        {% if activity.finished == 0 %}
                        <td class="actionsButtons actionsButtonsTwo">
                        {% else %}
                        <td class="actionsButtons actionsButtonsView">
                        {% endif %}
                            <ul>
                                {% if activity.finished == 0 %}
                                <li>
                                    <a href="{{ path('fishman_front_end_workshop_activities_workbook_show', {'workbookid': workbook.id}) }}" class="show-workbook-fancybox tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('fishman_front_end_workshop_activities_workbook_report_poll_result', { 'activityid': activity.id, 'evaluatedid': workbook.wi_id }) }}" class="tablectrl_small bDefault" title="Ver resultado de encuesta de Motivación"><span class="icos-create2"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_workshop_activities_workbook', 'rparams': { 'activityid': activity.id, 'form': form_data }, 'id': 'workbooks' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
    {% if activity.finished == 0 %}
    <form action="" method="post">
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
            {% if activity.finished == 0 %}
            {% endif %}
                <input type="hidden" name="send" value="1">
                <button type="submit" class="sideB bRed mt10">Enviar Actividad</button>
            </li>
        </ul>
    </div>
    </form>
    {% endif %}
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/activities.js') }}"></script>
{% endblock %}
