{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li><a href="{{ path('fishman_front_end_workshop_activities') }}">Actividades</a></li>
    <li><a href="{{ path('fishman_front_end_workshop_activities_workbook' , { 'activityid' : activity.id }) }}">Worbook</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_activities_workbook_report_poll_result' , { 'activityid' : activity.id, 'evaluatedid': evaluated.id }) }}">Resultado de Encuesta</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Reportes</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget tableDefault clearfix">
        
        <div class="whead clearfix">
            <h6>{% filter upper %}Resultado de Encuesta: {{ evaluated.names ~ ' ' ~ evaluated.surname ~ ' ' ~ evaluated.lastname}} {% endfilter %}</h6>
        </div>
                
        <div class="reportDashboardButton menuCrud clearfix">
            <ul class="record_actions containerReport">
                <li><a href="javascript:window.print()" class="sideB bRed mt10" target="_blank">Imprimir</a></li>
            </ul>
        </div>
        <!-- /.menuCrud -->

        {% if report_results is defined %}        
        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Sección / Pregunta</th>
                        <th><strong>Promedio</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    {% for i in range(0, count_vertical - 1) %}
                    <tr>
                        <td>{{ title_results[i].title|raw }}</td>
                        <td>{{ report_results[i].percentage|number_format(2) }}%</td>
                    </tr>
                    {% set i = i + 1 %}
                    {% endfor %}
                    <tr>
                        <td><strong>Promedio Total</strong></td>
                        <td><strong>{{ total_results.percentage|number_format(2) }}%</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
        
    </div>
    
</div>
<!-- /.dataList -->

{% endblock %}
