{% extends '::base_fishman.html.twig' %}
{% block body%}

<div class="wrapper">
    <div class="fluid">

      <div class="iframeView clearfix">

        <div class="titleTwoLevel">
          {% block subtitle2 %}
          <h5>{{ evaluatedName }}</h5>
          {% endblock %}
        </div>

    {% block content %}

    <div class="dataList">

        <div class="widget grid4 tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Myers Briggs{% endfilter %}</h6>
                {% if workshopapplicationactivity.finished == 0 %}
                <div class="titleOpt">
                  <a href="{{ path('fishman_front_end_workshop_activities_workbook_myerbriggs_edit',
                              { 'workbookid': workbook.id }) }}" class="edit-myers-briggs clearfix">
                    <span class="icos-add"></span>
                  </a>
                </div>
                {% endif %}
            </div>

            <div class="">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Valor</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <td>{{myerbriggs.ei|myersbriggsAbbreviation|upper}}</td>
                          <td>{{myerbriggs.ei|myersbriggsName}}</td>
                        </tr>
                        <tr>
                          <td>{{myerbriggs.sn|myersbriggsAbbreviation|upper}}</td>
                          <td>{{myerbriggs.sn|myersbriggsName}}</td>
                        </tr>
                        <tr>
                          <td>{{myerbriggs.tf|myersbriggsAbbreviation|upper}}</td>
                          <td>{{myerbriggs.tf|myersbriggsName}}</td>
                        </tr>
                        <tr>
                          <td>{{myerbriggs.jp|myersbriggsAbbreviation|upper}}</td>
                          <td>{{myerbriggs.jp|myersbriggsName}}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <!-- /.dataListTable -->
            
        </div>
        <!-- /.tableDefault -->

        <div class="widget grid4 tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Talentos más desarrollados{% endfilter %}</h6>
                {% if workshopapplicationactivity.finished == 0 %}
                <div class="titleOpt">
                    <a href="{{ path('fishman_front_end_workshop_activities_workbook_talents_edit', { 'workbookid': workbook.id, 'type': 'more' } ) }}" class="edit-more-talents clearfix">
                        <span class="icos-add"></span>
                    </a>
                </div>
                {% endif %}
            </div>
            

            <div class="">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Num.</th>
                            <th>Talento</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for wbtalent in moreTalents %}
                        <tr>
                          <td>{{ wbtalent.sequence }}</td>
                          <td>{{ wbtalent.talent.talent }}</td>
                        </tr>
                        <tr>
                    {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <!-- /.dataListTable -->
            
        </div>
        <!-- /.tableDefault -->
         
        <div class="widget grid4 tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Talentos menos desarrollados{% endfilter %}</h6>
                {% if workshopapplicationactivity.finished == 0 %}
                <div class="titleOpt">
                    <a href="{{ path('fishman_front_end_workshop_activities_workbook_talents_edit', { 'workbookid': workbook.id, 'type': 'less' } ) }}" class="edit-less-talents clearfix">
                        <span class="icos-add"></span>
                    </a>
                </div>
                {% endif %}
            </div>

            <div class="">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Num.</th>
                            <th>Talento</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for wbtalent in lessTalents %}
                        <tr>
                          <td>{{ wbtalent.sequence }}</td>
                          <td>{{ wbtalent.talent.talent }}</td>
                        </tr>
                        <tr>
                    {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <!-- /.dataListTable -->
            
        </div>
        <!-- /.tableDefault -->
        
    </div>
    <!-- /.dataList -->

{% endblock %}
        
</div>
</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/activities.js') }}"></script>
{% endblock %}
