{% if disabled is defined and disabled == true %}
<select class="polls" name="poll_polls" disabled="disabled">
{% else %}
<select class="polls" name="poll_polls">
{% endif %}
    <option value="">Seleccione la encuesta</option>
    {% if polls is defined %}
        {% if current_poll is defined %}
            {% for poll in polls %}
                {% if poll.id == current_poll.id %}
                    <option selected="selected" value="{{ poll.id }}">{{ poll.title }}</option>
                {% else %}
                    <option value="{{ poll.id }}">{{ poll.title }}</option>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for poll in polls %}
                <option value="{{ poll.id }}">{{ poll.title }}</option>
            {% endfor %}
        {% endif %}
    {% endif %}
</select>