<h1>Entitypoll list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Entity_id</th>
            <th>Entity_type</th>
            <th>Duration</th>
            <th>Period</th>
            <th>Sequence</th>
            <th>Status</th>
            <th>Created</th>
            <th>Changed</th>
            <th>Created_by</th>
            <th>Modified_by</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('entitypoll_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.entityid }}</td>
            <td>{{ entity.entitytype }}</td>
            <td>{{ entity.duration }}</td>
            <td>{{ entity.period }}</td>
            <td>{{ entity.sequence }}</td>
            <td>{{ entity.status }}</td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.changed %}{{ entity.changed|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.createdby }}</td>
            <td>{{ entity.modifiedby }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('entitypoll_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('entitypoll_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('entitypoll_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
