<h1>Entitypoll</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Entity_id</th>
            <td>{{ entity.entityid }}</td>
        </tr>
        <tr>
            <th>Entity_type</th>
            <td>{{ entity.entitytype }}</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>{{ entity.duration }}</td>
        </tr>
        <tr>
            <th>Period</th>
            <td>{{ entity.period }}</td>
        </tr>
        <tr>
            <th>Sequence</th>
            <td>{{ entity.sequence }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ entity.status }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Changed</th>
            <td>{{ entity.changed|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Created_by</th>
            <td>{{ entity.createdby }}</td>
        </tr>
        <tr>
            <th>Modified_by</th>
            <td>{{ entity.modifiedby }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('entitypoll') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('entitypoll_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('entitypoll_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
