<h1>Notificationscheduling list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Entitytype</th>
            <th>Entity_id</th>
            <th>Entity_name</th>
            <th>Entitystatus</th>
            <th>Secuence</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Ejecutiontype</th>
            <th>When</th>
            <th>Repeat</th>
            <th>Repeat_period</th>
            <th>Repead_range</th>
            <th>Finish</th>
            <th>Repeticion_number</th>
            <th>Initdate</th>
            <th>Enddate</th>
            <th>Asigned</th>
            <th>Created</th>
            <th>Changed</th>
            <th>Created_by</th>
            <th>Modified_by</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('notificationscheduling_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.entity_type }}</td>
            <td>{{ entity.entityid }}</td>
            <td>{{ entity.entityname }}</td>
            <td>{{ entity.entitystatus }}</td>
            <td>{{ entity.sequence }}</td>
            <td>{{ entity.subject }}</td>
            <td>{{ entity.message }}</td>
            <td>{{ entity.ejecutiontype }}</td>
            <td>{{ entity.since }}</td>
            <td>{{ entity.replay }}</td>
            <td>{{ entity.repeatperiod }}</td>
            <td>{{ entity.repeatrange }}</td>
            <td>{{ entity.finish }}</td>
            <td>{{ entity.repeticionnumber }}</td>
            <td>{% if entity.initdate %}{{ entity.initdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.enddate %}{{ entity.enddate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.asigned }}</td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.changed %}{{ entity.changed|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.createdby }}</td>
            <td>{{ entity.modifiedby }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('notificationscheduling_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('notificationscheduling_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('notificationscheduling_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
