{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Ejecutar Notificación: {{ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<form action="" method="post" class="manualSendOneByOne">
    <div class="widget tableDefault clearfix">
        <div class="whead clearfix">
            <h6>{% filter upper %}Cambiar nombre{% endfilter %}</h6>
        </div>
        
        <div class="formRow clearfix">
            
            <div class="grid3">
                <strong><label>Contador</label></strong>
            </div>
  
            <div class="grid7">
              <div class="loader">
                  <img src=" {{ asset('images/ajax-loader.gif') }}" alt="" />
              </div>
              <div id="nmd-progress" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">
                  <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 0%; "></div>
              </div>
              <div class="containerCountText"><label class="countText">0 de 0 notificaciones enviadas</label></div>
            </div>
            
            <div class="grid2">
                <button type="submit" id="nmd-stop" class="sideB bBlack" disabled>Detener</button>
            </div>
  
        </div>
        
        <div class="formRow clearfix">
  
            <div class="grid3">
                <div class="grid6">
                    <strong><label>Usuario :</label></strong>
                </div>
                <div class="grid6">
                    <label>{{ user_creator }}</label>
                </div>
            </div>
            
            <div class="grid3">
                <div class="grid6">
                    <strong><label>Fecha :</label></strong>
                </div>
                <div class="grid6">
                    <label>{{ date_send|date('d/m/Y') }}</label>
                </div>
            </div>
            
            <div class="grid4">
                <div class="grid4">
                    <strong><label>Mostrar pendientes</strong>
                </div>
                <div class="grid2 check">
                    <input type="checkbox" id="form_view_check_pending" name="form_view[pending]" value="pending" checked>
                </div>
                <div class="grid4">
                    <strong><label>Mostrar enviados</strong>
                </div>
                <div class="grid2 check">
                    <input type="checkbox" id="form_view_check_send" name="form_view[send]" value="send" checked>
                </div>
            </div>
            
            <div class="grid2">
                <div class="pending menuCrud clearfix">
                    <ul class="record_actions">
                      <li><button type="submit" id="send-pending" class="sideB bBlue">Enviar pendientes</button></li>
                    </ul>
                </div>
            </div>
            
        </div>
        
        <div class="dataListTable">
            <table class="records_list dataTable check_all">
                <thead>
                    <tr>
                        <th class="check"><input type="checkbox" id="form_deletes_check_all" name="form_deletes[check_all]" value="1"></th>
                        {% if entity.notificationtype == 'poll' %}
                        <th>Evaluación</th>
                        {% endif %}
                        <th>Enviar a</th>
                        <th>Correo</th>
                        <th>Perfil</th>
                        <th>Información Adicional</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for nmd in notification_manual_details %}
                    <tr id="nmd-{{ nmd.id }}">
                        <td class="check"><input type="checkbox" id="form_notification_sends_{{ nmd.id }}" name="form[notifications][]" value="{{ nmd.id }}"></td>
                        {% if entity.notificationtype == 'poll' %}
                            {% if ns_entity.type != 'not_evaluateds' %}
                                <td><strong>{{ nmd.ur_names ~ ' '~ nmd.ur_surname }}</strong> > <strong>{{ nmd.ue_names ~ ' '~ nmd.ue_surname }}</strong></td>
                            {% else %}
                                <td><strong>{{ nmd.ur_names ~ ' '~ nmd.ur_surname }}</strong></td>
                            {% endif %}
                        {% endif %}
                        <td><strong>{{ nmd.names ~ ' '~ nmd.surname ~ ' ' ~ nmd.lastname }}</strong></td>
                        <td>{% if nmd.wi_email %}{{ nmd.wi_email }}{% else %}{{ nmd.email }}{% endif %}</td>
                        <td>{{ nmd.profile|profileName }}</td>
                        <td>{{ nmd.aditional_information }}</td>
                        <td class="nmd-status">{{ nmd.status|statusNotificationName }}</td>
                        <td class="nmd-sendbutton">
                        {% if nmd.status == 'pending' %}
                            {% if entity.notificationtype != 'message' %}
                                {% if entity.notificationTypeStatus == 1 %}
                                    {% if nmd.finished == 1 %}
                                        <a href="{{ path('notificationexecution_send_message', { 'nxid' : nmd.nxid, 'nmdid' : nmd.id }) }}" class="sideOne sideB bDefault">Enviar</a>
                                    {% else %}
                                        Enviar encuesta
                                    {% endif %}
                                {% elseif entity.notificationTypeStatus == 0 %}
                                    {% if nmd.finished == 0 %}
                                        <a href="{{ path('notificationexecution_send_message', { 'nxid' : nmd.nxid, 'nmdid' : nmd.id }) }}" class="sideOne sideB bDefault">Enviar</a>
                                    {% else %}
                                        Encuesta enviada
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <a href="{{ path('notificationexecution_send_message', { 'nxid' : nmd.nxid, 'nmdid' : nmd.id }) }}" class="sideOne sideB bDefault">Enviar</a>
                            {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li><a id="nmd-discard" type="submit" class="sideB bRed" href="{{ path('notificationscheduling_confirmation_discard', { 'id' :  notification_manual_send.id }) }}">Descartar notificaciones pendientes</a></li>
        </ul>
    </div>
</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ globaljavascript|raw }}
<script type="text/javascript">
/*<![CDATA[*/
    var notificationmanualdetails = {{ notification_manual_details_json | raw }};
    var nmdcount = {{ nmdcount }};
    var nmdsent = {{ nmdsent }};
/*]]>*/
</script>
<script type="text/javascript" src="{{ asset('js/ns_sendonebyone_ajax.js') }}"></script>
{% endblock %}
