<h1>Notificationscheduling</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Entitytype</th>
            <td>{{ entity.entitytype }}</td>
        </tr>
        <tr>
            <th>Entity_id</th>
            <td>{{ entity.entityid }}</td>
        </tr>
        <tr>
            <th>Entity_name</th>
            <td>{{ entity.entityname }}</td>
        </tr>
        <tr>
            <th>Entitystatus</th>
            <td>{{ entity.entitystatus }}</td>
        </tr>
        <tr>
            <th>Secuence</th>
            <td>{{ entity.secuence }}</td>
        </tr>
        <tr>
            <th>Subject</th>
            <td>{{ entity.subject }}</td>
        </tr>
        <tr>
            <th>Message</th>
            <td>{{ entity.message }}</td>
        </tr>
        <tr>
            <th>Ejecutiontype</th>
            <td>{{ entity.ejecutiontype }}</td>
        </tr>
        <tr>
            <th>When</th>
            <td>{{ entity.when }}</td>
        </tr>
        <tr>
            <th>Repeat</th>
            <td>{{ entity.repeat }}</td>
        </tr>
        <tr>
            <th>Repeat_period</th>
            <td>{{ entity.repeatperiod }}</td>
        </tr>
        <tr>
            <th>Repead_range</th>
            <td>{{ entity.repeadrange }}</td>
        </tr>
        <tr>
            <th>Finish</th>
            <td>{{ entity.finish }}</td>
        </tr>
        <tr>
            <th>Repeticion_number</th>
            <td>{{ entity.repeticionnumber }}</td>
        </tr>
        <tr>
            <th>Initdate</th>
            <td>{{ entity.initdate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Enddate</th>
            <td>{{ entity.enddate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Asigned</th>
            <td>{{ entity.asigned }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Changed</th>
            <td>{{ entity.changed|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Created_by</th>
            <td>{{ entity.createdby }}</td>
        </tr>
        <tr>
            <th>Modified_by</th>
            <td>{{ entity.modifiedby }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('notificationscheduling') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('notificationscheduling_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('notificationscheduling_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
