<h1>Notificationsend list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Sended</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Sent</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('notificationsend_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.entity_name }}</td>
            <td>{% if entity.sended %}{{ entity.sended|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.subject }}</td>
            <td>{{ entity.message }}</td>
            <td>{{ entity.sent }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('notificationsend_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('notificationsend_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('notificationsend_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
