<h1>Notificationsend</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Sended</th>
            <td>{{ entity.sended|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Subject</th>
            <td>{{ entity.subject }}</td>
        </tr>
        <tr>
            <th>Message</th>
            <td>{{ entity.message }}</td>
        </tr>
        <tr>
            <th>Sent</th>
            <td>{{ entity.sent }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('notificationsend') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('notificationsend_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('notificationsend_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
