{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('pollscheduling') }}">Programación de Encuestas</a></li>
    <li><a href="{{ path('pollscheduling_show', { 'id': entity.pollscheduling.id }) }}">{{ entity.pollscheduling.title ~ ' ' ~ entity.pollscheduling.version }}</a></li>
    <li><a href="{{ path('pollschedulingpeople', { 'pollschedulingid': entity.pollscheduling.id }) }}">Personas</a></li>
    <li><a href="{{ path('pollschedulingpeople_show', { 'id': entity.id }) }}">{{ entity.workinginformation.user.names ~ ' ' ~ entity.workinginformation.user.surname ~ ' ' ~ entity.workinginformation.user.lastname }}</a></li>
    <li class="current"><a href="{{ path('pollschedulingpeople_edit', { 'id': entity.id }) }}">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Encuestas: {{ entity.pollscheduling.title ~ ' ' ~ entity.pollscheduling.version ~ ': ' ~ entity.workinginformation.user.names ~ ' ' ~ entity.workinginformation.user.surname ~ ' ' ~ entity.workinginformation.user.lastname }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

    <form action="{{ path('pollschedulingpeople_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
        
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Persona asignada{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Código Empresa</label><span class="req">*</span></div>
                        <div class="grid9"><input type="text" name="pollschedulingpeople_disable[code]" value="{{ entity.workinginformation.code }}" disabled=true /></div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Apellido Paterno</label><span class="req">*</span></div>
                        <div class="grid9"><input type="text" name="pollschedulingpeople_disable[surname]" value="{{ entity.workinginformation.user.surname }}" disabled=true /></div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Apellido Materno</label></div>
                        <div class="grid9"><input type="text" name="pollschedulingpeople_disable[lastname]" value="{{ entity.workinginformation.user.lastname }}" disabled=true /></div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Nombres</label><span class="req">*</span></div>
                        <div class="grid9"><input type="text" name="pollschedulingpeople_disable[names]" value="{{ entity.workinginformation.user.names }}" disabled=true /></div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Información</label><span class="req">*</span></div>
                        <div class="grid9"><input type="text" name="pollschedulingpeople_disable[type]" value="{{ entity.workinginformation.type|workinginformationType }}" disabled=true /></div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Sexo</label><span class="req">*</span></div>
                        <div class="grid9">
                            <select name="pollschedulingpeople_disable[sex]" disabled=true>
                                {{ sexUnselectedOptions(entity.workinginformation.user.sex)|raw }}
                            </select>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Email Laboral</label><span class="req">*</span></div>
                        <div class="grid9"><input type="text" name="pollschedulingpeople_disable[email]" value="{{ entity.workinginformation.user.email }}" disabled=true /></div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Perfil</label><span class="req">*</span></div>
                        <div class="grid9">
                            <select name="pollschedulingpeople_disable[profile]" disabled=true>
                                {{ profileUnselectedOptions(entity.profile)|raw }}
                            </select>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        <input type="hidden" name="pollschedulingpeople_hidden[profile]" value="{{ entity.profile }}" />
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('pollschedulingpeople', { 'pollschedulingid': entity.pollscheduling.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('pollschedulingpeople_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
