{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icos-create"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('pollscheduling') }}">Programación de Encuestas</a></li>
    <li><a href="{{ path('pollscheduling_show', { id : pollscheduling.id }) }}">{{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</a></li>
    <li><a href="{{ path('pollschedulingpeople' , { pollschedulingid : pollscheduling.id }) }}">Personas</a></li>
    <li class="current"><a href="{{ path('pollschedulingpeople_import' , { pollschedulingid : pollscheduling.id }) }}" title="">Importar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Encuestas: {{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget crud tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Importar Personas{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('pollscheduling_show', { 'id': pollscheduling.id }) }}">General</a></li>
                    {% if pollscheduling.entitytype == 'pollscheduling' %}
                    <li class="activeTab"><a href="{{ path('pollschedulingpeople', { 'pollschedulingid': pollscheduling.id }) }}">Personas</a></li>
                    {% endif %}
                    <li><a href="{{ path('pollschedulingevaluator', { 'pollschedulingid': pollscheduling.id }) }}">Evaluaciones</a></li>
                    {% if pollscheduling.level != 0 %}
                        <li><a href="{{ path('pollschedulingsection', { 'pollschedulingid': pollscheduling.id }) }}">Secciones</a></li>
                    {% endif %}
                    <li><a href="{{ path('pollschedulingquestion', { 'pollschedulingid': pollscheduling.id }) }}">Preguntas</a></li>
                    <li><a href="{{ path('pollschedulingnotification', { 'pollschedulingid': pollscheduling.id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <form action="{{ path('pollschedulingpeople_import', {'pollschedulingid' : pollscheduling.id }) }}" method="post" {{ form_enctype(form) }} class="formImport main importFile">
          <div class="">
            <div class="formRow clearfix">
              <div class="grid3"><label>Plantilla</label></div>
              <div class="grid9"><a href="{{ path('pollschedulingpeople_downloadtemplate', {'pollschedulingid' : pollscheduling.id }) }}" class="linkDownload">importar-programacion-encuesta-personas.xlsx</a></div>
            </div>
            <div class="formRow clearfix noBorderB">
                <div class="grid3">{{ form_label(form.file, 'Archivo') }}<span class="req">*</span></div>
                <div class="grid9">
                    {{ form_widget(form.file) }}
                    {% if form_errors(form.file) %}
                        <div class="nNote nFailure nFieldFailure">{{ form_errors(form.file) }}</div>
                    {% endif %}
                </div>
            </div>
          </div>

        <div class="hide">
            {{ form_rest(form) }}
        </div>
        
        <div class="menuCrud clearfix">
            <ul>
                <li>
                    <button name="import" type="submit" class="sideB bGreyish mt10 buttonImport">Importar</button>
                </li>
                <li>
                    <a href="{{ path('pollschedulingpeople' , { pollschedulingid : pollscheduling.id }) }}" class="sideB bGreyish mt10">Cerrar</a>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
        </form>

        {%if people %}
        <div class="dataListTable insideTable importTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                      <th>Num</th>
                      <th>Código</th>
                      <th>Ape. Paterno</th>
                      <th>Ape. Materno</th>
                      <th>Nombres</th>
                      <th>Información</th>
                      <th>Unidad</th>
                      <th>Cargo</th>
                      <th>Perfil</th>
                      <th>Mensajes</th>
                      <th>Válido</th>
                    </tr>
                </thead>
                <tbody>
                {% for people in people %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ people.code }}</td>
                        <td>{{ people.surname }}</td>
                        <td>{{ people.lastname }}</td>
                        <td>{{ people.name }}</td>
                        <td>{{ people.type|workinginformationType }}</td>
                        <td>{{ people.organizationalunit }}</td>
                        <td>{{ people.charge }}</td>
                        <td>{{ people.role|profileName  }}</td>
                        <td>{{ people.message|raw }}</td>
                        <td>{{ people.valid|validToString}}</td>
                    </tr>
                  {% endfor %} 
                </tbody>
            </table>
            
        </div>
        <!-- /.dataListTable -->
        {% endif %}
    </div>
    <!-- /.tableDefault -->
                          
       {% if form2 %}
       <form action="{{ path('pollschedulingpeople_import', { pollschedulingid : pollscheduling.id }) }}" method="post" {{ form_enctype(form2) }} class="main formControl">

        <div class="hide clearfix">
            <div>{{ form_label(form2.temporalimportdata_id, 'Id') }}</div>
            <div>{{ form_widget(form2.temporalimportdata_id) }}</div>
        </div>

        <div class="menuCrud clearfix">
            <ul>
                <li>
                    <button name="save" value="1" type="submit" class="sideB bGreyish mt10">Guardar</button>
                </li>
                <li>
                    <input type="hidden" name="saveandclose" value="0" class="saveAndClose" />
                    <button name="buttonsac" value="0" type="submit" class="buttonSaveAndClose sideB bRed mt10">Guardar y Cerrar</button>
                </li>

                <li>
                    <a id="close-button" href="#confirmation-box" class="sideB bGreyish mt10">Cerrar</a>
                    <div class="hide">
                        <div id="confirmation-box" class="clearfix">
                            <p>Aún no ha guardado los datos de importación. Si presiona continuar perderá esta información ¿Desea continuar?</p>
                            <div class="confirmationButton clearfix">
                                <a href="{{ path('pollschedulingpeople' , { pollschedulingid : pollscheduling.id }) }}" class="sideB bRed mt10 mb10 submit f-left">
                                    Continuar 
                                </a>
                                <a href="#" class="fancybox-close sideB bGreyish mt10 mb10 submit f-left" >
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->

    </form>
    {% endif %}

</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/confirmation_message.js') }}"></script>
{% endblock %}