{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('pollscheduling') }}">Programación de Encuestas</a></li>
    <li><a href="{{ path('pollscheduling_show', { 'id': pollscheduling.id }) }}">{{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</a></li>
    <li class="current"><a href="{{ path('pollschedulingpeople', { 'pollschedulingid': pollscheduling.id }) }}">Personas</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Encuestas: {{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList dataListDelete">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('pollschedulingpeople_new', { 'pollschedulingid': pollscheduling.id }) }}" class="sideB bGreyish mt10">
                    Buscar y Asignar
                </a>
            </li>
            <li>
                <a href="{{ path('pollschedulingpeople_import', { 'pollschedulingid': pollscheduling.id }) }}" class="sideB bGreyish mt10">
                    Importar
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->
    
    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Personas Asignadas{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('pollscheduling_show', { 'id': pollscheduling.id }) }}">General</a></li>
                    {% if pollscheduling.entitytype == 'pollscheduling' %}
                    <li class="activeTab"><a href="{{ path('pollschedulingpeople', { 'pollschedulingid': pollscheduling.id }) }}">Personas</a></li>
                    {% endif %}
                    <li><a href="{{ path('pollschedulingevaluator', { 'pollschedulingid': pollscheduling.id }) }}">Evaluaciones</a></li>
                    {% if pollscheduling.level != 0 %}
                        <li><a href="{{ path('pollschedulingsection', { 'pollschedulingid': pollscheduling.id }) }}">Secciones</a></li>
                    {% endif %}
                    <li><a href="{{ path('pollschedulingquestion', { 'pollschedulingid': pollscheduling.id }) }}">Preguntas</a></li>
                    <li><a href="{{ path('pollschedulingnotification', { 'pollschedulingid': pollscheduling.id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Código / Persona') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.organizationalunit, 'Unidad') }}
                        <div>{{ form_widget(form.organizationalunit, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.charge, 'Cargo') }}
                        <div>{{ form_widget(form.charge, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.profile, 'Perfil') }}
                        <div>{{ form_widget(form.profile, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.status, 'Estado') }}
                        <div>{{ form_widget(form.status, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <form action="{{ path('pollschedulingpeople_dropmultiple', { 'pollschedulingid': pollscheduling.id }) }}" method="post" {{ form_enctype(deletes_form) }} class="formDeletes">
        
            {{ form_errors(deletes_form) }}
            
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bGreyish mt10">Eliminar Asignados</button>
                    </li>
                </ul>
            </div>
        
            <div class="dataListTable">
                <table class="records_list dataTable check_all">
                    <thead>
                        <tr>
                            <th class="check"><input type="checkbox" id="form_deletes_check_all" name="form_deletes[check_all]" value="1"></th>
                            <th>Código</th>
                            <th>Ape. Paterno</th>
                            <th>Ape. Materno</th>
                            <th>Nombres</th>
                            <th>Información</th>
                            <th>Unidad</th>
                            <th>Cargo</th>
                            <th>Perfil</th>
                            <th>Modificado por</th>
                            <th>Última modificación</th>
                            <th>Estado</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td class="check"><input type="checkbox" id="form_deletes_registers_{{ entity.id }}" name="form_deletes[registers][]" value="{{ entity.id }}"></td>
                            <td><a href="{{ path('pollschedulingpeople_show', { 'id': entity.id }) }}">{{ entity.code }}</a></td>
                            <td>{{ entity.pspu_surname }}</td>
                            <td>{{ entity.pspu_lastname }}</td>
                            <td>{{ entity.pspu_names }}</td>
                            <td>{{ entity.type|workinginformationType }}</td>
                            <td>{{ entity.organizationalunit }}</td>
                            <td>{{ entity.charge }}</td>
                            <td>{{ entity.profile|profileName }}</td>
                            <td>{{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</td>
                            <td>{% if entity.changed %}{{ entity.changed|date('d/m/Y - H:i') }}{% endif %}</td>
                            <td>{{ entity.status|statusName }}</td>
                            <td class="actionsButtons actionsButtonsTwo">
                                <ul>
                                    <li>
                                        <a href="{{ path('pollschedulingpeople_show', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('pollschedulingpeople_edit', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Editar"><span class="icos-pencil"></span></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
                <div class="fg-toolbar tableFooter">
                    <div class="dataTables_info">{{ info_paginator }}</div>
                    {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'pollschedulingpeople', 'rparams': { 'pollschedulingid': pollscheduling.id, 'form': form_data }, 'id': 'pollschedulingpeople' } %}
                </div>
                
            </div>
            <!-- /.dataListTable -->
            
            <div class="hide">
                {{ form_rest(deletes_form) }}
            </div>
            
        </form>
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
