{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('pollscheduling') }}">Programación de Encuestas</a></li>
    <li><a href="{{ path('pollscheduling_show', { id : entity.pollscheduling_id }) }}">{{ entity.pollscheduling_title ~ ' ' ~ entity.pollscheduling_version }}</a></li>
    <li><a href="{{ path('pollschedulingpeople', { pollschedulingid : entity.pollscheduling_id }) }}">Personas</a></li>
    <li class="current"><a href="{{ path('pollschedulingpeople_show', { id : entity.id }) }}">{{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Encuestas: {{ entity.pollscheduling_title ~ ' ' ~ entity.pollscheduling_version ~ ': ' ~ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('pollschedulingpeople_new', { 'pollschedulingid': entity.pollscheduling_id }) }}" class="sideB bGreyish mt10">
                    Buscar y Asignar
                </a>
            </li>
            <li>
                <a href="{{ path('pollschedulingpeople_import', { 'pollschedulingid': entity.pollscheduling_id }) }}" class="sideB bGreyish mt10">
                    Importar
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de Persona{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('pollscheduling_show', { 'id': entity.pollscheduling_id }) }}">General</a></li>
                    <li class="activeTab"><a href="{{ path('pollschedulingpeople', { 'pollschedulingid': entity.pollscheduling_id }) }}">Personas</a></li>
                    <li><a href="{{ path('pollschedulingevaluator', { 'pollschedulingid': entity.pollscheduling_id }) }}">Evaluaciones</a></li>
                    {% if entity.pollscheduling_level != 0 %}
                        <li><a href="{{ path('pollschedulingsection', { 'pollschedulingid': entity.pollscheduling_id }) }}">Secciones </a></li>
                    {% endif %}
                    <li><a href="{{ path('pollschedulingquestion', { 'pollschedulingid': entity.pollscheduling_id }) }}">Preguntas</a></li>
                    <li><a href="{{ path('pollschedulingnotification', { 'pollschedulingid': entity.pollscheduling_id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Código</th>
                            <td>{{ entity.code }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Apellido Paterno</th>
                            <td>{{ entity.lastname }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Apellido Materno</th>
                            <td>{{ entity.surname }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Nombres</th>
                            <td>{{ entity.names }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Información</th>
                            <td>{{ entity.type|workinginformationType }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Sexo</th>
                            <td>{{ entity.sex|sexName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Email</th>
                            <td><a href="mailto:{{ entity.email }}">{{ entity.email }}</a></td>
                        </tr>
                        <tr>
                            <th class="textL">Perfil</th>
                            <td>{{ entity.profile|profileName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('pollschedulingpeople', { 'pollschedulingid': entity.pollscheduling_id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('pollschedulingpeople_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
