<div class="formRow reportActivityItem clearfix">
  <h6 class="titleQuestion"><span>{{ current_number }}</span>. {{ waa.name }}</h6>
      <div class="dataListTable">
          {% if waa.plans.plan is defined %}
          <table class="records_list dataTable">
              <thead>
                  <tr>
                      <th>Num</th>
                      <th>Sección</th>
                      <th>Objetivo</th>
                      <th>Asignado a</th>
                      <th>Responsable</th>
                      <th>Plazo</th>
                  </tr>
              </thead>
              <tbody>
                {% for wpp in waa.plans.plan %}
                 <tr>
                       <td>{{ loop.index }}</td>
                       <td>{{ wpp.section}}</td>
                       <td>{{ wpp.goal }}</td>
                       <td>{{ wpp.tonames ~ ' ' ~ wpp.tosurname ~ ' ' ~ wpp.tolastname }}</td>
                       <td>{{ wpp.names ~ ' ' ~ wpp.surname ~ ' ' ~ wpp.lastname }}</td>
                       <td>{{ wpp.deadline|date('d/m/y') }}</td>
                 </tr>
                {% endfor %}
              </tbody>
          </table>
          <div class="comments">
            <span>Comentario :</span>
            {{ waa.plans.comments|raw }}
          </div>
          {% else %}
          <table class="records_list dataTable">
              <thead>
                  <tr>
                      <th>Num</th>
                      <th>Sección</th>
                      <th>Objetivo</th>
                      <th>Asignado a</th>
                      <th>Responsable</th>
                      <th>Plazo</th>
                  </tr>
              </thead>
              <tbody></tbody>
          </table>
          {% endif %}
          
      </div>
</div>
