<div class="formRow reportActivityItem clearfix">
  <h6 class="titleQuestion"><span>{{ current_number }}</span>. {{ waa.name }}</h6>
  {% if waa.questionapplications.answertype is defined %}
    
      {% if waa.questionapplications.answertype == 'simple_text' and current_number == loop.index %}
        <p>{{ waa.questionapplications.answer }}</p>
      {% elseif waa.questionapplications.answertype == 'multiple_text' and current_number == loop.index %}
        <p>{{ waa.questionapplications.answer }}</p>
      {% elseif waa.questionapplications.answertype == 'unique_option' and current_number == loop.index %}
      <p>
      {% for wsa in workshopscheduling_activity %}
          {% if wsa.answertype == 'unique_option' and waa.workshopschedulingactivityid == wsa.id %}
            {{ wsa.options[waa.questionapplications.answeroptions]['text'] }}
          {% endif %}
      {% endfor %}      
      </p>
      {% elseif waa.questionapplications.answertype == 'selection_option' and current_number == loop.index %}
      <p>
      {% for wsa in workshopscheduling_activity %}
          {% if wsa.answertype == 'selection_option' and waa.workshopschedulingactivityid == wsa.id %}
          {{ wsa.options[waa.questionapplications.answeroptions]['text'] }}
          {% endif %}
      {% endfor %}      
      </p>
      {% elseif waa.questionapplications.answertype == 'multiple_option' and current_number == loop.index %}
      <p>
        {% for wsa in workshopscheduling_activity %}
          {% if wsa.answertype == 'multiple_option' and waa.workshopschedulingactivityid == wsa.id %}
            {% for qaa in waa.questionapplications.answeroptions %}
              {% if qaa in wsa.options|keys %}
                {{ wsa.options[qaa]['text'] }}  
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      </p>
      {% endif %}
  {% else %}
    <p></p>
  {% endif %}

</div>

