<div class="formRow reportActivityItem clearfix">
    <h6 class="titleQuestion"><span>{{ loop }}</span>. {{ waa.name }}</h6>
      <div class="dataListTable">
          <table class="records_list dataTable">
              <thead>
                  <tr>
                      <th>Código</th>
                      <th>Nombre Completo</th>
                      <th>Unidad</th>
                      <th>Cargo</th>
                  </tr>
              </thead>
              <tbody>
                {% if waa.workbooks.workbooks is defined %}
                  
                {% for wwb in waa.workbooks.workbooks %}
                {% set wwbloop = loop.index %}
                 <tr>
                   <td>{{ wwb.code }}</td>
                   <td>{{ wwb.names ~ ' ' ~ wwb.surname ~ ' ' ~ wwb.lastname }}</td>
                   <td></td>
                   <td>{{ wwb.charge }}</td>
                 </tr>
                 <tr>
                   <td colspan="4">
                    <div class="dataList">

                        <div class="widget grid4 tableDefault clearfix">
                        
                            <div class="whead clearfix">
                                <h6>{% filter upper %}Myers Briggs{% endfilter %}</h6>
                            </div>
                            {% for waaw in waa.workbooks %}
                            {% set waawloop = loop.index %}
                            {% if wwbloop == waawloop %}
                            <div class="">
                                <table class="records_list dataTable">
                                    <thead>
                                        <tr>
                                            <th>Valor</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if waaw.myerbriggs.ei is not null %}
                                        <tr>
                                          <td>{{ waaw.myerbriggs.ei|myersbriggsAbbreviation|upper }}</td>
                                          <td>{{ waaw.myerbriggs.ei|myersbriggsName }}</td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                        {% if waaw.myerbriggs.ei is not null %}
                                          <td>{{ waaw.myerbriggs.sn|myersbriggsAbbreviation|upper }}</td>
                                          <td>{{ waaw.myerbriggs.sn|myersbriggsName }}</td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                        {% if waaw.myerbriggs.ei is not null %}
                                          <td>{{ waaw.myerbriggs.tf|myersbriggsAbbreviation|upper }}</td>
                                          <td>{{ waaw.myerbriggs.tf|myersbriggsName }}</td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                        {% if waaw.myerbriggs.ei is not null %}
                                          <td>{{ waaw.myerbriggs.jp|myersbriggsAbbreviation|upper }}</td>
                                          <td>{{ waaw.myerbriggs.jp|myersbriggsName }}</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                                
                            </div>
                            <!-- /.dataListTable -->
                            
                        </div>
                        <!-- /.tableDefault -->

                        <div class="widget grid4 tableDefault clearfix">
                        
                            <div class="whead clearfix">
                                <h6>{% filter upper %}Talentos más desarrollados{% endfilter %}</h6>
                            </div>
                            

                            <div class="">
                                <table class="records_list dataTable">
                                    <thead>
                                        <tr>
                                            <th>Num.</th>
                                            <th>Talento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for waawmt in waaw.moretalents %}
                                        <tr>
                                          <td>{{ waawmt.id }}</td>
                                          <td>{{ waawmt.talent.talent }}</td>
                                        </tr>
                                      {% endfor %}
                                        <tr>
                                    </tbody>
                                </table>
                                
                            </div>
                            <!-- /.dataListTable -->
                            
                        </div>
                        <!-- /.tableDefault -->
                         
                        <div class="widget grid4 tableDefault clearfix">
                        
                            <div class="whead clearfix">
                                <h6>{% filter upper %}Talentos menos desarrollados{% endfilter %}</h6>
                            </div>

                            <div class="">
                                <table class="records_list dataTable">
                                    <thead>
                                        <tr>
                                            <th>Num.</th>
                                            <th>Talento</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {% for waawlt in waaw.lesstalents %}
                                        <tr>
                                          <td>{{ waawlt.id }}</td>
                                          <td>{{ waawlt.talent.talent }}</td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                                
                            </div>
                            <!-- /.dataListTable -->
                            
                        </div>
                        <!-- /.tableDefault -->
                        
                    </div>
                   </td>
                  {% endif %}
                  {% endfor %}
                 </tr>
                {% endfor %}
                {% endif %}
              </tbody>
          </table>
          
      </div>
</div>
