{% extends '::base_user.html.twig' %}

{% block title %}Login - {{ parent() }}{% endblock %}

{% block body %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="formUser">
    <div class="loginPic">
        <span>Entrar a SDCHsdfsfds</span>
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="formRowUser clearfix"> 
        <input type="text" id="username" name="_username" placeholder="Usuario" value="{{ last_username }}" required="required" />
    </div>
    <div class="formRowUser clearfix"> 
        <input type="password" id="password" name="_password" placeholder="Contraseña" required="required" class="loginPassword" />
    </div>
    <div class="logControl clearfix">
        <!--div class="memory">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="check" />
            <label for="remember_me">Recordar</label>
        </div-->
        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="buttonM bBlue" />
    </div>
    <a href="{{ path("fos_user_resetting_request") }}" title="Recuperar contraseña" class="textR">Recuperar contraseña</a>
</form>

{% if error %}
<div class="nNote nFailure clear">
    <p>{{ error|trans({}, 'FOSUserBundle') }}</p>
</div>
{% endif %}

{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
