{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
<span class="icon-screen"></span>Taller : {{ workshopscheduling.name }}
{% else %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endif %}
{% endblock %}

{% block top_navigation %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% else %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endif %}
{% endblock %}

{% block navigation %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% else %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endif %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
    <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_admin_notifications', { 'workshopid': workshopscheduling.id }) }}">Notificaciones</a></li>
    {% else %}
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_notifications') }}">Notificaciones</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Notificaciones</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Notificaciones{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formSequence clearfix">
                        {{ form_label(form.sequence, 'Orden') }}
                        <div>{{ form_widget(form.sequence, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Asunto / Mensaje') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.type, 'Tipo Mensaje') }}
                        <div>{{ form_widget(form.type, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Asunto</th>
                        <th>Mensaje</th>
                        <th>Tipo</th>
                        <th>Recibido el</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for notification in notifications %}
                    <tr>
                        <td>{{ notification.sequence }}</td>
                        {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
                        <td><a href="{{ path('fishman_front_end_workshop_admin_notifications_show', { 'workshopid': workshopscheduling.id, 'id': notification.id }) }}">{{ notification.subject }}</a></td>
                        {% else %}
                        <td><a href="{{ path('fishman_front_end_workshop_notifications_show', { 'id': notification.id }) }}">{{ notification.subject }}</a></td>
                        {% endif %}
                        <td>{{ notification.message|cut(100)|raw }}</td>
                        <td>{{ notification.type|notificationtypeName }}</td>
                        <td>{{ notification.sended|date('j/n/Y g:ia') }}</td>
                        <td class="actionsButtons actionsButtonsView">
                            <ul>
                                <li>
                                    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
                                    <a href="{{ path('fishman_front_end_workshop_admin_notifications_show', { 'workshopid': workshopscheduling.id, 'id': notification.id }) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                    {% else %}
                                    <a href="{{ path('fishman_front_end_workshop_notifications_show', { 'id': notification.id }) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                    {% endif %}
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_workshop_admin_notifications', 'rparams': { 'form': form_data }, 'id': 'workshopnotifications' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
