{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
<span class="icon-screen"></span>Taller : {{ workshopscheduling.name }}
{% else %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endif %}
{% endblock %}

{% block top_navigation %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% else %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endif %}
{% endblock %}

{% block navigation %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% else %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endif %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
    <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    <li><a href="{{ path('fishman_front_end_workshop_admin_notifications', { 'workshopid': workshopscheduling.id }) }}">Notificaciones</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_admin_notifications_show', { 'workshopid': workshopscheduling.id, 'id': entity.id }) }}">Detalle</a></li>
    {% else %}
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li><a href="{{ path('fishman_front_end_workshop_notifications') }}">Notificaciones</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_notifications_show', { 'id': entity.id }) }}">Detalle</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Notificaciones</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="dashboard widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>Detalle de Notificación</h6>
            {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
            <a href="{{ path('fishman_front_end_workshop_admin_notifications', { 'workshopid': workshopscheduling.id }) }}" class="buttonH bBlack">Regresar a la lista</a>
            {% else %}
            <a href="{{ path('fishman_front_end_workshop_notifications') }}" class="buttonH bBlack">Regresar a la lista</a>
            {% endif %}
        </div>
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                {% if entity.type == 'message' %}
                    <span class="title"><strong><span class="uDone"></span>{{ entity.type|notificationtypeName }}</strong></span>
                {% else %}
                    <span class="title"><strong><span class="uDone"></span>{{ entity.type|notificationtypeName ~ ': ' ~ entity.type_name }}</strong></span>
                {% endif %}
                <span class="date"><label>Recibido el:</label> {{ entity.sended|date('j/n/Y H:i a') }}</span>
            </div>
            <div class="clearfix"><label>Asunto:</label> {{ entity.subject }}</div>
            <div class="clearfix">{{ entity.message|raw }}</div>
        </div>
        
    </div>
    <!-- /.tableDefault -->

</div>
<!-- /.dataList -->

{% endblock %}
