{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>{{ app.session.get('workshopapplication').name ~ ' - ' ~ app.session.get('workinginformation').company_name }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_documents') }}">Documentos</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Documentos</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Documentos{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formSequence clearfix">
                        {{ form_label(form.sequence, 'Orden') }}
                        <div>{{ form_widget(form.sequence, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Nombre') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.type, 'Tipo') }}
                        <div>{{ form_widget(form.type, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow formFormat clearfix">
                        {{ form_label(form.format, 'Formato') }}
                        <div>{{ form_widget(form.format) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Formato</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                    <tr>
                        <td>{{ document.sequence }}</td>
                        <td>{{ document.name }}</td>
                        <td>{{ document.type|typedocumentName }}</td>
                        <td>{{ document.document }}</td>
                        <td class="actionsButtons actionsButtonsView">
                            <ul>
                                <li>
                                    <a href="{{ path('fishman_front_end_workshop_documents_show', { 'id': document.id }) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_workshop_documents', 'rparams': { 'form': form_data },  'id': 'workshopdocuments' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
