{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>{{ app.session.get('workshopapplication').name ~ ' - ' ~ app.session.get('workinginformation').company_name }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li><a href="{{ path('fishman_front_end_workshop_documents') }}">Documentos</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_documents_show', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Documentos: {{ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="widget tableDefault clearfix">
        
        <div class="whead clearfix">
            <h6>Detalle de Documento</h6>
            <a href="{{ path('fishman_front_end_workshop_documents') }}" class="buttonH bBlack">Regresar a la lista</a>
        </div>
        
        <div class="grid8 showDataFrontEnd">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Nombre</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Categoría</th>
                            <td>{{ entity.category }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Descripción</th>
                            <td>{{ entity.description|raw }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Tipo</th>
                            <td>{{ entity.type|typedocumentName }}</td>
                        </tr>
                        <tr>
                        {% if entity.type == 'video' %}
                            <td colspan="2">{{ entity.video|raw }}</td>
                        {% elseif entity.type == 'document' %}
                            <th class="textL">Documento</th>
                            <td><a class="downloadFile" href="{{ path('workshopschedulingdocument_download' , { 'id': entity.id }) }}">Descargar Archivo <span class="none">{{ entity.document }}</span></a></td>
                        {% elseif entity.type == 'website' %}
                            <th class="textL">Página web</th>
                            <td><a href="{{ entity.website }}" target="_blank">{{ entity.website }}</a></td>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataView -->

{% endblock %}
