{% extends '::base_user.html.twig' %}

{% block title %}Login - {{ parent() }}{% endblock %}

{% block body %}
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
<a href="{{ path("fos_user_security_login") }}" title="Regresar a Login">Regresar a Login</a>
{{ parent() }}
{% endblock %}