{% extends '::base_user.html.twig' %}

{% block title %}Login - {{ parent() }}{% endblock %}

{% block body %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="formUser">
    <div class="formRowUser clearfix">
        <input type="text" id="username" name="username" placeholder="Usuario o Correo electrónico" required="required" class="loginEmail" />
    </div>
    <div class="logControl clearfix">
        <input type="submit" value="Recuperar contraseña" class="buttonM bBlue" />
    </div>
</form>

{% if invalid_username is defined %}
<div class="nNote nFailure clear">
    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
</div>
{% endif %}

{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}