{% extends '::base_user.html.twig' %}

{% block title %}Login - {{ parent() }}{% endblock %}

{% block body %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="formUser fos_user_resetting_reset">
    <div class="loginPic">
        <span>Cambiar contraseña</span>
    </div>
    {#{ form_widget(form) }#}
    <div class="formRowUser clearfix">
        <input type="password" id="fos_user_resetting_form_new_first" name="fos_user_resetting_form[new][first]" placeholder="Nueva contraseña" required="required" class="loginPassword" />
    </div>
    <div class="formRowUser clearfix">
        <input type="password" id="fos_user_resetting_form_new_second" name="fos_user_resetting_form[new][second]" placeholder="Repita la contraseña" required="required" class="loginPassword" />
        {{ form_widget(form._token) }}
    </div>
    <div class="logControl clearfix">
        <input type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" class="buttonM bBlue" />
    </div>
</form>

{% if invalid_username is defined %}
<div class="nNote nFailure clear">
    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
</div>
{% endif %}

{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
