{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('user') }}">Personas</a></li>
    <li><a href="{{ path('user_show', { 'id': entity.user_id }) }}">{{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</a></li>
    <li><a href="{{ path('schoolinformation', { 'userid': entity.user_id }) }}">Información Colegio</a></li>
    <li class="current"><a href="{{ path('schoolinformation_show', { 'id': entity.id }) }}" title="">{{ entity.company }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Personas: {{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname ~ ': ' ~ entity.company }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('schoolinformation_new', { 'userid': entity.user_id }) }}" class="sideB bGreyish mt10">
                    Crear Información Colegio 
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de Información Colegio{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('user_show', { 'id': entity.user_id }) }}">General</a></li>
                    <li><a href="{{ path('workinginformation', { 'userid': entity.user_id }) }}">Laboral</a></li>
                    <li class="activeTab"><a href="{{ path('schoolinformation', { 'userid': entity.user_id }) }}">Colegio</a></li>
                    <li><a href="{{ path('universityinformation', { 'userid': entity.user_id }) }}">Universidad</a></li>
                    <li><a href="{{ path('permission', { 'userid': entity.user_id }) }}">Permisos</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Colegio</th>
                            <td>{{ entity.company }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Código</th>
                            <td>{{ entity.code }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Correo Colegio</th>
                            <td>{{ entity.email }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Grado</th>
                            <td>{{ entity.grade|gradeName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Año de Estudios</th>
                            <td>{{ entity.study_year }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Sede</th>
                            <td>{{ entity.headquarter }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('schoolinformation', { 'userid': entity.user_id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('schoolinformation_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            <li>
                <a href="{{ path('schoolinformation_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
