{% extends '::base_user.html.twig' %}

{% block title %} {{message_title}} {% endblock %}

{% block body %}
<h1 class="userTitleMessage">{{message_title}}</h1>
<p>{{message}}</p>
<a href="{{ path("fos_user_security_login") }}" title="Regresar a Login">Regresar a Login</a>
{{ parent() }}
{% endblock %}
