{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': workshopscheduling.id }) }}" >{{ workshopscheduling.name }}</a></li>
    <li><a href="{{ path('workshopapplication', { 'workshopschedulingid': workshopscheduling.id }) }}" >Personas</a></li>
    <li class="current"><a href="{{ path('workshopapplication_dropmultiple', { 'workshopschedulingid': workshopscheduling.id }) }}">Eliminar Personas</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ workshopscheduling.name }}: Personas</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataDelete">

    <div class="widget fluid clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Eliminar Persona(s) asignada(s){% endfilter %}</h6>
        </div>
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                <span class="name"><strong>{{ app.user.names ~ ' ' ~ app.user.surname ~ ' ' ~ app.user.lastname }}</strong>:</span>
            </div>
            <div class="dataDescription">
                ¿Está seguro de querer eliminar a las siguientes personas asignadas al taller <strong>{{ workshopscheduling.name }}</strong>?
                <table class="records_list dataTable">
                    <tbody>
                        {% for entity in entities %}
                        <tr><td>{{ entity.workinginformation.user.names ~ ' ' ~ entity.workinginformation.user.surname ~ ' ' ~ entity.workinginformation.user.lastname }}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('workshopapplication', { 'workshopschedulingid': workshopscheduling.id }) }}" class="sideB bGreyish mt10">Cancelar</a>
                </li>
                <li>
                    <form action="{{ path('workshopapplication_deletemultiple', { 'workshopschedulingid': workshopscheduling.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit" class="sideB bRed mt10">Eliminar</button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
    </div>
    
</div>
<!-- /.dataDelete -->

{% endblock %}