{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    <li><a href="{{ path('workshopapplication' , { workshopschedulingid : workshopscheduling.id }) }}">Personas</a></li>
    <li class="current"><a href="{{ path('workshopapplication_new' , { workshopschedulingid : workshopscheduling.id }) }}" title="">Buscar y Asignar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ workshopscheduling.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <div class="widget fluid tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Programar Taller : Buscar y asignar Personas{% endfilter %}</h6>
        </div>

        <form action="" method="post" {{ form_enctype(form) }} class="crud main">
                    
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid12">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid2">{{ form_label(form.code, 'Código') }}</div>
                        <div class="grid6">
                            {{ form_widget(form.code, { 'attr': { 'value': form.code.vars.value }}) }}
                            {% if form_errors(form.code) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.code) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid2">{{ form_label(form.surname, 'Apellido Paterno') }}</div>
                        <div class="grid2">
                            {{ form_widget(form.surname, { 'attr': { 'value': form.surname.vars.value }}) }}
                            {% if form_errors(form.surname) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.surname) }}</div>
                            {% endif %}
                        </div>
                        <div class="grid2 textR">{{ form_label(form.lastname, 'Apellido Materno') }}</div>
                        <div class="grid2">
                            {{ form_widget(form.lastname, { 'attr': { 'value': form.lastname.vars.value }}) }}
                            {% if form_errors(form.lastname) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.lastname) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid2">{{ form_label(form.names, 'Nombres') }}</div>
                        <div class="grid6">
                            {{ form_widget(form.names, { 'attr': { 'value': form.names.vars.value }}) }}
                            {% if form_errors(form.names) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.names) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid2">{{ form_label(form.initdate, 'Fecha de Ingreso') }}</div>
                        <div class="grid6">
                            {{ form_widget(form.initdate, { 'attr': { 'class': 'datepicker', 'value': form.initdate.vars.value }}) }}
                            {% if form_errors(form.initdate) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.initdate) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid2">{{ form_label(form.organizationalunit, 'Unidad Organizativa') }}</div>
                        <div class="grid6">
                            {{ form_widget(form.organizationalunit, { 'empty_value': 'Elige la unidad organizativa' }) }}
                            {% if form_errors(form.organizationalunit) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.organizationalunit) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid2">{{ form_label(form.charge, 'Cargo') }}</div>
                        <div class="grid6">
                            {{ form_widget(form.charge, { 'empty_value': 'Elige el cargo' }) }}
                            {% if form_errors(form.charge) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.charge) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </div>
                
            </fieldset>
            
            <div class="menuCrud clearfix menuCrudsecundary">
                <ul class="record_actions">
                    <li>
                        <button type="submit" name="reset" class="sideB bGreyish mt10">Buscar</button>
                    </li>
                    <li>
                        <button type="reset" name="reset" class="sideB bGreyish mt10 buttonResetPeoples">Limpiar</button>
                    </li>
                </ul>
            </div>
            <!-- /.menuCrud -->
            
        </form>
        
        <form action="{{ path('workshopapplication_asigneds', { 'workshopschedulingid': workshopscheduling.id }) }}" method="post" {{ form_enctype(asigneds_form) }} class="crud formAsigneds formControl">
        
            {{ form_errors(asigneds_form) }}

            <div class="dataListTable insideTable">
                <table class="records_list dataTable check_all">
                    <thead>
                        <tr>
                            <th class="check"><input type="checkbox" id="form_deletes_check_all" name="form_deletes[check_all]" value="1"></th>
                            <th>Código</th>
                            <th>Ape. Peterno</th>
                            <th>Ape. Materno</th>
                            <th>Nombres</th>
                            <th>Información</th>
                            <th>Unidad</th>
                            <th>Cargo</th>
                            <th>Ingreso</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td class="check"><input type="checkbox" id="form_asigneds_registers_{{ entity.id }}" name="form[registers][]" value="{{ entity.id }}"></td>
                            <td>{{ entity.code }}</td>
                            <td>{{ entity.surname }}</td>
                            <td>{{ entity.lastname }}</td>
                            <td>{{ entity.names }}</td>
                            <td>{{ entity.type|workinginformationType }}</td>
                            <td>{{ entity.companyorganizationalunit }}</td>
                            <td>{{ entity.companycharge }}</td>
                            <td>{{ entity.datein|date('d/m/Y') }}</td>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
                <div class="fg-toolbar tableFooter">
                    <div class="dataTables_info">{{ info_paginator }}</div>
                    {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'workshopapplication_new', 'rparams': { 'workshopschedulingid': workshopscheduling.id }, 'id': 'workinginformation' } %}
                </div>
                
            </div>
            <!-- /.dataListTable -->
    
            <div class="menuCrud clearfix menuCrudsecundary">
                <ul class="record_actions">
                    <li class="marginCombo">
                        <fieldset class="step ui-formwizard-content clearfix">
                            {{ form_label(asigneds_form.profile, 'Perfil persona') }}
                            {{ form_widget(asigneds_form.profile, { 'empty_value': 'Escoja el perfil' }) }}
                        </fieldset>
                    </li>
                    <li>
                        <button name="save" value="1" type="submit" class="sideB bRed mt10">Asignar personas</button>
                    </li>
                    <li>
                        <input type="hidden" name="saveandclose" value="0" class="saveAndClose" />
                        <button name="buttonsac" value="0" type="submit" class="buttonSaveAndClose sideB bRed mt10">Asignar personas y Cerrar</button>
                    </li>
                    <li>
                        <a href="{{path('workshopapplication' ,{ 'workshopschedulingid' : workshopscheduling.id }) }}" class="sideB bGreyish mt10">
                            Regresar a la lista
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.menuCrud -->
            
            <div class="hide">
                {{ form_rest(asigneds_form) }}
            </div>
            
        </form>

    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
