{% extends '::base_fishman.html.twig' %}
{% block body%}
<div class="wrapper">
    <form action="" method="post" class="formIframe">
        <h6>Myer Briggs</h6>
        <div class="widget fluid tableDefault clearfix">
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid">
                    <div class="formRow clearfix">
                        {{ form_widget(form.ei) }}
                        {% if form_errors(form.ei) %}
                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.ei) }}</div>
                        {% endif %}
                    </div>
                    <div class="formRow clearfix">
                        {{ form_widget(form.sn) }}
                        {% if form_errors(form.sn) %}
                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.sn) }}</div>
                        {% endif %}
                    </div>
                    <div class="formRow clearfix">
                        {{ form_widget(form.tf) }}
                        {% if form_errors(form.tf) %}
                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.tf) }}</div>
                        {% endif %}
                    </div>
                    <div class="formRow clearfix">
                        {{ form_widget(form.jp) }}
                        {% if form_errors(form.jp) %}
                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.jp) }}</div>
                        {% endif %}
                    </div>
                    <div class="menuCrudIframe menuCrud clearfix">
                        <div>{{ form_rest(form) }}</div>
                        <ul class="record_actions">
                            <li>
                                <button type="submit" class="sideB bRed mt10">Guardar</button>
                            </li>
                            <li>
                                <a href="#" class="sideB bGreyish mt10">
                                    Cerrar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </fieldset>
        </div>
    </form>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/activities.js') }}"></script>
<script type="text/javascript">{{ js }}</script>
{% endblock %}