{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshop') }}">Talleres</a></li>
    <li><a href="{{ path('workshop_show', { 'id': workshop.id }) }}">{{ workshop.name }}</a></li>
    <li><a href="{{ path('workshopactivity', { 'workshopid': workshop.id }) }}">Actividades</a></li>
    <li class="current"><a href="{{ path('workshopactivity_new', { 'workshopid': workshop.id }) }}" title="">Crear</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Mantenimiento de Talleres: {{ workshop.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <form action="{{ path('workshopactivity_create', { 'workshopid': workshop.id }) }}" method="post" {{ form_enctype(form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Crear Actividad{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.category, 'Categoría') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.category, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.category) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.category) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.activity, 'Actividad') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.activity, { 'attr': { 'class': 'activityType' }, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.activity) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.activity) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3 formNameActivityLabel">{{ form_label(form.name, 'Nombre') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.name) }}
                            {% if form_errors(form.name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formTypeAnswer clearfix">
                        <div class="grid3">{{ form_label(form.answer_type, 'Tipo Respuesta') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.answer_type, { 'attr': { 'class': 'answerType' }, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.answer_type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.answer_type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formAlignment">
                        <div class="grid3">{{ form_label(form.alignment, 'Alineación') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.alignment, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.alignment) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.alignment) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formOptionsSelect">
                        <div class="grid12">
                            <fieldset class="clearfix formOptionsFieldset">
                                <div class="clearfix formOptionsSelectMultiple">
                                    <div class="grid3">Opciones<span class="req">*</span></div>
                                    <div class="grid9">
                                        <select name="select_options_add[]" class="selectOptions multiple" multiple="multiple"></select>
                                        <div class="grid12 clearfix actionsButtons">
                                            <a href="#questionCrud" id="optionUp" class="tablectrl_small bDefault tipS" title="Arriba"><span class="icos-arrowup"></span></a>
                                            <a href="#questionCrud" id="optionDown" class="tablectrl_small bDefault tipS" title="Abajo"><span class="icos-arrowdown"></span></a>
                                            <a href="#questionCrud" id="optionModify" class="tablectrl_small bDefault tipS" title="Modificar"><span class="icos-create"></span></a>
                                            <a href="#questionCrud" id="optionDelete" class="tablectrl_small bDefault tipS" title="Eliminar"><span class="icos-cross"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(form.option_text, 'Opción') }}</div>
                                    <div class="grid9">
                                        {{ form_widget(form.option_text, { 'attr': { 'class': 'optionText' }}) }}
                                        {% if form_errors(form.option_text) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.option_text) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(form.option_value, 'Valor') }}</div>
                                    <div class="grid2">
                                        {{ form_widget(form.option_value, { 'attr': { 'class': 'formTextNumber optionValue' }}) }}
                                        {% if form_errors(form.option_value) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.option_value) }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="grid2">
                                        <a href="#questionCrud" id="optionAdd" class="sideB bDefault mt10">Agregar</a>
                                        <a href="#questionCrud" id="optionUpdate" class="sideB bDefault mt10" style="display: none;">Actualizar</a>
                                    </div>
                                    <div class="grid5">
                                        <label class="errorOptionsAddUpdate" style="display: none;"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.predecessor_activity, 'Actividad Predecesora') }}</div>
                        <div class="grid9">
                            {{ form_widget(form.predecessor_activity, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.predecessor_activity) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.predecessor_activity) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTwoField clearfix">
                        <div class="grid3">{{ form_label(form.duration, 'Duración') }}<span class="req">*</span></div>
                        <div class="grid9">
                            <div class="grid2">
                                {{ form_widget(form.duration, { 'attr': { 'class': 'formTextNumber' }}) }}
                                {% if form_errors(form.duration) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.duration) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid10">
                                {{ form_widget(form.period, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                {% if form_errors(form.period) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(form.period) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.sequence, 'Orden') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.sequence, { 'empty_value': 'Elige el orden' }) }}
                            {% if form_errors(form.sequence) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.sequence) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_widget(form.options , { 'attr': { 'class': 'hideOptions' }}) }}
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tt>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('workshopactivity', { 'workshopid': workshop.id }) }}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10 buttonOptionActions">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
                
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_option_actions.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
