{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': entity.workshopscheduling_id }) }}">{{ entity.workshopscheduling_name }}</a></li>
    <li><a href="{{ path('workshopschedulingpoll', { workshopschedulingid : entity.workshopscheduling_id }) }}">Encuestas</a></li>
    <li class="current"><a href="{{ path('workshopschedulingpoll_show', { 'id' : entity.id }) }}" title="">{{ entity.title ~ ' ' ~ entity.version }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ entity.workshopscheduling_name ~ ': ' ~ entity.title ~ ' ' ~ entity.version }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('workshopschedulingpoll_new', { 'workshopschedulingid': entity.workshopscheduling_id }) }}" class="sideB bGreyish mt10">
                   Programar Encuesta
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de Encuesta{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('workshopscheduling_show', { 'id': entity.workshopscheduling_id }) }}">General</a></li>
                    <li><a href="{{ path('workshopapplication', {'workshopschedulingid' : entity.workshopscheduling_id }) }}">Personas</a></li>
                    <li><a href="{{ path('workshopschedulingdocument', {'workshopschedulingid' : entity.workshopscheduling_id }) }}">Documentos</a></li>
                    <li><a href="{{ path('workshopschedulingactivity', {'workshopschedulingid' : entity.workshopscheduling_id }) }}">Actividades</a></li>
                    <li class="activeTab"><a href="{{ path('workshopschedulingpoll', {'workshopschedulingid' : entity.workshopscheduling_id }) }}">Encuestas</a></li>
                    <li><a href="{{ path('workshopschedulingnotification', {'workshopschedulingid' : entity.workshopscheduling_id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Categoría</th>
                            <td>{{ entity.category }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Encuesta</th>
                            <td>{{ entity.title }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Descripción</th>
                            <td>{{ entity.description|raw }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Empresa</th>
                            <td>{{ entity.company }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Titulo de empresa habilitado</th>
                            <td>
                                <p>{{ entity.custom_header_title|validToString }}</p>
                                {% if entity.custom_header_title == 1 %}
                                <p><strong>Título: </strong>{{ entity.custom_header_title_text }}</p>
                                <p><strong>Descripción: </strong>{{ entity.custom_header_title_description }}</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="textL">Logo de empresa habilitado</th>
                            <td>{{ entity.custom_header_logo|validToString }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Tipo de evaluación</th>
                            <td>{{ entity.type|typeevaluationName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Evaluación multiple</th>
                            <td>{{ entity.multiple_evaluation|booleanName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Benchmarking</th>
                            <td>{{ entity.benchmarking }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Periodo</th>
                            <td>{{ entity.psc_period }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Duración</th>
                            <td>{{ entity.duration }} {{ entity.period|periodName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Fecha de Inicio</th>
                            <td>
                            {% if  entity.initdate is not null %}
                                {{ entity.initdate|date('d/m/Y') }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="textL">Fecha de Fin</th>
                            <td>
                            {% if  entity.initdate is not null %}
                                {{ entity.enddate|date('d/m/Y') }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="textL">Términos y Condiones</th>
                            <td>{{ entity.terms|raw }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Usar Términos y Condiones</th>
                            <td>{{ entity.use_terms|usetermsName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Mensaje de Agradecimiento por Envio de Encuesta</th>
                            <td>{{ entity.message_gratitude|raw }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Mensaje de Fin de Encuesta</th>
                            <td>{{ entity.message_end|raw }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Mensaje de Encuesta Inactiva</th>
                            <td>{{ entity.message_inactive|raw }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Evaluado: Mostrar luego de (n) Encuestas resueltas</th>
                            <td>{{ entity.access_view_number }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Barra de Estado</th>
                            <td>{{ entity.status_bar|statusBarName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Reporte Consejero</th>
                            <td>{{ entity.counselor_report|booleanName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Encuesta Relacionada</th>
                            <td>
                                {% if entity.psc_relation != '' %}
                                    {{ entity.psc_relation ~ ' - ' ~ entity.psc_relation_period }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="textL">Resuelto</th>
                            <td>{{ entity.time_number }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Versión</th>
                            <td>{{ entity.version }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Tipo de evaluación</th>
                            <td>{{ entity.type|typeevaluationName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Mostrar sección a</th>
                            <td>{{ entity.level|levelName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Alineamiento</th>
                            <td>{{ entity.alignment|alignmentName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Orden de preguntas</th>
                            <td>{{ entity.sequence_question|orderName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Dividir encuesta por</th>
                            <td>
                                {{ entity.divide|divideName }}
                                {% if entity.divide == 'number_questions' %}
                                    ({{ entity.number_question }})
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="textL">Orden</th>
                            <td>{{ entity.sequence }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('workshopschedulingpoll', {'workshopschedulingid' : entity.workshopscheduling_id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' %}
            <li>
                <a href="{{ path('pollscheduling_regenerate', { 'id': entity.id, 'workshopschedulingid': entity.workshopscheduling_id }) }}" class="sideB bRed mt10">Regenerar Encuesta</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ path('workshopschedulingpoll_preview_terms', { 'id': entity.id }) }}" class="sideB bRed mt10">Previsualizar</a>
            </li>
            <li>
                <a href="{{ path('workshopschedulingpoll_export_links', { 'id': entity.id }) }}" class="sideB bRed mt10">Exportar Personas</a>
            </li>
            <li>
                <a href="{{ path('workshopschedulingpollevaluator_import', { 'workshopschedulingid': entity.workshopscheduling_id, 'pollschedulingid': entity.id }) }}" class="sideB bRed mt10">Importar Evaluadores</a>
            </li>
            <li>
                <a href="{{ path('workshopschedulingpollevaluator_new', { 'workshopschedulingid': entity.workshopscheduling_id, 'pollschedulingid': entity.id }) }}" class="sideB bRed mt10">Asignar Evaluadores</a>
            </li>
            {% if entity.level != 0 %}
            <li>
                <a href="{{ path('workshopschedulingpollsection', { 'workshopschedulingid': entity.workshopscheduling_id, 'pollschedulingid': entity.id }) }}" class="sideB bRed mt10">Secciones</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ path('workshopschedulingpollquestion', { 'workshopschedulingid': entity.workshopscheduling_id, 'pollschedulingid': entity.id }) }}" class="sideB bRed mt10">Preguntas</a>
            </li>
            {% if entity.own %}
            <li>
                <a href="{{ path('workshopschedulingpoll_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ path('workshopschedulingpoll_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
