{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('company') }}">Empresas</a></li>
    <li><a href="{{ path('company_show', { 'id': entity.company.id }) }}">{{ entity.company }}</a></li>
    <li><a href="{{ path('companyfaculty', { 'companyid': entity.company.id }) }}">Facultades</a></li>
    <li class="current"><a href="{{ path('companyfaculty_show', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-companies"></span><h5>Mantenimiento de Empresas: {{ entity.company ~ ': ' ~ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('companyfaculty_new', { 'companyid': entity.company.id }) }}" class="sideB bGreyish mt10">
                    Crear Facultad
                </a>
            </li>
            <li>
                <a href="{{ path('companyfaculty_import', { 'companyid': entity.company.id }) }}" class="sideB bGreyish mt10">
                    Importar Facultades
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de la Facultad{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('company_show', { 'id': entity.company.id }) }}">General</a></li>
                    <li><a href="{{ path('headquarter', { 'companyid': entity.company.id }) }}">Sedes</a></li>
                    <li><a href="{{ path('companyorganizationalunit', { 'companyid': entity.company.id }) }}">Unidades Organizativas</a></li>
                    <li><a href="{{ path('companycharge', { 'companyid': entity.company.id }) }}">Cargos</a></li>
                    <li class="activeTab"><a href="{{ path('companyfaculty', { 'companyid': entity.company.id }) }}">Facultades</a></li>
                    <li><a href="{{ path('companycareer', { 'companyid': entity.company.id }) }}">Carreras</a></li>
                    <li><a href="{{ path('companycourse', { 'companyid': entity.company.id }) }}">Cursos</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Código</th>
                            <td>{{ entity.code }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Nombre</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Empresa</th>
                            <td>{{ entity.company }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Nombre Global</th>
                            <td>{{ entity.faculty }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('companyfaculty', { 'companyid': entity.company.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('companyfaculty_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            <li>
                <a href="{{ path('companyfaculty_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
