{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshop') }}">Talleres</a></li>
    <li><a href="{{ path('workshop_show', { 'id': workshop.id }) }}">{{ workshop.name }}</a></li>
    <li><a href="{{ path('workshoppoll', { 'workshopid': workshop.id }) }}">Encuestas</a></li>
    <li><a href="{{ path('workshoppoll_show', { 'id': entity.id }) }}">{{ entity.poll.title }}</a></li>
    <li class="current"><a href="{{ path('workshoppoll_edit', { 'id': entity.id }) }}">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Mantenimiento de Talleres: {{ workshop.name ~ ': ' ~ entity.poll.title }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

    <form action="{{ path('workshoppoll_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Encuesta{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Categoría</label><span class="req">*</span></div>
                        <div class="grid9">
                            <select class="allCategories" name="poll_categories">
                                <option value="">Seleccione una categoría</option>
                                {% for category in categories %}
                                    {% if category.id == current_category.id %}
                                        <option selected="selected" value="{{ category.id }}">{{ category.name }}</option>
                                    {% else %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Encuesta</label><span class="req">*</span></div>
                        <div class="grid9 pollCategory">
                            {% include "FishmanPollBundle:Entitypoll:choicebycategory.html.twig" with {'polls': polls, 'current_poll': current_poll} %}
                        </div>
                    </div>
                    <div class="formRow formTwoField clearfix">
                        <div class="grid3"><label>Duración</label><span class="req">*</span></div>
                        <div class="grid9">
                            <div class="grid2">
                                {{ form_widget(edit_form.duration, { 'attr': { 'class': 'pollDuration' }}) }}
                                {% if form_errors(edit_form.duration) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.duration) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid3">
                                {{ form_widget(edit_form.period, { 'attr': { 'class': 'pollPeriod' }, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                {% if form_errors(edit_form.period) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.period) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="formRow clear clearfix">
                        <div class="grid3">{{ form_label(edit_form.sequence, 'Orden') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.sequence, { 'empty_value': 'Elige el orden' }) }}
                            {% if form_errors(edit_form.sequence) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.sequence) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_widget(edit_form.poll_id, { 'attr': { 'class': 'pollId' }}) }}
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
        
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('workshoppoll', { 'workshopid': workshop.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('workshoppoll_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            <li>
                <a href="{{ path('workshoppoll_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block tinymce %}
{{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{{globaljavascript|raw}}
<script type="text/javascript" src="{{ asset('js/poll_ajax.js') }}"></script>
{% endblock %}
