{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshop') }}">Talleres</a></li>
    <li><a href="{{ path('workshop_show', { 'id': workshop.id }) }}">{{ workshop.name }}</a></li>
    <li><a href="{{ path('workshoppoll', { 'workshopid': workshop.id }) }}">Encuestas</a></li>
    <li class="current"><a href="{{ path('workshoppoll_show', { 'id': entity.id }) }}">{{ entity.poll.title }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Mantenimiento de Talleres: {{ workshop.name ~ ': ' ~ entity.poll.title }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('workshoppoll_new', { 'workshopid': workshop.id }) }}" class="sideB bGreyish mt10">
                    Asignar Encuesta
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de la Encuesta{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('workshop_show', { 'id': workshop.id }) }}">General</a></li>
                    <li><a href="{{ path('workshopdocument', { 'workshopid': workshop.id }) }}">Documentos</a></li>
                    <li><a href="{{ path('workshopactivity', { 'workshopid': workshop.id }) }}">Actividades</a></li>
                    <li class="activeTab"><a href="{{ path('workshoppoll', { 'workshopid': workshop.id }) }}">Encuestas</a></li>
                    <li><a href="{{ path('workshopnotification', { 'workshopid': workshop.id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Categoría</th>
                            <td>{{ entity.poll.category }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Titulo</th>
                            <td>{{ entity.poll.title }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Versión</th>
                            <td>{{ entity.poll.version }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Descripción</th>
                            <td>{{ entity.poll.description|raw }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Tipo de evaluación</th>
                            <td>{{ entity.poll.type|typeevaluationName}}</td>
                        </tr>
                        <tr>
                            <th class="textL">Duración</th>
                            <td>{{ entity.duration }} {{ entity.period|periodName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Alineamiento</th>
                            <td>{{ entity.poll.alignment|alignmentName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Mostrar sección a</th>
                            <td>{{ entity.poll.level|levelName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Orden de preguntas</th>
                            <td>{{ entity.poll.sequencequestion|orderName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Dividir encuesta por</th>
                            <td>
                                {{ entity.poll.divide|divideName }}
                                {% if entity.poll.divide == 'number_questions' %}
                                    ({{ entity.poll.numberquestion }})
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="textL">Orden</th>
                            <td>{{ entity.sequence }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('workshoppoll', { 'workshopid': entity.entityid }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('workshoppoll_preview', { 'id': entity.id }) }}" class="sideB bRed mt10">Previsualizar</a>
            </li>
            <li>
                <a href="{{ path('workshoppoll_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            <li>
                <a href="{{ path('workshoppoll_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
