{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': entity.plan.workshopapplicationactivity.workshopapplication.workshopscheduling.customheadertitle, 
      'customheadertitletext': entity.plan.workshopapplicationactivity.workshopapplication.workshopscheduling.customheadertitletext, 
      'customheadertitledescription': entity.plan.workshopapplicationactivity.workshopapplication.workshopscheduling.customheadertitledescription, 
      'customheaderlogo': entity.plan.workshopapplicationactivity.workshopapplication.workshopscheduling.customheaderlogo, 
      'companyid': entity.plan.workshopapplicationactivity.workshopapplication.workshopscheduling.company.id, 
      'companyname': entity.plan.workshopapplicationactivity.workshopapplication.workshopscheduling.company.name,
      'companyimage': entity.plan.workshopapplicationactivity.workshopapplication.workshopscheduling.company.image
   }
%}
{% if poll.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li class=""><a href="{{ path('fishman_front_end_workshop_activities') }}">Actividades</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_activities_groupplan', { activityid : entity.plan.workshopapplicationactivity.id }) }}">Plan Grupal</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-list"></span><h5>Borrar Objetivo Plan Grupal: {{ entity.goal }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataDelete">

    <div class="widget fluid clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Eliminar Plan Grupal{% endfilter %}</h6>
        </div>
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                <span class="name"><strong>{{ app.user.names ~ ' ' ~ app.user.surname ~ ' ' ~ app.user.lastname }}</strong>:</span>
            </div>
            ¿Está seguro que desea eliminar el objetivo<strong> {{ entity.goal }}</strong> con id <strong> {{ entity.id}}?</strong>
        </div>

        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('fishman_front_end_workshop_activities_groupplan', { activityid : entity.plan.workshopapplicationactivity.id }) }}" class="sideB bGreyish mt10">Cancelar</a>
                </li>
                <li>
                    <form action="{{ path('fishman_front_end_workshop_activities_groupplan_plangoal_delete', { 'plangoalid': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit" class="sideB bRed mt10">Eliminar</button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
    </div>
    
</div>
<!-- /.dataDelete -->

{% endblock %}
