{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Descartar Importaciones Pendientes: {{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</h5>
{% endblock %}

{% block content %}

<div class="dataDelete">

    <div class="widget fluid clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Descartar Importaciones{% endfilter %}</h6>
        </div>
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                <span class="name"><strong>{{ app.user.names ~ ' ' ~ app.user.surname ~ ' ' ~ app.user.lastname }}</strong>:</span>
            </div>
            ¿Está seguro de querer descartar todas las importaciones pendientes?</strong>
        </div>

        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('pollapplication_import_one_by_one', { 'pollschedulingid': pollscheduling.id }) }}" class="sideB bGreyish mt10">Cancelar</a>
                </li>
                <li>
                    <form action="{{ path('pollapplication_import_discard', { 'pollschedulingid': pollscheduling.id }) }}" method="post">
                        {{ form_widget(form) }}
                        <button type="submit" class="sideB bRed mt10">Aceptar</button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
    </div>
    
</div>
<!-- /.dataDelete -->

{% endblock %}
