{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Importar Evaluaciones: {{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<form action="" method="post" class="manualSendOneByOne">
    <div class="widget tableDefault clearfix">
        
        <div class="formRow clearfix">
            
            <div class="grid2">
                <strong><label>Contador</label></strong>
            </div>
  
            <div class="grid7">
              <div class="loader">
                  <img src=" {{ asset('images/ajax-loader.gif') }}" alt="" />
              </div>
              <div id="pai-progress" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">
                  <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: 0%; "></div>
              </div>
              <div class="containerCountText"><label class="countText">20 de 45 evaluaciones a importar</label></div>
            </div>
            
            <div class="grid1">
                <button type="submit" id="pai-stop" class="sideB bBlack" disabled>Detener</button>
            </div>
            
            <div class="grid2">
                <button type="submit" id="pai-pending" class="sideB bBlue">Importar pendientes</button>
            </div>
  
        </div>
        
        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        {% if pollscheduling.type != 'not_evaluateds' %}
                        <th>Código Evaluado</th>
                        <th>Evaluado</th>
                        {% endif %}
                        <th>Código Evaluador</th>
                        <th>Evaluador</th>
                        {% if pollscheduling.type != 'not_evaluateds' %}
                        <th>Rol</th>
                        <th>Cargo Global</th>
                        <th>Nivel Responsabilidad</th>
                        {% endif %}
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for pai in poll_application_imports %}
                    <tr id="pai-{{ pai.id }}">
                        {% if pollscheduling.type != 'not_evaluateds' %}
                        <td>{{ pai.ev_code }}</td>
                        <td>{{ pai.ev_names ~ ' ' ~ pai.ev_surname ~ ' ' ~ pai.ev_lastname }}</td>
                        {% endif %}
                        <td>{{ pai.er_code }}</td>
                        <td>{{ pai.er_names ~ ' ' ~ pai.er_surname ~ ' ' ~ pai.er_lastname }}</td>
                        {% if pollscheduling.type != 'not_evaluateds' %}
                            <td>{{ pai.er_rol|evaluationRolName }}</td>
                            <td>{{ pai.er_cargo }}</td>
                            <td>{{ pai.er_responsabilidad }}</td>
                        {% endif %}
                        <td class="pai-status">{{ pai.status|statusEvaluationName }}</td>
                        <td class="pai-importbutton">
                        {% if pai.status == 0 %}
                            <a href="{{ path('pollapplication_import_evaluation_message', { 'pollschedulingid' : pollscheduling.id, 'paiid' : pai.id }) }}" class="sideOne sideB bDefault">Importar</a>
                        {% elseif pai.status == 1 %}
                            Importado
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li><a id="pai-discard" type="submit" class="sideB bRed" href="{{ path('pollapplication_import_discard', { 'pollschedulingid' : pollscheduling.id }) }}">Descartar evaluaciones pendientes</a></li>
        </ul>
    </div>
</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ globaljavascript|raw }}
<script type="text/javascript">
/*<![CDATA[*/
    var pollapplicationimports = {{ poll_application_imports_json | raw }};
    var paicount = {{ paicount }};
    var paiok = {{ paiok }};
/*]]>*/
</script>
<script type="text/javascript" src="{{ asset('js/pai_importonebyone_ajax.js') }}"></script>
{% endblock %}
