{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
<span class="icon-screen"></span>Taller : {{ workshopscheduling.name }}
{% else %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endif %}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
    <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    <li><a href="{{ path('fishman_front_end_workshop_admin_report_poll_follow', { 'workshopschedulingid': workshopscheduling.id }) }}">Reportes : Seguimiento de Encuestas</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_admin_report_poll_follow_show', { 'workshopschedulingid': workshopscheduling.id, 'pollid': poll.id }) }}">Detalle</a></li>
    {% else %}
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    <li><a href="{{ path('fishman_front_end_workshop_report_poll_follow') }}">Reportes : Seguimiento de Encuestas</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_report_poll_notevaluateds_follow_show', { 'pollid': poll.id }) }}">Detalle</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Reportes</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="menuCrud clearfix">
        <ul>
            {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
            <li><a href="{{ path('fishman_front_end_workshop_admin_report_poll_notevaluateds_follow_show_export', { 'workshopschedulingid': workshopscheduling.id, 'pollid': poll.id })}}" class="sideB bGreyish mt10">Exportar a Excel</a></li>
            <li><a href="{{ path('fishman_front_end_workshop_admin_report_poll_notevaluateds_follow_show_print', { 'workshopschedulingid': workshopscheduling.id, 'pollid': poll.id })}}" class="sideB bGreyish mt10" target="_blank">Versión de impresión</a></li>
            {% else %}
            <li><a href="{{ path('fishman_front_end_workshop_report_poll_notevaluateds_follow_show_export', { 'pollid': poll.id })}}" class="sideB bGreyish mt10">Exportar a Excel</a></li>
            <li><a href="{{ path('fishman_front_end_workshop_report_poll_notevaluateds_follow_show_print', { 'pollid': poll.id })}}" class="sideB bGreyish mt10" target="_blank">Versión de impresión</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}
                Seguimiento de Encuestas : 
                {{ poll.title ~ ' | ' ~ poll.initdate|date('j/n/Y') ~ ' - ' ~ poll.enddate|date('j/n/Y') ~ ' | ' }}
                Avance : {{ calculatePercentage(poll.quantity, poll.total) }}
            {% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formCode clearfix">
                        {{ form_label(form.evaluator_code, 'Código') }}
                        <div>{{ form_widget(form.evaluator_code) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.evaluator_names, 'Nombres') }}
                        <div>{{ form_widget(form.evaluator_names) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.evaluator_surname, 'Ape. Paterno') }}
                        <div>{{ form_widget(form.evaluator_surname) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.evaluator_lastname, 'Ape. Materno') }}
                        <div>{{ form_widget(form.evaluator_lastname) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Código Evaluador</th>
                        <th>Evaluador</th>
                        <th>Correo Evaluador</th>
                        <th>ENCUESTA</th>
                    </tr>
                </thead>
                <tbody>
                {% for pollapplication in pollapplications %}
                    <tr>
                        <td>{{ pollapplication.evaluator_code }}</td>
                        <td>{{ pollapplication.evaluator_surname ~ ' ' ~ pollapplication.evaluator_lastname ~ ' ' ~ pollapplication.evaluator_names }}</td>
                        <td>{{ pollapplication.evaluator_email }}</td>
                        <td>{{ pollapplication.finished|finishedName }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_workshop_admin_report_poll_notevaluateds_follow_show', 'rparams': { 'workshopschedulingid': workshopscheduling.id, 'pollid': poll.id, 'form': form_data }, 'id': 'workshoppollapplications' } %}
                {% else %}
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_workshop_report_poll_notevaluateds_follow_show', 'rparams': { 'pollid': poll.id, 'form': form_data }, 'id': 'workshoppollapplications' } %}
                {% endif %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}
