{% if disabled is defined and disabled == true %}
<select class="workshops" name="workshop_workshops" disabled="disabled">
{% else %}
<select class="workshops" name="workshop_workshops">
{% endif %}
    <option value="">Seleccione el taller</option>
    {% if current_workshop is defined %}
        {% for workshop in workshops %}
            {% if workshop.id == current_workshop.id %}
                <option selected="selected" value="{{ workshop.id }}">{{ workshop.name }}</option>
            {% else %}
                <option value="{{ workshop.id }}">{{ workshop.name }}</option>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for workshop in workshops %}
            <option value="{{ workshop.id }}">{{ workshop.name }}</option>
        {% endfor %}
    {% endif %}
</select>
