{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
    <li class="current"><a href="{{ path('workshopscheduling_edit', { 'id': entity.id }) }}" title="">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit formCrudWorkshopscheduling">

    <form action="{{ path('workshopscheduling_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
        
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar la Programación del Taller{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                      <div class="grid3"><label>Categoría</label><span class="req">*</span></div>
                          <div class="grid9">
                              <select class="allCategories" disabled name="workshop_categories">
                                  <option value="">Seleccione una categoría</option>
                                  {% for category in categories %}
                                      {% if category.id == current_category.id %}
                                          <option selected="selected" value="{{ category.id }}">{{ category.name }}</option>
                                      {% else %}
                                          <option value="{{ category.id }}">{{ category.name }}</option>
                                      {% endif %}
                                  {% endfor %}
                              </select>
                          </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">Taller<span class="req">*</span></div>
                          <div class="grid9 workshopCategory">
                            {% include "FishmanWorkshopBundle:Workshopscheduling:choicebycategory.html.twig" with {'workshops': workshops, 'current_workshop': current_workshop, 'disabled': disabled } %}
                          </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.name, 'Nombre') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.name) }}
                            {% if form_errors(edit_form.name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
  
                    <div class="formRow clearfix descriptionContainer">
                        <div class="grid3">{{ form_label(edit_form.description, 'Descripción') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.description, { 'attr': { 'class': 'workshopDescription tinymce' }}) }}
                            {% if form_errors(edit_form.description) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.description) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.company, 'Empresa') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.company, { 'disabled' : true }) }}
                            {% if form_errors(edit_form.company) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.company) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTitleCustom clearfix">
                        <div class="grid3">
                            <label for="">Habilitar Título de Empresa</label>
                        </div>
                        <div class="grid9">
                            <select id="titleCompanyCustom" class="custom customHeaderTitle" name="custom_header_title">
                                <option value="">Seleccione una opción</option>
                                {% if entity.customheadertitle == 1 %}
                                    <option value="1" selected >Si</option>
                                    <option value="0" >No</option>
                                {% elseif entity.customheadertitle == 0 %}
                                    <option value="1" >Si</option>
                                    <option value="0" selected >No</option>
                                {% else %}
                                    <option value="1" >Si</option>
                                    <option value="0" >No</option>
                                {% endif %}
                            </select>
                            <fieldset class="formCustomHeaderTitle formActiveOff clearfix">
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(edit_form.custom_header_title_text, 'Título') }}<span class="req">*</span></div>
                                    <div class="grid9">
                                        {{ form_widget(edit_form.custom_header_title_text) }}
                                        {% if form_errors(edit_form.custom_header_title_text) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.custom_header_title_text) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(edit_form.custom_header_title_description, 'Descripción') }}<span class="req">*</span></div>
                                    <div class="grid9">
                                        {{ form_widget(edit_form.custom_header_title_description) }}
                                        {% if form_errors(edit_form.custom_header_title_description) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.custom_header_title_description) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="formRow formLogoCompanyCustom clearfix">
                        <div class="grid3">
                            <label for="">Habilitar Logo de Empresa</label>
                        </div>
                        <div class="grid9">
                            <select id="logoCompanyCustom" class="custom" name="custom_header_logo">
                                <option value="">Seleccione una opción</option>
                                {% if entity.customheaderlogo == 1 %}
                                    <option value="1" selected >Si</option>
                                    <option value="0" >No</option>
                                {% elseif entity.customheaderlogo == 0 %}
                                    <option value="1" >Si</option>
                                    <option value="0" selected >No</option>
                                {% else %}
                                    <option value="1" >Si</option>
                                    <option value="0" >No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.initdate, 'Fecha de Inicio') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.initdate, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(edit_form.initdate) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.initdate) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.enddate, 'Fecha de Fin') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.enddate, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(edit_form.enddate) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.enddate) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('workshopscheduling') }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('workshopscheduling_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            <li>
                <a href="{{ path('workshopscheduling_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block tinymce %}
{{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{{globaljavascript|raw}}
<script type="text/javascript" src="{{ asset('js/workshopscheduling_ajax.js') }}"></script>
{% endblock %}
