{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li class="current"><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('workshopscheduling_new') }}" class="sideB bGreyish mt10">
                    Programar Taller
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->
    
    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Talleres Programados{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Id / Nombre') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow formText clearfix">
                        {{ form_label(form.resolved, 'Resuelto') }}
                        <div>{{ form_widget(form.resolved) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.category, 'Categoría') }}
                        <div>{{ form_widget(form.category, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.company, 'Empresa') }}
                        <div>{{ form_widget(form.company) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.initdate, 'Inicio') }}
                        <div>{{ form_widget(form.initdate, { 'attr': { 'class': 'datepicker', 'value': form.initdate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.enddate, 'Fin') }}
                        <div>{{ form_widget(form.enddate, { 'attr': { 'class': 'datepicker', 'value': form.enddate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.status, 'Estado') }}
                        <div>{{ form_widget(form.status, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Resuelto</th>
                        <th>Categoría</th>
                        <th>Empresa</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Modificado por</th>
                        <th>Última modificación</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('workshopscheduling_show', { 'id': entity.id } ) }}">{{ entity.id }}</a></td>
                        <td><a href="{{ path('workshopscheduling_show', { 'id': entity.id } ) }}">{{ entity.name }}</a></td>
                        <td>{{ entity.time_number }}</td>
                        <td>{{ entity.category }}</td>
                        <td>{{ entity.company }}</td>
                        <td>{% if entity.initdate %}{{ entity.initdate|date('d/m/Y') }}{% endif %}</td>
                        <td>{% if entity.enddate %}{{ entity.enddate|date('d/m/Y') }}{% endif %}</td>
                        <td>{{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</td>
                        <td>{% if entity.changed %}{{ entity.changed|date('d/m/Y - H:i') }}{% endif %}</td>
                        <td>{{ entity.status|statusName }}</td>
                        <td class="actionsButtons">
                            <ul>
                                <li>
                                    <a href="{{ path('workshopscheduling_show' , { 'id' : entity.id }) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('workshopscheduling_edit', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Editar"><span class="icos-pencil"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('workshopscheduling_drop', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Eliminar"><span class="icos-cross"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'workshopscheduling', 'rparams': { 'form': form_data },  'id': 'workshopscheduling' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
