{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li class="current"><a href="{{ path('workshopscheduling_new') }}" title="">Programar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate formCrudWorkshopscheduling">

    <form action="{{ path('workshopscheduling_create') }}" method="post" {{ form_enctype(form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Programar Taller{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                      <div class="grid3"><label>Categoría</label><span class="req">*</span></div>
                          <div class="grid9">
                              <select class="allCategories" name="workshop_categories">
                                  <option value="" selected>Seleccione una categoría</option>
                                  {% for category in categories %}
                                      <option value="{{ category.id }}">{{ category.name }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">Taller<span class="req">*</span></div>
                          <div class="grid9 workshopCategory">
                            {% include "FishmanWorkshopBundle:Workshopscheduling:choicebycategory.html.twig" with {'workshops': workshops} %}
                          </div>
                    </div>
                    <div class="formRow clearfix descriptionContainer">
                        <div class="grid3">{{ form_label(form.description, 'Descripción') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.description, { 'attr': { 'class': 'workshopDescription tinymce' }}) }}
                            {% if form_errors(form.description) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.description) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.company, 'Empresa') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.company, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.company) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.company) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTitleCustom clearfix">
                        <div class="grid3">
                            <label for="">Habilitar Título de Empresa</label>
                        </div>
                        <div class="grid9">
                            <select id="titleCompanyCustom" class="custom customHeaderTitle" name="custom_header_title">
                                <option value="">Seleccione una opción</option>
                                <option value="1">Si</option>
                                <option value="0" selected>No</option>
                            </select>
                            <fieldset class="formCustomHeaderTitle formActiveOff clearfix">
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(form.custom_header_title_text, 'Título') }}<span class="req">*</span></div>
                                    <div class="grid9">
                                        {{ form_widget(form.custom_header_title_text) }}
                                        {% if form_errors(form.custom_header_title_text) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.custom_header_title_text) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(form.custom_header_title_description, 'Descripción') }}<span class="req">*</span></div>
                                    <div class="grid9">
                                        {{ form_widget(form.custom_header_title_description) }}
                                        {% if form_errors(form.custom_header_title_description) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.custom_header_title_description) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="formRow formLogoCompanyCustom clearfix">
                        <div class="grid3">
                            <label for="">Habilitar Logo de Empresa</label>
                        </div>
                        <div class="grid9">
                            <select id="logoCompanyCustom" class="custom" name="custom_header_logo">
                                <option value="">Seleccione una opción</option>
                                <option value="1">Si</option>
                                <option value="0" selected>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.initdate, 'Fecha de Inicio') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.initdate, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(form.initdate) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.initdate) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                      <div class="grid3">{{ form_label(form.enddate, 'Fecha de Fin') }}<span class="req">*</span></div>
                      <div class="grid9">
                          {{ form_widget(form.enddate, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(form.enddate) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.enddate) }}</div>
                            {% endif %}
                      </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_widget(form.workshop, { 'attr': { 'class': 'workshopId' }}) }}
                        {{ form_widget(form.name, { 'attr': { 'class': 'workshopName' }}) }}
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                               <tr>
                                    <th class="textL">Id</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('workshopscheduling') }}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
                
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block tinymce %}
{{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{{globaljavascript|raw}}
<script type="text/javascript" src="{{ asset('js/workshopscheduling_ajax.js') }}"></script>
{% endblock %}
