{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li class="current"><a href="{{ path('workshopscheduling_show', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('workshopscheduling_new') }}" class="sideB bGreyish mt10">
                    Programar Taller
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de la Programación del Taller{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li class="activeTab"><a href="{{ path('workshopscheduling_show', { 'id': entity.id }) }}">General</a></li>
                    <li><a href="{{ path('workshopapplication', { 'workshopschedulingid': entity.id }) }}">Personas</a></li>
                    <li><a href="{{ path('workshopschedulingdocument', { 'workshopschedulingid': entity.id }) }}">Documentos</a></li>
                    <li><a href="{{ path('workshopschedulingactivity', { 'workshopschedulingid': entity.id }) }}">Actividades</a></li>
                    <li><a href="{{ path('workshopschedulingpoll', { 'workshopschedulingid': entity.id }) }}">Encuestas</a></li>
                    <li><a href="{{ path('workshopschedulingnotification', { 'workshopschedulingid': entity.id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Taller</th>
                            <td>{{ entity.workshop }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Descripción</th>
                            <td>{{ entity.description|raw }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Empresa</th>
                            <td>{{ entity.company }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Titulo habilitado</th>
                            <td>
                                <p>{{ entity.customheadertitle|validToString }}</p>
                                {% if entity.customheadertitle == 1 %}
                                <p><strong>Título: </strong>{{ entity.customheadertitletext }}</p>
                                <p><strong>Descripción: </strong>{{ entity.customheadertitledescription }}</p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="textL">Logo de empresa habilitado</th>
                            <td>{{ entity.customheaderlogo|validToString }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Fecha de Inicio</th>
                            <td>{{ entity.initdate|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Fecha de Fin</th>
                            <td>{{ entity.enddate|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('workshopscheduling') }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('workshopscheduling_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            <li>
                <a href="{{ path('workshopscheduling_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
