{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('user') }}">Personas</a></li>
    <li><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.names ~ ' ' ~ user.surname ~ ' ' ~ user.lastname }}</a></li>
    <li><a href="{{ path('universityinformation', { 'userid': entity.user.id }) }}">Información Universidad</a></li>
    <li><a href="{{ path('universityinformation_show', { 'id': entity.id }) }}">{{ entity.company }}</a></li>
    <li class="current"><a href="{{ path('universityinformation_edit', { 'id': entity.id }) }}">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Personas: {{ entity.user.names ~ ' ' ~ entity.user.surname ~ ' ' ~ entity.user.lastname ~ ': ' ~ entity.company }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

    <form action="{{ path('universityinformation_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Información Colegio{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.companyid, 'Empresa') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.companyid, { 'empty_value': 'SELECCIONE UNA OPCIÓN' , 'attr': {'class': 'universityselect universityinformation'}}) }}
                            {% if form_errors(edit_form.companyid) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.companyid) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.code, 'Código Alumno') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.code) }}
                            {% if form_errors(edit_form.code) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.code) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.email, 'Correo Universidad') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.email) }}
                            {% if form_errors(edit_form.email) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.email) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label class="required">Facultad</label><span class="req">*</span></div>
                        <div class="grid9 select_companyfaculty">
                            {{ selectCompanyfaculty|raw }}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label class="required">Carrera</label><span class="req">*</span></div>
                        <div class="grid9 select_companycareer">
                            {{ selectCompanycareer|raw }}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.academic_year, 'Ciclo Académico') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.academic_year) }}
                            {% if form_errors(edit_form.academic_year) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.academic_year) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><span class="req">*</span>
                            <label for="headquarter" class="required">Sede</label>
                        </div>
                        <div class="grid9 select_headquarter">
                            {{ selectHeadquarter|raw }}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
        
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('universityinformation', { 'userid': entity.user.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('universityinformation_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            <li>
                <a href="{{ path('universityinformation_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{{globaljavascript|raw}}
<script type="text/javascript" src="{{ asset('js/schoolinformation_ajax.js') }}"></script>
{% endblock %}
