{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('user') }}">Personas</a></li>
    <li><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.names ~ ' ' ~ user.surname ~ ' ' ~ user.lastname }}</a></li>
    <li><a href="{{ path('universityinformation', { 'userid': user.id }) }}">Información Universidad</a></li>
    <li class="current"><a href="{{ path('schoolinformation_new', { 'userid': user.id }) }}">Crear</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Personas: {{ user.names ~ ' ' ~ user.surname ~ ' ' ~ user.lastname }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <form action="{{ path('universityinformation_create', { 'userid': user.id }) }}" method="post" {{ form_enctype(form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Crear Información Universidad{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.companyid, 'Nombre') }}<span class="req">*</span></div>
                        <div class="grid9">
                          {{ form_widget(form.companyid, { 'empty_value': 'SELECCIONE UNA OPCIÓN' , 'attr': {'class': 'universityselect universityinformation'}}) }}
                            {% if form_errors(form.companyid) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.companyid) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.code, 'Código Alumno') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.code) }}
                            {% if form_errors(form.code) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.code) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.email, 'Correo Universidad') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.email) }}
                            {% if form_errors(form.email) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.email) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label class="required">Facultad</label><span class="req">*</span></div>
                        <div class="grid9 select_companyfaculty">
                            {{ selectCompanyfaculty|raw }}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label class="required">Carrera</label><span class="req">*</span></div>
                        <div class="grid9 select_companycareer">
                            {{ selectCompanycareer|raw }}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.academic_year, 'Ciclo Académico') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.academic_year) }}
                            {% if form_errors(form.academic_year) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.academic_year) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label class="required">Sede</label><span class="req">*</span></div>
                        <div class="grid9 select_headquarter">
                            {{ selectHeadquarter|raw }}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.status, { 'empty_value': 'SELECCIONE UNA OPCIÓN', 'value': '1' }) }}
                            {% if form_errors(form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        <input type="hidden" id="user_id" value="{{ user.id }}">
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('universityinformation', { 'userid': user.id }) }}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
                
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{{ globaljavascript|raw }}
<script type="text/javascript" src="{{ asset('js/universityinformation_ajax.js') }}"></script>
{% endblock %}
