{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('company') }}">Empresas</a></li>
    <li><a href="{{ path('company_show', { 'id': entity.company.id }) }}">{{ entity.company }}</a></li>
    <li><a href="{{ path('companycareer', { 'companyid': entity.company.id }) }}">Carreras</a></li>
    <li><a href="{{ path('companycareer_show', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
    <li class="current"><a href="{{ path('companycareer_edit', { 'id': entity.id }) }}">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-companies"></span><h5>Mantenimiento de Empresas: {{ entity.company ~ ': ' ~ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

    <form action="{{ path('companycareer_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Carrera{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.code, 'Código') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.code) }}
                            {% if form_errors(edit_form.code) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.code) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.name, 'Nombre') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.name) }}
                            {% if form_errors(edit_form.name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.companyfaculty_id, 'Facultad') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.companyfaculty_id, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.companyfaculty_id) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.companyfaculty_id) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
        
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('companycareer', { 'companyid': entity.company.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('companycareer_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            <li>
                <a href="{{ path('companycareer_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
