{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icos-create"></span>Programación de Talleres a Empresas{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': entity.workshopscheduling.id }) }}">{{ entity.workshopscheduling.name }}</a></li>
    <li><a href="{{ path('workshopschedulingactivity', { 'workshopschedulingid': entity.workshopscheduling.id }) }}">Actividades</a></li>
    <li><a href="{{ path('workshopschedulingactivity_show', { 'id': entity.id }) }}">{{ entity.name }}</a></li>
    <li class="current"><a href="{{ path('workshopschedulingactivity_edit', { 'id': entity.id }) }}" title="">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ entity.workshopscheduling.name ~ ': ' ~ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

    <form action="{{ path('workshopschedulingactivity_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
        
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Actividad Asignada{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.category, 'Categoría') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.category, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.category) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.category) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.activity, 'Actividad') }}<span class="req">*</span></div>
                        <div class="grid9">
                          {{ form_widget(edit_form.activity, { 'attr': { 'class': 'activityType' }, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.activity) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.activity) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3 formNameActivityLabel">{{ form_label(edit_form.name, 'Nombre') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.name) }}
                            {% if form_errors(edit_form.name) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.name) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formActiveOff formTypeAnswer clearfix">
                        <div class="grid3">{{ form_label(edit_form.answer_type, 'Tipo Respuesta') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.answer_type, { 'attr': { 'class': 'answerType' }, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.answer_type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.answer_type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formAlignment">
                        <div class="grid3">{{ form_label(edit_form.alignment, 'Alineación') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.alignment, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.alignment) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.alignment) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formOptionsSelect">
                        <div class="grid12">
                            <fieldset class="clearfix formOptionsFieldset">
                                <div class="clearfix formOptionsSelectMultiple">
                                    <div class="grid3">Opciones<span class="req">*</span></div>
                                    <div class="grid9">
                                        <select name="select_options_add[]" class="selectOptions multiple" multiple="multiple">
                                        {% for key, value in entity.options %} 
                                            <option value="{{ key }}">{{ value.score ~ ' | ' ~ value.text }}</option>
                                        {% endfor %}
                                        </select>
                                        <div class="grid12 clearfix actionsButtons">
                                            <a href="#questionCrud" id="optionUp" class="tablectrl_small bDefault tipS" title="Arriba"><span class="icos-arrowup"></span></a>
                                            <a href="#questionCrud" id="optionDown" class="tablectrl_small bDefault tipS" title="Abajo"><span class="icos-arrowdown"></span></a>
                                            <a href="#questionCrud" id="optionModify" class="tablectrl_small bDefault tipS" title="Modificar"><span class="icos-create"></span></a>
                                            <a href="#questionCrud" id="optionDelete" class="tablectrl_small bDefault tipS" title="Eliminar"><span class="icos-cross"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(edit_form.option_text, 'Opción') }}</div>
                                    <div class="grid9">
                                        {{ form_widget(edit_form.option_text, { 'attr': { 'class': 'optionText' }}) }}
                                        {% if form_errors(edit_form.option_text) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.option_text) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(edit_form.option_value, 'Valor') }}</div>
                                    <div class="grid2">
                                        {{ form_widget(edit_form.option_value, { 'attr': { 'class': 'formTextNumber optionValue' }}) }}
                                        {% if form_errors(edit_form.option_value) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.option_value) }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="grid2">
                                        <a href="#questionCrud" id="optionAdd" class="sideB bDefault mt10">Agregar</a>
                                        <a href="#questionCrud" id="optionUpdate" class="sideB bDefault mt10" style="display: none;">Actualizar</a>
                                    </div>
                                    <div class="grid5">
                                        <label class="errorOptionsAddUpdate" style="display: none;"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formPollschedulingsSelect">
                        <div class="grid3"><label>Encuesta</label><span class="req">*</span></div>
                        <div class="grid9">{{ select_pollscheduling|raw }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.predecessor_activity, 'Actividad Predecesora') }}</div>
                        <div class="grid9">
                            {{ form_widget(edit_form.predecessor_activity, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.predecessor_activity) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.predecessor_activity) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTwoField clearfix">
                        <div class="grid3">{{ form_label(edit_form.duration, 'Duración') }}<span class="req">*</span></div>
                        <div class="grid9">
                            <div class="grid2">
                                {{ form_widget(edit_form.duration, { 'attr': { 'class': 'formTextNumber' }}) }}
                                {% if form_errors(edit_form.duration) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.duration) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid10">
                                {{ form_widget(edit_form.period, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                {% if form_errors(edit_form.period) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.period) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.datein, 'Fecha de Inicio') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.datein, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(edit_form.datein) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.datein) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.dateout, 'Fecha de Fin') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.dateout, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(edit_form.dateout) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.dateout) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.sequence, 'Orden') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.sequence, { 'empty_value': 'Elige el orden' }) }}
                            {% if form_errors(edit_form.sequence) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.sequence) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_widget(edit_form.options , { 'attr': { 'class': 'hideOptions' }}) }}
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10 buttonOptionActions">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('workshopschedulingactivity', { 'workshopschedulingid': entity.workshopscheduling.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('workshopschedulingactivity_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            {% if (entity.own == 1) %}
            <li>
                <a href="{{ path('workshopschedulingactivity_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_option_actions.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
