{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    <li class="current"><a href="{{ path('workshopschedulingactivity', { 'workshopschedulingid': workshopscheduling.id }) }}">Actividades</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ workshopscheduling.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('workshopschedulingactivity_new', { 'workshopschedulingid': workshopscheduling.id }) }}" class="sideB bGreyish mt10">
                   Asignar Actividad
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->
    
    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Actividades{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                  <li><a href="{{ path('workshopscheduling_show', { 'id': workshopscheduling.id }) }}">General</a></li>
                  <li><a href="{{ path('workshopapplication' , {'workshopschedulingid' : workshopscheduling.id }) }}">Personas</a></li>
                  <li><a href="{{ path('workshopschedulingdocument' , {'workshopschedulingid' : workshopscheduling.id }) }}">Documentos</a></li>
                  <li class="activeTab"><a href="{{ path('workshopschedulingactivity', {'workshopschedulingid' : workshopscheduling.id }) }}">Actividades</a></li>
                  <li><a href="{{ path('workshopschedulingpoll', {'workshopschedulingid' : workshopscheduling.id }) }}">Encuestas</a></li>
                  <li><a href="{{ path('workshopschedulingnotification', {'workshopschedulingid' : workshopscheduling.id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formRowWord formRowWordOnly clearfix">
                        {{ form_label(form.word, 'Id / Nombre') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.activity, 'Actividad') }}
                        <div>{{ form_widget(form.activity, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.category, 'Categoría') }}
                        <div>{{ form_widget(form.category, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.predecessor, 'Predecesor') }}
                        <div>{{ form_widget(form.predecessor, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow formDuration clearfix">
                        {{ form_label(form.duration, 'Duración') }}
                        <div>
                            {{ form_widget(form.duration) }}
                            {{ form_widget(form.period, { 'empty_value': 'Todos' }) }}
                        </div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.initdate, 'Inicio') }}
                        <div>{{ form_widget(form.initdate, { 'attr': { 'class': 'datepicker', 'value': form.initdate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.enddate, 'Fin') }}
                        <div>{{ form_widget(form.enddate, { 'attr': { 'class': 'datepicker', 'value': form.enddate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow formSequence clearfix">
                        {{ form_label(form.sequence, 'Orden') }}
                        <div>{{ form_widget(form.sequence, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.status, 'Estado') }}
                        <div>{{ form_widget(form.status, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nombre</th>
                      <th>Actividad</th>
                      <th>Categoría</th>
                      <th>Predecesora</th>
                      <th>Duración</th>
                      <th>Inicio</th>
                      <th>Fin</th>
                      <th>Modificado por</th>
                      <th>Última modificación</th>
                      <th>Orden</th>
                      <th>Estado</th>
                      <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('workshopschedulingactivity_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td><a href="{{ path('workshopschedulingactivity_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                        <td>{{ entity.activity }}</td>
                        <td>{{ entity.category }}</td>
                        <td>{{ entity.predecessor }}</td>
                        <td>{{ entity.duration ~ ' ' ~ entity.period|periodName }}</td>
                        <td>{% if entity.datein %}{{ entity.datein|date('d/m/Y') }}{% endif %}</td>
                        <td>{% if entity.dateout %}{{ entity.dateout|date('d/m/Y') }}{% endif %}</td>
                        <td>{{ entity.names ~ ' ' ~ entity.surname ~ ' ' ~ entity.lastname }}</td>
                        <td>{% if entity.changed %}{{ entity.changed|date('d/m/Y - H:i') }}{% endif %}</td>
                        <td>{{ entity.sequence }}</td>
                        <td>{{ entity.status|statusName }}</td>
                        <td class="actionsButtons">
                            <ul>
                                <li>
                                    <a href="{{ path('workshopschedulingactivity_show', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                </li>
                                <li>
                                    <a href="{{ path('workshopschedulingactivity_edit', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Editar"><span class="icos-pencil"></span></a>
                                </li>
                                {% if entity.own == 1 %}
                                <li>
                                    <a href="{{ path('workshopschedulingactivity_drop', { 'id': entity.id }) }}" class="tablectrl_small bDefault" title="Eliminar"><span class="icos-cross"></span></a>
                                </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'workshopschedulingactivity', 'rparams': { 'workshopschedulingid': workshopscheduling.id, 'form': form_data }, 'id': 'workshopschedulingactivity' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
