{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': entity.workshopscheduling_id }) }}">{{ entity.workshopscheduling_name }}</a></li>
    <li><a href="{{ path('workshopschedulingactivity', { workshopschedulingid : entity.workshopscheduling_id }) }}">Actividades</a></li>
    <li class="current"><a href="{{ path('workshopschedulingactivity_show', { id : entity.id }) }}">{{ entity.name }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ entity.workshopscheduling_name ~ ': ' ~ entity.name }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('workshopschedulingactivity_new', { 'workshopschedulingid': entity.workshopscheduling_id }) }}" class="sideB bGreyish mt10">
                   Asignar Actividad
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de Actividad{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('workshopscheduling_show', { 'id': entity.workshopscheduling_id }) }}">General</a></li>
                    <li><a href="{{ path('workshopapplication', { 'workshopschedulingid' : entity.workshopscheduling_id }) }}">Personas</a></li>
                    <li><a href="{{ path('workshopschedulingdocument', { 'workshopschedulingid' : entity.workshopscheduling_id }) }}">Documentos</a></li>
                    <li class="activeTab"><a href="{{ path('workshopschedulingactivity', { 'workshopschedulingid' : entity.workshopscheduling_id }) }}">Actividades</a></li>
                    <li><a href="{{ path('workshopschedulingpoll', { 'workshopschedulingid' : entity.workshopscheduling_id }) }}">Encuestas</a></li>
                    <li><a href="{{ path('workshopschedulingnotification', { 'workshopschedulingid' : entity.workshopscheduling_id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Categoría</th>
                            <td>{{ entity.category }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Actividad</th>
                            <td>{{ entity.activity }}</td>
                        </tr>
                        <tr>
                            <th class="textL">{% if entity.activity_id != 4 %} Nombre {% else %} Pregunta {% endif %}</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        {% if entity.activity_id == 4 %}
                        <tr>
                            <th class="textL">Tipo Pregunta</th>
                            <td>{{ entity.answer_type|answertypeName }}</td>
                        </tr>
                        {% endif %}
                        {% if entity.answer_type == 'unique_option' or entity.answer_type == 'multiple_option' or entity.answer_type == 'selection_option' %}
                            {% if entity.answer_type != 'selection_option' %} 
                                <tr>
                                    <th class="textL">Alineamiento</th>
                                    <td>{{ entity.alignment|alignmentName }}</td>
                                </tr>
                            {% endif %} 
                            <tr>
                                <th class="textL">Opciones</th>
                                <td>
                                    <ul>
                                    {% for option in entity.options %}
                                        <li>{{ option.score ~ ' | ' ~ option.text }}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %} 
                        {% if entity.activity_id == 1 or entity.activity_id == 2 or entity.activity_id == 3 %}
                        <tr>
                            {% if entity.activity_id == 1 %}
                            <th class="textL">Reporte de Encuesta</th>
                            {% else %}
                            <th class="textL">Encuesta</th>
                            {% endif %}
                            <td>{{ entity.pollscheduling_title }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th class="textL">Actividad Predecesora</th>
                            <td>{{ entity.predecessor }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Duración</th>
                            <td>{{ entity.duration ~ ' ' ~ entity.period|periodName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Fecha de Inicio</th>
                            <td>
                            {% if  entity.datein is not null %}
                                {{ entity.datein|date('d/m/Y') }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="textL">Fecha de Fin</th>
                            <td>
                            {% if  entity.dateout is not null %}
                                {{ entity.dateout|date('d/m/Y') }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="textL">Orden</th>
                            <td>{{ entity.sequence }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('workshopschedulingactivity', { 'workshopschedulingid' : entity.workshopscheduling_id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            {% if entity.own == 1 %}
            <li>
                <a href="{{ path('workshopschedulingactivity_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ path('workshopschedulingactivity_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
