{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': poll.customheadertitle, 
      'customheadertitletext': poll.customheadertitletext, 
      'customheadertitledescription': poll.customheadertitledescription, 
      'customheaderlogo': poll.customheaderlogo, 
      'companyid': company.id, 
      'companyname': company.name,
      'companyimage': company.image
   }
%}
{% if poll.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Encuesta : {{ poll.title ~ ' | V ' ~ poll.version ~ ' | ' ~ company.name ~ ' | ' ~ poll.pollschedulingperiod }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'pollid': poll.id, 'type': poll.type } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'pollid': poll.id, 'type': poll.type } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_poll', { 'pollid': poll.id }) }}">{{ poll.title }}</a></li>
    <li><a href="{{ path('fishman_front_end_poll_notifications', { 'pollid': poll.id }) }}">Notificaciones</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_poll_notifications_show', { 'pollid': poll.id, 'id': entity.id }) }}">Detalle</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Notificaciones</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="dashboard widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>Detalle de Documetno</h6>
            <a href="{{ path('fishman_front_end_poll_notifications', { 'pollid': poll.id }) }}" class="buttonH bBlack">Regresar a la lista</a>
        </div>
        
        <div class="messageArea">
            <div class="clearfix name"><label>{{ entity.name|upper }}</label></div>
            <div class="infoRow clearfix">
                {% if entity.type == 'message' %}
                    <span class="title"><strong><span class="uDone"></span>{{ entity.type|notificationtypeName }}</strong></span>
                {% else %}
                    <span class="title"><strong><span class="uDone"></span>{{ entity.type|notificationtypeName ~ ': ' ~ entity.type_name }}</strong></span>
                {% endif %}
                <span class="date"><label>Recibido el:</label> {{ entity.sended|date('j/n/Y H:i a') }}</span>
            </div>
            <div class="clearfix"><label>Asunto:</label> {{ entity.subject }}</div>
            <div class="clearfix">{{ entity.message|raw }}</div>
        </div>
        
    </div>
    <!-- /.tableDefault -->

</div>
<!-- /.dataList -->

{% endblock %}
