{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('workshopscheduling') }}">Programación de Talleres</a></li>
    <li><a href="{{ path('workshopscheduling_show', { 'id': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    <li><a href="{{ path('workshopschedulingpoll', { 'workshopschedulingid': workshopscheduling.id }) }}">Encuestas</a></li>
    <li><a href="{{ path('workshopschedulingpoll_show', { 'id': pollscheduling.id }) }}">{{ pollscheduling.title ~ ' ' ~ pollscheduling.version }}</a></li>
    <li><a href="{{ path('workshopschedulingpollquestion', { 'workshopschedulingid': workshopscheduling.id, 'pollschedulingid': pollscheduling.id }) }}">Preguntas</a></li>
    <li class="current"><a href="{{ path('workshopschedulingpollquestion_new', { 'workshopschedulingid': workshopscheduling.id, 'pollschedulingid': pollscheduling.id }) }}">Crear</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Programación de Talleres: {{ workshopscheduling.name ~ ': ' ~ entity.pollscheduling.title }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <form action="{{ path('workshopschedulingpollquestion_create', { 'workshopschedulingid': workshopscheduling.id, 'pollschedulingid': pollscheduling.id }) }}" method="post" {{ form_enctype(form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Crear Pregunta{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div id="questionCrud" class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.question, 'Pregunta') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.question) }}
                            {% if form_errors(form.question) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.question) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.type, 'Tipo de Respuesta') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.type, { 'attr': { 'class': 'answerType' }, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formAlignment">
                        <div class="grid3">{{ form_label(form.alignment, 'Alineación') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.alignment, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.alignment) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.alignment) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formOptionsSelect">
                        <div class="grid12">
                            <fieldset class="clearfix formOptionsFieldset">
                                <div class="clearfix formOptionsSelectMultiple">
                                    <div class="grid3">Opciones<span class="req">*</span></div>
                                    <div class="grid9">
                                        <select name="select_options_add[]" class="selectOptions multiple" multiple="multiple"></select>
                                        <div class="grid12 clearfix actionsButtons">
                                            <a href="#questionCrud" id="optionUp" class="tablectrl_small bDefault tipS" title="Arriba"><span class="icos-arrowup"></span></a>
                                            <a href="#questionCrud" id="optionDown" class="tablectrl_small bDefault tipS" title="Abajo"><span class="icos-arrowdown"></span></a>
                                            <a href="#questionCrud" id="optionModify" class="tablectrl_small bDefault tipS" title="Modificar"><span class="icos-create"></span></a>
                                            <a href="#questionCrud" id="optionDelete" class="tablectrl_small bDefault tipS" title="Eliminar"><span class="icos-cross"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(form.option_text, 'Opción') }}</div>
                                    <div class="grid9">
                                        {{ form_widget(form.option_text, { 'attr': { 'class': 'optionText' }}) }}
                                        {% if form_errors(form.option_text) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.option_text) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(form.option_value, 'Valor') }}</div>
                                    <div class="grid2">
                                        {{ form_widget(form.option_value, { 'attr': { 'class': 'formTextNumber optionValue' }}) }}
                                        {% if form_errors(form.option_value) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(form.option_value) }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="grid2">
                                        <a href="#questionCrud" id="optionAdd" class="sideB bDefault mt10">Agregar</a>
                                        <a href="#questionCrud" id="optionUpdate" class="sideB bDefault mt10" style="display: none;">Actualizar</a>
                                    </div>
                                    <div class="grid5">
                                        <label class="errorOptionsAddUpdate" style="display: none;"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="formRow {% if pollscheduling.level == 0 %}formActiveOff{% endif %} clearfix">
                        <div class="grid3">{{ form_label(form.pollschedulingsection_id, 'Sección') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.pollschedulingsection_id, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.pollschedulingsection_id) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.pollschedulingsection_id) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.mandatory_response, 'Respuesta Obligatoria') }}</div>
                        <div class="grid9">
                            {{ form_widget(form.mandatory_response, { 'attr': { 'class': 'check' }}) }}
                            {% if form_errors(form.mandatory_response) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.mandatory_response) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.sequence, 'Orden') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.sequence, { 'empty_value': 'Elige el orden' }) }}
                            {% if form_errors(form.sequence) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.sequence) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_widget(form.options , { 'attr': { 'class': 'hideOptions' }}) }}
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('workshopschedulingpollquestion', { 'workshopschedulingid': workshopscheduling.id, 'pollschedulingid': pollscheduling.id }) }}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10 buttonOptionActions">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
                
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_option_actions.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
