{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Dashboard{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li class="current"><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
</ul>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dashboard">

    <div class="clearfix workinginformationListTable">
        
        <div class="widget tableDefault clearfix">
        
            <div class="whead clearfix">
              <h6>{% filter upper %}Seleccione el Rol{% endfilter %}</h6>
            </div>
            
            <div class="dataListTable">
                <table class="records_list dataTable">
                    <tbody>
                    
                    {% for rol in roles %}
                        <tr>
                            <td>
                                <a href="{{ path('fishman_front_end_chooserol', { 'rol': rol }) }}">{{ rol|rolName|upper }}</a> 
                            </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
            <!-- /.dataListTable -->
       
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}
