{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Dashboard{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li class="current"><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
</ul>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dashboard">

    <div class="clearfix workinginformationListTable">
        
        <div class="widget tableDefault clearfix">
        
            <div class="whead clearfix">
              <h6>{% filter upper %}Información Laboral{% endfilter %}</h6>
            </div>
            
            <div class="dataListTable">
                <table class="records_list dataTable">
                    <tbody>
                    
                    {% for workinginformation in workinginformations %}
                        <tr>
                            <td>
                                <a href="{{ path('fishman_front_end_chooseworkinginformation', { 'wi': workinginformation.id }) }}">
                                    {{ workinginformation.company_name|upper }} (<strong>{{ workinginformation.type|workinginformationType }}</strong>)
                                </a> 
                            </td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
                </table>
            </div>
            <!-- /.dataListTable -->
       
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}
