<h1>
    {% if customheaderlogo == 1 and companyimage != null %}
    <a href="{{ path('fishman_front_end_homepage') }}" title="{{ companyname }}" class="logo-custom-header">
        <img class="logoCompany" src="{{ path('company_download' , { 'id': companyid }) }}" alt="logo de {{ companyname }}" />
    </a>
    {% else %}
    <a href="{{ path('fishman_front_end_homepage') }}" title="Sistema de Encuestas" class="logo-header"></a>
    {% endif %}
    {% if customheadertitle == 1 %}
    <a href="{{ path('fishman_front_end_homepage') }}" title="{{ companyname }}" class="title-header">
        <span>{{ customheadertitletext }}</span>
        {{ customheadertitledescription }}
    </a>
    {% else %}
    <a href="{{ path('fishman_front_end_homepage') }}" title="Sistema de Encuestas" class="title-header">
        <span>David Fischman </span>Sistema de Desarrollo de Capital Humano - <strong> Beta </strong>
    </a>
    {% endif %}
</h1>