<div class="tablePars">
    <div class="dataTables_filter">
        <form action="" method="get" {{ form_enctype(form) }}>
            {% if form.word.vars.value != '' %}
                {{ form_widget(form.word, { 'attr': { 'value': form.word.vars.value }}) }}
            {% else %}
                {{
                  form_widget(form.word, 
                  { 'attr': {
                    'onblur': "if (this.value == '') {this.value = 'buscar';}", 
                    'onfocus': "if (this.value == 'buscar') {this.value = '';}", 
                    'value': 'buscar'
                  }})
                }}
            {% endif %}
            <div class="hide">
                {{ form_widget(form) }}
            </div>
            <button type="submit" class="srch">Guardar</button>
        </form>
    </div>
</div>
<!-- /.tablePars -->