{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' %}
    {% set navigation_dashboard = '' %}
    {% set navigation_admin = '' %}
    {% set navigation_scheduling = '' %}
    {% set navigation_report = '' %}
    
    {% if navigation == 'dashboard' %}
        {% set navigation_dashboard = 'active' %}
        {% if dashboard is not defined %}
            {% if app.session.get('workshopapplication').name is not defined %}
                {% set dashboard = 'all' %}
            {% else %}
                {% set dashboard = 'workshop' %}
            {% endif %}
        {% endif %}
    {% elseif navigation == 'admin' %}
        {% set navigation_admin = 'active' %}
        {% set dashboard = 'all' %}
    {% elseif navigation == 'scheduling' %}
        {% set navigation_scheduling = 'active' %}
        {% set dashboard = 'all' %}
    {% elseif navigation == 'report' %}
        {% set navigation_report = 'active' %}
        {% set dashboard = 'all' %}
    {% endif %}
    
    {% if dashboard == 'all' %}
    <li><a href="{{ path('fishman_front_end_homepage') }}" title="Dashboard" class="{{ navigation_dashboard }}"><img src="{{ asset('images/icons-custom/dashboard2.png') }}" alt="Dashboard" /><span class="itemMainMenu">Dashboard</span></a></li>
    <li>
        <a href="#" title="Mantenimientos" class="{{ navigation_admin }}"><img src="{{ asset('images/icons-custom/maintenance.png') }}" alt="Mantenimientos" /><span class="itemMainMenu">Mantenimientos</span></a>
        <ul>
            <li><a href="{{ path('user') }}" title="Personas"><span class="icol-users2"></span>Personas</a></li>
            <li><a href="{{ path('company') }}" title="Empresas"><span class="icol-companies"></span>Empresas</a></li>
            <li><a href="{{ path('workshop') }}" title="Talleres"><span class="icol-cog4"></span>Talleres</a></li>
            <li><a href="{{ path('benchmarking') }}" title="Benchmarkings"><span class="icol-frames"></span>Benchmarkings</a></li>
            <li><a href="{{ path('poll') }}" title="Encuestas"><span class="icol-create2"></span>Encuestas</a></li>
            <li><a href="{{ path('faculty') }}" title="Facultades"><span class="icol-home"></span>Facultades</a></li>
            <li><a href="{{ path('category') }}" title="Categorías"><span class="icol-list"></span>Categorías</a></li>
            <li><a href="{{ path('charge') }}" title="Cargos"><span class="icol-admin2"></span>Cargos</a></li>
            <li><a href="{{ path('organizationalunit') }}" title="Unidades Organizativas"><span class="icol-view"></span>Unidades Organizativas</a></li>
            <li><a href="{{ path('talent') }}" title="Talentos"><span class="icol-star"></span>Talentos</a></li>
        </ul>
    </li>
    <li>
        <a href="#" title="Programación" class="{{ navigation_scheduling }}"><img src="{{ asset('images/icons-custom/programming.png') }}" alt="Programación" /><span class="itemMainMenu">Programación</span></a>
        <ul>
            <li><a href="{{ path('workshopscheduling') }}" title="Programación de Talleres"><span class="icol-cog4"></span>Talleres</a></li>
            <li><a href="{{ path('pollscheduling') }}" title="Programación de Encuestas"><span class="icol-create2"></span>Encuestas</a></li>
        </ul>
    </li>
    <li>
        <a href="#" title="Reporte" class="{{ navigation_report }}"><img src="{{ asset('images/icons-custom/report.png') }}" alt="Reporte" /><span class="itemMainMenu">Reporte</span></a>
        <ul class="report">
            <li><a href="{{ path('fishman_front_end_report_counselor') }}" title="Reporte Consejero"><span class="icol-download3"></span>Reporte Consejero</a></li>
            <li><a href="{{ path('fishman_front_end_report_disaggregated') }}" title="Reporte Desagregado"><span class="icol-blocks"></span>Reporte Desagregado</a></li>
            <li><a href="{{ path('fishman_front_end_report_follow') }}" title="Seguimiento de Encuestas"><span class="icol-running"></span>Seguimiento de Encuestas</a></li>
            <li><a href="{{ path('fishman_front_end_report_result') }}" title="Resultado de Encuestas"><span class="icol-stats"></span>Resultado de Encuestas</a></li>
            <li><a href="{{ path('fishman_front_end_report_benchmarking_internal') }}" title="Benchmarking Interno"><span class="icol-chart2"></span>Benchmarking Interno</a></li>
            <li><a href="{{ path('fishman_front_end_report_benchmarking_external') }}" title="Benchmarking Externo"><span class="icol-chart8"></span>Benchmarking Externo</a></li>
        </ul>
    </li>
    {% elseif dashboard == 'workshop' %}
        <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopid }) }}" title="Dashboard del Taller" class="active"><img src="{{ asset('images/icons-custom/dashboard_workshop.png') }}" alt="Dashboard del Taller" /><span class="itemMainMenu">Dashboard</br>Taller</span></a></li>
        <li><a href="{{ path('fishman_front_end_workshop_integrants', { 'workshopid': workshopid }) }}" title="Participantes"><img src="{{ asset('images/icons-custom/people2.png') }}" alt="Participanes" /><span class="itemMainMenu">Participantes</span></a></li>
        <li><a href="{{ path('fishman_front_end_workshop_polls_admin', { 'workshopid': workshopid }) }}" title="Encuestas"><img src="{{ asset('images/icons-custom/poll.png') }}" alt="Encuestas" /><span class="itemMainMenu">Encuestas</span></a></li>
        <li><a href="{{ path('fishman_front_end_workshop_admin_notifications', { 'workshopid': workshopid }) }}" title="Notificaciones"><img src="{{ asset('images/icons-custom/notification.png') }}" alt="Notificaiones" /><span class="itemMainMenu">Notificaciones</span></a></li>
        <li>
            <a href="#" title="Reporte"><img src="{{ asset('images/icons-custom/report.png') }}" alt="Reportes" /><span class="itemMainMenu">Reporte</span></a>
            <ul>
                <li><a href="{{ path('fishman_front_end_workshop_report_activity', { 'workshopschedulingid': workshopid }) }}" title="Seguimiento de Actividades"><span class="icol-running"></span>Seguimiento de Actividades</a></li>
                <li><a href="{{ path('fishman_front_end_workshop_report_activity_result', { 'workshopschedulingid': workshopid }) }}" title="Resultado de Actividades"><span class="icol-stats"></span>Resultado de Actividades</a></li>
                <li><a href="{{ path('fishman_front_end_workshop_admin_report_poll_follow', { 'workshopschedulingid': workshopid }) }}" title="Seguimiento de Encuestas"><span class="icol-running"></span>Seguimiento de Encuestas</a></li>
                <li><a href="{{ path('fishman_front_end_workshop_admin_report_poll_result', { 'workshopschedulingid': workshopid }) }}" title="Resultado de Encuestas"><span class="icol-stats"></span>Resultado de Encuestas</a></li>
            </ul>
        </li>
    {% elseif dashboard == 'poll' %}
        {% if workshopid is defined %}
        <li>
            <a href="{{ path('fishman_front_end_homepage') }}" title="Dashboard"><img src="{{ asset('images/icons-custom/dashboard2.png') }}" alt="" /><span class="itemMainMenu">Dashboard</span></a>
            <ul>
                <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopid }) }}" title="Dashboard del Taller" class="clearfix"><img src="{{ asset('images/icons-custom/dashboard_workshop_submenu.png') }}" alt="Dashboard del Taller" /><span class="itemMainMenu">Dashboard Taller</span></a></li>
                <li><a href="{{ path('fishman_front_end_poll', { 'pollid': pollid }) }}" title="Dashboard de la Encuesta" class="active clearfix"><img src="{{ asset('images/icons-custom/dashboard_poll_submenu.png') }}" alt="Dashboard de la Encuesta" /><span class="itemMainMenu">Dashboard Encuesta</span></a></li>
            </ul>
        </li>
        {% else %}
        <li><a href="{{ path('fishman_front_end_poll', { 'pollid': pollid }) }}" title="Dashboard de la Encuesta" class="active"><img src="{{ asset('images/icons-custom/dashboard_poll.png') }}" alt="Dashboard de la Encuesta" /><span class="itemMainMenu">Dashboard</br>Encuesta</span></a></li>
        {% endif %}
        {% if type != 'not_evaluateds' %}
        <li><a href="{{ path('fishman_front_end_poll_integrants', { 'pollid': pollid }) }}" title="Evaluados"><img src="{{ asset('images/icons-custom/people2.png') }}" alt="Evaluados" /><span class="itemMainMenu">Evaluados</span></a></li>
        {% endif %}
        <li><a href="{{ path('fishman_front_end_poll_evaluateds', { 'pollid': pollid }) }}" title="Evaluar"><img src="{{ asset('images/icons-custom/ou2.png') }}" alt="Evaluar" /><span class="itemMainMenu">Evaluar</span></a></li>
        <li><a href="{{ path('fishman_front_end_poll_notifications', { 'pollid': pollid }) }}" title="Notificaciones"><img src="{{ asset('images/icons-custom/notification.png') }}" alt="Notificaciones" /><span class="itemMainMenu">Notificaciones</span></a></li>
        <li>
            <a href="#" title="Reportes"><img src="{{ asset('images/icons-custom/report.png') }}" alt="Reportes" /><span class="itemMainMenu">Reportes</span></a>
            <ul>
                {% if type != 'not_evaluateds' %}
                <li><a href="{{ path('fishman_front_end_poll_report_follow_show', { 'pollid': pollid }) }}" title="Seguimiento de Encuesta"><span class="icol-running"></span>Seguimiento de Encuesta</a></li>
                {% else %}
                <li><a href="{{ path('fishman_front_end_poll_notevaluateds_report_follow_show', { 'pollid': pollid }) }}" title="Seguimiento de Encuesta"><span class="icol-running"></span>Seguimiento de Encuesta</a></li>
                {% endif %}
                {% if type != 'not_evaluateds' %}
                <li><a href="{{ path('fishman_front_end_poll_report_result', { 'pollid': pollid }) }}" title="Resultado de Encuesta"><span class="icol-stats"></span>Resultado de Encuesta</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% elseif app.session.get('currentrol') == 'ROLE_TEACHER' %}
    {% if dashboard == 'all' %}
        <li><a href="{{ path('fishman_front_end_homepage') }}" title="Dashboard" class="active"><img src="{{ asset('images/icons-custom/dashboard2.png') }}" alt="" /><span class="itemMainMenu">Dashboard</span></a></li>
        <li><a href="{{ path('fishman_front_end_workshops') }}" title="Talleres"><img src="{{ asset('images/icons-custom/workshop.png') }}" alt="" /><span class="itemMainMenu">Talleres</span></a></li>
        <li><a href="{{ path('fishman_front_end_polls') }}" title="Encuestas"><img src="{{ asset('images/icons-custom/poll.png') }}" alt="" /><span class="itemMainMenu">Encuestas</span></a></li>
        <li><a href="{{ path('fishman_front_end_notifications') }}" title="Notificaciones"><img src="{{ asset('images/icons-custom/notification.png') }}" alt="" /><span class="itemMainMenu">Notificaciones</span></a></li>
        <li>
            <a href="#" title="Reporte"><img src="{{ asset('images/icons-custom/report.png') }}" alt="Reporte" /><span class="itemMainMenu">Reporte</span></a>
            <ul>
                <li><a href="{{ path('fishman_front_end_report_benchmarking_internal') }}" title="Benchmarking Interno"><span class="icol-chart2"></span>Benchmarking Interno</a></li>
                <li><a href="{{ path('fishman_front_end_report_benchmarking_external') }}" title="Benchmarking Externo"><span class="icol-chart8"></span>Benchmarking Externo</a></li>
            </ul>
        </li>
    {% elseif dashboard == 'workshop' %}
        <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopid }) }}" title="Dashboard del Taller" class="active"><img src="{{ asset('images/icons-custom/dashboard_workshop.png') }}" alt="Dashboard del Taller" /><span class="itemMainMenu">Dashboard</br>Taller</span></a></li>
        <li><a href="{{ path('fishman_front_end_workshop_integrants', { 'workshopid': workshopid }) }}" title="Participantes"><img src="{{ asset('images/icons-custom/people2.png') }}" alt="Participanes" /><span class="itemMainMenu">Participantes</span></a></li>
        <li><a href="{{ path('fishman_front_end_workshop_polls_admin', { 'workshopid': workshopid }) }}" title="Encuestas"><img src="{{ asset('images/icons-custom/poll.png') }}" alt="" /><span class="itemMainMenu">Encuestas</span></a></li>
        <li><a href="{{ path('fishman_front_end_workshop_admin_notifications', { 'workshopid': workshopid }) }}" title="Notificaciones"><img src="{{ asset('images/icons-custom/notification.png') }}" alt="Notificaiones" /><span class="itemMainMenu">Notificaciones</span></a></li>
        <li>
            <a href="#" title="Reporte"><img src="{{ asset('images/icons-custom/report.png') }}" alt="Reportes" /><span class="itemMainMenu">Reporte</span></a>
            <ul>
                <li><a href="{{ path('fishman_front_end_workshop_report_activity', { 'workshopschedulingid': workshopid }) }}" title="Seguimiento de Actividades"><span class="icol-running"></span>Seguimiento de Actividades</a></li>
                <li><a href="{{ path('fishman_front_end_workshop_report_activity_result', { 'workshopschedulingid': workshopid }) }}" title="Resultado de Actividades"><span class="icol-stats"></span>Resultado de Actividades</a></li>
                <li><a href="{{ path('fishman_front_end_workshop_admin_report_poll_follow', { 'workshopschedulingid': workshopid }) }}" title="Seguimiento de Encuestas"><span class="icol-running"></span>Seguimiento de Encuestas</a></li>
                <li><a href="{{ path('fishman_front_end_workshop_admin_report_poll_result', { 'workshopschedulingid': workshopid }) }}" title="Resultado de Encuestas"><span class="icol-stats"></span>Resultado de Encuestas</a></li>
            </ul>
        </li>
    {% elseif dashboard == 'poll' %}
        {% if workshopid is defined %}
        <li>
            <a href="{{ path('fishman_front_end_homepage') }}" title="Dashboard"><img src="{{ asset('images/icons-custom/dashboard2.png') }}" alt="" /><span class="itemMainMenu">Dashboard</span></a>
            <ul>
                <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopid }) }}" title="Dashboard del Taller" class="clearfix"><img src="{{ asset('images/icons-custom/dashboard_workshop_submenu.png') }}" alt="Dashboard del Taller" /><span class="itemMainMenu">Dashboard Taller</span></a></li>
                <li><a href="{{ path('fishman_front_end_poll', { 'pollid': pollid }) }}" title="Dashboard de la Encuesta" class="active clearfix"><img src="{{ asset('images/icons-custom/dashboard_poll_submenu.png') }}" alt="Dashboard de la Encuesta" /><span class="itemMainMenu">Dashboard Encuesta</span></a></li>
            </ul>
        </li>
        {% else %}
        <li><a href="{{ path('fishman_front_end_poll', { 'pollid': pollid }) }}" title="Dashboard de la Encuesta" class="active"><img src="{{ asset('images/icons-custom/dashboard_poll.png') }}" alt="Dashboard de la Encuesta" /><span class="itemMainMenu">Dashboard</br>Encuesta</span></a></li>
        {% endif %}
        {% if type != 'not_evaluateds' %}
        <li><a href="{{ path('fishman_front_end_poll_integrants', { 'pollid': pollid }) }}" title="Evaluados"><img src="{{ asset('images/icons-custom/people2.png') }}" alt="Evaluados" /><span class="itemMainMenu">Evaluados</span></a></li>
        {% endif %}
        <li><a href="{{ path('fishman_front_end_poll_evaluateds', { 'pollid': pollid }) }}" title="Evaluar"><img src="{{ asset('images/icons-custom/ou2.png') }}" alt="Evaluar" /><span class="itemMainMenu">Evaluar</span></a></li>
        <li><a href="{{ path('fishman_front_end_poll_notifications', { 'pollid': pollid }) }}" title="Notificaciones"><img src="{{ asset('images/icons-custom/notification.png') }}" alt="Notificaciones" /><span class="itemMainMenu">Notificaciones</span></a></li>
        <li>
            <a href="#" title="Reportes"><img src="{{ asset('images/icons-custom/report.png') }}" alt="Reportes" /><span class="itemMainMenu">Reportes</span></a>
            <ul>
                {% if type != 'not_evaluateds' %}
                <li><a href="{{ path('fishman_front_end_poll_report_follow_show', { 'pollid': pollid }) }}" title="Seguimiento de Encuesta"><span class="icol-running"></span>Seguimiento de Encuesta</a></li>
                {% else %}
                <li><a href="{{ path('fishman_front_end_poll_notevaluateds_report_follow_show', { 'pollid': pollid }) }}" title="Seguimiento de Encuesta"><span class="icol-running"></span>Seguimiento de Encuesta</a></li>
                {% endif %}
                {% if type != 'not_evaluateds' %}
                <li><a href="{{ path('fishman_front_end_poll_report_result', { 'pollid': pollid }) }}" title="Resultado de Encuesta"><span class="icol-stats"></span>Resultado de Encuesta</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
{% else %}
    {% if dashboard == 'all' %}
        <li><a href="{{ path('fishman_front_end_homepage') }}" title="Dashboard" class="active"><img src="{{ asset('images/icons-custom/dashboard2.png') }}" alt="" /><span class="itemMainMenu">Dashboard</span></a></li>
        <li><a href="{{ path('fishman_front_end_workshops') }}" title="Talleres"><img src="{{ asset('images/icons-custom/workshop.png') }}" alt="" /><span class="itemMainMenu">Talleres</span></a></li>
        <li><a href="{{ path('fishman_front_end_polls') }}" title="Encuestas"><img src="{{ asset('images/icons-custom/poll.png') }}" alt="" /><span class="itemMainMenu">Encuestas</span></a></li>
        <li><a href="{{ path('fishman_front_end_notifications') }}" title="Notificaciones"><img src="{{ asset('images/icons-custom/notification.png') }}" alt="" /><span class="itemMainMenu">Notificaciones</span></a></li>
        <li>
            <a href="#" title="Reporte"><img src="{{ asset('images/icons-custom/report.png') }}" alt="Reporte" /><span class="itemMainMenu">Reporte</span></a>
            <ul>
                <li><a href="{{ path('fishman_front_end_report_benchmarking_internal') }}" title="Benchmarking Interno"><span class="icol-chart2"></span>Benchmarking Interno</a></li>
                <li><a href="{{ path('fishman_front_end_report_benchmarking_external') }}" title="Benchmarking Externo"><span class="icol-chart8"></span>Benchmarking Externo</a></li>
            </ul>
        </li>
    {% elseif dashboard == 'workshop' %}
        {% set profile = app.session.get('workshopapplication').profile %}
        {% if profile == 'integrant' %}
            <li><a href="{{ path('fishman_front_end_workshop') }}" title="Dashboard del Taller" class="active"><img src="{{ asset('images/icons-custom/dashboard_workshop.png') }}" alt="" /><span class="itemMainMenu">Dashboard</br>Taller</span></a></li>
            <li><a href="{{ path('fishman_front_end_workshop_activities') }}" title="Actividades"><img src="{{ asset('images/icons-custom/activity.png') }}" alt="" /><span class="itemMainMenu">Actividades</span></a></li>
            <li><a href="{{ path('fishman_front_end_workshop_polls') }}" title="Encuestas"><img src="{{ asset('images/icons-custom/poll.png') }}" alt="" /><span class="itemMainMenu">Encuestas</span></a></li>
            <li><a href="{{ path('fishman_front_end_workshop_documents') }}" title="Documentos"><img src="{{ asset('images/icons-custom/document.png') }}" alt="" /><span class="itemMainMenu">Documentos</span></a></li>
            <li><a href="{{ path('fishman_front_end_workshop_notifications') }}" title="Notificaciones"><img src="{{ asset('images/icons-custom/notification.png') }}" alt="" /><span class="itemMainMenu">Notificaciones</span></a></li>
            <li>
                <a href="#" title="Reportes"><img src="{{ asset('images/icons-custom/report.png') }}" alt="Reportes" /><span class="itemMainMenu">Reportes</span></a>
                <ul>
                    <li><a href="{{ path('fishman_front_end_workshop_report_activity_result', { 'workshopschedulingid': app.session.get('workshopapplication').ws_id }) }}" title="Resultado de Actividades"><span class="icol-stats"></span>Resultado de Actividades</a></li>
                    <li><a href="{{ path('fishman_front_end_workshop_report_poll_result') }}" title="Resultado de Encuestas"><span class="icol-stats"></span>Resultado de Encuestas</a></li>
                </ul>
            </li>
        {% elseif profile == 'collaborator' or profile == 'boss' %}
            <li><a href="{{ path('fishman_front_end_workshop') }}" title="Dashboard del Taller" class="active"><img src="{{ asset('images/icons-custom/dashboard_workshop.png') }}" alt="" /><span class="itemMainMenu">Dashboard</br>Taller</span></a></li>
            <li><a href="{{ path('fishman_front_end_workshop_polls') }}" title="Encuestas"><img src="{{ asset('images/icons-custom/poll.png') }}" alt="" /><span class="itemMainMenu">Encuestas</span></a></li>
            <li><a href="{{ path('fishman_front_end_workshop_notifications') }}" title="Notificaciones"><img src="{{ asset('images/icons-custom/notification.png') }}" alt="" /><span class="itemMainMenu">Notificaciones</span></a></li>
            <li>
                <a href="#" title="Reportes"><img src="{{ asset('images/icons-custom/report.png') }}" alt="Reportes" /><span class="itemMainMenu">Reportes</span></a>
                <ul>
                    <li><a href="{{ path('fishman_front_end_workshop_report_activity_result', { 'workshopschedulingid': app.session.get('workshopapplication').ws_id }) }}" title="Resultado de Actividades"><span class="icol-stats"></span>Resultado de Actividades</a></li>
                    <li><a href="{{ path('fishman_front_end_workshop_report_poll_result') }}" title="Resultado de Encuestas"><span class="icol-stats"></span>Resultado de Encuestas</a></li>
                </ul>
            </li>
        {% elseif profile == 'company' or profile == 'responsible' %}
            <li><a href="{{ path('fishman_front_end_workshop') }}" title="Dashboard del Taller" class="active"><img src="{{ asset('images/icons-custom/dashboard_workshop.png') }}" alt="" /><span class="itemMainMenu">Dashboard</br>Taller</span></a></li>
            <li><a href="{{ path('fishman_front_end_workshop_polls') }}" title="Encuestas"><img src="{{ asset('images/icons-custom/poll.png') }}" alt="" /><span class="itemMainMenu">Encuestas</span></a></li>
            <li><a href="{{ path('fishman_front_end_workshop_notifications') }}" title="Notificaciones"><img src="{{ asset('images/icons-custom/notification.png') }}" alt="" /><span class="itemMainMenu">Notificaciones</span></a></li>
            <li>
                <a href="#" title="Reportes"><img src="{{ asset('images/icons-custom/report.png') }}" alt="" /><span class="itemMainMenu">Reporte</span></a>
                <ul>
                    <li><a href="{{ path('fishman_front_end_workshop_report_activity', { 'workshopschedulingid': app.session.get('workshopapplication').ws_id }) }}" title="Seguimiento de Actividades"><span class="icol-running"></span>Seguimiento de Actividades</a></li>
                    <li><a href="{{ path('fishman_front_end_workshop_report_activity_result', { 'workshopschedulingid': app.session.get('workshopapplication').ws_id }) }}" title="Resultado de Actividades"><span class="icol-stats"></span>Resultado de Actividades</a></li>
                    <li><a href="{{ path('fishman_front_end_workshop_report_poll_follow') }}" title="Seguimiento de Encuestas"><span class="icol-running"></span>Seguimiento de Encuestas</a></li>
                    <li><a href="{{ path('fishman_front_end_workshop_report_poll_result') }}" title="Resultado de Encuestas"><span class="icol-stats"></span>Resultado de Encuestas</a></li>
                </ul>
            </li>
        {% endif %}
    {% elseif dashboard == 'poll' %}
        {% if profile == 'integrant' or profile == 'collaborator' %}
            {% if workshopid is defined %}
            <li>
                <a href="{{ path('fishman_front_end_homepage') }}" title="Dashboard"><img src="{{ asset('images/icons-custom/dashboard2.png') }}" alt="" /><span class="itemMainMenu">Dashboard</span></a>
                <ul>
                    <li><a href="{{ path('fishman_front_end_workshop', { 'wa': workshopid }) }}" title="Dashboard del Taller" class="clearfix"><img src="{{ asset('images/icons-custom/dashboard_workshop_submenu.png') }}" alt="Dashboard del Taller" /><span class="itemMainMenu">Dashboard Taller</span></a></li>
                    <li><a href="{{ path('fishman_front_end_poll', { 'pollid': pollid }) }}" title="Dashboard de la Encuesta" class="active clearfix"><img src="{{ asset('images/icons-custom/dashboard_poll_submenu.png') }}" alt="Dashboard de la Encuesta" /><span class="itemMainMenu">Dashboard Encuesta</span></a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{{ path('fishman_front_end_poll', { 'pollid': pollid }) }}" title="Dashboard de la Encuesta" class="active"><img src="{{ asset('images/icons-custom/dashboard_poll.png') }}" alt="Dashboard de la Encuesta" /><span class="itemMainMenu">Dashboard</br>Encuesta</span></a></li>
            {% endif %}
            <li><a href="{{ path('fishman_front_end_poll_evaluateds', { 'pollid': pollid }) }}" title="Evaluar"><img src="{{ asset('images/icons-custom/ou2.png') }}" alt="Evaluar" /><span class="itemMainMenu">Evaluar</span></a></li>
            <li><a href="{{ path('fishman_front_end_poll_notifications', { 'pollid': pollid }) }}" title="Notificaciones"><img src="{{ asset('images/icons-custom/notification.png') }}" alt="Notificaciones" /><span class="itemMainMenu">Notificaciones</span></a></li>
            <li>
                <a href="#" title="Reportes"><img src="{{ asset('images/icons-custom/report.png') }}" alt="Reportes" /><span class="itemMainMenu">Reportes</span></a>
                <ul>
                    {% if type != 'not_evaluateds' %}
                    <li><a href="{{ path('fishman_front_end_poll_report_result', { 'pollid': pollid }) }}" title="Resultado de Encuesta"><span class="icol-stats"></span>Resultado de Encuesta</a></li>
                    {% endif %}
                </ul>
            </li>
        {% elseif profile == 'boss' or profile == 'company' or profile == 'responsible' %}
            {% if workshopid is defined %}
            <li>
                <a href="{{ path('fishman_front_end_homepage') }}" title="Dashboard"><img src="{{ asset('images/icons-custom/dashboard2.png') }}" alt="" /><span class="itemMainMenu">Dashboard</span></a>
                <ul>
                    <li><a href="{{ path('fishman_front_end_workshop', { 'wa': workshopid }) }}" title="Dashboard del Taller" class="clearfix"><img src="{{ asset('images/icons-custom/dashboard_workshop_submenu.png') }}" alt="Dashboard del Taller" /><span class="itemMainMenu">Dashboard Taller</span></a></li>
                    <li><a href="{{ path('fishman_front_end_poll', { 'pollid': pollid }) }}" title="Dashboard de la Encuesta" class="active clearfix"><img src="{{ asset('images/icons-custom/dashboard_poll_submenu.png') }}" alt="Dashboard de la Encuesta" /><span class="itemMainMenu">Dashboard Encuesta</span></a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{{ path('fishman_front_end_poll', { 'pollid': pollid }) }}" title="Dashboard de la Encuesta" class="active"><img src="{{ asset('images/icons-custom/dashboard_poll.png') }}" alt="Dashboard de la Encuesta" /><span class="itemMainMenu">Dashboard</br>Encuesta</span></a></li>
            {% endif %}
            {% if type != 'not_evaluateds' %}
            <li><a href="{{ path('fishman_front_end_poll_integrants', { 'pollid': pollid }) }}" title="Evaluados"><img src="{{ asset('images/icons-custom/people2.png') }}" alt="Evaluados" /><span class="itemMainMenu">Evaluados</span></a></li>
            {% endif %}
            <li><a href="{{ path('fishman_front_end_poll_evaluateds', { 'pollid': pollid }) }}" title="Evaluar"><img src="{{ asset('images/icons-custom/ou2.png') }}" alt="Evaluar" /><span class="itemMainMenu">Evaluar</span></a></li>
            <li><a href="{{ path('fishman_front_end_poll_notifications', { 'pollid': pollid }) }}" title="Notificaciones"><img src="{{ asset('images/icons-custom/notification.png') }}" alt="Notificaciones" /><span class="itemMainMenu">Notificaciones</span></a></li>
            <li>
                <a href="#" title="Reportes"><img src="{{ asset('images/icons-custom/report.png') }}" alt="Reportes" /><span class="itemMainMenu">Reportes</span></a>
                <ul>
                    {% if profile == 'company' or profile == 'responsible' %}
                        {% if type != 'not_evaluateds' %}
                        <li><a href="{{ path('fishman_front_end_poll_report_follow_show', { 'pollid': pollid }) }}" title="Seguimiento de Encuesta"><span class="icol-running"></span>Seguimiento de Encuesta</a></li>
                        {% else %}
                        <li><a href="{{ path('fishman_front_end_poll_notevaluateds_report_follow_show', { 'pollid': pollid }) }}" title="Seguimiento de Encuesta"><span class="icol-running"></span>Seguimiento de Encuesta</a></li>
                        {% endif %}
                    {% endif %}
                    {% if type != 'not_evaluateds' %}
                    <li><a href="{{ path('fishman_front_end_poll_report_result', { 'pollid': pollid }) }}" title="Resultado de Encuesta"><span class="icol-stats"></span>Resultado de Encuesta</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    {% endif %}
{% endif %}