{% if app.user.username is defined %}
<div class="user userProfile">
    <a title="" class="leftUserDrop"><span>{{ app.user.names ~ ' ' ~ app.user.surname ~ ' ' ~ app.user.lastname }}</span></a>
    <ul class="leftUser">
        <li><a href="{{ path('fishman_front_end_homepage') }}" title="Dashboard Principal" class="sScreen">Dashboard Principal</a></li>
        <li><a href="{{ path('fos_user_profile_show') }}" title="Mi Cuenta" class="sProfile">Mi Cuenta</a></li>
        <li><a href="{{ path('fos_user_profile_edit') }}" title="Editar Cuenta" class="sSettings">Editar Cuenta</a></li>
        <li><a href="{{ path('fos_user_security_logout') }}" title="Salir" class="sLogout">Salir</a></li>
    </ul>
</div>
<!-- User name -->

<div class="altNav topUserProfile">
    <ul class="userNav">
        <li><a href="{{ path('fishman_front_end_homepage') }}" title="Dashboard Principal" class="screen"></a></li>
        <li><a href="{{ path('fos_user_profile_show') }}" title="Mi Cuenta" class="profile"></a></li>
        <li><a href="{{ path('fos_user_profile_edit') }}" title="Editar Cuenta" class="settings"></a></li>
        <li><a href="{{ path('fos_user_security_logout') }}" title="Salir" class="logout"></a></li>
    </ul>
</div>
<!-- Alt nav -->
{% endif %}