{% if rparams is not defined %}
    {% set rparams = {} %}
{% endif %}

{{ simple_paginator_render(route, id, {
        routeParams: rparams,
        container_class: 'dataTables_paginate paging_full_numbers', 
        firstPageText: '<< Primero', 
        firstDisabledClass: 'paginate_button_disabled', 
        previousPageText: '< Anterior', 
        previousDisabledClass: 'paginate_button_disabled',
        nextPageText: 'Siguiente >', 
        nextDisabledClass: 'paginate_button_disabled',
        lastPageText: 'Último >>',
        lastDisabledClass: 'paginate_button_disabled', 
        currentClass: 'paginate_active'
    })
}}