{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('css/styles_alt.css') }}">
<link rel="stylesheet" href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('css/custom_fischman.css') }}">
{% endblock %}

{% block body%}
<div class="contentPrint contentPdf">
  
    	  <div id="top" class="clearfix">
    	      <div class="wrapper">
              <h1>
                <a href="{{ path('fishman_front_end_homepage') }}" title="Sistema Centralizado de Gestión Humana" class="logo">
                  <span>David Fischman </span>Sistema de Desarrollo de Capital Humano
                  </a>
              </h1>
    	      </div>
    	  </div>
        <div class="header-print">
          
    	      <div class="contentTop clearfix">
                  <span class="pageTitle">
                  {% block subtitle %}
                  <span class="icon-screen"></span>
                  Taller de {{ workshopscheduling.name }} -  {{ workshopscheduling.company.name }} | 
                  {% endblock %}<h5>Reportes</h5></span>
            </div>
            {% block content %}

            <div class="dataList">

              <div class="widget tableDefault containerReport clearfix">

                  <div class="whead clearfix">
                      <h6>{% filter upper %}Resultado de Actividades{% endfilter %}</h6>
                  </div>
                    
                  <div class="formCrudCreate">

                      <form action="" method="post"  class="formReport crud main">
                      
                          <div class="fluid tableDefault clearfix">
                                  
                              <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">
                                  
                                  <div class="grid7">
                                    
                                    <div class="formRow clearfix">
                                        <div class="grid3"><label>Participante</label></div>
                                        <div class="grid9">
                                            <select name="options_integrant" id="options_integrant" required >
                                              <option value>SELECCIONE UNA OPCIÓN</option>
                                              {% for wa in workshopapplication %}
                                              {% if wa.profile == 'integrant' and wa.id != integrant %}
                                                <option value="{{ wa.id }}">
                                                {{ wa.workinginformation.user.names}} 
                                                {{ wa.workinginformation.user.surname}} 
                                                {{ wa.workinginformation.user.lastname}} 
                                              {% elseif wa.profile == 'integrant' and wa.id == integrant %}
                                                <option selected value="{{ wa.id }}">
                                                {{ wa.workinginformation.user.names}} 
                                                {{ wa.workinginformation.user.surname}} 
                                                {{ wa.workinginformation.user.lastname}} 
                                                </option>
                                              {% endif %}

                                              {% endfor %}
                                              </select>
                                        </div>
                                    </div>

                                  </div>
                              
                          </div>
                          <!-- /.tableDefault -->
                          

                        </fieldset>
                      </form>
                    
                    </div>
                    <!-- /.formCrudCreate -->

                </div>
                <!-- /.tableDefault -->
                
              <div class="widget tableDefault clearfix">

                  {% if waa_array %}
                  <div class="whead clearfix">
                      <h6>{% filter upper %}Reporte de Actividades{% endfilter %}</h6>
                  </div>
                  {% for waa in waa_array %}
                  {% if waa.activitytype is defined %}
                      {% if waa.activitytype == 1 %}
                        {% include "FishmanFrontEndBundle:Dashboard/Workshop/Activity/Report/ActivityType:workbook.html.twig" with {'loop': loop.index} %}
                      {% endif %}
                      {% if waa.activitytype == 2 %}
                        {% include "FishmanFrontEndBundle:Dashboard/Workshop/Activity/Report/ActivityType:groupplan.html.twig" with {'current_number': loop.index  } %}
                      {% endif %}
                      {% if waa.activitytype == 3 %}
                        {% include "FishmanFrontEndBundle:Dashboard/Workshop/Activity/Report/ActivityType:individualplan.html.twig" with {'current_number': loop.index} %}
                      {% endif %}
                      {% if waa.activitytype == 4 %}
                        {% include "FishmanFrontEndBundle:Dashboard/Workshop/Activity/Report/ActivityType:question.html.twig" with {'current_number': loop.index , 'workshopscheduling_activity' : workshopscheduling_activity , 'waaid' : waa.id } %}
                      {% endif %}
                    
                  {% endif %}
                      {% endfor %}
                  {% endif %}
                </div>
            </div>
<!-- /.dataList -->

{% endblock %}

</div>
{% endblock %}
