{% extends '::base_fishman.html.twig' %}
{% block body%}
<div class="contentPrint">
  
	  <div id="top" class="clearfix">
	      <div class="wrapper">
            
            {% block customheader %}
            {% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
                  'customheadertitle': workshopscheduling.customheadertitle, 
                  'customheadertitletext': workshopscheduling.customheadertitletext, 
                  'customheadertitledescription': workshopscheduling.customheadertitledescription, 
                  'customheaderlogo': workshopscheduling.customheaderlogo, 
                  'companyid': workshopscheduling.company.id, 
                  'companyname': workshopscheduling.company.name,
                  'companyimage': workshopscheduling.company.image
               }
            %}
            {% if workshopscheduling.customheadertitle == 0 %}
                {{ parent() }}
            {% endif %}
            {% endblock %}

	      </div>
	  </div>
    <div class="header-print">
      
        <div class="contentTop clearfix">
            <span class="pageTitle">
                {% block subtitle %}
                    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
                    <span class="icon-screen"></span>Taller : {{ workshopscheduling.name }}
                    {% else %}
                    <span class="icon-screen"></span>Taller : {{ workshopschedulingactivity.workshopscheduling.name ~ ' | ' ~  workshopschedulingactivity.name  ~ ' - ' ~ workshopschedulingactivity.workshopscheduling.company.name }}
                    {% endif %}
                {% endblock %}
            </span>
        </div>

        {% block subtitle2 %}
        <span class="icos-cog4"></span><h5>Reportes : Seguimiento de Actividades</h5>
        {% endblock %}
        
        <div class="menuCrud clearfix">
            <ul>
                <li>
                    <a href="javascript:window.print()" class="sideB bGreyish">
                       Imprimir
                    </a>
                </li>
            </ul>
        </div>
        
    </div>

    {% block content %}
    
    <div class="dataList">
    
        <div class="widget tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Seguimiento de Actividades{% endfilter %}</h6>
            </div>
            
    
            <div class="dataListTable">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Num</th>
                            <th>Nombre</th>
                            <th>Duración</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Avance</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for wsa in wsas %}
    
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ wsa.name }}</td>
                            <td>{{ wsa.duration }} {{ wsa.period|periodName }}</td>
                            <td>{{ wsa.datein|date('d/m/Y') }}</td>
                            <td>{{ wsa.dateout|date('d/m/Y') }}</td>
                            <td>{{ wsa.percentaje|number_format(0) }}%</td>
                        </tr>
    
                    {% endfor %}
    
                    </tbody>
                </table>
                
                
            </div>
            <!-- /.dataListTable -->
            
        </div>
        <!-- /.tableDefault -->
        
    </div>
    <!-- /.dataList -->
    
    {% endblock %}
</div>
{% endblock %}
