{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
<span class="icon-screen"></span>Taller : {{ workshopscheduling.name ~ ' | ' ~ workshopscheduling.company.name }}
{% else %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endif %}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
    <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    {% else %}
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    {% endif %}
    <li class="current"><a href="{{ path('fishman_front_end_workshop_report_activity', {'workshopschedulingid': workshopscheduling.id }) }}">Reportes : Seguimiento de Actividades</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Reportes</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('fishman_front_end_workshop_report_activity_export', {'workshopschedulingid': workshopscheduling.id }) }}" class="sideB bGreyish mt10">
                   Exportar a Excel 
                </a>
            </li>
            <li>
                <a href="{{ path('fishman_front_end_workshop_report_activity_print', {'workshopschedulingid': workshopscheduling.id }) }}" target="_blank" class="sideB bGreyish mt10">
                    Versión de impresión
                </a>
            </li>
        </ul>
    </div>

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Seguimiento de Actividades{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formSequence clearfix">
                        {{ form_label(form.sequence, 'Orden') }}
                        <div>{{ form_widget(form.sequence, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Nombre') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow formDuration clearfix">
                        {{ form_label(form.duration, 'Duración') }}
                        <div>
                            {{ form_widget(form.duration) }}
                            {{ form_widget(form.period, { 'empty_value': 'Todos' }) }}
                        </div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.initdate, 'Inicio') }}
                        <div>{{ form_widget(form.initdate, { 'attr': { 'class': 'datepicker', 'value': form.initdate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.enddate, 'Fin') }}
                        <div>{{ form_widget(form.enddate, { 'attr': { 'class': 'datepicker', 'value': form.enddate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Nombre</th>
                        <th>Duración</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Avance</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for wsa in wsas %}
                    <tr>
                        <td>{{ wsa.sequence }}</td>
                        <td><a href="{{ path('fishman_front_end_workshop_report_activity_show', {'workshopschedulingactivityid': wsa.id}) }}">{{ wsa.name }}</a></td>
                        <td>{{ wsa.duration }} {{ wsa.period|periodName }}</td>
                        <td>{{ wsa.datein|date('d/m/Y') }}</td>
                        <td>{{ wsa.dateout|date('d/m/Y') }}</td>
                        <td>{{ wsa.percentaje|number_format(0) }}%</td>
                        <td class="actionsButtons actionsButtonsView">
                            <ul>
                                <li>
                                    <a href="{{ path('fishman_front_end_workshop_report_activity_show', {'workshopschedulingactivityid': wsa.id}) }}" title ="detalle" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
              <div class="dataTables_info">{{ info_paginator }}</div>
              {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_workshop_report_activity', 'rparams': { 'workshopschedulingid': workshopscheduling.id, 'form': form_data }, 'id': 'wsas' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}
