{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopschedulingactivity.workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopschedulingactivity.workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopschedulingactivity.workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopschedulingactivity.workshopscheduling.customheaderlogo, 
      'companyid': workshopschedulingactivity.workshopscheduling.company.id, 
      'companyname': workshopschedulingactivity.workshopscheduling.company.name,
      'companyimage': workshopschedulingactivity.workshopscheduling.company.image
   }
%}
{% if workshopschedulingactivity.workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
<span class="icon-screen"></span>Taller : {{ workshopschedulingactivity.workshopscheduling.name ~ ' | ' ~  workshopschedulingactivity.name }}
{% else %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endif %}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopschedulingactivity.workshopscheduling.id } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopschedulingactivity.workshopscheduling.id } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
    <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopschedulingactivity.workshopscheduling.id }) }}">{{ workshopschedulingactivity.workshopscheduling.name }}</a></li>
    {% else %}
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    {% endif %}
    <li><a href="{{ path('fishman_front_end_workshop_report_activity', { 'workshopschedulingid': workshopschedulingactivity.workshopscheduling.id }) }}">Reportes : Seguimiento de Actividades</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_workshop_report_activity_show', {'workshopschedulingactivityid': workshopschedulingactivity.id }) }}">Detalle</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Reportes</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('fishman_front_end_workshop_report_activity_show_export',
                    {'workshopschedulingactivityid': workshopschedulingactivity.id }) }}" class="sideB bGreyish mt10">
                   Exportar a Excel 
                </a>
            </li>
            <li>
                <a href="{{ path('fishman_front_end_workshop_report_activity_show_print', {'workshopschedulingactivityid': workshopschedulingactivity.id}) }}" target="_blank" class="sideB bGreyish mt10">
                    Versión de impresión
                </a>
            </li>
        </ul>
    </div>

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Seguimiento de Actividades : {{workshopschedulingactivity.name}} {% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formCode clearfix">
                        {{ form_label(form.word, 'Código') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.user_names, 'Nombres') }}
                        <div>{{ form_widget(form.user_names) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.user_surname, 'Ape. Paterno') }}
                        <div>{{ form_widget(form.user_surname) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.user_lastname, 'Ape. Materno') }}
                        <div>{{ form_widget(form.user_lastname) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.organizationalunit, 'Unidad') }}
                        <div>{{ form_widget(form.organizationalunit, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.charge, 'Cargo') }}
                        <div>{{ form_widget(form.charge, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.finished, 'Actividad') }}
                        <div>{{ form_widget(form.finished, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Participante</th>
                        <th>Correo electrónico</th>
                        <th>Unidad</th>
                        <th>Cargo</th>
                        <th>ACTIVIDAD</th>
                    </tr>
                </thead>
                <tbody>
                {% for waa in waas %}
                    <tr>
                        <td>{{ waa.code }}</td>
                        <td>{{ waa.names ~ ' ' ~ waa.surname ~ ' ' ~ waa.lastname }}</td>
                        <td>{{ waa.email }}</td>
                        <td>{{ waa.couname }}</td>
                        <td>{{ waa.ccname }}</td>
                        <td>{{ waa.finished|finishedName }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
              <div class="dataTables_info">{{ info_paginator }}</div>
              {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_workshop_report_activity_show', 'rparams': { 'workshopschedulingactivityid': workshopschedulingactivity.id, 'form': form_data }, 'id': 'waas' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

