{% extends '::base_fishman.html.twig' %}

{% block body %}
<div class="contentPrint">
  
    <div id="top" class="clearfix">
        <div class="wrapper">
            
            {% block customheader %}
            {% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
                  'customheadertitle': workshopschedulingactivity.workshopscheduling.customheadertitle, 
                  'customheadertitletext': workshopschedulingactivity.workshopscheduling.customheadertitletext, 
                  'customheadertitledescription': workshopschedulingactivity.workshopscheduling.customheadertitledescription, 
                  'customheaderlogo': workshopschedulingactivity.workshopscheduling.customheaderlogo, 
                  'companyid': workshopschedulingactivity.workshopscheduling.company.id, 
                  'companyname': workshopschedulingactivity.workshopscheduling.company.name,
                  'companyimage': workshopschedulingactivity.workshopscheduling.company.image
               }
            %}
            {% if workshopschedulingactivity.workshopscheduling.customheadertitle == 0 %}
                {{ parent() }}
            {% endif %}
            {% endblock %}
            
        </div>
    </div>
    <div class="header-print">
      
        <div class="contentTop clearfix">
            <span class="pageTitle">
                {% block subtitle %}
                    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
                    <span class="icon-screen"></span>Taller : {{ workshopschedulingactivity.workshopscheduling.name }}
                    {% else %}
                    <span class="icon-screen"></span>Taller : {{ workshopschedulingactivity.workshopscheduling.name ~ ' | ' ~  workshopschedulingactivity.name  ~ ' - ' ~ workshopschedulingactivity.workshopscheduling.company.name }}
                    {% endif %}
                {% endblock %}
            </span>
        </div>
    
        {% block subtitle2 %}
        <span class="icos-cog4"></span><h5>Reportes : Seguimiento de Actividades : Detalle</h5>
        {% endblock %}
        
        <div class="menuCrud clearfix">
            <ul>
                <li>
                    <a href="javascript:window.print()" class="sideB bGreyish">
                       Imprimir
                    </a>
                </li>
            </ul>
        </div>
        
    </div>

    {% block content %}
    
    <div class="dataList">
    
        <div class="widget tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Seguimiento de Actividades : {{workshopschedulingactivity.name}} {% endfilter %}</h6>
            </div>
    
            <div class="dataListTable">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Participante</th>
                            <th>Correo electrónico</th>
                            <th>Unidad</th>
                            <th>Cargo</th>
                            <th>ACTIVIDAD</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for waa in waas %}
                        <tr>
                            <td>{{ waa.code }}</td>
                            <td>{{ waa.names ~ ' ' ~ waa.lastname ~ ' ' ~ waa.surname }}</td>
                            <td>{{ waa.email }}</td>
                            <td>{{ waa.couname }}</td>
                            <td>{{ waa.ccname }}</td>
                            <td>{{ waa.finished|finishedName }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <!-- /.dataListTable -->
            
        </div>
        <!-- /.tableDefault -->
        
    </div>
    <!-- /.dataList -->

    {% endblock %}
</div>
{% endblock %}
