{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': workshopscheduling.customheadertitle, 
      'customheadertitletext': workshopscheduling.customheadertitletext, 
      'customheadertitledescription': workshopscheduling.customheadertitledescription, 
      'customheaderlogo': workshopscheduling.customheaderlogo, 
      'companyid': workshopscheduling.company.id, 
      'companyname': workshopscheduling.company.name,
      'companyimage': workshopscheduling.company.image
   }
%}
{% if workshopscheduling.customheadertitle == 0 %}
    {{ parent() }}
{% endif %}
{% endblock %}

{% block subtitle %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
<span class="icon-screen"></span>Taller : {{ workshopscheduling.name ~ ' | ' ~ workshopscheduling.company.name }}
{% else %}
<span class="icon-screen"></span>Taller : {{ app.session.get('workshopapplication').name ~ ' | ' ~ app.session.get('workinginformation').company_name }}
{% endif %}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'workshop', 'workshopid': workshopscheduling.id } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
    <li><a href="{{ path('fishman_front_end_workshop_admin', { 'workshopid': workshopscheduling.id }) }}">{{ workshopscheduling.name }}</a></li>
    {% else %}
    <li><a href="{{ path('fishman_front_end_workshop') }}">{{ app.session.get('workshopapplication').name }}</a></li>
    {% endif %}
    <li class="current"><a href="{{ path('fishman_front_end_workshop_report_activity_result' ,{ 'workshopschedulingid' : workshopscheduling.id }) }}">Reportes : Resultado de Actividades</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Reportes</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget tableDefault containerReport clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Resultado de Actividades{% endfilter %}</h6>
        </div>
          
        <div class="formCrudCreate">

            <form action="" method="post"  class="formReport crud main">
            
                <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">
                    <div class="fluid tableDefault clearfix">
                          
                        <div class="grid12">
                      
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Participante</label><span class="req">*</span></div>
                                <div class="grid6">
                                    <select name="options_integrant" id="options_integrant" required >
                                        <option value>SELECCIONE UNA OPCIÓN</option>
                                        {% for wa in workshopapplication %}
                                            {% if wa_profile == 'integrant' %}
                                                {% set wa_temp = '' %}
                                                {% set wac_temp = '' %}

                                                {% for wip in wi_peoples %}
                                                  {% if wa.workinginformation.boss == wid.id  and wa_temp != wa.id %}
                                                      {% if wa.workinginformation.id != wid.id and wa.id != integrant and wa.profile == 'integrant' %}
                                                          <option value="{{ wa.id }}">
                                                          {{ wa.workinginformation.user.names}} 
                                                          {{ wa.workinginformation.user.surname}} 
                                                          {{ wa.workinginformation.user.lastname}} 
                                                          </option>
                                                      {% elseif wa.workinginformation.id != wid.id and wa.profile == 'integrant' and wa.id == integrant %}
                                                          <option selected value="{{ wa.id }}">
                                                          {{ wa.workinginformation.user.names}} 
                                                          {{ wa.workinginformation.user.surname}} 
                                                          {{ wa.workinginformation.user.lastname}} 
                                                          </option>
                                                      {% endif %}
                                                  {% elseif wa.workinginformation.id == wid.id and wac_temp != wa.id %}
                                                      {% if wa.id == integrant %}
                                                          <option selected value="{{ wa.id }}">
                                                          {{ wa.workinginformation.user.names}} 
                                                          {{ wa.workinginformation.user.surname}} 
                                                          {{ wa.workinginformation.user.lastname}} 
                                                          </option>
                                                      {% elseif wa.id != integrant %}
                                                          <option value="{{ wa.id }}">
                                                          {{ wa.workinginformation.user.names}} 
                                                          {{ wa.workinginformation.user.surname}} 
                                                          {{ wa.workinginformation.user.lastname}} 
                                                          </option>
                                                      {% endif %}
                                                      {% set wac_temp = wa.id %}
                                                  {% endif %}
                                                  {% set wa_temp = wa.id %}
                                                {% endfor %}
                                            {% endif %}
                                            
                                            {% if wa_profile == 'collaborator' %}
                                                {% set wa_temp = '' %}
                                                {% set wac_temp = '' %}
                                                {% for wip in wi_peoples %}
                                                    {% if wa.workinginformation.boss == wid.id  and wa_temp != wa.id %}
                                                        {% if wa.workinginformation.id != wid.id and wa.id != integrant and wa.profile == 'integrant' %}
                                                            <option value="{{ wa.id }}">
                                                            {{ wa.workinginformation.user.names}} 
                                                            {{ wa.workinginformation.user.surname}} 
                                                            {{ wa.workinginformation.user.lastname}} 
                                                            </option>
                                                        {% elseif wa.workinginformation.id != wid.id and wa.profile == 'integrant' and wa.id == integrant %}
                                                            <option selected value="{{ wa.id }}">
                                                            {{ wa.workinginformation.user.names}} 
                                                            {{ wa.workinginformation.user.surname}} 
                                                            {{ wa.workinginformation.user.lastname}} 
                                                            </option>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% set wa_temp = wa.id %}
                                                {% endfor %}
                                            {% endif %}

                                            {% if wa_profile == 'boss' %}
                                                {% set wa_temp = '' %}
                                                {% set wac_temp = '' %}
                                                {% for wip in wi_peoples %}
                                                    {% if wa_temp != wa.id %}
                                                        {% if  wa.id != integrant and wa.profile == 'integrant' %}
                                                            <option value="{{ wa.id }}">
                                                            {{ wa.workinginformation.user.names}} 
                                                            {{ wa.workinginformation.user.surname}} 
                                                            {{ wa.workinginformation.user.lastname}} 
                                                            </option>
                                                        {% elseif wa.profile == 'integrant' and wa.id == integrant %}
                                                            <option selected value="{{ wa.id }}">
                                                            {{ wa.workinginformation.user.names}} 
                                                            {{ wa.workinginformation.user.surname}} 
                                                            {{ wa.workinginformation.user.lastname}} 
                                                            </option>
                                                        {% endif %}
                                                    {% endif %}
                                                    {% set wa_temp = wa.id %}
                                                {% endfor %}

                                            {% endif %}

                                            {% if wa_profile == 'responsible' or wa_profile == 'company' or rol == 'ROLE_SUPER_ADMIN' or rol == 'ROLE_ADMIN' or rol == 'ROLE_TEACHER' %}
                                                {% if wa.profile == 'integrant' and wa.id != integrant %}
                                                    <option value="{{ wa.id }}">
                                                    {{ wa.workinginformation.user.names}} 
                                                    {{ wa.workinginformation.user.surname}} 
                                                    {{ wa.workinginformation.user.lastname}} 
                                                    </option>
                                                {% elseif wa.profile == 'integrant' and wa.id == integrant %}
                                                    <option selected value="{{ wa.id }}">
                                                    {{ wa.workinginformation.user.names}} 
                                                    {{ wa.workinginformation.user.surname}} 
                                                    {{ wa.workinginformation.user.lastname}} 
                                                    </option>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="formRow clearfix">

                                <div class="grid2"><label>Actividad</label><span class="req">*</span></div>

                                <div class="grid6">
                                    <div class="leftBox">
                                        <select name="asigned_options[data1][]" class="multiple selectOptionsData1" multiple="multiple">
                                          {% for wsa in workshopscheduling_activity %}
                                              {% if activities is not null %}
                                                  {% if wsa.id not in activities['data2'] %}
                                                  <option value="{{ wsa.id }}">{{ wsa.name }}</option>
                                                  {% endif %}
                                              {% else %}
                                                  <option value="{{ wsa.id }}">{{ wsa.name }}</option>
                                              {% endif %}
                                          {% endfor %}
                                        </select>
                                    </div><!-- /.leftBox -->
                                    <div class="dualControl">
                                        <button id="moveToRightOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&gt;&nbsp;</button>
                                        <button id="moveToAllRightOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&gt;&gt;&nbsp;</button>
                                        <button id="moveToLeftOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&lt;&nbsp;</button>
                                        <button id="moveToAllLeftOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&lt;&lt;&nbsp;</button>
                                    </div>  
                                    <div class="rightBox">
                                        <select name="asigned_options[data2][]" class="multiple selectOptionsData2" multiple="multiple">
                                          {% if activities is not null %}
                                              {% for wsa in workshopscheduling_activity %}
                                                  {% if wsa.id in activities['data2'] %}
                                                  <option selected value="{{ wsa.id }}">{{ wsa.name }}</option>
                                                  {% endif %}
                                              {% endfor %}
                                          {% endif %}
                                        </select>
                                    </div><!-- /.rightBox -->
                                </div><!-- /.grid9 -->

                            </div><!-- .formRow -->  

                        </div><!-- .grid12 -->
                      
                    </div>
                    <!-- /.tableDefault -->
                  
                    <div class="reportDashboardButton  menuCrud clearfix">
                        <ul class="record_actions">
                            <li>
                                <button type="submit" name="gerate_report" value="1" class="autoselectOptionData2 sideB bGreyish mt10">Generar Reporte</button>
                            </li>
                            <li>
                                <button type="submit" name="export" value="1" class="sideB bRed mt10">Exportar a Pdf</button>
                            </li>
                            <li>
                                <a href="javascript:window.print()" class="sideB bRed mt10">Imprimir</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.menuCrud -->

                </fieldset>
            </form>
          
          </div>
          <!-- /.formCrudCreate -->

      </div>
      <!-- /.tableDefault -->

    {% if waa_array %}
    <div class="widget tableDefault clearfix">
        <div class="whead clearfix">
            <h6>{% filter upper %}Reporte de Actividades{% endfilter %}</h6>
        </div>
        {% for waa in waa_array %}
            {% if waa.activitytype is defined %}
                {% if waa.activitytype == 1 %}
                    {% include "FishmanFrontEndBundle:Dashboard/Workshop/Activity/Report/ActivityType:workbook.html.twig" with {'loop': loop.index} %}
                {% endif %}
                {% if waa.activitytype == 2 %}
                    {% include "FishmanFrontEndBundle:Dashboard/Workshop/Activity/Report/ActivityType:groupplan.html.twig" with {'current_number': loop.index  } %}
                {% endif %}
                {% if waa.activitytype == 3 %}
                    {% include "FishmanFrontEndBundle:Dashboard/Workshop/Activity/Report/ActivityType:individualplan.html.twig" with {'current_number': loop.index} %}
                {% endif %}
                {% if waa.activitytype == 4 %}
                    {% include "FishmanFrontEndBundle:Dashboard/Workshop/Activity/Report/ActivityType:question.html.twig" with {'current_number': loop.index , 'workshopscheduling_activity' : workshopscheduling_activity , 'waaid' : waa.id } %}
                {% endif %}
        
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_options_move.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
