{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('user') }}">Personas</a></li>
    <li><a href="{{ path('user_show', { 'id': entity.user.id }) }}">{{ entity.user.names ~ ' ' ~ entity.user.surname ~ ' ' ~ entity.user.lastname }}</a></li>
    <li><a href="{{ path('workinginformation', { 'userid': entity.user.id }) }}">Información Laboral</a></li>
    <li><a href="{{ path('workinginformation_show', { 'id': entity.id }) }}" title="">{{ entity.company }}</a></li>
    <li class="current"><a href="{{ path('workinginformation_drop', { 'id': entity.id }) }}" title="">Eliminar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Personas: {{ entity.user.names ~ ' ' ~ entity.user.surname ~ ' ' ~ entity.user.lastname ~ ': ' ~ entity.company }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataDelete">

    <div class="widget fluid clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Eliminar Información Laboral{% endfilter %}</h6>
        </div>
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                <span class="name"><strong>{{ app.user.names ~ ' ' ~ app.user.surname ~ ' ' ~ app.user.lastname }}</strong>:</span>
            </div>
            ¿Está seguro de querer eliminar <strong>{{ entity.company }}</strong> con código de empleado <strong>{{ entity.code }}</strong> y con id <strong>{{ entity.id}} de la información laboral de <strong>{{ entity.user.names }} {{ entity.user.lastname }} {{ entity.user.surname }}?</strong>
        </div>

        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('workinginformation', { 'userid': entity.user.id }) }}" class="sideB bGreyish mt10">Cancelar</a>
                </li>
                <li>
                    <form action="{{ path('workinginformation_delete', { 'userid': entity.user.id, 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit" class="sideB bRed mt10">Eliminar</button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
    </div>
    
</div>
<!-- /.dataView -->

{% endblock %}
