{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('user') }}">Personas</a></li>
    <li><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.names ~ ' ' ~ user.surname ~ ' ' ~ user.lastname }}</a></li>
    <li><a href="{{ path('workinginformation', { 'userid': user.id }) }}">Información Laboral</a></li>
    <li class="current"><a href="{{ path('workinginformation_new', { 'userid': user.id }) }}" title="">Crear</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-users2"></span><h5>Mantenimiento de Personas: {{ user.names ~ ' ' ~ user.surname ~ ' ' ~ user.lastname }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudCreate">

    <form action="{{ path('workinginformation_create', { 'userid': user.id }) }}" method="post" {{ form_enctype(form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Crear Información Laboral{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.companyid, 'Empresa') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.companyid, { 'empty_value': 'SELECCIONE UNA OPCIÓN', 'attr': { 'class': 'workinginformation companyselect' } }) }}
                            {% if form_errors(form.companyid) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.companyid) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.code, 'Código Empleado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.code) }}
                            {% if form_errors(form.code) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.code) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.datein, 'Fecha de Ingreso') }}</div>
                        <div class="grid9">
                            {{ form_widget(form.datein, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(form.datein) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.datein) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.dateout, 'Fecha de Cese') }}</div>
                        <div class="grid9">
                            {{ form_widget(form.dateout, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(form.dateout) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.dateout) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.email, 'Correo Laboral') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.email) }}
                            {% if form_errors(form.email) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.email) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label for="workinginformation_boss" class="required">Responsable/Jefe</label></div>
                        <div class="grid9 select_boss">
                           {{ selectBoss|raw }}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.unit_type, 'Tipo Unidad') }}<span class="req">*</span></div>
                        <div class="grid9 select_unittype">
                            {{ form_widget(form.unit_type, { 'empty_value': 'SELECCIONE UNA OPCIÓN', 'attr': {'class': 'unittypeselect'} }) }}
                            {% if form_errors(form.unit_type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.unit_type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><span class="req">*</span>
                            <label for="company_organization_unit" class="required">Unidad Organizativa</label>
                        </div>
                        <div class="grid9 select_companyorganizationalunit">
                            {{selectCompanyOrganizationalUnit|raw}}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><span class="req">*</span>
                            <label for="company_charge" class="required">Cargo</label>
                        </div>
                        <div class="grid9 select_companycharge">
                            {{selectCompanyCharge|raw}}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><span class="req">*</span>
                            <label for="company_headquarter" class="required">Sede</label>
                        </div>
                        <div class="grid9 select_headquarter">
                            {{selectHeadquarter|raw}}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(form.status, { 'empty_value': 'SELECCIONE UNA OPCIÓN', 'value': '1' }) }}
                            {% if form_errors(form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        <input type="hidden" id="user_id" value="{{ user.id }}">
                        {{ form_rest(form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                      <td></td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
            
        </div>
        <!-- /.tableDefault -->
        
        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('workinginformation', { 'userid': user.id }) }}" class="sideB bGreyish mt10">
                        Regresar a la lista
                    </a>
                </li>
                <li>
                    <button type="submit" class="sideB bRed mt10">Guardar</button>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
                
    </form>
    
</div>
<!-- /.formCrudCreate -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{{globaljavascript|raw}}
<script type="text/javascript" src="{{ asset('js/workinginformation_ajax.js') }}"></script>
{% endblock %}
