{% extends '::base_fishman.html.twig' %}
{% block body%}
<div class="wrapper">
    <form action="" method="post" class="formIframe frameTalent">

        {% if direction == '+' %}
            <h6>Talentos más desarrollados</h6>
            <p>Seleccione 12 de sus talentos más desarrollados</p>
        {% else %}
            <h6>Talentos menos desarrollados</h6>
            <p>Seleccione 12 de sus talentos menos desarrollados</p>
        {% endif %}

        <div class="widget fluid tableDefault clearfix">
            {% set options = advancedSelectSplit(alloptions, selectedoptions) %}
            <div class="formRow clear clearfix formSelectMultiple">
                <div>
                    <div class="leftBox">
                        <select name="talent_options[data1][]" class="multiple selectOptionsData1" multiple="multiple">
                            {{ options.noselectedoptions|raw }}
                        </select>
                    </div>  
                    <div class="dualControl">
                        <button id="moveToRightOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&gt;&nbsp;</button>
                        <button id="moveToAllRightOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&gt;&gt;&nbsp;</button>
                        <button id="moveToLeftOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&lt;&nbsp;</button>
                        <button id="moveToAllLeftOptions" type="button" class="dualBtn mr5 mb15">&nbsp;&lt;&lt;&nbsp;</button>
                    </div>  
                    <div class="rightBox">
                        <select name="talent_options[data2][]" class="multiple selectOptionsData2" multiple="multiple">
                            {{ options.selectedoptions|raw }}
                        </select>
                    </div>
                </div>
            </div>
        <div>

        <div class="menuCrudIframe menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <button type="submit" class="sideB bRed mt10 autoselectOptionData2">Guardar</button>
                </li>
                <li>
                    <a href="#" class="sideB bGreyish mt10">
                        Cerrar
                    </a>
                </li>
            </ul>
        </div>
        
    </form>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_options_move.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript">{{ js }}</script>
{% endblock %}
