{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Reporte{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'report', 'dashboard': 'all' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'report', 'dashboard': 'all' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_report_benchmarking_internal') }}">Reportes: Benchmarking Interno</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Benchmarking Interno</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dashboard dataList crud">

    <div class="widget tableDefault containerReport clearfix">
  
        <div class="whead clearfix">
            <h6>{% filter upper %}Resultado de Encuestas{% endfilter %}</h6>
        </div>
          
        <div class="formCrudCreate">
            
            <form action="" method="post" class="crudBenchmarking main">
            
                <div class="fluid tableDefault clearfix">
                        
                    <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">
                        
                        <div class="grid12">
                            
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Empresa</label><span class="req">*</span></div>
                                <div class="grid6">
                                    {{ selectCompanies|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Encuesta</label><span class="req">*</span></div>
                                <div class="grid6 pollsByCompany">
                                    {{ selectPolls|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Agrupado por</label><span class="req">*</span></div>
                                <div class="grid6">
                                    {{ selectLevels|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Periodo</label><span class="req">*</span></div>
                                <div class="grid6 pollschedulingsByPoll">
                                    {{ selectPollschedulingPeriods|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow formFilters formActiveOff clearfix">
                                <div class="grid2"><label>Filtrado por</label><span class="req">*</span></div>
                                <div class="grid6 filterOptions">
                                    {{ selectFilters|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow formFilterOptions formSelectMultiple formFilterOrganizationalUnits formActiveOff clearfix">
                                <div class="grid2"><label>Unidades Organizativas</label><span class="req">*</span></div>
                                <div class="grid6 organizationalUnitsByCompany" id="organizationalunits_options">
                                    {{ selectOrganizationalUnits|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow formFilterOptions formSelectMultiple formFilterCharges formActiveOff clearfix">
                                <div class="grid2"><label>Cargos</label><span class="req">*</span></div>
                                <div class="grid6 chargesByCompany" id="charges_options">
                                    {{ selectCharges|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow formFilterOptions formSelectMultiple formFilterHeadquarters formActiveOff clearfix">
                                <div class="grid2"><label>Sedes</label><span class="req">*</span></div>
                                <div class="grid6 headquartersByCompany" id="headquartes_options">
                                    {{ selectHeadquarters|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow formFilterOptions formSelectMultiple formFilterEvaluateds formActiveOff clearfix">
                                <div class="grid2"><label>Evaluados</label><span class="req">*</span></div>
                                <div class="grid6 evaluatedsByPollscheduling" id="evaluateds_options">
                                    {{ selectEvaluateds|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow formFilterOptions formSelectMultiple formFilterFaculties formActiveOff clearfix">
                                <div class="grid2"><label>Facultades</label><span class="req">*</span></div>
                                <div class="grid6 facultiesByCompany" id="faculties_options">
                                    {{ selectFaculties|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow formFilterOptions formSelectMultiple formFilterCareers formActiveOff clearfix">
                                <div class="grid2"><label>Carreras</label><span class="req">*</span></div>
                                <div class="grid6 careersByCompany" id="careers_options">
                                    {{ selectCareers|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow formFilterOptions formSelectMultiple formFilterGrades formActiveOff clearfix">
                                <div class="grid2"><label>Grados</label><span class="req">*</span></div>
                                <div class="grid6 gradesByCompany" id="gracdes_options">
                                    {{ selectGrades|raw }}
                                </div>
                            </div>
                          
                        </div>
      
                    </fieldset>
                    
                </div>
                <!-- /.tableDefault -->
                
                <div class="reportDashboardButton menuCrud clearfix">
                    <ul class="record_actions">
                        <li><button type="submit" name="gerate_report" value="1" class="autoselectOptionData2 sideB bGreyish mt10">Generar Reporte</button></li>
                        {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
                            {% if pollschedulingid != '' %}
                                <li><a href="{{ path('fishman_front_end_report_benchmarking_internal_export', { 'pollschedulingid': pollschedulingid, 'typefilter': typefilter, 'filterids': filterids }) }}" class="sideB bRed mt10">Exportar a Excel</a></li>
                            {% else %}
                                <li><span class="sideB bRed mt10 spanButton">Exportar a Excel</span></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="javascript:window.print()" class="sideB bRed mt10">Imprimir</a></li>
                    </ul>
                </div>
                <!-- /.menuCrud -->
                
            </form>
        
        </div>
        <!-- /.formCrudCreate -->

    </div>
    <!-- /.tableDefault -->
    
    {% if report_results is defined %}
    
    
    <div class="widget tableDefault clearfix">
        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th></th>
                        <th><strong>Total empresa</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mandatory">Top 25%</td>
                        <td><strong>{{ ranking_top|number_format(2) }}%</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="widget tableDefault clearfix">
        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Sección / Pregunta</th>
                        {% set i = 0 %}
                        {% for header in header_results %}
                            <th>{{ header }}</th>
                        {% endfor %}
                        <th><strong>Total Empresa</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    <tr>
                        <td class="mandatory">Número de Evaluadores</td>
                        {% if number_evaluators != '' %}
                            {% for j in range(0, count_horizontal - 1) %}
                                <td>{{ number_evaluators[j] }}</td>
                            {% endfor %}
                        {% endif %}
                        <td>{{ number_evaluators_total }}</td>
                    </tr>
                    {% for i in range(0, count_vertical - 1) %}
                    <tr>
                        {% set j = 0 %}
                        <td>{{ title_results[i].title|raw }}</td>
                        {% if report_results != ''%}
                            {% for j in range(0, count_horizontal - 1) %}
                                <td>{{ report_results[j][i].percentage|number_format(2) }}%</td>
                                {% set j = j + 1 %}
                            {% endfor %}
                        {% endif %}
                        <td><strong>{{ report_rows[i]['percentage']|number_format(2) }}%</strong></td>
                    </tr>
                    {% set i = i + 1 %}
                    {% endfor %}
                    <tr>
                        <td><strong>Promedio Total</strong></td>
                        {% for total in total_results %}
                            <td><strong>{{ total.percentage|number_format(2) }}%</strong></td>
                        {% endfor %}
                        <td><strong>{{ row_results['percentage']|number_format(2) }}%</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    {% endif %}
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_options_move_v2.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_options_copy.js') }}"></script>
{{ globaljavascript|raw }}
<script type="text/javascript">
  var companyid = '{{ companyData }}';
</script>
<script type="text/javascript" src="{{ asset('js/report_benchmarking_internal_ajax.js') }}"></script>
{% endblock %}
