{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Reporte{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'report', 'dashboard': 'all' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'report', 'dashboard': 'all' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_report_benchmarking_external') }}">Reportes: Benchmarking Externo</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Benchmarking Externo</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dashboard dataList crud">

    <div class="widget tableDefault containerReport clearfix">
  
        <div class="whead clearfix">
            <h6>{% filter upper %}Resultado de Encuestas{% endfilter %}</h6>
        </div>
          
        <div class="formCrudCreate">
            
            <form action="" method="post" class="crudBenchmarking main">
            
                <div class="fluid tableDefault clearfix">
                        
                    <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">
                        
                        <div class="grid12">
                            
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Empresa</label><span class="req">*</span></div>
                                <div class="grid6">
                                    {{ selectCompanies|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Encuesta</label><span class="req">*</span></div>
                                <div class="grid6 pollsByCompany">
                                    {{ selectPolls|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Agrupado por</label><span class="req">*</span></div>
                                <div class="grid6">
                                    {{ selectLevels|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Periodo</label><span class="req">*</span></div>
                                <div class="grid6 pollschedulingsByPoll">
                                    {{ selectPollschedulingPeriods|raw }}
                                </div>
                            </div>
                            
                            <div class="formRow clearfix">
                                <h6>Comparar</h6>
                                <fieldset class="clearfix">
                                    <div class="formRow clearfix">
                                        <div class="grid2"><label>Industria</label></div>
                                        <div class="grid6">
                                            {{ selectIndustries|raw }}
                                        </div>
                                    </div>
                                    <div class="formRow clearfix">
                                        <div class="grid2"><label>Naturaleza</label></div>
                                        <div class="grid6">
                                            {{ selectNatures|raw }}
                                        </div>
                                    </div>
                                    <div class="formRow clearfix">
                                        <div class="grid2"><label>Volumen de Ventas</label></div>
                                        <div class="grid6">
                                            {{ selectVolumeBusiness|raw }}
                                        </div>
                                    </div>
                                    <div class="formRow clearfix">
                                        <div class="grid2"><label>Número de Empleados</label></div>
                                        <div class="grid6">
                                            {{ selectNumberEmployees|raw }}
                                        </div>
                                    </div>
                                    <div class="formRow clearfix">
                                        <div class="grid2"><label>Ranking Top</label></div>
                                        <div class="grid6">
                                            {{ selectRankingTops|raw }}
                                        </div>
                                    </div>
                                    <div class="formGroup formGroupSchool formActiveOff">
                                        <h6>Colegio</h6>
                                        <div class="formRow clearfix">
                                            <div class="grid2"><label>Rango de Pensión</label></div>
                                            <div class="grid6">
                                                {{ selectRangePensionsSchool|raw }}
                                            </div>
                                        </div>
                                        <div class="formRow clearfix">
                                            <div class="grid2"><label>Tipo</label></div>
                                            <div class="grid6">
                                                {{ selectTypesSchool|raw }}
                                            </div>
                                        </div>
                                        <div class="formRow clearfix">
                                            <div class="grid2"><label>Género</label></div>
                                            <div class="grid6">
                                                {{ selectGenders|raw }}
                                            </div>
                                        </div>
                                        <div class="formRow clearfix">
                                            <div class="grid2"><label>Número de Alumnos</label></div>
                                            <div class="grid6">
                                                {{ selectNumberStudentsSchool|raw }}
                                            </div>
                                        </div>
                                        <div class="formRow clearfix">
                                            <div class="grid2"><label>Afiliación Religiosa</label></div>
                                            <div class="grid1">
                                                {{ selectReligiousAffiliationOn|raw }}
                                            </div>
                                            <div class="formReligiousAffiliation grid5">
                                                {{ selectReligiousAffiliations|raw }}
                                            </div>
                                        </div>
                                        <div class="formRow clearfix">
                                            <div class="grid2"><label>Afiliación Institucional</label></div>
                                            <div class="grid6">
                                                {{ selectInstitutionalAffiliations|raw }}
                                            </div>
                                        </div>
                                        <div class="formRow clearfix">
                                            <div class="grid2"><label>Sistema Educativo</label></div>
                                            <div class="grid6">
                                                {{ selectEducationSystems|raw }}
                                            </div>
                                        </div>
                                        <div class="formRow clearfix">
                                            <div class="grid2"><label>Bachillerato Intern. (IB)</label></div>
                                            <div class="grid6">
                                                {{ selectInternalSchool|raw }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="formGroup formGroupUniversity formActiveOff">
                                        <h6>Universidad / Instituto Superior</h6>
                                        <div class="formRow clearfix">
                                            <div class="grid2"><label>Pensión Promedio</label></div>
                                            <div class="grid6">
                                                {{ selectRangePensionsUniversity|raw }}
                                            </div>
                                        </div>
                                        <div class="formRow clearfix">
                                            <div class="grid2"><label>Tipo</label></div>
                                            <div class="grid6">
                                                {{ selectTypesUniversity|raw }}
                                            </div>
                                        </div>
                                        <div class="formRow clearfix">
                                            <div class="grid2"><label>Número de Alumnos</label></div>
                                            <div class="grid6">
                                                {{ selectNumberStudentsUniversity|raw }}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            
                            <div class="hide">
                                <input type="hidden" name="options_filters[companyname]" id="companyname" />
                                <input type="hidden" name="options_filters[companytype]" id="companytype" />
                            </div>
                          
                        </div>
      
                    </fieldset>
                    
                </div>
                <!-- /.tableDefault -->
                
                <div class="reportDashboardButton menuCrud clearfix">
                    <ul class="record_actions">
                        <li><button type="submit" name="gerate_report" value="1" class="autoselectOptionData2 sideB bGreyish mt10">Generar Reporte</button></li>
                        {% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
                            {% if pollschedulingid != '' %}
                                <li><a href="{{ path('fishman_front_end_report_benchmarking_external_export', { 'pollschedulingid': pollschedulingid }) }}" class="sideB bRed mt10">Exportar a Excel</a></li>
                            {% else %}
                                <li><span class="sideB bRed mt10 spanButton">Exportar a Excel</span></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="javascript:window.print()" class="sideB bRed mt10">Imprimir</a></li>
                    </ul>
                </div>
                <!-- /.menuCrud -->
                
            </form>
        
        </div>
        <!-- /.formCrudCreate -->

    </div>
    <!-- /.tableDefault -->
    
    {% if results_pollscheduling is defined %}
    <div class="widget tableDefault clearfix">
        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Sección / Pregunta</th>
                        <th>{{ companyname }}</th>
                        <th>Comparación</th>
                        <th><strong>Promedio Total</strong></th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    <tr>
                        <td class="mandatory">Número de Evaluadores</td>
                        <td>{{ number_evaluators_pollscheduling }}</td>
                        <td>{% if number_evaluators_comparison != ''%}{{ number_evaluators_comparison }}{% else %}0{% endif %}</td>
                        <td>{% if number_evaluators_total != ''%}{{ number_evaluators_total }}{% else %}0{% endif %}</td>
                    </tr>
                    {% for i in range(0, count_vertical - 1) %}
                    <tr>
                        <td>{{ title_results[i].title|raw }}</td>
                        <td>{% if results_pollscheduling != ''%}{{ results_pollscheduling[i].percentage|number_format(2) }}%{% endif %}</td>
                        <td>{% if results_comparison != ''%}{{ results_comparison[i].percentage|number_format(2) }}%{% else %}0%{% endif %}</td>
                        <td><strong>{% if results_total != ''%}{{ results_total[i].percentage|number_format(2) }}%{% else %}0%{% endif %}</strong></td>
                    </tr>
                    {% set i = i + 1 %}
                    {% endfor %}
                    <tr>
                        <td><strong>Promedio Total</strong></td>
                        <td>{% if average_pollscheduling != ''%}<strong>{{ average_pollscheduling.percentage|number_format(2) }}%</strong>{% endif %}</td>
                        <td><strong>{% if average_comparison != ''%}{{ average_comparison.percentage|number_format(2) }}%{% else %}0%{% endif %}</td>
                        <td><strong>{% if average_total != ''%}{{ average_total.percentage|number_format(2) }}%{% else %}0%{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_options_move_v2.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_options_copy.js') }}"></script>
{{ globaljavascript|raw }}
<script type="text/javascript">
  var nature = eval({{ json_nature|raw }});
  var companyid = '{{ companyData }}';
</script>
<script type="text/javascript" src="{{ asset('js/report_benchmarking_external_ajax.js') }}"></script>
{% endblock %}
