{% extends '::base_fishman.html.twig' %}

{% block subtitle %}
<span class="icon-screen"></span>Reporte - Encuesta : {{ poll.title ~ ' | V ' ~ poll.version ~ ' | ' ~ company.name ~ ' | ' ~ poll.pollschedulingperiod }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with { 'navigation': 'report', 'dashboard': 'all' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with { 'navigation': 'report', 'dashboard': 'all' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_report_counselor') }}">Reporte Consejero</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_report_counselor_poll', { 'pollid': poll.id }) }}">{{ poll.title }}</a></li>
</ul>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Personas{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Código / Persona') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->
        
        <form action="{{ path('fishman_front_end_poll_report_result', { 'pollid': poll.id }) }}" method="post" class="crud main">
            <input type="hidden" id="wi" name="wi" value="">
            <div class="dataListTable">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Persona</th>
                            <th>Reporte Interés</th>
                            <th>Reporte Talento</th>
                            <th>Reporte Compatibilidad</th>
							<th>Reporte Temperamento</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for integrant in integrants %}
                        <tr>
                            <td>{{ integrant.names ~ ' ' ~ integrant.surname ~ ' ' ~ integrant.lastname }}</td>
                            <td><a href="http://www.talentosdavidfischman.com/ResultadosUPC/Interes.aspx?id={{ integrant.id }}&token={{ integrant.token }}" target="_blank">Resultado de Intereses</a></td>
                            <td><a href="http://www.talentosdavidfischman.com/ResultadosUPC/Talento.aspx?id={{ integrant.id }}&token={{ integrant.token }}" target="_blank">Resultado de Talentos</a></td>
							<td><a href="http://www.talentosdavidfischman.com/ResultadosUPC/Compatibilidad.aspx?id={{ integrant.id }}&token={{ integrant.token }}" target="_blank">Resultado de Compatibilidad</a></td>
                            <td><a href="http://www.talentosdavidfischman.com/ResultadosUPC/Temperamentos.aspx?id={{ integrant.id }}&token={{ integrant.token }}" target="_blank">Resultado de Temperamentos</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_report_counselor_poll', 'rparams': { 'pollid': poll.id, 'form': form_data }, 'id': 'reportcounselorpoll' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
