{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>reporte{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with { 'navigation': 'report', 'dashboard': 'all' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with { 'navigation': 'report', 'dashboard': 'all' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_report_counselor') }}">Reporte Consejero</a></li>
</ul>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Reporte Consejero{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Id / Nombre') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.company, 'Empresa') }}
                        <div>{{ form_widget(form.company) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.initdate, 'Inicio') }}
                        <div>{{ form_widget(form.initdate, { 'attr': { 'class': 'datepicker', 'value': form.initdate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.enddate, 'Fin') }}
                        <div>{{ form_widget(form.enddate, { 'attr': { 'class': 'datepicker', 'value': form.enddate.vars.value }}) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Empresa</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Avance</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for poll in polls %}
                    <tr>
                        <td>{{ poll.id }}</td>
                        <td><a href="{{ path('fishman_front_end_report_counselor_poll', { 'pollid': poll.id } ) }}">{{ poll.title }}</a></td>
                        <td>{{ poll.company }}</td>
                        <td>{{ poll.initdate|date('d/m/Y') }}</td>
                        <td>{{ poll.enddate|date('d/m/Y') }}</td>
                        <td>{{ calculatePercentage(poll.quantity, poll.total) }}</td>
                        <td class="actionsButtons actionsButtonsView">
                            <ul>
                                <li>
                                    <a href="{{ path('fishman_front_end_report_counselor_poll', { 'pollid': poll.id } ) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_report_counselor', 'rparams': { 'form': form_data }, 'id': 'reportcounselor' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
