{% extends '::base_fishman.html.twig' %}

{% block body%}
<div class="contentPrint">
  
	  <div id="top" class="clearfix">
	      <div class="wrapper">
            {% block customheader %}{{ parent() }}{% endblock %}
	      </div>
	  </div>
	  
    <div class="header-print">
      
	      <div class="contentTop clearfix">
            <span class="pageTitle">
                {% block subtitle %}<span class="icon-screen"></span>Empresa : {{ company.name }}{% endblock %}
            </span>
        </div>

        {% block subtitle2 %}
        <span class="icos-cog4"></span><h5>Seguimiento | Encuesta: {{poll.title }}</h5>
        {% endblock %}
        
        <div class="menuCrud clearfix">
            <ul>
                <li><a href="javascript:window.print()" class="sideB bGreyish">Imprimir</a></li>
            </ul>
        </div>
    </div>

    {% block content %}
    
    <div class="dataList">
    
        <div class="widget tableDefault clearfix">
            
            <div class="whead clearfix">
                <h6>{% filter upper %}
                    {{ poll.initdate|date('j/n/Y') ~ ' - ' ~ poll.enddate|date('j/n/Y') ~ ' | ' }}
                    Avance : {{ calculatePercentage(poll.quantity, poll.total) }}
                {% endfilter %}</h6>
            </div>
    
            <div class="dataListTable">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Código Evaluado</th>
                            <th>Evaluado<
                            <th>Correo Evaluado</th>
                            <th>Código Evaluador</th>
                            <th>Evaluador</th>
                            <th>Correo Evaluador</th>
                            <th>ENCUESTA</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for pollapplication in pollapplications %}
                        <tr>
                            <td>{{ pollapplication.evaluated_code }}</td>
                            <td>{{ pollapplication.evaluated_surname ~ ' ' ~ pollapplication.evaluated_lastname ~ ' ' ~ pollapplication.evaluated_names }}</td>
                            <td>{{ pollapplication.evaluated_email }}</td>
                            <td>{{ pollapplication.evaluator_code }}</td>
                            <td>{{ pollapplication.evaluator_surname ~ ' ' ~ pollapplication.evaluator_lastname ~ ' ' ~ pollapplication.evaluator_names }}</td>
                            <td>{{ pollapplication.evaluator_email }}</td>
                            <td>{{ pollapplication.finished|finishedName }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.dataListTable -->
            
        </div>
        <!-- /.tableDefault -->
        
    </div>
    <!-- /.dataList -->
    
    {% endblock %}
</div>
{% endblock %}
