{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Reporte | Empresa : {{ company.name }}{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'report', 'dashboard': 'all' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'report', 'dashboard': 'all' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_report_follow') }}">Reportes</a></li>
    <li><a href="{{ path('fishman_front_end_report_follow_poll', { 'companyid': company.id }) }}">{{ company.name }}</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_report_follow_poll_show', { 'companyid': company.id, 'pollid': poll.id }) }}">{{poll.title }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Seguimiento | Encuesta: {{ poll.title }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="menuCrud clearfix">
        <ul>
            <li><a href="{{ path('fishman_front_end_report_follow_poll_show_export', { 'companyid': company.id, 'pollid': poll.id })}}" class="sideB bGreyish mt10">Exportar a Excel</a></li>
            <li><a href="{{ path('fishman_front_end_report_follow_poll_show_print', { 'companyid': company.id, 'pollid': poll.id })}}" class="sideB bGreyish mt10" target="_blank">Versión de impresión</a></li>
        </ul>
    </div>

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}
                {{ poll.initdate|date('j/n/Y') ~ ' - ' ~ poll.enddate|date('j/n/Y') ~ ' | ' }}
                Avance : {{ calculatePercentage(poll.quantity, poll.total) }}
            {% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formBlockFloat formLine clearfix">
                        <div class="formBlock clearfix">
                            <h6>Evaluado</h6>
                            <div class="formRow formCode clearfix">
                                {{ form_label(form.evaluated_code, 'Código') }}
                                <div>{{ form_widget(form.evaluated_code) }}</div>
                            </div>
                            <div class="formRow clearfix">
                                {{ form_label(form.evaluated_names, 'Nombres') }}
                                <div>{{ form_widget(form.evaluated_names) }}</div>
                            </div>
                            <div class="formRow clearfix">
                                {{ form_label(form.evaluated_surname, 'Ape. Paterno') }}
                                <div>{{ form_widget(form.evaluated_surname) }}</div>
                            </div>
                            <div class="formRow clearfix">
                                {{ form_label(form.evaluated_lastname, 'Ape. Materno') }}
                                <div>{{ form_widget(form.evaluated_lastname) }}</div>
                            </div>
                        </div>
                        <div class="formBlock formLine clearfix">
                            <h6>Evaluador</h6>
                            <div class="formRow formCode clearfix">
                                {{ form_label(form.evaluator_code, 'Código') }}
                                <div>{{ form_widget(form.evaluator_code) }}</div>
                            </div>
                            <div class="formRow clearfix">
                                {{ form_label(form.evaluator_names, 'Nombres') }}
                                <div>{{ form_widget(form.evaluator_names) }}</div>
                            </div>
                            <div class="formRow clearfix">
                                {{ form_label(form.evaluator_surname, 'Ape. Paterno') }}
                                <div>{{ form_widget(form.evaluator_surname) }}</div>
                            </div>
                            <div class="formRow clearfix">
                                {{ form_label(form.evaluator_lastname, 'Ape. Materno') }}
                                <div>{{ form_widget(form.evaluator_lastname) }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="formRow formLine clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Código Evaluado</th>
                        <th>Evaluado<
                        <th>Correo Evaluado</th>
                        <th>Código Evaluador</th>
                        <th>Evaluador</th>
                        <th>Correo Evaluador</th>
                        <th>ENCUESTA</th>
                    </tr>
                </thead>
                <tbody>
                {% for pollapplication in pollapplications %}
                    <tr>
                        <td>{{ pollapplication.evaluated_code }}</td>
                        <td>{{ pollapplication.evaluated_surname ~ ' ' ~ pollapplication.evaluated_lastname ~ ' ' ~ pollapplication.evaluated_names }}</td>
                        <td>{{ pollapplication.evaluated_email }}</td>
                        <td>{{ pollapplication.evaluator_code }}</td>
                        <td>{{ pollapplication.evaluator_surname ~ ' ' ~ pollapplication.evaluator_lastname ~ ' ' ~ pollapplication.evaluator_names }}</td>
                        <td>{{ pollapplication.evaluator_email }}</td>
                        <td>{{ pollapplication.finished|finishedName }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_report_follow_poll_show', 'rparams': { 'companyid': company.id, 'pollid': poll.id, 'form': form_data }, 'id': 'reportcompanypollshow' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}
