{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Reporte{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'report', 'dashboard': 'all' } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'report', 'dashboard': 'all' } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_report_disaggregated') }}">Reportes: Desagregado</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span></span><h5>Resultado</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dashboard dataList">

    <div class="widget tableDefault containerReport clearfix">
  
        <div class="whead clearfix">
            <h6>{% filter upper %}Reporte Desagregado{% endfilter %}</h6>
        </div>
          
        <div class="formCrudCreate">
            
            <form action="" method="post" class="crud main">
            
                <div class="fluid tableDefault clearfix">
                        
                    <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">
                        
                        <div class="grid12">
                          
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Empresa</label><span class="req">*</span></div>
                                <div class="grid6">
                                    <select name="options_company" id="options_company" required >
                                        <option value>SELECCIONE UNA OPCIÓN</option>
                                        {% for company in companies %}
                                            {% if company.id != companyData %}
                                                <option value="{{ company.id }}">{{ company.name }}</option>
                                            {% else %}
                                                <option selected value="{{ company.id }}">{{ company.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                          
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Encuesta</label><span class="req">*</span></div>
                                <div class="grid6 pollsByCompany">
                                    <select name="options_poll" id="options_poll" required >
                                        <option value>SELECCIONE UNA OPCIÓN</option>
                                        {% for poll in polls %}
                                            {% if poll.id != pollData %}
                                                <option value="{{ poll.id }}">{{ poll.title }}</option>
                                            {% else %}
                                                <option selected value="{{ poll.id }}">{{ poll.title }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                          
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Periodo</label><span class="req">*</span></div>
                                <div class="grid6 pollschedulingsByPoll">
                                    <select name="options_pollscheduling" id="options_pollscheduling" required >
                                        <option value>SELECCIONE UNA OPCIÓN</option>
                                        {% for pollscheduling in pollschedulings %}
                                            {% if pollscheduling.id != pollschedulingData %}
                                                <option value="{{ pollscheduling.id }}">{{ pollscheduling.key ~ ' - ' ~ pollscheduling.period }}</option>
                                            {% else %}
                                                <option selected value="{{ pollscheduling.id }}">{{ pollscheduling.key ~ ' - ' ~ pollscheduling.period }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                          
                            <div class="formRow clearfix">
                                <div class="grid2"><label>Evaluado</label><span class="req">*</span></div>
                                <div class="grid6 evaluatedsByPollscheduling">
                                    <select name="options_evaluated" id="options_evaluated" required >
                                        <option value>SELECCIONE UNA OPCIÓN</option>
                                        {% for evaluated in evaluateds %}
                                            {% if evaluated.id != evaluatedData %}
                                            <option value="{{ evaluated.id }}">
                                                {{ evaluated.surname ~ ' ' ~ evaluated.lastname ~ ', ' ~ evaluated.names }}
                                            </option>
                                            {% else %}
                                            <option selected value="{{ evaluated.id }}">
                                                {{ evaluated.surname ~ ' ' ~ evaluated.lastname ~ ', ' ~ evaluated.names }}
                                            </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                          
                        </div>
      
                    </fieldset>
                    
                </div>
                <!-- /.tableDefault -->
                
                <div class="reportDashboardButton menuCrud clearfix">
                    <ul class="record_actions">
                        <li><button type="submit" name="gerate_report" value="1" class="autoselectOptionData2 sideB bGreyish mt10">Generar Reporte</button></li>
                            {% if pollschedulingData != '' and evaluatedData != '' %}
                                <li><a href="{{ path('fishman_front_end_report_disaggregated_export', { 'pollid': pollData, 'pollschedulingid': pollschedulingData, 'evaluatedid': evaluatedData })}}" class="sideB bRed mt10">Exportar a Excel</a></li>
                                <li><a href="{{ path('fishman_front_end_report_disaggregated_export_grafico', { 'pollid': pollData, 'pollschedulingid': pollschedulingData, 'evaluatedid': evaluatedData })}}" class="sideB bRed mt10">Exportar a Excel Grafico</a></li>
                            {% else %}
                            <li><span class="sideB bRed mt10 spanButton">Exportar a Excel</span></li>
                            <li><span class="sideB bRed mt10 spanButton">Exportar a Excel Grafico</span></li>
                            {% endif %}
                        <li><a href="javascript:window.print()" class="sideB bRed mt10">Imprimir</a></li>
                    </ul>
                </div>
                <!-- /.menuCrud -->
                
            </form>
        
        </div>
        <!-- /.formCrudCreate -->

    </div>
    <!-- /.tableDefault -->
    
    {% if report_results is defined %}
    
    <div class="widget tableDefault clearfix">
        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th rowspan="2">Sección / Pregunta</th>
                        {% for rol in rol_results %}
                            <th colspan="{{ rol.count }}">{{ rol.title }}</th>
                            <th rowspan="2"><strong>Promedio</strong></th>
                        {% endfor %}
                        <th rowspan="2"><strong>PTT</strong></th>
                        <th rowspan="2"><strong>Promedio Total</strong></th>
                    </tr>
                    <tr>
                        {% for header in header_results %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% set i = 0 %}
                    {% for i in range(0, count_vertical - 1) %}
                    <tr>
                        {% set j = 0 %}
                        <td>{{ title_results[i].title|raw }}</td>
                        {% for j in range(0, count_horizontal - 1) %}
                            <td>{{ report_results[j][i].percentage|number_format(2) }}</td>
                            {% set j = j + 1 %}
                        {% endfor %}
                        <td><strong>{{ ptt_percentages[i].percentage|number_format(2) }}</strong></td>
                        <td><strong>{{ report_rows[i]|number_format(2) }}</strong></td>
                    </tr>
                    {% set i = i + 1 %}
                    {% endfor %}
                    <tr>
                        <td><strong>Promedio Total</strong></td>
                        {% for total in total_results %}
                            <td><strong>{{ total.percentage|number_format(2) }}</strong></td>
                        {% endfor %}
                        <td><strong>{{ ptt_total|number_format(2) }}</strong></td>
                        <td><strong>{{ row_results|number_format(2) }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    {% endif %}
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_options_move.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{{ globaljavascript|raw }}
<script type="text/javascript">
  var ids = '';
  var workshopschedulingid = '';
  var companyid = '{{ companyData }}';
</script>
<script type="text/javascript" src="{{ asset('js/report_disaggregated_ajax.js') }}"></script>
{% endblock %}
