{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('poll') }}">Encuestas</a></li>
    <li><a href="{{ path('poll_show', { 'id': entity.poll.id }) }}">{{ entity.poll.title }}</a></li>
    <li><a href="{{ path('pollquestion', { 'pollid': entity.poll.id }) }}">Preguntas</a></li>
    <li><a href="{{ path('pollquestion_show', { 'id': entity.id }) }}">{{ entity.question }}</a></li>
    <li class="current"><a href="{{ path('pollquestion_drop', { 'id': entity.id }) }}" title="">Eliminar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create"></span><h5>Mantenimiento de Encuestas: {{ entity.poll.title ~ ': ' ~ entity.question }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataDelete">

    <div class="widget fluid clearfix">

        <div class="whead clearfix">
            <h6>{% filter upper %}Eliminar Pregunta{% endfilter %}</h6>
        </div>
        
        <div class="messageArea">
            <div class="infoRow clearfix">
                <span class="name"><strong>{{ app.user.names ~ ' ' ~ app.user.surname ~ ' ' ~ app.user.lastname }}</strong>:</span>
            </div>
            ¿Está seguro de querer eliminar <strong>{{ entity.question }}</strong> con id <strong>{{ entity.id}}?</strong>
        </div>

        <div class="menuCrud clearfix">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('pollquestion', { 'pollid': entity.poll.id }) }}" class="sideB bGreyish mt10">Cancelar</a>
                </li>
                <li>
                    <form action="{{ path('pollquestion_delete', { 'pollid': entity.poll.id, 'id': entity.id }) }}" method="post">
                        {{ form_widget(delete_form) }}
                        <button type="submit" class="sideB bRed mt10">Eliminar</button>
                    </form>
                </li>
            </ul>
        </div>
        <!-- /.menuCrud -->
    </div>
    
</div>
<!-- /.dataDelete -->

{% endblock %}
