{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('poll') }}">Encuestas</a></li>
    <li><a href="{{ path('poll_show', { 'id': entity.poll.id }) }}">{{ entity.poll.title }}</a></li>
    <li><a href="{{ path('pollquestion', { 'pollid': entity.poll.id }) }}">Preguntas</a></li>
    <li><a href="{{ path('pollquestion_show', { 'id': entity.id }) }}">{{ entity.question }}</a></li>
    <li class="current"><a href="{{ path('pollquestion_edit', { 'id': entity.id }) }}" title="">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create"></span><h5>Mantenimiento de Encuestas: {{ entity.poll.title ~ ': ' ~ entity.question }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit">

    <form action="{{ path('pollquestion_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
    
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Pregunta{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div id="questionCrud" class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.question, 'Pregunta') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.question) }}
                            {% if form_errors(edit_form.question) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.question) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.type, 'Tipo de Respuesta') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.type, { 'attr': { 'class': 'answerType' }, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formAlignment">
                        <div class="grid3">{{ form_label(edit_form.alignment, 'Alineación') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.alignment, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.alignment) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.alignment) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix formActiveOff formOptionsSelect">
                        <div class="grid12">
                            <fieldset class="clearfix formOptionsFieldset">
                                <div class="clearfix formOptionsSelectMultiple">
                                    <div class="grid3">Opciones<span class="req">*</span></div>
                                    <div class="grid9">
                                        <select name="select_options_add[]" class="selectOptions multiple" multiple="multiple">
                                        {% for key, value in entity.options %}
                                            <option value="{{ key }}">{{ value.score ~ ' | ' ~ value.text }}</option>
                                        {% endfor %}
                                        </select>
                                        <div class="grid12 clearfix actionsButtons">
                                            <a href="#questionCrud" id="optionUp" class="tablectrl_small bDefault tipS" title="Arriba"><span class="icos-arrowup"></span></a>
                                            <a href="#questionCrud" id="optionDown" class="tablectrl_small bDefault tipS" title="Abajo"><span class="icos-arrowdown"></span></a>
                                            <a href="#questionCrud" id="optionModify" class="tablectrl_small bDefault tipS" title="Modificar"><span class="icos-create"></span></a>
                                            <a href="#questionCrud" id="optionDelete" class="tablectrl_small bDefault tipS" title="Eliminar"><span class="icos-cross"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(edit_form.option_text, 'Opción') }}</div>
                                    <div class="grid9">
                                        {{ form_widget(edit_form.option_text, { 'attr': { 'class': 'optionText' }}) }}
                                        {% if form_errors(edit_form.option_text) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.option_text) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(edit_form.option_value, 'Valor') }}</div>
                                    <div class="grid2">
                                        {{ form_widget(edit_form.option_value, { 'attr': { 'class': 'formTextNumber optionValue' }}) }}
                                        {% if form_errors(edit_form.option_value) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.option_value) }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="grid2">
                                        <a href="#questionCrud" id="optionAdd" class="sideB bDefault mt10">Agregar</a>
                                        <a href="#questionCrud" id="optionUpdate" class="sideB bDefault mt10" style="display: none;">Actualizar</a>
                                    </div>
                                    <div class="grid5">
                                        <label class="errorOptionsAddUpdate" style="display: none;"></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.pollsection_id, 'Sección') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.pollsection_id, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.pollsection_id) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.pollsection_id) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.mandatory_response, 'Respuesta Obligatoria') }}</div>
                        <div class="grid9">
                            {{ form_widget(edit_form.mandatory_response, { 'attr': { 'class': 'check' }}) }}
                            {% if form_errors(edit_form.mandatory_response) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.mandatory_response) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.sequence, 'Orden') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.sequence, { 'empty_value': 'Elige el orden' }) }}
                            {% if form_errors(edit_form.sequence) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.sequence) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_widget(edit_form.options , { 'attr': { 'class': 'hideOptions' }}) }}
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10 buttonOptionActions">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
        
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('pollquestion', { 'pollid': entity.poll.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('pollquestion_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            <li>
                <a href="{{ path('pollquestion_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_option_actions.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{% endblock %}
