{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Mantenimientos{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'admin'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('poll') }}">Encuestas</a></li>
    <li><a href="{{ path('poll_show', { 'id': entity.poll.id }) }}">{{ entity.poll.title }}</a></li>
    <li><a href="{{ path('pollquestion', { 'pollid': entity.poll.id }) }}">Preguntas</a></li>
    <li class="current"><a href="{{ path('pollquestion_show', { 'id': entity.id }) }}">{{ entity.question }}</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create"></span><h5>Mantenimiento de Encuestas: {{ entity.poll.title ~ ': ' ~ entity.question }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataView">

    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('pollquestion_new', { 'pollid': entity.poll.id }) }}" class="sideB bGreyish mt10">
                    Crear Pregunta
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Detalle de la Pregunta{% endfilter %}</h6>
            <div class="navTabs">
                <ul>
                    <li><a href="{{ path('poll_show', { 'id': entity.poll.id }) }}">General</a></li>
                    <li><a href="{{ path('pollsection', { 'pollid': entity.poll.id }) }}">Secciones</a></li>
                    <li class="activeTab"><a href="{{ path('pollquestion', { 'pollid': entity.poll.id }) }}">Preguntas</a></li>
                    <li><a href="{{ path('pollnotification', { 'pollid': entity.poll.id }) }}">Notificaciones</a></li>
                </ul>
            </div>
        </div>
        
        <div class="grid7 showData">
            <div class="widget">
                <table class="record_properties dataTable">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Dato</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="textL">Pregunta</th>
                            <td>{{ entity.question }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Tipo</th>
                            <td>{{ entity.type|answertypeName }}</td>
                        </tr>
                        {% if entity.type == 'unique_option' or entity.type == 'multiple_option' or entity.type == 'selection_option' %}
                            {% if entity.type != 'selection_option' %} 
                                <tr>
                                    <th class="textL">Alineamiento</th>
                                    <td>{{ entity.alignment|alignmentName }}</td>
                                </tr>
                            {% endif %} 
                            <tr>
                                <th class="textL">Opciones</th>
                                <td>
                                    <ul>
                                    {% for option in entity.options %}
                                        <li>{{ option.score ~ ' | ' ~ option.text }}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %} 
                        <tr>
                            <th class="textL">Sección</th>
                            <td>{{ entity.pollsection }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Respuesta Obligatoria</th>
                            <td>{{ entity.mandatoryresponse|mandatoryresponseName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Orden</th>
                            <td>{{ entity.sequence }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Estado</th>
                            <td>{{ entity.status|statusName }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                
        <div class="grid4 audit">
            <div class="widget">
                <div class="whead clearfix">
                    <h6>Auditoría</h6>
                </div>
                <table class="audit_list dataTable">
                    <tbody>
                        <tr>
                            <th class="textL">Id</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado por</th>
                            <td>{{ createdByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Creado el</th>
                            <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Modificado por</th>
                            <td>{{ modifiedByName }}</td>
                        </tr>
                        <tr>
                            <th class="textL">Última modificación</th>
                            <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- /.tableDefault -->
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('pollquestion', { 'pollid': entity.poll.id }) }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('pollquestion_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            <li>
                <a href="{{ path('pollquestion_edit', { 'id': entity.id }) }}" class="sideB bRed mt10">Editar</a>
            </li>
        </ul>
    </div>
    <!-- .menuCrud -->
    
</div>
<!-- /.dataView -->

{% endblock %}
