{% extends '::base_anonymous.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': poll.customheadertitle, 
      'customheadertitletext': poll.customheadertitletext, 
      'customheadertitledescription': poll.customheadertitledescription, 
      'customheaderlogo': poll.customheaderlogo, 
      'companyid': company.id, 
      'companyname': company.name,
      'companyimage': company.image
   }
%}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Encuesta : {{ poll.title ~ ' | V ' ~ poll.version ~ ' | ' ~ company.name ~ ' | ' ~ poll.pollschedulingperiod }}
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Evaluación Múltiple</h5>
{% endblock %}

{% block content %}
{{ parent() }}

{% if page == 1 %}
<p class="mainDescription">{{ poll.description|raw }}</p>
{% endif %}

<div class="resolvePoll">
    
    <div class="widget advanceBarPoll clearfix"> 
        <div class="formRow clearfix">
            <div class="grid2">
                <strong><label>Avance de la Encuesta</label></strong>
            </div>
            <div class="grid10">
              <div id="pai-progress" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">
                  <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: {{ advanced.percentage|number_format(2) }}%; "></div>
              </div>
              <div class="containerCountText"><label class="countText"><strong>{{ advanced.percentage }}%</strong> | Has respondido {{ advanced.resolveds }} preguntas de {{ advanced.quantity }}</label></div>
            </div>
        </div>
    </div>
    <!-- /.advancedBarPoll -->
    
    <div class="dashboard fluid clearfix">

        <form action="{{ path('fishman_front_end_poll_evaluateds_multipleevaluation_edit' , { 'pollid' : poll.id, 'page': page, 'personaltoken': personaltoken }) }}" method="post" class="" accept-charset="utf-8">
            
            {{ paginator|raw }}
            
            {{ pollQuestions(questions)|raw }}
            
            <input type="hidden" name="current_page" id="page_{{ page }}" value="{{ page }}" >';
            
            {{ paginator|raw }}
            
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" name="savedraft" value="1" class="sideB bGreyish mt10">Guardar</button>
                    </li>
                    {% if viewsendbutton == 1 %}
                    <li>
                        <button type="submit" name="send" value="1" class="sideB bGreyish mt10">Enviar Encuesta</button>
                    </li>
                    {% endif %}
                </ul>
            </div>
        
        </form>
        
    </div>
    
</div>
<!-- /.dataList -->

{% endblock %}