{% extends '::base_anonymous.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': poll.customheadertitle, 
      'customheadertitletext': poll.customheadertitletext, 
      'customheadertitledescription': poll.customheadertitledescription, 
      'customheaderlogo': poll.customheaderlogo, 
      'companyid': company.id, 
      'companyname': company.name,
      'companyimage': company.image
   }
%}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Encuesta : {{ poll.title ~ ' | V ' ~ poll.version ~ ' | ' ~ company.name ~ ' | ' ~ poll.pollschedulingperiod }}
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Evaluación Múltiple</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="resolvePoll">

    <div class="dashboard widget fluid clearfix">
        <div class="whead clearfix">
            <h6>{% filter upper %}Mensaje: {{ message_info.title }}{% endfilter %}</h6>
        </div>
        <div class="messageArea">
            {{ message_info.body|raw }}
        </div>
    </div>
    
</div>
<!-- /.dataList -->

{% endblock %}