{% extends '::base_anonymous.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': poll.customheadertitle, 
      'customheadertitletext': poll.customheadertitletext, 
      'customheadertitledescription': poll.customheadertitledescription, 
      'customheaderlogo': poll.customheaderlogo, 
      'companyid': company.id, 
      'companyname': company.name,
      'companyimage': company.image
   }
%}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Encuesta : {{ poll.title ~ ' | V ' ~ poll.version ~ ' | ' ~ company.name ~ ' | ' ~ poll.pollschedulingperiod }}
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Evaluación Múltiple</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="resolvePoll">

    <div class="dashboard widget fluid clearfix">
        <div class="whead clearfix">
            <h6>{% filter upper %}Términos y Condiciones{% endfilter %}</h6>
        </div>
        <div class="messageArea">
            <form action="{{ path('fishman_front_end_poll_evaluateds_multipleevaluation_terms' , { 'pollid' : poll.id, 'personaltoken': personaltoken }) }}" method="post" class="" accept-charset="utf-8">
                
                <div class="check cCheck">
                    <div class="formRow clearfix">
                        {{ terms|raw }}
                    </div>
                    <div class="formRow clearfix">
                        <div class="clearfix">
                            <input type="checkbox" name="terms_on" value="1" id="terms_on" class="checker" >
                            <label>Acepto los Términos y Condiciones</label>
                        </div>
                    </div>
                    <div class="menuCrud clearfix">
                        <ul class="record_actions">
                            <li>
                                <button type="submit" name="savedraft" value="1" class="sideB bGreyish mt10">Continuar</button>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
    
</div>
<!-- /.dataList -->

{% endblock %}