{% if disabled is defined and disabled == true %}
<select class="pollschedulingRelations" name="poll_pollschedulingrelations" disabled="disabled">
{% else %}
<select class="pollschedulingRelations" name="poll_pollschedulingrelations">
{% endif %}
    <option value="">Seleccione una opción</option>
    {% if pollschedulings is defined %}
        {% if current_pollscheduling is defined %}
            {% for pollscheduling in pollschedulings %}
                {% if pollscheduling.id == current_pollscheduling %}
                    <option value="{{ pollscheduling.id }}" selected>{{ pollscheduling.title ~ ' - ' ~ pollscheduling.period }}</option>
                {% else %}
                    <option value="{{ pollscheduling.id }}">{{ pollscheduling.title ~ ' - ' ~ pollscheduling.period }}</option>
                {% endif %}
            {% endfor %}
        {% else %}
            {% for pollscheduling in pollschedulings %}
                <option value="{{ pollscheduling.id }}">{{ pollscheduling.title ~ ' - ' ~ pollscheduling.period }}</option>
            {% endfor %}
        {% endif %}
    {% endif %}
</select>