{% extends '::base_fishman.html.twig' %}

{% block subtitle %}<span class="icon-screen"></span>Programaciones{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'scheduling'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('pollscheduling') }}">Programación de Encuestas</a></li>
    <li><a href="{{ path('pollscheduling_show' , { 'id' : entity.id }) }}">{{ entity.title ~ ' ' ~ entity.version }}</a></li>
    <li class="current"><a href="{{ path('pollscheduling_edit' , { 'id' : entity.id }) }}">Editar</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-create2"></span><h5>Programación de Encuestas: {{ entity.title ~ ' ' ~ entity.version }}</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="formCrudEdit formCrudPollscheduling">

    <form action="{{ path('pollscheduling_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="crud main formControl">
        
        <div class="widget fluid tableDefault clearfix">
        
            <div class="whead clearfix">
                <h6>{% filter upper %}Editar Encuesta Programada{% endfilter %}</h6>
            </div>
                
            <fieldset class="step ui-formwizard-content clearfix" id="w1first" style="display: block;">

                <div class="grid7">
                    {{ form_errors(edit_form) }}
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Categoría</label><span class="req">*</span></div>
                        <div class="grid9">
                            <select class="allCategories" name="poll_categories" disabled="disabled">
                                <option value="">Seleccione una categoría</option>
                                {% for category in categories %}
                                    {% if category.id == current_category.id %}
                                        <option selected="selected" value="{{ category.id }}">{{ category.name }}</option>
                                    {% else %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3"><label>Encuesta</label><span class="req">*</span></div>
                        <div class="grid9 pollCategory">
                            {% include "FishmanPollBundle:Entitypoll:choicebycategory.html.twig" with {'polls': polls, 'current_poll': current_poll, 'disabled': true } %}
                        </div>
                    </div>
                    <div class="formRow clearfix descriptionContainer">
                        <div class="grid3">{{ form_label(edit_form.description, 'Descripción') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.description, { 'attr': { 'class': 'pollDescription tinymce' }}) }}
                            {% if form_errors(edit_form.description) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.description) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formOptionsBoolean clearfix">
                        <div class="grid3">{{ form_label(edit_form.pollscheduling_anonymous, 'Encuesta Anónima') }}<span class="req">*</span></div>
                        <div class="grid3 pollAnonymous">
                            {{ form_widget(edit_form.pollscheduling_anonymous) }}
                            {% if form_errors(edit_form.pollscheduling_anonymous) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.pollscheduling_anonymous) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formCompany clearfix">
                        <div class="grid3">{{ form_label(edit_form.company_id, 'Empresa') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.company_id, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.company_id) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.company_id) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTitleCustom clearfix">
                        <div class="grid3">
                            <label for="">Habilitar Título de Empresa</label>
                        </div>
                        <div class="grid9">
                            <select id="titleCompanyCustom" class="custom customHeaderTitle" name="custom_header_title">
                                <option value="">Seleccione una opción</option>
                                {% if entity.customheadertitle == 1 %}
                                    <option value="1" selected >Si</option>
                                    <option value="0" >No</option>
                                {% elseif entity.customheadertitle == 0 %}
                                    <option value="1" >Si</option>
                                    <option value="0" selected >No</option>
                                {% else %}
                                    <option value="1" >Si</option>
                                    <option value="0" >No</option>
                                {% endif %}
                            </select>
                            <fieldset class="formCustomHeaderTitle formActiveOff clearfix">
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(edit_form.custom_header_title_text, 'Título') }}<span class="req">*</span></div>
                                    <div class="grid9">
                                        {{ form_widget(edit_form.custom_header_title_text) }}
                                        {% if form_errors(edit_form.custom_header_title_text) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.custom_header_title_text) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="grid3">{{ form_label(edit_form.custom_header_title_description, 'Descripción') }}<span class="req">*</span></div>
                                    <div class="grid9">
                                        {{ form_widget(edit_form.custom_header_title_description) }}
                                        {% if form_errors(edit_form.custom_header_title_description) %}
                                            <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.custom_header_title_description) }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="formRow formLogoCompanyCustom clearfix">
                        <div class="grid3">
                            <label for="">Habilitar Logo de Empresa</label>
                        </div>
                        <div class="grid9">
                            <select id="logoCompanyCustom" class="custom" name="custom_header_logo">
                                <option value="">Seleccione una opción</option>
                                {% if entity.customheaderlogo == 1 %}
                                    <option value="1" selected >Si</option>
                                    <option value="0" >No</option>
                                {% elseif entity.customheaderlogo == 0 %}
                                    <option value="1" >Si</option>
                                    <option value="0" selected >No</option>
                                {% else %}
                                    <option value="1" >Si</option>
                                    <option value="0" >No</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="formRow formEvaluationType clearfix">
                        <div class="grid3">{{ form_label(edit_form.type, 'Tipo de Evaluación') }}<span class="req">*</span></div>
                        <div class="grid3">
                            {{ form_widget(edit_form.type, { 'empty_value': 'SELECCIONE UNA OPCIÓN', 'attr': { 'class': 'pollType' } }) }}
                            {% if form_errors(edit_form.type) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.type) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formOptionsBoolean formMultipleEvaluation clearfix">
                        <div class="grid3">{{ form_label(edit_form.multiple_evaluation, 'Evaluación Múltiple') }}<span class="req">*</span></div>
                        <div class="grid3 pollMultipleEvaluation">
                            {{ form_widget(edit_form.multiple_evaluation) }}
                            {% if form_errors(edit_form.multiple_evaluation) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.multiple_evaluation) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formBenchmarking clearfix">
                        <div class="grid3"><label>Benchmarking</label></div>
                        <div class="grid9">
                            <select class="allBenchmarkings" name="poll_benchmarkings" disabled="disabled">
                                <option value="" selected>Seleccione una opción</option>
                                {% if current_benchmarking != '' %}
                                    {% for benchmarking in benchmarkings %}
                                        {% if benchmarking.id == current_benchmarking.id %}
                                            <option selected="selected" value="{{ benchmarking.id }}">{{ benchmarking.name }}</option>
                                        {% else %}
                                            <option value="{{ benchmarking.id }}">{{ benchmarking.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for benchmarking in benchmarkings %}
                                        <option value="{{ benchmarking.id }}">{{ benchmarking.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.period, 'Periodo') }}<span class="req">*</span></div>
                        <div class="grid3">
                            {{ form_widget(edit_form.pollscheduling_period, { 'attr': { 'class': 'formTextNumber pollPollschedulingPeriod' }}) }}
                            {% if form_errors(edit_form.pollscheduling_period) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.pollscheduling_period) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formTwoField clearfix">
                        <div class="grid3"><label>Duración</label><span class="req">*</span></div>
                        <div class="grid9">
                            <div class="grid2">
                                {{ form_widget(edit_form.duration, { 'attr': { 'class': 'formTextNumber pollDuration' }}) }}
                                {% if form_errors(edit_form.duration) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.duration) }}</div>
                                {% endif %}
                            </div>
                            <div class="grid10">
                                {{ form_widget(edit_form.period, { 'attr': { 'class': 'pollPeriod' }, 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                                {% if form_errors(edit_form.period) %}
                                    <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.period) }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="formRow formPollschedulingAlignment formActiveOff clearfix">
                        <div class="grid3">{{ form_label(edit_form.alignment, 'Alineamiento') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.alignment, { 'attr': { 'class': 'pollAlignment' }}) }}
                            {% if form_errors(edit_form.alignment) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.alignment) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.initdate, 'Fecha de Inicio') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.initdate, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(edit_form.initdate) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.initdate) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.enddate, 'Fecha de Fin') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.enddate, { 'attr': { 'class': 'datepicker' }}) }}
                            {% if form_errors(edit_form.enddate) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.enddate) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.terms, 'Términos y Condiciones') }}</div>
                        <div class="grid9">
                            {{ form_widget(edit_form.terms) }}
                            {% if form_errors(edit_form.terms) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.terms) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formOptionsBoolean clearfix">
                        <div class="grid3">{{ form_label(edit_form.use_terms, 'Usar Términos y Condiciones') }}</div>
                        <div class="grid9">
                            {{ form_widget(edit_form.use_terms) }}
                            {% if form_errors(edit_form.use_terms) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.use_terms) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix descriptionContainer">
                        <div class="grid3">{{ form_label(edit_form.message_gratitude, 'Mensaje de Agradecimiento por Envío de Encuesta') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.message_gratitude) }}
                            {% if form_errors(edit_form.message_gratitude) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.message_gratitude) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix descriptionContainer">
                        <div class="grid3">{{ form_label(edit_form.message_end, 'Mensaje de Fin de Encuesta') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.message_end) }}
                            {% if form_errors(edit_form.message_end) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.message_end) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix descriptionContainer">
                        <div class="grid3">{{ form_label(edit_form.message_inactive, 'Mensaje de Encuesta Inactiva') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.message_inactive) }}
                            {% if form_errors(edit_form.message_inactive) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.message_inactive) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formAccessViewNumber clearfix">
                        <div>Evaluado:</div>
                        <div>
                            <div class="grid3">{{ form_label(edit_form.access_view_number, 'Mostrar luego de') }}<span class="req">*</span></div>
                            <div class="grid9">
                                <div class="grid2">
                                    {{ form_widget(edit_form.access_view_number, { 'attr': { 'class': 'formTextNumber' }}) }}
                                    {% if form_errors(edit_form.access_view_number) %}
                                        <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.access_view_number) }}</div>
                                    {% endif %}
                                </div>
                                <div class="grid10">Encuestas resueltas</div>
                            </div>
                        </div>
                    </div>
                    <div class="formRow formStatusBar clearfix">
                        <div class="grid3">{{ form_label(edit_form.status_bar, 'Barrar de Estado') }}<span class="req">*</span></div>
                        <div class="grid3 pollStatusBar">
                            {{ form_widget(edit_form.status_bar, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status_bar) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status_bar) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formOptionsBoolean formCounselorReport formActiveOff clearfix">
                        <div class="grid3">{{ form_label(edit_form.counselor_report, 'Reporte Consejero') }}<span class="req">*</span></div>
                        <div class="grid3 pollCounselorReport">
                            {{ form_widget(edit_form.counselor_report, { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.counselor_report) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.counselor_report) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow formPollschedulingRelations formActiveOff clearfix">
                        <div class="grid3">Encuesta Relacionada</div>
                        <div class="grid9 allPollschedulingRelations">
                            {% include "FishmanPollBundle:Pollscheduling:choicebycompany.html.twig" with {'pollschedulings': pollschedulingrelations, 'current_pollscheduling': current_pollschedulingrelation, 'disabled': false } %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.sequence, 'Orden') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.sequence, { 'empty_value': 'Elige el orden' }) }}
                            {% if form_errors(edit_form.sequence) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.sequence) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="formRow clearfix">
                        <div class="grid3">{{ form_label(edit_form.status, 'Estado') }}<span class="req">*</span></div>
                        <div class="grid9">
                            {{ form_widget(edit_form.status , { 'empty_value': 'SELECCIONE UNA OPCIÓN' }) }}
                            {% if form_errors(edit_form.status) %}
                                <div class="nNote nFailure nFieldFailure">{{ form_errors(edit_form.status) }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="hide">
                        {{ form_widget(edit_form.poll_id, { 'attr': { 'class': 'pollId' }}) }}
                        {{ form_widget(edit_form.benchmarking_id, { 'attr': { 'class': 'benchmarkingId' }}) }}
                        {{ form_widget(edit_form.pollschedulingrelation_id, { 'attr': { 'class': 'pollschedulingRelationId' }}) }}
                        {{ form_rest(edit_form) }}
                    </div>
                </div>
                
                <div class="grid4 audit">
                    <div class="widget">
                        <div class="whead clearfix">
                            <h6>Auditoría</h6>
                        </div>
                        <table class="audit_list dataTable">
                            <tbody>
                                <tr>
                                    <th class="textL">Id</th>
                                    <td>{{ entity.id }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado por</th>
                                    <td>{{ createdByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Creado el</th>
                                    <td>{{ entity.created|date('d/m/Y - H:i') }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Modificado por</th>
                                    <td>{{ modifiedByName }}</td>
                                </tr>
                                <tr>
                                    <th class="textL">Última modificación</th>
                                    <td>{{ entity.changed|date('d/m/Y - H:i') }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" class="sideB bRed mt10">Guardar</button>
                    </li>
                </ul>
            </div>
            
        </div>
        <!-- /.tableDefault -->
        
    </form>
    
    <div class="menuCrud clearfix">
        <ul class="record_actions">
            <li>
                <a href="{{ path('pollscheduling') }}" class="sideB bGreyish mt10">Regresar a la lista</a>
            </li>
            <li>
                <a href="{{ path('pollscheduling_show', { 'id': entity.id }) }}" class="sideB bRed mt10">Ver</a>
            </li>
            {% if entity.own %}
            <li>
                <a href="{{ path('pollscheduling_drop', { 'id': entity.id }) }}" class="sideB bRed mt10">Eliminar</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- /.menuCrud -->

</div>
<!-- /.formCrudEdit -->

{% endblock %}

{% block tinymce %}
{{ tinymce_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/custom_validate.js') }}"></script>
{{ globaljavascript|raw }}
<script type="text/javascript">
  var pollschedulingid = {{ entity.id }};
  var entitytype = 'pollscheduling';
  var entityid = {{ entity.id }};
</script>
<script type="text/javascript" src="{{ asset('js/pollscheduling_ajax.js') }}"></script>
{% endblock %}
