{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': poll.customheadertitle, 
      'customheadertitletext': poll.customheadertitletext, 
      'customheadertitledescription': poll.customheadertitledescription, 
      'customheaderlogo': poll.customheaderlogo, 
      'companyid': company.id, 
      'companyname': company.name,
      'companyimage': company.image
   }
%}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Encuesta : {{ poll.title ~ ' | V ' ~ poll.version ~ ' | ' ~ company.name ~ ' | ' ~ poll.pollschedulingperiod }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'pollid': poll.id, 'type': poll.type } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'pollid': poll.id, 'type': poll.type } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_poll', { 'pollid': poll.id }) }}">{{ poll.title }}</a></li>
    <li><a href="{{ path('fishman_front_end_poll_evaluateds', { 'pollid': poll.id } ) }}">Evaluar</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_poll_evaluateds_edit', { 'pollid': poll.id, 'pollapplicationid': pollapplication.id } ) }}">Resolver</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
{% if poll.type != 'not_evaluateds' %}
<span class="icos-cog4"></span><h5>Evaluado : {{ pollapplication.names ~ ' ' ~ pollapplication.surname ~ ' ' ~ pollapplication.lastname }}</h5>
{% endif %}
{% endblock %}

{% block content %}
{{ parent() }}

{% if page == 1 %}
<p class="mainDescription">{{ poll.description|raw }}</p>
{% endif %}

<div class="resolvePoll">
    
    <div class="widget advanceBarPoll clearfix"> 
        <div class="formRow clearfix">
            <div class="grid2">
                <strong><label>Avance de la Encuesta</label></strong>
            </div>
            <div class="grid10">
              <div id="pai-progress" class="ui-progressbar ui-widget ui-widget-content ui-corner-all" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80">
                  <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: {{ advanced.percentage|number_format(2) }}%; "></div>
              </div>
              <div class="containerCountText"><label class="countText"><strong>{{ advanced.percentage }}%</strong> | Has respondido {{ advanced.resolveds }} preguntas de {{ advanced.quantity }}</label></div>
            </div>
        </div>
    </div>
    <!-- /.advancedBarPoll -->

    <div class="dashboard fluid clearfix">

        <form action="{{ path('fishman_front_end_poll_evaluateds_edit' , { 'pollid' : poll.id, 'pollapplicationid': pollapplication.id, 'page': page }) }}" method="post" class="" accept-charset="utf-8">
            
            {{ paginator|raw }}
            
            {% if alignment == 'vertical' %}
            {{ pollQuestions(questions)|raw }}
            {% else %}
            {{ pollQuestionsHorizontal(questions)|raw }}
            {% endif %}
            
            <input type="hidden" name="current_page" id="page_{{ page }}" value="{{ page }}" >';
            
            {{ paginator|raw }}
            
            <div class="menuCrud clearfix">
                <ul class="record_actions">
                    <li>
                        <button type="submit" name="savedraft" value="1" class="sideB bGreyish mt10">Guardar</button>
                    </li>
                    {% if viewsendbutton == 1 %}
                    <li>
                        <button type="submit" name="send" value="1" class="sideB bGreyish mt10">Enviar Encuesta</button>
                    </li>
                    {% endif %}
                </ul>
            </div>
        
        </form>
        
    </div>
    
</div>
<!-- /.dataList -->

{% endblock %}
