{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': poll.customheadertitle, 
      'customheadertitletext': poll.customheadertitletext, 
      'customheadertitledescription': poll.customheadertitledescription, 
      'customheaderlogo': poll.customheaderlogo, 
      'companyid': company.id, 
      'companyname': company.name,
      'companyimage': company.image
   }
%}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Encuesta : {{ poll.title ~ ' | V ' ~ poll.version ~ ' | ' ~ company.name ~ ' | ' ~ poll.pollschedulingperiod }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'pollid': poll.id, 'type': poll.type } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'pollid': poll.id, 'type': poll.type } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_poll', { 'pollid': poll.id }) }}">{{ poll.title }}</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_poll_evaluateds', { 'pollid': poll.id } ) }}">Evaluar</a></li>
</ul>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    {% if poll.multipleevaluation == 1 %}
    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('fishman_front_end_poll_evaluateds_multipleevaluation_edit', { 'pollid': poll.id }) }}" class="sideB bGreyish mt10">
                    Resolver Encuesta
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->
    {% endif %}

    <div class="widget tableDefault clearfix">
        
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de personas a evaluar{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Id / Persona') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.organizationalunit, 'Unidad Organizativa') }}
                        <div>{{ form_widget(form.organizationalunit, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.charge, 'Cargo') }}
                        <div>{{ form_widget(form.charge, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Código</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Nombres</th>
                        <th>Unidad</th>
                        <th>Cargo</th>
                        {% if poll.multipleevaluation == 0 %}
                        <th>Acción</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for pollapplication in pollapplications %}
                    <tr>
                        <td>{{ pollapplication.wi_id }}</td>
                        <td>{{ pollapplication.code }}</td>
                        <td>{{ pollapplication.surname }}</td>
                        <td>{{ pollapplication.lastname }}</td>
                        <td>{{ pollapplication.names }}</td>
                        <td>{{ pollapplication.organizationalunit }}</td>
                        <td>{{ pollapplication.charge }}</td>
                        {% if poll.multipleevaluation == 0 %}
                        <td class="actionsButtons actionsButtonsView">
                        {% if not pollapplication.finished %}
                            <ul>
                                <li>
                                    <a href="{{ path('fishman_front_end_poll_evaluateds_edit', { 'pollid': poll.id, 'pollapplicationid': pollapplication.id }) }}" class="tablectrl_small bDefault" title="Resolver"><span class="icos-preview"></span></a>
                                </li>
                            </ul>
                        {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_poll_evaluateds', 'rparams': { 'pollid': poll.id, 'form': form_data }, 'id': 'pollsintegrants' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}
