{% extends '::base_anonymous.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': poll.customheadertitle, 
      'customheadertitletext': poll.customheadertitletext, 
      'customheadertitledescription': poll.customheadertitledescription, 
      'customheaderlogo': poll.customheaderlogo, 
      'companyid': company.id, 
      'companyname': company.name,
      'companyimage': company.image
   }
%}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Encuesta : {{ poll.title ~ ' | V ' ~ poll.version ~ ' | ' ~ company.name ~ ' | ' ~ poll.pollschedulingperiod }}
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    {% if poll.multipleevaluation == 1 %}
    <div class="menuCrud clearfix">
        <ul>
            <li>
                <a href="{{ path('fishman_front_end_poll_evaluateds_multipleevaluation_edit', { 'pollid': poll.id, 'personaltoken': personaltoken }) }}" class="sideB bGreyish mt10">
                    Resolver Encuesta
                </a>
            </li>
        </ul>
    </div>
    <!-- /.menuCrud -->
    {% endif %}

    <div class="widget tableDefault clearfix">
        
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de personas a evaluar{% endfilter %}</h6>
        </div>
        
        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Nombres</th>
                        <th>Unidad</th>
                        <th>Cargo</th>
                        {% if poll.multipleevaluation == 0 %}
                        <th>Acción</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for pollapplication in pollapplications %}
                    <tr>
                        <td>{{ pollapplication.id }}</td>
                        <td>{{ pollapplication.surname }}</td>
                        <td>{{ pollapplication.lastname }}</td>
                        <td>{{ pollapplication.names }}</td>
                        <td>{{ pollapplication.organizationalunit }}</td>
                        <td>{{ pollapplication.charge }}</td>
                        {% if poll.multipleevaluation == 0 %}
                        <td class="actionsButtons actionsButtonsView">
                        {% if not pollapplication.finished %}
                            <ul>
                                <li>
                                    <a href="{{ path('fishman_front_end_poll_evaluateds_edit', { 'pollid': poll.id, 'pollapplicationid': pollapplication.id, 'token': pollapplication.token }) }}" class="tablectrl_small bDefault" title="Resolver"><span class="icos-preview"></span></a>
                                </li>
                            </ul>
                        {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_poll_evaluateds', 'rparams': { 'pollid': poll.id, 'personaltoken': personaltoken, 'form': form_data }, 'id': 'pollsintegrants' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}
