{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': poll.customheadertitle, 
      'customheadertitletext': poll.customheadertitletext, 
      'customheadertitledescription': poll.customheadertitledescription, 
      'customheaderlogo': poll.customheaderlogo, 
      'companyid': company.id, 
      'companyname': company.name,
      'companyimage': company.image
   }
%}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Encuesta : {{ poll.title ~ ' | V ' ~ poll.version ~ ' | ' ~ company.name ~ ' | ' ~ poll.pollschedulingperiod }}
{% endblock %}

{% block top_navigation %}
{% if workshopid is defined %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'workshopid': workshopid, 'pollid': poll.id, 'type': poll.type } %}
{% else %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'pollid': poll.id, 'type': poll.type } %}
{% endif %}
{% endblock %}

{% block navigation %}
{% if workshopid is defined %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'workshopid': workshopid, 'pollid': poll.id, 'type': poll.type } %}
{% else %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'pollid': poll.id, 'type': poll.type } %}
{% endif %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_poll', { 'pollid': poll.id }) }}">{{ poll.title }}</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_poll_integrants', { 'pollid': poll.id } ) }}">Participantes</a></li>
</ul>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Evaluados{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Código / Persona') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.organizationalunit, 'Unidad Organizativa') }}
                        <div>{{ form_widget(form.organizationalunit, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.charge, 'Cargo') }}
                        <div>{{ form_widget(form.charge, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->
        
        <form action="{{ path('fishman_front_end_poll_report_result', { 'pollid': poll.id }) }}" method="post" class="crud main">
            <input type="hidden" id="wi" name="wi" value="">
            <div class="dataListTable">
                <table class="records_list dataTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Código</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Nombres</th>
                            <th>Unidad</th>
                            <th>Cargo</th>
                            <th>Reporte</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for pollapplication in pollapplications %}
                        <tr>
                            <td>{{ pollapplication.wi_id }}</td>
                            <td>{{ pollapplication.code }}</td>
                            <td>{{ pollapplication.surname }}</td>
                            <td>{{ pollapplication.lastname }}</td>
                            <td>{{ pollapplication.names }}</td>
                            <td>{{ pollapplication.organizationalunit }}</td>
                            <td>{{ pollapplication.charge }}</td>
                            <td class="actionsButtons actionsButtonsView">
                                <ul>
                                    <li>
                                        <button type="submit" id="{{ pollapplication.wi_id }}" class="buttonWI tablectrl_small bDefault" title="Ver Resultado"><span class="icos-create2"></span></button>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_poll_integrants', 'rparams': { 'pollid': poll.id, 'form': form_data }, 'id': 'pollsintegrants' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
