{% extends '::base_anonymous.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': poll.customheadertitle, 
      'customheadertitletext': poll.customheadertitletext, 
      'customheadertitledescription': poll.customheadertitledescription, 
      'customheaderlogo': poll.customheaderlogo, 
      'companyid': company.id, 
      'companyname': company.name,
      'companyimage': company.image
   }
%}
{% endblock %}

{% block subtitle %}
{% if poll.pollschedulinganonymous == 0 %}
<span class="icon-screen"></span>Encuesta : {{ poll.title ~ ' | V ' ~ poll.version ~ ' | ' ~ company.name ~ ' | ' ~ poll.pollschedulingperiod }}
{% else %}
<span class="icon-screen"></span>Encuesta : {{ poll.title }}
{% endif %}
{% endblock %}

{% block subtitle2 %}
{% if poll.pollschedulinganonymous == 0 and poll.type != 'not_evaluateds' %}
<span class="icos-cog4"></span><h5>Evaluado : {{ pollapplication.names ~ ' ' ~ pollapplication.surname ~ ' ' ~ pollapplication.lastname }}</h5>
{% endif %}
{% endblock %}

{% block content %}
{{ parent() }}

<div class="resolvePoll">

    <div class="dashboard widget fluid clearfix">
        <div class="whead clearfix">
            <h6>{% filter upper %}Mensaje: {{ message_info.title }}{% endfilter %}</h6>
        </div>
        <div class="messageArea">
            {{ message_info.body|raw }}
        </div>
    </div>
    
</div>
<!-- /.dataList -->

{% endblock %}
