{% extends '::base_fishman.html.twig' %}

{% block customheader %}
{% include "FishmanFrontEndBundle:Dashboard:customheader.html.twig" with { 
      'customheadertitle': poll.customheadertitle, 
      'customheadertitletext': poll.customheadertitletext, 
      'customheadertitledescription': poll.customheadertitledescription, 
      'customheaderlogo': poll.customheaderlogo, 
      'companyid': company.id, 
      'companyname': company.name,
      'companyimage': company.image
   }
%}
{% endblock %}

{% block subtitle %}
<span class="icon-screen"></span>Encuesta : {{ poll.title ~ ' | V ' ~ poll.version ~ ' | ' ~ company.name ~ ' | ' ~ poll.pollschedulingperiod }}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'pollid': poll.id, 'type': poll.type } %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'poll', 'pollid': poll.id, 'type': poll.type } %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_poll', { 'pollid': poll.id }) }}">{{ poll.title }}</a></li>
    <li><a href="{{ path('fishman_front_end_poll_evaluateds', { 'pollid': poll.id } ) }}">Evaluar</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_poll_evaluateds_message', { 'pollid': poll.id, 'pollapplicationid': pollapplication.id } ) }}">Mensaje</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
{% if poll.type != 'not_evaluateds' %}
<span class="icos-cog4"></span><h5>Evaluado : {{ pollapplication.names ~ ' ' ~ pollapplication.surname ~ ' ' ~ pollapplication.lastname }}</h5>
{% endif %}
{% endblock %}

{% block content %}
{{ parent() }}

<div class="resolvePoll">

    <div class="dashboard widget fluid clearfix">
        <div class="whead clearfix">
            <h6>{% filter upper %}Mensaje: {{ message_info.title }}{% endfilter %}</h6>
        </div>
        <div class="messageArea">
            {{ message_info.body|raw }}
        </div>
    </div>
    
</div>
<!-- /.dataList -->

{% endblock %}
