{% extends '::base_fishman.html.twig' %}

{% block subtitle %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
<span class="icon-screen"></span>Notificaciones
{% else %}
<span class="icon-screen"></span>Notificaciones | {{ app.session.get('workinginformation').company_name }}
{% endif %}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'all'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'all'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_notifications') }}">Notificaciones</a></li>
</ul>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>{% filter upper %}Listado de Notificaciones{% endfilter %}</h6>
        </div>
        
        <div class="tablePars clearfix">
            <div class="dataTables_filter clearfix">
                <form action="" method="get" {{ form_enctype(form) }} class="clearfix">
                    <div class="formRow formSequence clearfix">
                        {{ form_label(form.sequence, 'Orden') }}
                        <div>{{ form_widget(form.sequence, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow formRowWord clearfix">
                        {{ form_label(form.word, 'Asunto / Mensaje') }}
                        <div>{{ form_widget(form.word) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.type, 'Tipo Mensaje') }}
                        <div>{{ form_widget(form.type, { 'empty_value': 'Todos' }) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.entity, 'Taller/Encuesta') }}
                        <div>{{ form_widget(form.entity) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        {{ form_label(form.company, 'Empresa') }}
                        <div>{{ form_widget(form.company) }}</div>
                    </div>
                    <div class="formRow formDatetime clearfix">
                        {{ form_label(form.sended, 'Recibido el') }}
                        <div>{{ form_widget(form.sended, { 'attr': { 'class': 'datepicker', 'value': form.sended.vars.value }}) }}</div>
                    </div>
                    <div class="formRow clearfix">
                        <button type="submit" class="buttonSearch sideB"></button>
                    </div>
                    <div class="hide">
                        {{ form_widget(form) }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /.tablePars -->

        <div class="dataListTable">
            <table class="records_list dataTable">
                <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Asunto</th>
                        <th>Mensaje</th>
                        <th>Tipo Mensaje</th>
                        <th>Taller/Encuesta</th>
                        <th>Empresa</th>
                        <th>Recibido el</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                {% for notification in notifications %}
                    <tr>
                        <td>{{ notification.sequence }}</td>
                        <td><a href="{{ path('fishman_front_end_notifications_show', { 'id': notification.id }) }}">{{ notification.subject }}</a></td>
                        <td>{{ notification.message|cut(100)|raw }}</td>
                        <td>{{ notification.type|notificationtypeName }}</td>
                        <td>{{ notification.entity_name }}</td>
                        <td>{{ notification.company }}</td>
                        <td>{{ notification.sended|date('j/n/Y g:ia') }}</td>
                        <td class="actionsButtons actionsButtonsView">
                            <ul>
                                <li>
                                    <a href="{{ path('fishman_front_end_notifications_show', { 'id': notification.id }) }}" class="tablectrl_small bDefault" title="Ver"><span class="icos-preview"></span></a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="fg-toolbar tableFooter">
                <div class="dataTables_info">{{ info_paginator }}</div>
                {% include "FishmanFrontEndBundle:Dashboard:paginator.html.twig" with { 'route': 'fishman_front_end_notifications', 'rparams': { 'form': form_data }, 'id': 'notifications' } %}
            </div>
            
        </div>
        <!-- /.dataListTable -->
        
    </div>
    <!-- /.tableDefault -->
    
</div>
<!-- /.dataList -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/custom_fischman.js') }}"></script>
{% endblock %}
