{% extends '::base_fishman.html.twig' %}

{% block subtitle %}
{% if app.session.get('currentrol') == 'ROLE_ADMIN' or app.session.get('currentrol') == 'ROLE_SUPER_ADMIN' or app.session.get('currentrol') == 'ROLE_TEACHER' %}
<span class="icon-screen"></span>Notificaciones
{% else %}
<span class="icon-screen"></span>Notificaciones | {{ app.session.get('workinginformation').company_name }}
{% endif %}
{% endblock %}

{% block top_navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'all'} %}
{% endblock %}

{% block navigation %}
{% include "FishmanFrontEndBundle:Dashboard:navigation.html.twig" with {'navigation': 'dashboard', 'dashboard': 'all'} %}
{% endblock %}

{% block breadcrumb %}
<ul id="breadcrumbs" class="breadcrumbs">
    <li><a href="{{ path('fishman_front_end_homepage') }}">Dashboard</a></li>
    <li><a href="{{ path('fishman_front_end_notifications') }}">Notificaciones</a></li>
    <li class="current"><a href="{{ path('fishman_front_end_notifications_show', { 'id': entity.id }) }}">Detalle</a></li>
</ul>
{% endblock %}

{% block subtitle2 %}
<span class="icos-cog4"></span><h5>Notificaciones</h5>
{% endblock %}

{% block content %}
{{ parent() }}

<div class="dataList">

    <div class="dashboard widget tableDefault clearfix">
    
        <div class="whead clearfix">
            <h6>Detalle de Notificación</h6>
            <a href="{{ path('fishman_front_end_notifications') }}" class="buttonH bBlack">Regresar a la lista</a>
        </div>
        
        <div class="messageArea">
            <div class="clearfix name"><label>{% filter upper %}Taller: {{ entity.name }}{% endfilter %}</label></div>
            <div class="infoRow clearfix">
                {% if entity.type == 'message' %}
                    <span class="title"><strong><span class="uDone"></span>{{ entity.type|notificationtypeName }}</strong></span>
                {% else %}
                    <span class="title"><strong><span class="uDone"></span>{{ entity.type|notificationtypeName ~ ': ' ~ entity.type_name }}</strong></span>
                {% endif %}
                <span class="date"><label>Recibido el:</label> {{ entity.sended|date('j/n/Y H:i a') }}</span>
            </div>
            <div class="clearfix"><label>Asunto:</label> {{ entity.subject }}</div>
            <div class="clearfix">{{ entity.message|raw }}</div>
        </div>
        
    </div>
    <!-- /.tableDefault -->

</div>
<!-- /.dataList -->

{% endblock %}
